
/****** Object:  UserDefinedFunction [dbo].[TO_DATE]    Script Date: 05/07/2019 11:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[TO_DATE]
(
    @Str VARCHAR(64),
    @format VARCHAR(21)
)
RETURNS DATETIME
AS
BEGIN
    DECLARE @StrVC DATETIME
    SELECT @StrVC = CASE @format

    WHEN 'MM/DD/YYYY' THEN
        CONVERT(DATETIME, @Str, 101)

    WHEN 'DD/MM/YYYY' THEN
        CONVERT(DATETIME, @Str, 103)

    WHEN 'DD-MM-YY' THEN
        CONVERT(DATETIME, @Str, 105)

    WHEN 'MM-DD-YYYY' THEN
        CONVERT(DATETIME, @Str, 110)

    WHEN 'YYYYMMDD' THEN
        CONVERT(DATETIME, @Str, 112)

    WHEN 'YYYY/MM/DD HH24:MI:SS' THEN
        CONVERT(DATETIME, REPLACE( @Str, '/', '-'), 120)

    WHEN 'DD/MM/YYYY HH24:MI:SS' THEN
        CONVERT(DATETIME, @Str, 104)

    WHEN 'DD-MM-YYYY HH24:MI:SS' THEN
        CONVERT(DATETIME, @Str, 104)

    WHEN 'HH24:MI' THEN
        CONVERT(DATETIME, @Str, 114)

    WHEN 'HH24:MI:SS' THEN
        CONVERT(DATETIME, @Str, 114)

    ELSE
       CONVERT(DATETIME,'01/01/1900', 103)
    END
    RETURN @StrVC
END
GO
