
/****** Object:  UserDefinedFunction [dbo].[REGLE_CALCUL_CUMUL]    Script Date: 05/07/2019 11:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[REGLE_CALCUL_CUMUL](@MODE_COMPTAGE VARCHAR(1),@PERIODE_GLISSANTE VARCHAR(1), @NBR_MAX INTEGER, @DUREE_PERIODE INTEGER, @MYVISITEID VARCHAR(14)) RETURNS INTEGER
AS
BEGIN
	DECLARE @JOURS INTEGER
	IF @MODE_COMPTAGE='0' BEGIN
	SET @JOURS=(SELECT SUM(A.TOTAL) FROM (
	SELECT SUM(abs(datediff(day,dbo.F_REGLE_LIMITE_DATE(DEBUTPREVU+1,CONVERT(DATETIME,CONVERT(VARCHAR(10),CURRENT_TIMESTAMP,103),103),1),FINPREVU))) TOTAL

	FROM VISITES WHERE
		INTERLOCUTEURID=(SELECT INTERLOCUTEURID FROM VISITES WHERE VISITEID=@MYVISITEID)
		AND STATUTID=2
		AND FINPREVU>=CONVERT(DATETIME,CONVERT(VARCHAR(10),CURRENT_TIMESTAMP,103),103)
		AND DATECREATION<=(SELECT DATECREATION FROM VISITES WHERE VISITEID=@MYVISITEID)
		AND (
			(@PERIODE_GLISSANTE='1' AND YEAR(CURRENT_TIMESTAMP)=YEAR(DEBUTPREVU) )
		  OR
			(@PERIODE_GLISSANTE='2' AND DATEADD(d,@DUREE_PERIODE,DEBUTPREVU)>=CURRENT_TIMESTAMP)
		 OR
			(@PERIODE_GLISSANTE='0' )
		)
		AND SITEID=(SELECT SITEID FROM VISITES WHERE VISITEID=@MYVISITEID)
		AND STATUTID='2'
		UNION SELECT COUNT(*) TOTAL FROM (SELECT CONVERT(VARCHAR(10),FINVISITE,103) FINVISITE

		FROM VISITES WHERE INTERLOCUTEURID=(SELECT INTERLOCUTEURID FROM VISITES WHERE VISITEID=@MYVISITEID)
		AND STATUTID=16
		AND SITEID=(SELECT SITEID FROM VISITES WHERE VISITEID=@MYVISITEID)
		AND (

			(@PERIODE_GLISSANTE='1' AND YEAR(CURRENT_TIMESTAMP)=YEAR(DEBUTVISITE) )
		  OR
			(@PERIODE_GLISSANTE='2' AND DATEADD(d,@DUREE_PERIODE,DEBUTVISITE)>=CURRENT_TIMESTAMP)
		 OR
			(@PERIODE_GLISSANTE='0' )

		)
			GROUP BY  CONVERT(VARCHAR(10),FINVISITE,103)

		) AS B) AS A
		)
		END ELSE BEGIN
		SET @JOURS=(SELECT SUM(A.TOTAL) FROM ( SELECT COUNT(VISITEID) TOTAL
		FROM VISITES WHERE INTERLOCUTEURID=(SELECT INTERLOCUTEURID FROM VISITES WHERE VISITEID=@MYVISITEID)
		AND STATUTID=16
		AND SITEID=(SELECT SITEID FROM VISITES WHERE VISITEID=@MYVISITEID)
		AND (

			(@PERIODE_GLISSANTE='1' AND YEAR(CURRENT_TIMESTAMP)=YEAR(DEBUTVISITE) )
		  OR
			(@PERIODE_GLISSANTE='2' AND DATEADD(d,@DUREE_PERIODE,DEBUTVISITE)>=CURRENT_TIMESTAMP)
		 OR
			(@PERIODE_GLISSANTE='0' )

		)
			--GROUP BY  CONVERT(VARCHAR(10),FINVISITE,103)

		) AS A
		)
		END
	RETURN @JOURS
END

GO
