
/****** Object:  UserDefinedFunction [dbo].[F_REGLE_LIMITE_DATE]    Script Date: 05/07/2019 11:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE FUNCTION [dbo].[F_REGLE_LIMITE_DATE](@DATE1 DATETIME,@DATE2 DATETIME, @FLAG INTEGER) RETURNS DATETIME
AS
BEGIN
DECLARE @DATE_LIMIT DATETIME
	IF @FLAG=0 BEGIN
		IF @DATE1<=@DATE2 BEGIN
			SET @DATE_LIMIT=@DATE1
		END
		ELSE BEGIN
			SET @DATE_LIMIT=@DATE2
		END
	END
	ELSE
		IF @DATE1<=@DATE2 BEGIN
			SET @DATE_LIMIT=@DATE2
		END
		ELSE
			SET @DATE_LIMIT=@DATE1
	RETURN @DATE_LIMIT
END
GO
