
/****** Object:  UserDefinedFunction [dbo].[GET_CONSIGNE]    Script Date: 05/07/2019 11:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GET_CONSIGNE](@INTERLOCUTEURID VARCHAR(14)) RETURNS  VARCHAR(14)
AS
BEGIN
	DECLARE  @O_RESIDANTID VARCHAR(14)
   	SET @O_RESIDANTID=(SELECT TOP 1 ISNULL(INTERLOCUTEURID,'') FROM CONSIGNE WHERE INTERLOCUTEURID=@INTERLOCUTEURID AND RESIDANTID='VISITEUR' OR RESIDANTID IS NULL ORDER BY DATEMAJ)
	RETURN  @O_RESIDANTID
END
GO
