
/****** Object:  UserDefinedFunction [dbo].[GET_VISITE_TRAVAIL]    Script Date: 05/07/2019 11:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[GET_VISITE_TRAVAIL](@VISITEID VARCHAR(14)) RETURNS VARCHAR(1)
AS
BEGIN
	DECLARE @WK VARCHAR(1)
    SET @WK=(SELECT ISNULL(NATUREVISITE,'-2') FROM VISITES WHERE VISITEID=@VISITEID)
	RETURN @WK
END

GO
