
/****** Object:  UserDefinedFunction [dbo].[F_GET_STATUTVISITE]    Script Date: 05/07/2019 11:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_GET_STATUTVISITE](@STATUTID INT) RETURNS VARCHAR(50)
AS
BEGIN
	DECLARE @RET VARCHAR(40)
	SET @RET = (SELECT STATUTVISITE FROM STATUTVISITE WHERE STATUTID=@STATUTID )
	RETURN @RET
END
GO
