
/****** Object:  UserDefinedFunction [dbo].[GET_STATUTVISITE]    Script Date: 05/07/2019 11:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  FUNCTION [dbo].[GET_STATUTVISITE](@MYACTION INT) RETURNS VARCHAR(50)
AS
BEGIN
    DECLARE @LOCSTATUTVISITE VARCHAR(50)
	SET @LOCSTATUTVISITE=''
    SET @LOCSTATUTVISITE= CASE
		WHEN @MYACTION=-2 THEN 'WEB INTERDIT'
		WHEN @MYACTION=-3 THEN 'WEB INCOMPLET'
		WHEN @MYACTION=-4 THEN 'WEB EN ATTENTE'
		WHEN @MYACTION=-5 THEN 'WEB ACCOMPAGNER'
		WHEN @MYACTION=-6 THEN 'WEB OK'
		ELSE 'WEB OK'
	END
	RETURN  @LOCSTATUTVISITE;
END

GO
