
/****** Object:  UserDefinedFunction [dbo].[IsVisiteurRestreint]    Script Date: 05/07/2019 11:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[IsVisiteurRestreint]
(
    @IntelocuteurID VARCHAR(14)
)
RETURNS VARCHAR(64)
AS
BEGIN
    DECLARE @NatureID VARCHAR(14)
    DECLARE @PaysID VARCHAR(14)
    DECLARE @SocieteID VARCHAR(14)

    DECLARE @IdNature VARCHAR(14)
    DECLARE @IdPays VARCHAR(14)
    DECLARE @IdSociete VARCHAR(14)
    DECLARE @Retour varchar(50)
    set @Retour ='0'
	IF NOT EXISTS(SELECT INTERLOCUTEURID FROM INTERLOCUTEUR WHERE INTERDIT='2' AND INTERLOCUTEURID=@IntelocuteurID) BEGIN
		Set @NatureID=(SELECT top 1 NATUREID FROM INTERLOCUTEUR WHERE INTERLOCUTEURID=@IntelocuteurID)
		Set @PaysID=(SELECT top 1 NATIONALITEID FROM INTERLOCUTEUR WHERE INTERLOCUTEURID=@IntelocuteurID)
		Set @SocieteID=(SELECT top 1 SOCIETEID FROM INTERLOCUTEUR WHERE INTERLOCUTEURID=@IntelocuteurID)
		IF  NOT EXISTS (SELECT TOP 1 NATUREID FROM NATURE WHERE INTERDIT='2' AND NATUREID=@NatureID) BEGIN
			IF  NOT EXISTS (SELECT TOP 1 PAYSID FROM PAYS WHERE INTERDIT='2' AND PAYSID=@PAYSID) BEGIN
				IF  NOT EXISTS (SELECT TOP 1 SOCIETEID FROM SOCIETE WHERE INTERDIT='2' AND SOCIETEID=@SOCIETEID) BEGIN
					set @Retour ='1'
 				END
				ELSE set @Retour ='-4'
			END
			ELSE set @Retour ='-3'
		END
		ELSE set @Retour ='-2'
	END
	ELSE set @Retour ='-1'

    RETURN @Retour
END
GO
