
/****** Object:  UserDefinedFunction [dbo].[IsVisiteurInterdit]    Script Date: 05/07/2019 11:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[IsVisiteurInterdit]
(
    @IntelocuteurID VARCHAR(14),
    @dt datetime

)
RETURNS VARCHAR(64)
AS
BEGIN
    DECLARE @NatureID VARCHAR(14)
    DECLARE @PaysID VARCHAR(14)
    DECLARE @SocieteID VARCHAR(14)
    DECLARE @IdInter VARCHAR(14)
    DECLARE @IdNature VARCHAR(14)
    DECLARE @IdPays VARCHAR(14)
    DECLARE @IdSociete VARCHAR(14)
    DECLARE @Retour varchar(50)

    set @Retour ='0'
	Set @IdInter=(SELECT INTERLOCUTEURID FROM INTERLOCUTEUR WHERE ((INTERDIT=0 AND (@dt BETWEEN DEBUTINTERDIT AND FININTERDIT)) OR INTERDIT='2') AND INTERLOCUTEURID=@IntelocuteurID)
	IF @IdInter<>'' BEGIN
		Set @NatureID=(SELECT top 1 NATUREID FROM INTERLOCUTEUR WHERE INTERLOCUTEURID=@IntelocuteurID)
		Set @PaysID=(SELECT top 1 NATIONALITEID FROM INTERLOCUTEUR WHERE INTERLOCUTEURID=@IntelocuteurID)
		Set @SocieteID=(SELECT top 1 SOCIETEID FROM INTERLOCUTEUR WHERE INTERLOCUTEURID=@IntelocuteurID)
		Set @IdNature=(SELECT NATUREID FROM NATURE WHERE ((INTERDIT=0 AND (@dt BETWEEN DEBUTINTERDIT AND FININTERDIT)) OR INTERDIT='2') AND NATUREID=@NatureID)
		IF  @IdNature <> '' BEGIN
			Set @PaysID=(SELECT PAYSID FROM PAYS WHERE ((INTERDIT=0 AND (@dt BETWEEN DEBUTINTERDIT AND FININTERDIT)) OR INTERDIT='2') AND PAYSID=@PAYSID)
			IF  @PaysID <> '' BEGIN
				Set @SocieteID=(SELECT SOCIETEID FROM SOCIETE WHERE ((INTERDIT=0 AND (@dt BETWEEN DEBUTINTERDIT AND FININTERDIT)) OR INTERDIT='2') AND SOCIETEID=@SOCIETEID)
				IF  @SocieteID <> ''
					set @Retour ='1'
 				ELSE set @Retour ='-4'
			END
			ELSE set @Retour ='-3'
		END
		ELSE set @Retour ='-2'
	END
	ELSE set @Retour ='-1'

    RETURN @Retour
END
GO
