
/****** Object:  UserDefinedFunction [dbo].[F_GET_STATUTPERSONNE]    Script Date: 05/07/2019 11:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_GET_STATUTPERSONNE](@STATUT VARCHAR,@RESIDANTID VARCHAR,@INTERLOCUTEURID VARCHAR) RETURNS VARCHAR(1)
AS
BEGIN
	DECLARE @RET VARCHAR(40)
	IF @RESIDANTID<>'' AND @RESIDANTID IS NOT NULL BEGIN
	 SET @RET = (SELECT N.LIBELLE FROM  RESIDANTS R, LGPARTICIPANT LG, NATURE N WHERE LG.RESIDANTID=R.RESIDANTID AND R.NATUREID=N.NATUREID AND R.RESIDANTID=@RESIDANTID)
	END ELSE BEGIN
	 SET @RET = (SELECT N.LIBELLE FROM  INTERLOCUTEUR I, LGPARTICIPANT LG,  NATURE N WHERE LG.RESIDANTID=I.INTERLOCUTEURID AND I.NATUREID=N.NATUREID AND I.INTERLOCUTEURID=@INTERLOCUTEURID)
	END
	RETURN @RET
END
GO
