
/****** Object:  UserDefinedFunction [dbo].[F_GET_SALLEFUS]    Script Date: 05/07/2019 11:17:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[F_GET_SALLEFUS](@CODESALLE VARCHAR(14)) RETURNS VARCHAR(8000)
AS
BEGIN
DECLARE @SALLEFUS VARCHAR(8000)
SELECT @SALLEFUS = COALESCE(@SALLEFUS + ', ', '') +
	ISNULL(S2.LIBELLE, '')
	FROM SALLE SAL
	LEFT OUTER JOIN SALLEFUS FUS ON FUS.DECODESALLE=SAL.CODESALLE
	LEFT OUTER JOIN SALLEFUS_COMP FUSCOMP ON FUS.CODESALLEFUS=FUSCOMP.CODESALLEFUS
	LEFT OUTER JOIN SALLE S2 ON FUSCOMP.CODESALLE =S2.CODESALLE WHERE SAL.CODESALLE=@CODESALLE
	RETURN (SELECT SUBSTRING(@SALLEFUS,1,8000))
END
GO
