
/****** Object:  StoredProcedure [dbo].[PS_REGLES_ORDER]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_REGLES_ORDER]
AS
DECLARE @indice int
DECLARE @id INT
DECLARE @rg INT

BEGIN
 SET @INDICE=0
 DECLARE regle_curseur CURSOR
 FOR SELECT REGLEID, RANGREGLE FROM REGLES WHERE RANGREGLE<>-1 ORDER BY RANGREGLE ASC
 OPEN regle_curseur
 FETCH NEXT FROM regle_curseur
 INTO @id,@rg
 WHILE @@FETCH_STATUS = 0
 BEGIN
  UPDATE REGLES SET RANGREGLE=@INDICE WHERE REGLEID=@id
  SET @indice=@indice+1
  FETCH NEXT FROM regle_curseur
  INTO @id,@rg
 END
 CLOSE regle_curseur
 DEALLOCATE regle_curseur
END

GO
