
/****** Object:  StoredProcedure [dbo].[IMPORT_FROM_CTRL]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IMPORT_FROM_CTRL]
	@ID VARCHAR(30),
	@DATEHEURE VARCHAR(35),
	@LECTEUR VARCHAR(50),
	@LECTEURID VARCHAR(20),
	@DESC VARCHAR(50),
	@CTRLEVENT VARCHAR(50),
	@CTRL_PROFIL VARCHAR(100),
	@CTRL_SOCIETE VARCHAR(50),
	@CTRL_NOM VARCHAR(50),
	@CTRL_PRENOM VARCHAR(50),
	@CARDCODE VARCHAR(50),
	@EXINTERLOCUTEURID VARCHAR(50),
	@SITEID VARCHAR(50)
AS
	DECLARE @IID VARCHAR(14)
	DECLARE @FLAG VARCHAR(14)
	DECLARE @IDENTITY VARCHAR(14)
	DECLARE @NOMPRENOM VARCHAR(100)
	DECLARE @SOCIETE VARCHAR(100)
	DECLARE @INTERSTATUT VARCHAR(100)
	DECLARE @BADGE VARCHAR(100)
	DECLARE @RESIDANTSOCIETELIB VARCHAR(100)
	DECLARE @RESIDANTSOCIETEID VARCHAR(100)
	DECLARE @SITELIBELLE VARCHAR(100)
	DECLARE @VISITEID VARCHAR(100)
	DECLARE @TICKET VARCHAR(50)
	DECLARE @LOCALISATION VARCHAR(3990)
	DECLARE @DATEACTION VARCHAR(20)
BEGIN
	IF NOT EXISTS (SELECT CtrlID FROM ZCTRL_FIL_EAU WHERE CtrlID = @ID) BEGIN

		--SET @DATEACTION=@DATEHEURE
		--SET @DATEACTION=LEFT(CONVERT(VARCHAR,CONVERT(DATETIME,@DATEHEURE,101),120),19)
		SET @DATEACTION=SUBSTRING(@DATEHEURE,7,4)+'-'+SUBSTRING(@DATEHEURE,4,2)+'-'+SUBSTRING(@DATEHEURE,1,2)+' '+SUBSTRING(@DATEHEURE,12,8)

		--LEFT(CONVERT(VARCHAR,CONVERT(DATETIME,@DATEHEURE,101),120),19)

		INSERT INTO SEQ_IDENTITY(LIBELLE) VALUES ('OK')
		SET @IDENTITY = (SELECT @@IDENTITY AS ID)
		SET @FLAG = (SELECT SUBSTRING(VERSION, 1, 3) FROM VERSION_SFW)
		SET @IID = @FLAG + @IDENTITY

		SET @SITELIBELLE=(SELECT LIBELLE FROM SITE WHERE SITEID=@SITEID)
		SET @LOCALISATION = ''

		IF (@EXINTERLOCUTEURID<>'') BEGIN
			IF EXISTS (SELECT TOP 1 INTERLOCUTEURID FROM INTERLOCUTEUR WHERE INTERLOCUTEURID = @EXINTERLOCUTEURID) BEGIN
				SET @NOMPRENOM = (SELECT TOP 1 NOMPRENOM FROM INTERLOCUTEUR WHERE INTERLOCUTEURID = @EXINTERLOCUTEURID)
				SET @SOCIETE = (SELECT TOP 1 SOCIETE FROM INTERLOCUTEUR WHERE INTERLOCUTEURID = @EXINTERLOCUTEURID)
				SET @INTERSTATUT = (SELECT TOP 1 NATURE.LIBELLE FROM INTERLOCUTEUR,NATURE WHERE INTERLOCUTEUR.NATUREID=NATURE.NATUREID AND INTERLOCUTEURID = @EXINTERLOCUTEURID)

				IF EXISTS (SELECT TOP 1 VISITEID FROM VISITES WHERE SITEID=@SITEID AND INTERLOCUTEURID=@EXINTERLOCUTEURID AND ((STATUTID=16 AND ( @DATEACTION  BETWEEN LEFT(CONVERT(VARCHAR,DEBUTVISITE,120),19) AND LEFT(CONVERT(VARCHAR,FINVISITE,120),19)))  OR (STATUTID=8 AND ( @DATEACTION >= LEFT(CONVERT(VARCHAR,DEBUTVISITE,120),19))))) BEGIN
					SET @VISITEID = (SELECT TOP 1 VISITEID FROM VISITES WHERE SITEID=@SITEID AND INTERLOCUTEURID=@EXINTERLOCUTEURID AND ((STATUTID=16 AND (@DATEACTION  BETWEEN LEFT(CONVERT(VARCHAR,DEBUTVISITE,120),19) AND LEFT(CONVERT(VARCHAR,FINVISITE,120),19)))  OR (STATUTID=8 AND (@DATEACTION >= LEFT(CONVERT(VARCHAR,DEBUTVISITE,120),19)))))

					SET @BADGE=(SELECT NUMEROBADGE FROM VISITES WHERE VISITEID=@VISITEID)
					SET @RESIDANTSOCIETELIB=(SELECT SOCIETERESID FROM VISITES WHERE VISITEID=@VISITEID)
					SET @RESIDANTSOCIETEID=(SELECT SOCIETEID FROM VISITES,RESIDANTS WHERE VISITES.RESIDANTID=RESIDANTS.RESIDANTID AND VISITEID=@VISITEID)
					SET @TICKET=(SELECT TICKET FROM VISITES WHERE VISITEID=@VISITEID)

					SELECT @LOCALISATION = @LOCALISATION + ';'+localisation
					FROM (
							select DISTINCT L.libelle as Localisation from  LOCALISATION L,PROFIL_CTRL PC,PROFIL_CTRL_LOCALISATION PCL,PROFIL_CTRL_LECTEUR CL,VISITES_LOCALISATION VL where  PCL.profil_ctrlid=PC.profil_ctrlid AND PCL.localisationid=L.localisationid
							AND CL.profil_ctrlid_ext=PC.profil_ctrlid_ext AND VL.localisationid=L.localisationid
							AND VL.visiteid=@VISITEID AND CL.ctrlreaderid=@LECTEURID
					) TAB_LOC
					SET @LOCALISATION=SUBSTRING(@LOCALISATION,2,4000)
					--SELECT  @LOCALISATION
				END
			END
			ELSE BEGIN
				SET @EXINTERLOCUTEURID = ''
				SET @NOMPRENOM =  @CTRL_NOM+' '+@CTRL_PRENOM
				SET @SOCIETE = @CTRL_SOCIETE
				SET @TICKET=''
			END
		END
		ELSE BEGIN
			SET @NOMPRENOM =  @CTRL_NOM+' '+@CTRL_PRENOM
			SET @SOCIETE = @CTRL_SOCIETE
		END

		IF  (@CARDCODE<>'') BEGIN
			SET @BADGE=@CARDCODE
		END;

		INSERT INTO ZCTRL_FIL_EAU (ID,CtrlID,CtrlDate,CtrlReader,CTRLDesc,CtrlEvent,CtrlReaderID,Badge,InterlocuteurID,NomPrenom,Societe,InterlocuteurStatut,ResidantSocieteLib,ResidantSocieteId,SiteID,SiteLibelle,Datecreation,Datemaj,TICKET,LOCALISATION,CTRLPROFIL)
		VALUES(@IID,@ID,@DATEHEURE,@LECTEUR,@DESC,@CTRLEVENT,@LECTEURID,@BADGE,@EXINTERLOCUTEURID,@NOMPRENOM,@SOCIETE,@INTERSTATUT,@RESIDANTSOCIETELIB,@RESIDANTSOCIETEID,@SITEID,@SITELIBELLE,CURRENT_TIMESTAMP, CURRENT_TIMESTAMP,@TICKET,@LOCALISATION,@CTRL_PROFIL)
	END
END
GO
