
/****** Object:  StoredProcedure [dbo].[PS_IDENTITE_CREATION]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_IDENTITE_CREATION]
	@TYPEPIECE VARCHAR(2),
	@PAYSEMETTEUR VARCHAR(4),
	@NPIECE VARCHAR(20),
	@PREFEMETTRICE VARCHAR(3),
	@NOM VARCHAR(35),
	@PRENOM VARCHAR(35),
	@DATENAISSANCE DATETIME,
	@SEXE VARCHAR(1),
	@NATIONALITE VARCHAR(50), /* iso 3 */
	@DATEEXPIRATION DATETIME,
	@OPTIONS VARCHAR(15),
	@INTERLOCUTEURID VARCHAR(14) OUTPUT
AS
BEGIN
	EXEC PS_IDENTITE_CREATION_VISITEUR @NOM, @PRENOM, @DATENAISSANCE, @SEXE, @NATIONALITE, @INTERLOCUTEURID OUTPUT
	EXEC PS_IDENTITE_CREATION_PIECE @TYPEPIECE, @PAYSEMETTEUR, @NPIECE, @PREFEMETTRICE, @DATEEXPIRATION, @OPTIONS, @INTERLOCUTEURID
END

GO
