
/****** Object:  StoredProcedure [dbo].[PS_REGLE_RESTREINTS]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_REGLE_RESTREINTS]
 @MYVISITEID VARCHAR(14),
 @MYREGLEID INT,
 @MYACTION  INT OUTPUT,
 @MYMESSAGE  VARCHAR(500) OUTPUT,
 @MYACTIONBLOQUANTE  INT OUTPUT
AS
	DECLARE @MYINTERLOCUTEURID VARCHAR(14)
	DECLARE @MYNATUREID VARCHAR(14)
	DECLARE @MYINTER INTEGER
	DECLARE @MYNATION INTEGER
	DECLARE @MYSTATUT INTEGER
	DECLARE @MYSOC INTEGER
	DECLARE @VISREST INTEGER
	DECLARE @STATREST INTEGER
	DECLARE @NATIONREST INTEGER
	DECLARE @SOCREST INTEGER
BEGIN
	SET @VISREST=0
	SET @STATREST=0
	SET @NATIONREST=0
	SET @SOCREST=0
	SET @MYACTION=0
	SET @MYMESSAGE=''
	SET @MYINTERLOCUTEURID=(SELECT INTERLOCUTEURID FROM VISITES WHERE VISITEID=@MYVISITEID)
	SET @MYNATUREID=dbo.IsVisiteurRestreint(@MYINTERLOCUTEURID)
	SET @MYINTER=(SELECT FREE1 FROM REGLES WHERE REGLEID=@MYREGLEID)
	SET @MYSTATUT=(SELECT FREE2 FROM REGLES WHERE REGLEID=@MYREGLEID )
	SET @MYNATION=(SELECT FREE3 FROM REGLES WHERE REGLEID=@MYREGLEID )
	SET @MYSOC=(SELECT FREE4 FROM REGLES WHERE REGLEID=@MYREGLEID )
	IF @MYINTER=1 BEGIN
		IF @MYNATUREID=-1 BEGIN
			SET @VISREST=1
		END
	END
	IF @MYSTATUT=1 BEGIN
		IF @MYNATUREID=-2 BEGIN
			SET @STATREST=1
		END
	END
	IF @MYNATION=1 BEGIN
		IF @MYNATUREID=-3 BEGIN
			SET @NATIONREST=1
		END
	END
	IF @MYSOC=1 BEGIN
		IF @MYNATUREID=-4 BEGIN
			SET @SOCREST=1
		END
	END
	IF (@VISREST=1 OR @STATREST=1 OR @NATIONREST=1 OR @SOCREST=1) BEGIN
		EXEC PS_REGLES_EXEC_ACTIONS @MYREGLEID,@MYVISITEID
		SET @MYACTION=(SELECT TYPEACTION  FROM REGLES WHERE REGLEID=@MYREGLEID)
		SET @MYMESSAGE=(SELECT MESSAGE FROM REGLES WHERE REGLEID=@MYREGLEID)
		SET @MYACTIONBLOQUANTE=(SELECT ACTIONBLOQUANTE  FROM REGLES WHERE REGLEID=@MYREGLEID)
	END
END

GO
