
/****** Object:  StoredProcedure [dbo].[PURGE_DELETE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PURGE_DELETE]
AS
BEGIN
 DELETE VISITES WHERE STATUTID IN (-2,-1) AND FINPREVU<=GETDATE()-400
END
GO
