
/****** Object:  StoredProcedure [dbo].[PS_REGLE_INTERDITS]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_REGLE_INTERDITS]
 @MYVISITEID VARCHAR(14),
 @MYREGLEID INT,
 @MYACTION  INT OUTPUT,
 @MYMESSAGE  VARCHAR(500) OUTPUT,
 @MYACTIONBLOQUANTE  INT OUTPUT
AS
	DECLARE @MYINTERLOCUTEURID VARCHAR(14)
	DECLARE @MYNATUREID VARCHAR(14)
	DECLARE @MYINTER INTEGER
	DECLARE @MYNATION INTEGER
	DECLARE @MYSTATUT INTEGER
	DECLARE @MYSOC INTEGER
	DECLARE @VISINT INTEGER
	DECLARE @STATINT INTEGER
	DECLARE @NATIONINT INTEGER
	DECLARE @SOCINT INTEGER
BEGIN
	SET @VISINT=0
	SET @STATINT=0
	SET @NATIONINT=0
	SET @SOCINT=0
	SET @MYACTION=0
	SET @MYMESSAGE=''
	SET @MYINTERLOCUTEURID=(SELECT INTERLOCUTEURID FROM VISITES WHERE VISITEID=@MYVISITEID)
	SET @MYNATUREID=dbo.IsVisiteurInterdit(@MYINTERLOCUTEURID,CURRENT_TIMESTAMP)
	SET @MYINTER=(SELECT FREE1 FROM REGLES WHERE REGLEID=@MYREGLEID)
	SET @MYSTATUT=(SELECT FREE2 FROM REGLES WHERE REGLEID=@MYREGLEID )
	SET @MYNATION=(SELECT FREE3 FROM REGLES WHERE REGLEID=@MYREGLEID )
	SET @MYSOC=(SELECT FREE4 FROM REGLES WHERE REGLEID=@MYREGLEID )
	IF @MYINTER=1 BEGIN
		IF @MYNATUREID=-1 BEGIN
			SET @VISINT=1
		END
	END
	IF @MYSTATUT=1 BEGIN
		IF @MYNATUREID=-2 BEGIN
			SET @STATINT=1
		END
	END
	IF @MYNATION=1 BEGIN
		IF @MYNATUREID=-3 BEGIN
			SET @NATIONINT=1
		END
	END
	IF @MYSOC=1 BEGIN
		IF @MYNATUREID=-4 BEGIN
			SET @SOCINT=1
		END
	END
	IF (@VISINT=1 OR @STATINT=1 OR @NATIONINT=1 OR @SOCINT=1) BEGIN
		EXEC PS_REGLES_EXEC_ACTIONS @MYREGLEID,@MYVISITEID
		SET @MYACTION=(SELECT TYPEACTION  FROM REGLES WHERE REGLEID=@MYREGLEID)
		SET @MYMESSAGE=(SELECT MESSAGE FROM REGLES WHERE REGLEID=@MYREGLEID)
		SET @MYACTIONBLOQUANTE=(SELECT ACTIONBLOQUANTE  FROM REGLES WHERE REGLEID=@MYREGLEID)
	END
END

GO
