
/****** Object:  StoredProcedure [dbo].[PS_REGLE_DUREEVISITE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE  PROCEDURE [dbo].[PS_REGLE_DUREEVISITE]
	@MYVISITEID VARCHAR(14),
	@MYREGLEID INT,
	@MYACTION  INT OUTPUT,
	@MYMESSAGE  VARCHAR(500) OUTPUT,
	@MYACTIONBLOQUANTE  INT OUTPUT
AS
	DECLARE @MYNATIONALITE VARCHAR(14)
	DECLARE @TRAITER INT
	DECLARE @DAYSDIFF INT
BEGIN
	SET @MYACTION=0
	SET @MYMESSAGE=''
	SET @MYNATIONALITE =(SELECT I.NATIONALITEID FROM INTERLOCUTEUR I,VISITES V WHERE I.INTERLOCUTEURID=V.INTERLOCUTEURID AND V.VISITEID=@MYVISITEID)
	IF EXISTS (SELECT REGLEID FROM REGLES TREG WHERE TREG.REGLEID=@MYREGLEID  AND
	(((TREG.FREE1=CONVERT(VARCHAR(14),dbo.GET_REGION_PAYS(@MYVISITEID))  OR TREG.FREE1='2') AND @MYNATIONALITE<>'VPARDEFAUT') OR TREG.FREE1='-2' OR TREG.FREE1=@MYNATIONALITE))
	SET @DAYSDIFF=(SELECT CAST(Datediff(day,DEBUTPREVU,FINPREVU) AS INT) FROM VISITES WHERE VISITEID=@MYVISITEID)

	IF 'OK' IN (SELECT CASE WHEN FREE3='superieur' AND CAST(FREE2 AS INT)<(@DAYSDIFF) THEN 'OK'
		    WHEN FREE3='superieuregal' AND CAST(FREE2 AS INT)<=(@DAYSDIFF) THEN 'OK'
		    WHEN FREE3='inferieur' AND CAST(FREE2 AS INT)>(@DAYSDIFF) THEN 'OK'
		    WHEN FREE3='inferieuregal' AND CAST(FREE2 AS INT)>=(@DAYSDIFF) THEN 'OK'
		    WHEN FREE3='egal' AND CAST(FREE2 AS INT)=(@DAYSDIFF) THEN 'OK'
		    WHEN FREE3='different' AND CAST(FREE2 AS INT)<>(@DAYSDIFF) THEN 'OK'
		   ELSE 'PASOK' END FROM REGLES  WHERE REGLEID=@MYREGLEID)
	BEGIN
		EXEC PS_REGLES_EXEC_ACTIONS @MYREGLEID,@MYVISITEID
		SET @MYACTION=(SELECT TYPEACTION FROM REGLES WHERE REGLEID=@MYREGLEID )
		SET @MYMESSAGE=(SELECT MESSAGE FROM REGLES WHERE REGLEID=@MYREGLEID)
		SET @MYACTIONBLOQUANTE=(SELECT ACTIONBLOQUANTE FROM REGLES WHERE REGLEID=@MYREGLEID)
	END
END
GO
