
/****** Object:  StoredProcedure [dbo].[PS_REGLES_UPDOWN_GES]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PS_REGLES_UPDOWN_GES]
@UPDOWN_ID INT,
@SENS Varchar(14)
AS
DECLARE @rg INT
DECLARE @rulecount INT
BEGIN
 SET @rulecount=(SELECT COUNT(*) FROM REGLES WHERE RANGREGLE_GES<>-1)

 SET @rg = (SELECT RANGREGLE_GES FROM REGLES WHERE REGLEID=@UPDOWN_ID)

 IF (@SENS='UP') AND (@rg>0)  BEGIN
    UPDATE REGLES SET RANGREGLE_GES=@rg WHERE RANGREGLE_GES=@rg-1
    UPDATE REGLES SET RANGREGLE_GES=@rg-1 WHERE REGLEID=@UPDOWN_ID
 END
 ELSE IF (@SENS='DOWN') AND (@rg<@rulecount-1)
 BEGIN
   UPDATE REGLES SET RANGREGLE_GES=@rg WHERE RANGREGLE_GES=@rg+1
   UPDATE REGLES SET RANGREGLE_GES=@rg+1 WHERE REGLEID=@UPDOWN_ID
 END
END
GO
