
/****** Object:  StoredProcedure [dbo].[PS_SECRETARIAT]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PS_SECRETARIAT]

	@IDRES VARCHAR(14),
	@IDRESAJOINDRE VARCHAR(14),
	@insertion int output

AS

BEGIN

	IF not EXISTS (SELECT * FROM SECRETARIAT WHERE RESIDANTID = @IDRES and RESIDANTID2 = @IDRESAJOINDRE) BEGIN
		INSERT INTO SECRETARIAT(RESIDANTID,RESIDANTID2,RELATION,DATECREATION,DATEMAJ)
		VALUES(@IDRES,@IDRESAJOINDRE,'A JOINDRE',CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
		SET @insertion = @insertion+1
	END

END

GO
