
/****** Object:  StoredProcedure [dbo].[MODMEETING_INNES]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[MODMEETING_INNES]

	@UNID VARCHAR(20),
    @STARTDATE VARCHAR(10),
	@STARTHOUR VARCHAR(12),
    @ENDDATE VARCHAR(10),
	@ENDHOUR VARCHAR(12),
	@RETOUR INT OUTPUT

AS


BEGIN


	UPDATE LGRESERVATION SET
	DATEDEBUT= CONVERT(DATETIME, @STARTDATE + ' 00:00:00', 120),
	HEUREDEBUT=CONVERT(DATETIME, '1900-01-01 '+@STARTHOUR, 120),
	DATEFIN=CONVERT(DATETIME, @ENDDATE + ' 00:00:00', 120),
	HEUREFIN=CONVERT(DATETIME, '1900-01-01 '+@ENDHOUR, 120)

	WHERE CODELGRESERVATION =@UNID
	SET @RETOUR = @@ROWCOUNT

END
GO
