
/****** Object:  StoredProcedure [dbo].[PS_TAXI_MODIFCOURSE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_TAXI_MODIFCOURSE]
	@ID_COURSE INT,
	@USERID VARCHAR(14),
	@NUMCOURSE VARCHAR(35),
	@REFERENCESTAXI VARCHAR(200)
AS
	DECLARE @COMPAGNIE VARCHAR(80)
	DECLARE @NOW DATETIME
	DECLARE @EID VARCHAR(14)
	DECLARE @EVNMT VARCHAR(200)
BEGIN
	SET @NOW = CURRENT_TIMESTAMP

	UPDATE COURSE SET DATEMAJ = @NOW, NUMCOURSE = @NUMCOURSE, REFERENCESTAXI = @REFERENCESTAXI WHERE ID_COURSE = @ID_COURSE
	SET @EVNMT = 'COURSE MODIFIEE'
	EXEC PS_TAXI_CREATIONEVENEMENT @ID_COURSE, @EVNMT, @NOW, @USERID, @EID OUTPUT
END
GO
