
/****** Object:  StoredProcedure [dbo].[PS_ROOMISVAILABLE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PS_ROOMISVAILABLE](
@SALLEID VARCHAR(30),
@DEBUTRESA DATETIME,
@FINRESA DATETIME,
 @NB INT OUTPUT
)
AS
BEGIN
	DECLARE @DATEDEBUT DATETIME
    DECLARE @HEUREDEBUT DATETIME
	DECLARE @DATEFIN DATETIME
    DECLARE @HEUREFIN DATETIME
    -- INSERT INTO ALARME (ALARMEID,LIBELLE,DATEMAJ,DATECREATION) VALUES(0,'0',CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
    SET @DATEDEBUT=CONVERT(DATETIME,CONVERT(VARCHAR(10),@DEBUTRESA,120)+' 00:00:00', 120)
	-- INSERT INTO ALARME (ALARMEID,LIBELLE,DATEMAJ,DATECREATION) VALUES(1,CONVERT(VARCHAR,@DATEDEBUT,102),CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
    SET @HEUREDEBUT=CONVERT(DATETIME, '1900-01-01 ' +CONVERT(VARCHAR,@DEBUTRESA,108), 120)
	-- INSERT INTO ALARME (ALARMEID,LIBELLE,DATEMAJ,DATECREATION) VALUES(2,CONVERT(VARCHAR,@HEUREDEBUT,103),CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
	SET @DATEFIN =CONVERT(DATETIME, CONVERT(VARCHAR(10),@FINRESA,120)+' 00:00:00', 120)
	-- INSERT INTO ALARME (ALARMEID,LIBELLE,DATEMAJ,DATECREATION) VALUES(3,CONVERT(VARCHAR,@DATEFIN,102),CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
    SET @HEUREFIN = CONVERT(DATETIME, '1900-01-01 ' +CONVERT(VARCHAR,@FINRESA,108), 120)
   -- INSERT INTO ALARME (ALARMEID,LIBELLE,DATEMAJ,DATECREATION) VALUES(4,CONVERT(VARCHAR,@HEUREFIN,103),CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
	--SET @DATEDEBUT=CONVERT(DATETIME,CONVERT(VARCHAR(10),@DEBUTRESA,120)+' 00:00:00', 120)
	--SET @HEUREDEBUT=CONVERT(DATETIME, '1900-01-01 ' +CONVERT(VARCHAR,@DEBUTRESA,108), 120)
	--SET @DATEFIN =CONVERT(DATETIME, CONVERT(VARCHAR(10),@FINRESA,120)+' 00:00:00', 120)
	--SET @HEUREFIN = CONVERT(DATETIME, '1900-01-01 ' +CONVERT(VARCHAR,@FINRESA,108), 120)
	SET @NB=(SELECT COUNT(*) FROM (SELECT DISTINCT CODESALLE FROM LGRESERVATION WHERE CODESALLE=@SALLEID
	AND CONVERT(DATETIME,DATEDEBUT,103) = CONVERT(DATETIME,@DATEDEBUT,103)
	AND (CONVERT(DATETIME,@HEUREFIN,108) > CONVERT(DATETIME,CONVERT(VARCHAR,HEUREDEBUT,108),108)
	AND CONVERT(DATETIME,@HEUREDEBUT,108) < CONVERT(DATETIME,CONVERT(VARCHAR,HEUREFIN,108),108)
	)

	) AS A)
END

GO
