
/****** Object:  StoredProcedure [dbo].[PS_REGLE_ENQUETE_DEMANDEE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_REGLE_ENQUETE_DEMANDEE]
	@MYVISITEID VARCHAR(14),
	@MYREGLEID INT,
	@MYACTION  INT OUTPUT,
	@MYMESSAGE  VARCHAR(500) OUTPUT,
	@MYACTIONBLOQUANTE  INT OUTPUT
AS
	DECLARE @MYDATECREA DATETIME
	DECLARE @MYDATEDEBUT DATETIME
	DECLARE @MYDELAI INT
	DECLARE @MYNATIONALITE VARCHAR(14)
BEGIN
	SET @MYACTION=-1
	SET @MYDATECREA =(SELECT CONVERT(DATETIME,I.DATECREATION,103) FROM INTERLOCUTEUR I, VISITES V WHERE I.INTERLOCUTEURID=V.INTERLOCUTEURID AND V.VISITEID=@MYVISITEID)
	SET @MYDATEDEBUT =(SELECT CONVERT(DATETIME,V.DEBUTPREVU,103)   FROM VISITES V WHERE V.VISITEID=@MYVISITEID )
	SET @MYDELAI=(SELECT CONVERT(INT,FREE2) FROM REGLES WHERE REGLEID=@MYREGLEID)
	SET @MYNATIONALITE=(SELECT I.NATIONALITEID FROM INTERLOCUTEUR I,VISITES V WHERE I.INTERLOCUTEURID=V.INTERLOCUTEURID AND V.VISITEID=@MYVISITEID)
	IF EXISTS (SELECT REGLEID FROM REGLES TREG  WHERE TREG.REGLEID=@MYREGLEID  AND (( (TREG.FREE1=CONVERT(VARCHAR,dbo.GET_REGION_PAYS(@MYVISITEID)) OR TREG.FREE1='2') AND @MYNATIONALITE<>'VPARDEFAUT') OR TREG.FREE1='-2' OR TREG.FREE1=@MYNATIONALITE) AND @MYDATEDEBUT-@MYDATECREA-@MYDELAI<0)
	BEGIN
		SET @MYACTION=(SELECT TYPEACTION FROM REGLES WHERE REGLEID=@MYREGLEID )
		SET @MYMESSAGE=(SELECT MESSAGE FROM REGLES WHERE REGLEID=@MYREGLEID)
		SET @MYACTIONBLOQUANTE=(SELECT ACTIONBLOQUANTE FROM REGLES WHERE REGLEID=@MYREGLEID)
	END
END

GO
