
/****** Object:  StoredProcedure [dbo].[PS_DEDUP_RESIDANTS]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_DEDUP_RESIDANTS]
	@MYIDSOURCE VARCHAR(14),
	@MYIDDEST VARCHAR(14)

AS
BEGIN

	UPDATE VISITES SET RESIDANTID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE RESIDANTID=@MYIDDEST
	UPDATE VISITES SET EXTERNALID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE EXTERNALID=@MYIDDEST

	UPDATE VISITES_RESIDANTS SET RESIDANTID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE RESIDANTID=@MYIDDEST

	UPDATE VISITE_CONTROLE SET RESIDANTID=@MYIDSOURCE WHERE RESIDANTID=@MYIDDEST
	UPDATE SECRETARIAT SET RESIDANTID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE RESIDANTID=@MYIDDEST
	UPDATE SECRETARIAT SET RESIDANTID2=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE RESIDANTID2=@MYIDDEST


	UPDATE COLISEMIS SET RESIDANTID=@MYIDSOURCE,DATEMAJ=CURRENT_TIMESTAMP WHERE RESIDANTID=@MYIDDEST
	UPDATE COLISRECU SET RESIDANTID=@MYIDSOURCE,DATEMAJ=CURRENT_TIMESTAMP WHERE RESIDANTID=@MYIDDEST

	UPDATE CONSIGNE SET INTERLOCUTEURID=@MYIDSOURCE,DATEMAJ=CURRENT_TIMESTAMP WHERE INTERLOCUTEURID=@MYIDDEST AND RESIDANTID='RESIDANT'

	UPDATE DROITS SET RESIDANTID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE RESIDANTID=@MYIDDEST
	UPDATE DROITS SET DELEGATIONID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE DELEGATIONID=@MYIDDEST

	UPDATE HLGPARTICIPANT SET RESIDANTID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE RESIDANTID=@MYIDDEST

	UPDATE HVISITES SET RESIDANTID=@MYIDSOURCE,DATEMAJ=CURRENT_TIMESTAMP WHERE RESIDANTID=@MYIDDEST

	UPDATE INTER_RSERVICE SET RESIDANTID=@MYIDSOURCE WHERE RESIDANTID=@MYIDDEST

	UPDATE LGPARTICIPANT SET RESIDANTID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE RESIDANTID=@MYIDDEST

	UPDATE LIEUPERMIS SET RESIDANTID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE RESIDANTID=@MYIDDEST

	UPDATE VEHICULE_DEMANDE SET RESIDANTID=@MYIDSOURCE WHERE RESIDANTID=@MYIDDEST

	UPDATE VEHICULE SET RESIDANTID=@MYIDSOURCE WHERE RESIDANTID=@MYIDDEST

	UPDATE EVENEMENTCOLIS SET RESIDANTID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE RESIDANTID=@MYIDDEST

	UPDATE USERS SET EXTERNALID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE EXTERNALID=@MYIDDEST
	UPDATE USERS SET PROFIL_ID_ORGA=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE PROFIL_ID_ORGA=@MYIDDEST
	UPDATE USERS SET PROFIL_ID_INTER=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE PROFIL_ID_INTER=@MYIDDEST

	UPDATE PASSAGERTAXI SET RESIDANTID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE RESIDANTID=@MYIDDEST

	UPDATE XANNEXE SET ETAT='-1', DATEMAJ=CURRENT_TIMESTAMP WHERE ORIGINEID=@MYIDDEST AND ORIGINE='RESIDANT'

	UPDATE RESERVATION SET CODEANIMATEUR=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE CODEANIMATEUR=@MYIDDEST
	UPDATE RESERVATION SET INTERLOCUTEURID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE INTERLOCUTEURID=@MYIDDEST

	DELETE FROM RESIDANTS WHERE RESIDANTID=@MYIDDEST
	DELETE FROM DEDUP_DEDUP WHERE DEDUP1ID=@MYIDDEST OR DEDUP2ID=@MYIDDEST
END
GO
