
/****** Object:  StoredProcedure [dbo].[PS_TAXI_CREATIONPASSAGER]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_TAXI_CREATIONPASSAGER]
	@ID_COURSE INT,
	@RESIDANTID VARCHAR(14),
	@INTERLOCUTEURID VARCHAR(14),
	@CONTACT VARCHAR(200),
	@DEMANDEUR VARCHAR(14),
	@HANDICAP VARCHAR(200),
	@ANIMAL VARCHAR(200),
	@ID INT OUTPUT
AS
	DECLARE @ORDRE INT
	DECLARE @FLAG VARCHAR(14)
	DECLARE @IDENTITY VARCHAR(14)
BEGIN
	SET @ORDRE = (SELECT MAX(ORDRE) FROM PASSAGERTAXI WHERE ID_COURSE = @ID_COURSE)
	IF @ORDRE IS NULL
		SET @ORDRE = 0
	ELSE
		SET @ORDRE = @ORDRE + 1

	INSERT INTO SEQ_IDENTITY(LIBELLE) VALUES ('OK')
	SET @IDENTITY = (SELECT @@IDENTITY AS ID)
	SET @FLAG = (SELECT SUBSTRING(VERSION, 1, 3) FROM VERSION_SFW)
	SET @ID = CAST(@FLAG AS INT) + CAST(@IDENTITY AS INT)

	INSERT INTO PASSAGERTAXI(ID_PASSAGERTAXI, ID_COURSE, RESIDANTID, INTERLOCUTEURID, CONTACT,DEMANDEUR,HANDICAP, ANIMAL, ORDRE, DATECREATION, DATEMAJ)
		VALUES (@ID, @ID_COURSE, @RESIDANTID, @INTERLOCUTEURID, @CONTACT, @DEMANDEUR,@HANDICAP, @ANIMAL, @ORDRE, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
END
GO
