
/****** Object:  StoredProcedure [dbo].[PS_DEDUP_INIT_RESIDANT]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_DEDUP_INIT_RESIDANT]
@JW INT
AS
BEGIN
		DELETE FROM DEDUP_DEDUP where ENTITE='RESIDANTS'
		DELETE FROM TEMPSOC
		DELETE FROM TEMPSOC2
		INSERT INTO TEMPSOC (TMPID,TMPNOM,TMPRANG) (SELECT RESIDANTID,ISNULL(NOMPRENOM,''), ROW_NUMBER() OVER(ORDER BY DATECREATION)  FROM RESIDANTS)
		INSERT INTO TEMPSOC2 (TMP2ID,TMPNOM,TMPRANG) (SELECT RESIDANTID,ISNULL(NOMPRENOM,''), ROW_NUMBER() OVER(ORDER BY DATECREATION)  FROM RESIDANTS)
		INSERT INTO DEDUP_DEDUP (DEDUP1ID, DEDUP2ID,JW)
	(SELECT R1.TMPID,R2.TMP2ID,dbo.F_DEDUP_GETWINKLERNUMBER(R2.TMPNOM,R1.TMPNOM) FROM TEMPSOC R1, TEMPSOC2 R2 WHERE R1.TMPID<>R2.TMP2ID AND R1.TMPRANG<R2.TMPRANG AND dbo.F_DEDUP_GETWINKLERNUMBER(R2.TMPNOM,R1.TMPNOM)>= @JW  )
	INSERT INTO DEDUP_DEDUP (DEDUP1ID,DEDUP2ID,JW) (SELECT DEDUP2ID,DEDUP1ID,JW FROM DEDUP_DEDUP WHERE ENTITE IS NULL)
	UPDATE DEDUP_DEDUP SET ENTITE='RESIDANTS' WHERE ENTITE IS NULL
END
GO
