
/****** Object:  StoredProcedure [dbo].[PS_REGLE_ZRR]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_REGLE_ZRR]
	@MYVISITEID VARCHAR(14),
	@MYREGLEID INT,
	@MYACTION  INT OUTPUT,
	@MYMESSAGE  VARCHAR(500) OUTPUT,
	@MYACTIONBLOQUANTE  INT OUTPUT
AS
	DECLARE @MYNATIONALITE VARCHAR(14)
	DECLARE @MYZRR_LS VARCHAR(1)
	DECLARE @MYZRR_CODE VARCHAR(25)
	DECLARE @MYZRR_LIB VARCHAR(255)
BEGIN
	SET @MYACTION=0
	SET @MYMESSAGE=''

	SET @MYZRR_CODE = (SELECT ZRR_CODE FROM VISITES WHERE VISITEID=@MYVISITEID)
	SET @MYZRR_LIB = (SELECT ZRR_LIB FROM VISITES WHERE VISITEID=@MYVISITEID)
	SET @MYZRR_LS = (SELECT ZRR_LS FROM VISITES WHERE VISITEID=@MYVISITEID)
	SET @MYNATIONALITE =(SELECT I.NATIONALITEID FROM INTERLOCUTEUR I,VISITES V WHERE I.INTERLOCUTEURID=V.INTERLOCUTEURID AND V.VISITEID=@MYVISITEID)
	IF  EXISTS (SELECT REGLEID FROM REGLES TREG WHERE TREG.REGLEID=@MYREGLEID  AND ( ((TREG.FREE1=CONVERT(VARCHAR(14),dbo.GET_REGION_PAYS(@MYVISITEID))  OR TREG.FREE1='2') AND @MYNATIONALITE<>'VPARDEFAUT') OR TREG.FREE1='-2' OR TREG.FREE1=@MYNATIONALITE)
	AND (
			( FREE2='-2' AND @MYZRR_LIB<>'' AND @MYZRR_LIB IS NOT NULL)
			OR
			( FREE2='-3' AND @MYZRR_LIB<>'' AND @MYZRR_LIB IS NOT NULL AND @MYZRR_LS='O')
			OR
			( FREE2='-4' AND @MYZRR_LIB<>'' AND @MYZRR_LIB IS NOT NULL AND @MYZRR_LS='N')
		)
	)
	BEGIN
		EXEC PS_REGLES_EXEC_ACTIONS @MYREGLEID,@MYVISITEID
		SET @MYACTION=(SELECT TYPEACTION FROM REGLES WHERE REGLEID=@MYREGLEID )
		SET @MYMESSAGE=(SELECT MESSAGE FROM REGLES WHERE REGLEID=@MYREGLEID)
		SET @MYACTIONBLOQUANTE=(SELECT ACTIONBLOQUANTE FROM REGLES WHERE REGLEID=@MYREGLEID)
	END
END
GO
