
/****** Object:  StoredProcedure [dbo].[PS_REGLE_DELAI_ANTICIPATION]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_REGLE_DELAI_ANTICIPATION]
 @MYVISITEID VARCHAR(14),
 @MYREGLEID INT,
 @MYACTION  INT OUTPUT,
 @MYMESSAGE  VARCHAR(500) OUTPUT,
 @MYACTIONBLOQUANTE  INT OUTPUT
AS
DECLARE @MYDATECREA DATETIME
DECLARE @MYDATEDEBUT DATETIME
DECLARE @MYDELAI INT
DECLARE @MYNATIONALITE VARCHAR(14)
BEGIN
  SET @MYACTION=0
  SET @MYMESSAGE=''
  SET @MYDATECREA =(SELECT  CONVERT(DATETIME,CONVERT(VARCHAR(10),V.DATECREATION,103),103) FROM VISITES V WHERE V.VISITEID=@MYVISITEID )
  SET @MYDATEDEBUT=(SELECT CONVERT(DATETIME,CONVERT(VARCHAR(10),V.DEBUTPREVU,103),103)  FROM VISITES V WHERE V.VISITEID=@MYVISITEID)
  SET @MYDELAI=(SELECT CONVERT(INT,FREE2) FROM REGLES WHERE REGLEID=@MYREGLEID)
  SET @MYNATIONALITE=(SELECT I.NATIONALITEID FROM INTERLOCUTEUR I,VISITES V WHERE I.INTERLOCUTEURID=V.INTERLOCUTEURID AND V.VISITEID=@MYVISITEID)
  IF EXISTS (SELECT REGLEID FROM REGLES TREG WHERE TREG.REGLEID=@MYREGLEID  AND ( ((TREG.FREE1=CONVERT(VARCHAR(10),dbo.GET_REGION_PAYS(@MYVISITEID)) OR TREG.FREE1='2') AND @MYNATIONALITE<>'VPARDEFAUT') OR TREG.FREE1='-2' OR TREG.FREE1=@MYNATIONALITE) AND CONVERT(DATETIME,@MYDATEDEBUT,103)-CONVERT(DATETIME,@MYDATECREA,103)-@MYDELAI<0)
	BEGIN
		EXEC PS_REGLES_EXEC_ACTIONS @MYREGLEID,@MYVISITEID
		SET @MYACTION=(SELECT TYPEACTION FROM REGLES WHERE REGLEID=@MYREGLEID)
		SET @MYMESSAGE=(SELECT MESSAGE FROM REGLES WHERE REGLEID=@MYREGLEID)
		SET @MYACTIONBLOQUANTE=(SELECT ACTIONBLOQUANTE FROM REGLES WHERE REGLEID=@MYREGLEID)
    END
END
GO
