
/****** Object:  StoredProcedure [dbo].[PS_ACX_CREATE_ACCESS]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_ACX_CREATE_ACCESS]
	@NOM VARCHAR(70),
	@PRENOM VARCHAR(70),
	@DATE1 VARCHAR(20),
	@DATE2 VARCHAR(20),
	@numeroJourFin int,
	@MATRICULE VARCHAR(20),
	@ACXSITEID VARCHAR(14)
AS
	DECLARE @ACXSITE VARCHAR(40)
	DECLARE @NUMSITEACX VARCHAR(20)
BEGIN
	SET @ACXSITE =(SELECT ISNULL(LIBELLE,'Le Hive') FROM SITE WHERE SITEID=@ACXSITEID)
	IF @ACXSITE='Le Hive' BEGIN
	 SET @ACXSITE='Le Hive | art&fact'
	END
	SET @NUMSITEACX =(SELECT ISNULL(NUMSITEACX,'1') FROM SITE WHERE SITEID=@ACXSITEID)
	INSERT INTO PERSONNE_ACX (RETOURACX,NUMSITEACX,TYPEPERSONNE,NOM,PRENOM,SESA,DATEDEBUT,DATEFIN,JOURFIN,SITEID,SITE,DATECREATION,DATEMAJ)
	VALUES ('-5',@NUMSITEACX,'RESIDANT',@NOM,@PRENOM,@MATRICULE,CONVERT(DATETIME,@DATE1,103),CONVERT(DATETIME,@DATE2,103),@numeroJourFin,@acxsiteid,@acxsite,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
	INSERT INTO PERSONNE_ACX_LOG (NUMSITEACX,TYPEPERSONNE,NOM,PRENOM,SESA,DATEDEBUT,DATEFIN,JOURFIN,SITEID,SITE,DATECREATION,DATEMAJ)
	VALUES (@numsiteacx,'RESIDANT',@NOM,@PRENOM,@MATRICULE,CONVERT(DATETIME,@DATE1,103),CONVERT(DATETIME,@DATE2,103),@numeroJourFin,@acxsiteid,@acxsite,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
END
GO
