
/****** Object:  StoredProcedure [dbo].[PS_REGLE_RESULTAT]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PS_REGLE_RESULTAT]
  @MYVISITEID VARCHAR(14),
 @MYACTION  INT OUTPUT,
 @MYMESSAGE  VARCHAR(4000) OUTPUT,
 @MYMESSAGETORESID  VARCHAR(4000) OUTPUT,
 @MYMESSAGETOACC  VARCHAR(4000) OUTPUT,
 @MYCATEGORIE  VARCHAR(30) OUTPUT
AS

DECLARE @REGID INT
DECLARE @ACTBL INT
DECLARE @ARBI INT
DECLARE @MESRESI VARCHAR(4000)
DECLARE @MESVALI VARCHAR(4000)
DECLARE @MESACC VARCHAR(4000)
DECLARE @CAT VARCHAR(30)
BEGIN
	SET @MYMESSAGE=''
	SET @MYMESSAGETORESID=''
	SET @MYMESSAGETOACC=''
	SET @MYCATEGORIE=''
	SET @MYACTION=-6 -- PAR DEFAUT, AUTORISER LA VISITE
	DECLARE EMP_RESULTAT CURSOR
	FOR SELECT REGLEID,ACTIONBLOQUANTE,ARBITRAGE,MES_RESI,MES_VALI,MES_ACC,ISNULL(CATEGORIE,'') FROM VISITE_REGLE WHERE VISITEID=@MYVISITEID ORDER BY RANGREGLE ASC;
	OPEN EMP_RESULTAT
	FETCH NEXT FROM EMP_RESULTAT
	INTO @REGID,@ACTBL,@ARBI,@MESRESI,@MESVALI,@MESACC,@CAT
	WHILE @@FETCH_STATUS = 0
	BEGIN
		IF CHARINDEX(@CAT,@MYCATEGORIE)=0 BEGIN
			SET @MYCATEGORIE=@MYCATEGORIE+@CAT
		END
		IF @MYACTION<@ARBI AND @ARBI<>-1 BEGIN
			SET @MYACTION=@ARBI
		END
		IF LEN(@MESVALI)>0 BEGIN
			IF LEN(@MYMESSAGE)>0 BEGIN
				SET @MYMESSAGE=@MYMESSAGE+'|'+@MESVALI
			END ELSE
				SET @MYMESSAGE=@MESVALI
		END
		IF LEN(@MESRESI)>0 BEGIN
			IF LEN(@MYMESSAGETORESID)>0 BEGIN
				SET @MYMESSAGETORESID=@MYMESSAGETORESID+'|'+@MESRESI
			END ELSE
				SET @MYMESSAGETORESID=@MESRESI
		END
		IF LEN(@MESACC)>0 BEGIN
			IF LEN(@MYMESSAGETOACC)>0 BEGIN
				SET @MYMESSAGETOACC=@MYMESSAGETOACC+'|'+@MESACC;
			END ELSE
				SET @MYMESSAGETOACC=@MESACC;

		END
		IF @ACTBL<>0 BEGIN
			BREAK
		END
		FETCH NEXT FROM EMP_RESULTAT
		INTO @REGID,@ACTBL,@ARBI,@MESRESI,@MESVALI,@MESACC,@CAT
	END
	Close EMP_RESULTAT
	DEALLOCATE EMP_RESULTAT
END

GO
