
/****** Object:  StoredProcedure [dbo].[PS_DEDUP_FLAG]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE PROCEDURE [dbo].[PS_DEDUP_FLAG]
  	 @DEDUP1ID VARCHAR(14),
	 @DEDUP2ID VARCHAR(35),
	 @ENTITE VARCHAR(35)
AS
BEGIN
	DELETE FROM DEDUP_DEDUP WHERE ENTITE=@ENTITE AND (DEDUP1ID=@DEDUP1ID AND DEDUP2ID=@DEDUP2ID)
	DELETE FROM DEDUP_DEDUP WHERE ENTITE=@ENTITE AND (DEDUP1ID=@DEDUP2ID AND DEDUP2ID=@DEDUP1ID)
	INSERT INTO DEDUP_DEDUP (DEDUP1ID,DEDUP2ID,SIMIL_FLAG,ENTITE) VALUES (@DEDUP1ID,@DEDUP2ID,'0',@ENTITE)
	INSERT INTO DEDUP_DEDUP (DEDUP1ID,DEDUP2ID,SIMIL_FLAG,ENTITE) VALUES (@DEDUP2ID,@DEDUP1ID,'0',@ENTITE)
END
GO
