
/****** Object:  StoredProcedure [dbo].[PS_ZCL25_APPELCREATIONVISITE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_ZCL25_APPELCREATIONVISITE]
	/* VISITE (RESIDANTS) */
	@RM VARCHAR(1), /* SI 0 PAS D'UPDATE DE RESIDANT */
	@RMATRICULE VARCHAR(50),
	@RCIVILITE VARCHAR(30),
	@RNOM VARCHAR(35),
	@RPRENOM VARCHAR(35),
	@RTEL VARCHAR(20),
	@RSITE VARCHAR(35),
	@RETAGE VARCHAR(7),
	@RBUREAU VARCHAR(15),

	/* RDV (VISITE)*/
	@VOBJET VARCHAR(35),
	@VLIEU VARCHAR(50),
	@VCOMMENTAIRE VARCHAR(200),
	@VDATE DATETIME,
	@VHEURE DATETIME,

	/* VISITEUR (INTERLOCUTEUR) */
	@ICIVILITE VARCHAR(30),
	@INOM VARCHAR(35),
	@IPRENOM VARCHAR(35),
	@ISOCIETE VARCHAR(200),
	@ITEL VARCHAR(20)
AS
	DECLARE @VID VARCHAR(14)
	DECLARE @RCTRL VARCHAR(50)
	DECLARE @RSOCIETE VARCHAR(35)
	DECLARE @RFONCTION VARCHAR(35)
	DECLARE @RSERVICE VARCHAR(35)
	DECLARE @RLOGIN VARCHAR(20)
	DECLARE @RPASSWORD VARCHAR(250)
	DECLARE @RHABILITATIONVISITE VARCHAR(1)
	DECLARE @RLISTEROUGE VARCHAR(1)
	DECLARE @RISEXTERN VARCHAR(1)
	DECLARE @RISACTIF VARCHAR(1)
	DECLARE @RISRESIDENT VARCHAR(1)
	DECLARE @RINTERDIT VARCHAR(1)
	DECLARE @RDEBUTINTERDIT DATETIME
	DECLARE @RFININTERDIT DATETIME
	DECLARE @IINTERDIT VARCHAR(1)
	DECLARE @IDEBUTINTERDIT DATETIME
	DECLARE @IFININTERDIT DATETIME
	DECLARE @IPAYS VARCHAR(35)
	DECLARE @IFONCTION VARCHAR(35)
	DECLARE @INATURE VARCHAR(35)
	DECLARE @INATIONALITE VARCHAR(50)
	DECLARE @VTYPE VARCHAR(35)
	DECLARE @VFDATE DATETIME
	DECLARE @VFHEURE DATETIME
BEGIN
	SET @RCTRL = '2'
	SET @RSOCIETE = '**********'
	SET @RFONCTION = '**********'
	SET @RSERVICE = '**********'
	SET @RLOGIN = UPPER(@RNOM)
	SET @RPASSWORD = UPPER(@RPRENOM)
	SET @RHABILITATIONVISITE = '1'
	SET @RLISTEROUGE = '0'
	SET @RISEXTERN = '0'
	SET @RISACTIF = '1'
	SET @RISRESIDENT = '1'
	SET @RINTERDIT = '0'
	SET @RDEBUTINTERDIT = CONVERT(DATETIME,CONVERT(VARCHAR,CURRENT_TIMESTAMP,103),103)
	SET @RFININTERDIT = CURRENT_TIMESTAMP + (360*100)
	SET @IINTERDIT = '0'
	SET @IDEBUTINTERDIT = CONVERT(DATETIME,CONVERT(VARCHAR,CURRENT_TIMESTAMP,103),103)
	SET @IFININTERDIT = CURRENT_TIMESTAMP + (360*100)
	SET @IPAYS = 'FRANCE'
	SET @IFONCTION = '**********'
	SET @INATURE = 'VISITEUR'
	SET @INATIONALITE = 'FRANCAIS'
	SET @VTYPE = ''
	SET @VFDATE = @VDATE
	SET @VFHEURE = '15/09/1986 18:00'

	EXEC PS_ZCL25_CREATIONVISITE @RM, @RCTRL, @RMATRICULE, @RSOCIETE, @RCIVILITE, @RNOM, @RPRENOM, @RTEL, @RSITE, @RETAGE, @RBUREAU, @RFONCTION, @RSERVICE, @RLOGIN, @RPASSWORD, @RHABILITATIONVISITE, @RLISTEROUGE, @RISEXTERN, @RISACTIF, @RISRESIDENT, @RINTERDIT, @RDEBUTINTERDIT, @RFININTERDIT, @VOBJET, @VTYPE, @VLIEU, @VCOMMENTAIRE, @VDATE, @VHEURE, @VFDATE, @VFHEURE, @ICIVILITE, @INOM, @IPRENOM, @ISOCIETE, @ITEL, @IINTERDIT, @IDEBUTINTERDIT, @IFININTERDIT, @IPAYS, @IFONCTION, @INATURE, @INATIONALITE, @VID OUTPUT
	SELECT @VID
END
GO
