
/****** Object:  StoredProcedure [dbo].[PS_PURGE_SOCIETE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_PURGE_SOCIETE]
    @SOCIETEID VARCHAR(14)
AS
    DECLARE @TMP INTEGER
BEGIN
    SET @TMP=(select count(SOCIETEID) FROM SOCIETE where SOCIETEID=@SOCIETEID AND (INTERDIT=1 OR (SELECt COUNT(INTERLOCUTEURID) FROM INTERLOCUTEUR I WHERE I.SOCIETEID=@SOCIETEID AND I.INTERDIT<>'0')>0))
    IF @TMP=0 BEGIN
        DELETE FROM COLISEMIS  WHERE INTERLOCUTEURID IN (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR  WHERE SOCIETEID=@SOCIETEID AND INTERDIT='0')
        DELETE FROM COLISRECU WHERE INTERLOCUTEURID IN (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR  WHERE SOCIETEID=@SOCIETEID AND INTERDIT='0')
        DELETE FROM CONSIGNE WHERE INTERLOCUTEURID IN (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR  WHERE SOCIETEID=@SOCIETEID AND INTERDIT='0')
        DELETE FROM CONTACT WHERE INTERLOCUTEURID IN (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR  WHERE SOCIETEID=@SOCIETEID AND INTERDIT='0')
        DELETE FROM DEVIS WHERE INTERLOCUTEURID IN (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR  WHERE SOCIETEID=@SOCIETEID AND INTERDIT='0')

        DELETE FROM HLGPARTICIPANT WHERE INTERLOCUTEURID IN (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR  WHERE SOCIETEID=@SOCIETEID AND INTERDIT='0')
        DELETE FROM HVISITES WHERE INTERLOCUTEURID IN (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR  WHERE SOCIETEID=@SOCIETEID AND INTERDIT='0')
        DELETE FROM IDENTITES WHERE INTERLOCUTEURID IN (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR  WHERE SOCIETEID=@SOCIETEID  AND INTERDIT='0')
        DELETE FROM INTER_RSERVICE WHERE INTERLOCUTEURID IN (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR  WHERE SOCIETEID=@SOCIETEID AND INTERDIT='0')
        DELETE FROM LGPARTICIPANT WHERE INTERLOCUTEURID IN (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR  WHERE SOCIETEID=@SOCIETEID AND INTERDIT='0')

        DELETE FROM OJOURNAL_PERSMVT WHERE INTERLOCUTEURID IN (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR  WHERE SOCIETEID=@SOCIETEID AND INTERDIT='0')
        DELETE FROM VISITES_TEMP WHERE INTERLOCUTEURID IN (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR  WHERE SOCIETEID=@SOCIETEID AND INTERDIT='0')
        DELETE FROM PASSAGERTAXI WHERE INTERLOCUTEURID IN (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR  WHERE SOCIETEID=@SOCIETEID AND INTERDIT='0')
        DELETE FROM INTER_ACTION WHERE INTERLOCUTEURID IN (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR  WHERE SOCIETEID=@SOCIETEID AND INTERDIT='0')
        DELETE FROM XANNEXE WHERE ORIGINE='INTERLOCUTEUR' AND ORIGINEID IN (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR  WHERE SOCIETEID=@SOCIETEID AND INTERDIT='0')
        DELETE FROM XANNEXE WHERE ORIGINE='VISITES' AND (ORIGINEID IN ( SELECT VISITEID FROM VISITES WHERE INTERLOCUTEURID IN (select INTERLOCUTEURID from INTERLOCUTEUR where SOCIETEID=@SOCIETEID AND INTERDIT='0') ) OR REFID IN ( SELECT VISITEID FROM VISITES WHERE INTERLOCUTEURID IN (select INTERLOCUTEURID from INTERLOCUTEUR where SOCIETEID=@SOCIETEID AND INTERDIT='0') ))

        DELETE FROM VISITES WHERE INTERLOCUTEURID IN (select INTERLOCUTEURID from INTERLOCUTEUR where SOCIETEID=@SOCIETEID AND INTERDIT='0')
        DELETE FROM CONTACT WHERE  SOCIETEID=@SOCIETEID
        DELETE FROM SERVICE WHERE DEPTID IN (SELECT DEPTID FROM DEPARTEMENT WHERE SOCIETEID=@SOCIETEID)
        DELETE FROM DEPARTEMENT WHERE SOCIETEID=@SOCIETEID
        DELETE FROM DEVIS WHERE SOCIETEID=@SOCIETEID
        DELETE FROM DIRECTIONS WHERE SOCIETEID=@SOCIETEID

        DELETE FROM MARQUE WHERE SOCIETEID=@SOCIETEID
        DELETE FROM PARKING WHERE SOCIETEID=@SOCIETEID
        DELETE FROM POSTE WHERE SOCIETEID=@SOCIETEID
        DELETE FROM PXACHAT WHERE SOCIETEID=@SOCIETEID
        DELETE FROM RESERVATION WHERE SOCIETEID=@SOCIETEID
        DELETE FROM SALLE WHERE SOCIETEID=@SOCIETEID
        DELETE FROM SOCIETE_LOCALISATION  WHERE SOCIETEID=@SOCIETEID
        DELETE FROM SOCBAT WHERE SOCIETEID=@SOCIETEID
        DELETE FROM SOCMAR WHERE SOCIETEID=@SOCIETEID
        DELETE FROM SOCSITE  WHERE SOCIETEID=@SOCIETEID
        DELETE FROM SOCIETE_ACTION WHERE SOCIETEID=@SOCIETEID
        DELETE FROM USERS WHERE SOCIETEID=@SOCIETEID
        DELETE FROM XANNEXE WHERE ORIGINE='SOCIETE' AND ORIGINEID=@SOCIETEID
        DELETE FROM IDENTITES WHERE INTERLOCUTEURID IN (select INTERLOCUTEURID from INTERLOCUTEUR where SOCIETEID=@SOCIETEID AND INTERDIT='0')
        DELETE FROM INTERLOCUTEUR WHERE SOCIETEID=@SOCIETEID AND INTERDIT='0'
        DELETE FROM SOCIETE WHERE SOCIETEID=@SOCIETEID

        DELETE FROM XANNEXE WHERE ORIGINE='INTERLOCUTEUR' AND ((SELECT COUNT(INTERLOCUTEURID) FROM INTERLOCUTEUR WHERE INTERLOCUTEURID=ORIGINEID AND INTERDIT='0')=0)
        DELETE FROM XANNEXE WHERE ORIGINE='SOCIETE' AND ((SELECT COUNT(SOCIETEID) FROM SOCIETE WHERE SOCIETEID=ORIGINEID)=0)
        DELETE FROM XANNEXE WHERE ORIGINE='VISITES' AND ((SELECT COUNT(VISITEID) FROM VISITES WHERE VISITEID=ORIGINEID)=0)
        DELETE FROM IDENTITES WHERE ((SELECT COUNT(INTERLOCUTEURID) FROM INTERLOCUTEUR I WHERE I.INTERLOCUTEURID=IDENTITES.INTERLOCUTEURID AND I.INTERDIT='0')=0)
    END
 END
GO
