
/****** Object:  StoredProcedure [dbo].[PS_REGLE_CPPA]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_REGLE_CPPA]
	@MYVISITEID VARCHAR(14),
	@MYREGLEID INT,
	@MYACTION  INT OUTPUT,
	@MYMESSAGE  VARCHAR(500) OUTPUT,
	@MYACTIONBLOQUANTE  INT OUTPUT
AS
	DECLARE @MYPOLEID VARCHAR(14)
	DECLARE @MYNATIONALITEID VARCHAR(14)
	DECLARE @MYSITEID VARCHAR(14)
	DECLARE @MYCODEACTIVITEID VARCHAR(14)
BEGIN
	SET @MYACTION=0
	SET @MYMESSAGE=''
	SET @MYPOLEID =(SELECT R.SOCIETEID FROM RESIDANTS R,VISITES V WHERE R.RESIDANTID=V.RESIDANTID AND V.VISITEID=@MYVISITEID)
	SET @MYNATIONALITEID =(SELECT I.NATIONALITEID FROM INTERLOCUTEUR I,VISITES V WHERE I.INTERLOCUTEURID=V.INTERLOCUTEURID AND V.VISITEID=@MYVISITEID)
	SET @MYSITEID =(SELECT V.SITEID FROM VISITES V WHERE V.VISITEID=@MYVISITEID)
	SET @MYCODEACTIVITEID =(SELECT V.TYPEVISITEID FROM VISITES V WHERE V.VISITEID=@MYVISITEID)
	IF EXISTS ( SELECT IDCPPA FROM ZCL15_CPPA WHERE REGLEID=@MYREGLEID AND SOCIETEID=@MYPOLEID AND PAYSID=@MYNATIONALITEID AND (TYPEVISITEID=@MYCODEACTIVITEID  OR TYPEVISITEID='-2') AND
	 SITEID IN (SELECT GRPSITEID FROM V_LISTE_GRPSITE WHERE SITEID=@MYSITEID ))
	BEGIN
		EXEC PS_REGLES_EXEC_ACTIONS @MYREGLEID,@MYVISITEID
		SET @MYACTION=(SELECT TYPEACTION FROM REGLES WHERE REGLEID=@MYREGLEID )
		SET @MYMESSAGE=(SELECT MESSAGE FROM REGLES WHERE REGLEID=@MYREGLEID)
		SET @MYACTIONBLOQUANTE=(SELECT ACTIONBLOQUANTE FROM REGLES WHERE REGLEID=@MYREGLEID)
	END
END
GO
