
/****** Object:  StoredProcedure [dbo].[PS_SORTIE_VISITES_RESIDANTS]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_SORTIE_VISITES_RESIDANTS]
AS
BEGIN
 UPDATE VISITES_RESIDANTS SET SORTIE=GETDATE(), OBSERVATION=OBSERVATION + ' | Sortie automatique', DATEMAJ=GETDATE(), DATESYNCHRO=GETDATE(), GUICHET_S='TLMQ SERVEUR' WHERE SORTIE IS NULL
END
GO
