
/****** Object:  StoredProcedure [dbo].[PS_CVISITE_CREATION_VISITEUR]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_CVISITE_CREATION_VISITEUR]
	@NOM VARCHAR(35),
	@PRENOM VARCHAR(35),
	@SOCIETE VARCHAR(200),
	@FONCTION VARCHAR(35),
	@ADRESSE VARCHAR(150),
	@CODEPOSTAL VARCHAR(10),
	@VILLE VARCHAR(35),
	@TEL VARCHAR(20),
	@FAX VARCHAR(20),
	@EMAIL VARCHAR(150),
	@INTERDIT VARCHAR(1),
	@DEBUTINTERDIT DATETIME,
	@FININTERDIT DATETIME,
	@ID VARCHAR(14) OUTPUT
AS
	DECLARE @CIVID INT
	DECLARE @SOCID VARCHAR(14)
	DECLARE @FCTID INT
	DECLARE @NATUREID VARCHAR(14)
	DECLARE @PAYSID VARCHAR(14)
	DECLARE @FLAG VARCHAR(14)
	DECLARE @IDENTITY VARCHAR(14)
BEGIN
	SET @NOM = UPPER(@NOM)
	SET @PRENOM = @PRENOM
	SET @SOCIETE = UPPER(@SOCIETE)
	SET @FONCTION = UPPER(@FONCTION)
	SET @NATUREID = 'VPARDEFAUT'
	SET @PAYSID = 'VPARDEFAUT'
	EXEC PS_CVISITE_CREATION_SOCIETE @SOCIETE, 0, @ADRESSE, @CODEPOSTAL, @VILLE, @SOCID OUTPUT
	EXEC PS_CVISITE_CREATION_FONCTION @FONCTION, @FCTID OUTPUT

	IF EXISTS (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR WHERE UPPER(NOM) = @NOM AND UPPER(PRENOM) = @PRENOM AND UPPER(SOCIETE) = @SOCIETE) BEGIN
		SET @ID = (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR WHERE UPPER(NOM) = @NOM AND UPPER(PRENOM) = @PRENOM AND UPPER(SOCIETE) = @SOCIETE)
		UPDATE INTERLOCUTEUR SET CODEFONCTION = @FCTID, FONCTION = @FONCTION, SOCIETEID = @SOCID, TELEPHONE = @TEL, FAX = @FAX, EMAIL = @EMAIL, NATUREID=@NATUREID, NATIONALITEID=@PAYSID, INTERDIT = @INTERDIT, DEBUTINTERDIT = @DEBUTINTERDIT, FININTERDIT = @FININTERDIT, DATEMAJ = CURRENT_TIMESTAMP WHERE INTERLOCUTEURID = @ID
	END
	ELSE BEGIN
		INSERT INTO SEQ_IDENTITY(LIBELLE) VALUES ('OK')
		SET @IDENTITY = (SELECT @@IDENTITY AS ID)
		SET @FLAG = (SELECT SUBSTRING(VERSION, 1, 3) FROM VERSION_SFW)
		SET @ID = @FLAG + @IDENTITY

		INSERT INTO INTERLOCUTEUR (INTERLOCUTEURID, NOM, PRENOM, NOMPRENOM, CODEFONCTION, FONCTION, SOCIETEID, SOCIETE, TELEPHONE, FAX, EMAIL, NATUREID, NATIONALITEID, INTERDIT, DEBUTINTERDIT, FININTERDIT, DATECREATION, DATEMAJ)
			VALUES (@ID, @NOM, @PRENOM, @NOM+' '+@PRENOM, @FCTID, @FONCTION, @SOCID, @SOCIETE, @TEL, @FAX, @EMAIL, @NATUREID, @PAYSID, @INTERDIT, @DEBUTINTERDIT, @FININTERDIT, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	END
END
GO
