
/****** Object:  StoredProcedure [dbo].[ZCL27_ENREGEMPLOYEE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[ZCL27_ENREGEMPLOYEE]
	@InterlocuteurID VARCHAR(14),
	@SiteID VARCHAR(14),
	@ECard VARCHAR(45),
	@EFirst VARCHAR(45),
	@ELast VARCHAR(45),
	@EStartDate DATETIME,
	@EStartDatet DATETIME,
	@EEndDate DATETIME,
	@EEndDatet DATETIME,
	@StatutEntree INT,
	@EWId VARCHAR(45)
AS
	IF NOT EXISTS (SELECT * FROM ZCL27_BADGE WHERE B_CARD_NO = @ECard AND SITEID = @SiteID)
		INSERT INTO ZCL27_BADGE (B_CARD_NO, B_ASSIGNED, CARDQUALITY, SITEID, DATECREATION, DATEMAJ)
			VALUES (@ECard, 1, 'Creation', @SiteID, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	INSERT INTO ZCL27_EMPLOYEE (INTERLOCUTEURID, SITEID, E_CARDASSIGNED, E_CARDNUMBER, E_FIRSTNAME, E_LASTNAME, E_STARTDATE, E_STARTDATETIME, E_ENDDATE, E_ENDDATETIME, E_WG_ID, STATUT_ENTREE, STATUT_SORTIE, DATECREATION, DATEMAJ)
		VALUES (@InterlocuteurID, @SiteID, 0, @ECard, @EFirst, @ELast, @EStartDate, @EStartDatet, @EEndDate, @EEndDatet, @EWId, @StatutEntree, 0, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
GO
