
/****** Object:  StoredProcedure [dbo].[PS_DEDUP_INTERLOCUTEUR]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_DEDUP_INTERLOCUTEUR]
	@MYIDSOURCE VARCHAR(14),
	@MYIDDEST VARCHAR(14)
AS
BEGIN
	UPDATE VISITES SET INTERLOCUTEURID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE INTERLOCUTEURID=@MYIDDEST
	UPDATE COLISEMIS SET INTERLOCUTEURID=@MYIDSOURCE,DATEMAJ=CURRENT_TIMESTAMP WHERE INTERLOCUTEURID=@MYIDDEST
	UPDATE COLISRECU SET INTERLOCUTEURID=@MYIDSOURCE,DATEMAJ=CURRENT_TIMESTAMP WHERE INTERLOCUTEURID=@MYIDDEST
	UPDATE CONSIGNE SET INTERLOCUTEURID=@MYIDSOURCE,DATEMAJ=CURRENT_TIMESTAMP WHERE INTERLOCUTEURID=@MYIDDEST AND RESIDANTID='VISITEUR'
	UPDATE CONTACT SET INTERLOCUTEURID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE INTERLOCUTEURID=@MYIDDEST
	UPDATE DEVIS SET INTERLOCUTEURID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE INTERLOCUTEURID=@MYIDDEST
	UPDATE HLGPARTICIPANT SET INTERLOCUTEURID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE INTERLOCUTEURID=@MYIDDEST
	UPDATE HVISITES SET INTERLOCUTEURID=@MYIDSOURCE,DATEMAJ=CURRENT_TIMESTAMP WHERE INTERLOCUTEURID=@MYIDDEST
	UPDATE IDENTITES SET INTERLOCUTEURID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE INTERLOCUTEURID=@MYIDDEST
	UPDATE INTER_RSERVICE SET INTERLOCUTEURID=@MYIDSOURCE WHERE INTERLOCUTEURID=@MYIDDEST
	UPDATE LGPARTICIPANT SET INTERLOCUTEURID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE INTERLOCUTEURID=@MYIDDEST
	UPDATE OJOURNAL_PERSMVT SET INTERLOCUTEURID=@MYIDSOURCE WHERE INTERLOCUTEURID=@MYIDDEST
	UPDATE VISITES_TEMP SET INTERLOCUTEURID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE INTERLOCUTEURID=@MYIDDEST
	UPDATE PASSAGERTAXI SET INTERLOCUTEURID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE INTERLOCUTEURID=@MYIDDEST
	DELETE FROM INTER_ACTION  WHERE INTERLOCUTEURID=@MYIDDEST
	UPDATE XANNEXE SET ETAT='-1', DATEMAJ=CURRENT_TIMESTAMP WHERE ORIGINEID=@MYIDDEST AND ORIGINE='INTERLOCUTEUR'

	DELETE FROM INTERLOCUTEUR WHERE INTERLOCUTEURID=@MYIDDEST
	DELETE FROM DEDUP_DEDUP WHERE DEDUP1ID=@MYIDDEST OR DEDUP2ID=@MYIDDEST
END
GO
