
/****** Object:  StoredProcedure [dbo].[PS_ZCL25_CREATIONVISITE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_ZCL25_CREATIONVISITE]
	/* VISITE (RESIDANTS) */
	@RM VARCHAR(1), /* SI 0 PAS D'UPDATE DE RESIDANT */
	@RCTRL VARCHAR(50),
	@RMATRICULE VARCHAR(50),
	@RSOCIETE VARCHAR(200),
	@RCIVILITE VARCHAR(30),
	@RNOM VARCHAR(35),
	@RPRENOM VARCHAR(35),
	@RTEL VARCHAR(20),
	@RSITE VARCHAR(35),
	@RETAGE VARCHAR(7),
	@RBUREAU VARCHAR(15),
	@RFONCTION VARCHAR(35),
	@RSERVICE VARCHAR(35),
	@RLOGIN VARCHAR(20),
	@RPASSWORD VARCHAR(250),
	@RHABILITATIONVISITE VARCHAR(1),
	@RLISTEROUGE VARCHAR(1),
	@RISEXTERN VARCHAR(1),
	@RISACTIF VARCHAR(1),
	@ISRESIDENT VARCHAR(1),
	@RINTERDIT VARCHAR(1),
	@RDEBUTINTERDIT DATETIME,
	@RFININTERDIT DATETIME,

	/* RDV (VISITE)*/
	@VOBJET VARCHAR(35),
	@VTYPE VARCHAR(35),
	@VLIEU VARCHAR(50),
	@VCOMMENTAIRE VARCHAR(200),
	@VDATE DATETIME,
	@VHEURE DATETIME,
	@VFDATE DATETIME,
	@VFHEURE DATETIME,

	/* VISITEUR (INTERLOCUTEUR) */
	@ICIVILITE VARCHAR(30),
	@INOM VARCHAR(35),
	@IPRENOM VARCHAR(35),
	@ISOCIETE VARCHAR(200),
	@ITEL VARCHAR(20),
	@IINTERDIT VARCHAR(1),
	@IDEBUTINTERDIT DATETIME,
	@IFININTERDIT DATETIME,
	@IPAYS VARCHAR(35),
	@IFONCTION VARCHAR(35),
	@INATURE VARCHAR(35),
	@INATIONALITE VARCHAR(50),

	/* RETOUR */
	@VID VARCHAR(14) OUTPUT

AS
	DECLARE @NUMVISITE INT
	DECLARE @SOCIETERESID VARCHAR(35)
	DECLARE @NOMPRENOMRESID VARCHAR(70)
	DECLARE @RID VARCHAR(14)
	DECLARE @IID VARCHAR(14)
	DECLARE @SID VARCHAR(14)
	DECLARE @BID VARCHAR(14)
	DECLARE @TYPEID INT
	DECLARE @VSTATUT VARCHAR(20)
	DECLARE @FLAG VARCHAR(14)
	DECLARE @IDENTITY VARCHAR(14)
BEGIN
	EXEC PS_ZCL25_SELECTIONTYPEVISITE @VTYPE, @TYPEID OUTPUT
	EXEC PS_ZCL25_CREATIONINTERLOCUTEUR @ICIVILITE, @INOM, @IPRENOM, @ISOCIETE, @ITEL, @IINTERDIT, @IDEBUTINTERDIT, @IFININTERDIT, @IPAYS, @IFONCTION, @INATURE, @INATIONALITE, @IID OUTPUT

	EXEC PS_ZCL25_CREATIONRESIDANT @RM, @RCTRL, @RMATRICULE, @RSOCIETE, @RCIVILITE, @RNOM, @RPRENOM, @RTEL, @RSITE, @RETAGE, @RBUREAU, @RFONCTION, @RSERVICE, @RLOGIN, @RPASSWORD, @RHABILITATIONVISITE, @RLISTEROUGE, @RISEXTERN, @RISACTIF, @ISRESIDENT, @RINTERDIT, @RDEBUTINTERDIT, @RFININTERDIT, @RID OUTPUT
	SET @SID = (SELECT SITEID FROM RESIDANTS WHERE RESIDANTID = @RID)
	SET @BID = (SELECT BUREAUID FROM RESIDANTS WHERE RESIDANTID = @RID)

	SET @VSTATUT = (SELECT STATUTVISITE FROM STATUTVISITE WHERE STATUTID = 2)

	SET @NUMVISITE = (SELECT DERNVISITE FROM PARAMETRES)
	SET @NUMVISITE = @NUMVISITE + 1
	UPDATE PARAMETRES SET DERNVISITE = @NUMVISITE

	SET @SOCIETERESID = (SELECT SOCIETE FROM RESIDANTS WHERE RESIDANTID = @RID)
	SET @NOMPRENOMRESID = (SELECT NOMPRENOM FROM RESIDANTS WHERE RESIDANTID = @RID)

	INSERT INTO SEQ_IDENTITY(LIBELLE) VALUES ('OK')
	SET @IDENTITY = (SELECT @@IDENTITY AS ID)
	SET @FLAG = (SELECT SUBSTRING(VERSION, 1, 3) FROM VERSION_SFW)
	SET @VID = @FLAG + @IDENTITY

	INSERT INTO VISITES (VISITEID, CASIERID, PREMIER, NBBDGIMPR, NBBDGIMPRTOTAL, NUMEROVISITE, ORIGINEVISITE, EXTERNALID, INTERLOCUTEURID, RESIDANTID, SITEID, STATUTID, SOCIETERESID, NOMPRENOMRESID, SOCIETEVISIT, NOMPRENOMVISIT, DEBUTPREVU, HDEBUTPREVU, FINPREVU, HFINPREVU, STATUTVISITE, OBJET, TYPEVISITEID, LIEU, OBSERVATION, BUREAUID, PREENREG, DATECREATION, DATEMAJ)
		VALUES (@VID, 0, 0, 0, 0, @NUMVISITE, @NUMVISITE, 'VPARDEFAUT', @IID, @RID, @SID, 2, @SOCIETERESID, @NOMPRENOMRESID, @ISOCIETE, @INOM + ' ' + @IPRENOM, @VDATE, @VHEURE, @VFDATE, @VFHEURE, @VSTATUT, @VOBJET, @TYPEID, @VLIEU, @VCOMMENTAIRE, @BID, 1, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
END
GO
