
/****** Object:  StoredProcedure [dbo].[PS_INS_AGENDA_JOUR2]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_INS_AGENDA_JOUR2]
@AGENDA_JOURID VARCHAR(14)
AS

DECLARE @FLAG VARCHAR(14)
DECLARE @IDENTITY VARCHAR(14)
DECLARE @ID VARCHAR(14)
DECLARE @HEURE_MIS DATETIME
DECLARE @MISSIONID INT
DECLARE @SITEID  VARCHAR(14)
BEGIN
   SET DATEFIRST 7
   SET @HEURE_MIS=(SELECT HEURE FROM AGENDA_JOUR WHERE AGENDA_JOURID=@AGENDA_JOURID)
   SET @MISSIONID=(SELECT MISSIONID FROM AGENDA_JOUR WHERE AGENDA_JOURID=@AGENDA_JOURID)
   SET @SITEID=(SELECT SITEID FROM AGENDA_JOUR WHERE AGENDA_JOURID=@AGENDA_JOURID)
   INSERT INTO SEQ_IDENTITY(LIBELLE) VALUES ('OK')
   SET @IDENTITY = (SELECT @@IDENTITY AS ID)
   SET @FLAG = (SELECT TOP 1 SUBSTRING(VERSION, 1, 3) FROM VERSION_SFW)
   SET @ID = @FLAG + @IDENTITY
	 IF NOT EXISTS (SELECT AGENDA_JOUR2ID FROM AGENDA_JOUR2 WHERE AGENDA_JOURID=@AGENDA_JOURID AND HEURE=@HEURE_MIS AND MISSIONID=@MISSIONID AND DATEMISSION=CONVERT(DATETIME,CONVERT(VARCHAR(10),CURRENT_TIMESTAMP,103),103) AND SITEID=@SITEID)
			BEGIN
				INSERT INTO AGENDA_JOUR2 (AGENDA_JOUR2ID,AGENDA_JOURID,HEURE,TOLERANCE,MISSIONID,POSTEID,STATUT,DATEMISSION,DATEMAJ,DATECREATION,SITEID)
				SELECT CAST(@ID AS INT),AGENDA_JOURID,HEURE,TOLERANCE,MISSIONID,POSTEID,STATUT,CONVERT(DATETIME,CONVERT(VARCHAR(10),CURRENT_TIMESTAMP,103),103),CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,SITEID FROM AGENDA_JOUR WHERE AGENDA_JOURID=@AGENDA_JOURID
			END
END
GO
