
/****** Object:  StoredProcedure [dbo].[PS_CVISITE_CREATION_SOCIETE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_CVISITE_CREATION_SOCIETE]
	@SOCIETE VARCHAR(35),
	@ISRESIDANT VARCHAR(1),
	@ADRESSE VARCHAR(150),
	@CODEPOSTAL VARCHAR(10),
	@VILLE VARCHAR(35),

	@ID VARCHAR(14) OUTPUT
AS
	DECLARE @FLAG VARCHAR(14)
	DECLARE @IDENTITY VARCHAR(14)
BEGIN
	SET @SOCIETE = UPPER(@SOCIETE)

	IF EXISTS (SELECT * FROM SOCIETE WHERE UPPER(NOM) = @SOCIETE AND ISRESIDANT = @ISRESIDANT)
		SET @ID = (SELECT SOCIETEID FROM SOCIETE WHERE UPPER(NOM) = @SOCIETE AND ISRESIDANT = @ISRESIDANT)
	ELSE BEGIN
		INSERT INTO SEQ_IDENTITY(LIBELLE) VALUES ('OK')
		SET @IDENTITY = (SELECT @@IDENTITY AS ID)
		SET @FLAG = (SELECT SUBSTRING(VERSION, 1, 3) FROM VERSION_SFW)
		SET @ID = @FLAG + @IDENTITY
		INSERT INTO SOCIETE(SOCIETEID, NOM, ISRESIDANT, ADRESSE, ADRESSE2, CP, VILLE, INTERDIT, DEBUTINTERDIT, FININTERDIT, DATECREATION, DATEMAJ)
			VALUES (@ID, @SOCIETE, @ISRESIDANT, @ADRESSE, @ADRESSE, @CODEPOSTAL, @VILLE, '0', CURRENT_TIMESTAMP-1, CURRENT_TIMESTAMP+(365*100), CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	END
END
GO
