
/****** Object:  StoredProcedure [dbo].[PS_DEDUP_CIVILITE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_DEDUP_CIVILITE]
	@MYIDSOURCE VARCHAR(14),
	@MYIDDEST VARCHAR(14)

AS
	DECLARE @LIBCOURTCIVILITESRC VARCHAR(30)
	DECLARE @LIBCIVILITEDEST VARCHAR(30)
	DECLARE @LIBCOURTCIVILITEDEST VARCHAR(30)
BEGIN
  IF @MYIDDEST<>'0' BEGIN
		SET @LIBCOURTCIVILITESRC = (SELECT LIBELLECOURT FROM CIVILITE WHERE CODECIVILITE=@MYIDSOURCE)

		SET @LIBCIVILITEDEST = (SELECT CIVILITE FROM CIVILITE WHERE CODECIVILITE=@MYIDDEST)
		SET @LIBCOURTCIVILITEDEST = (SELECT LIBELLECOURT FROM CIVILITE WHERE CODECIVILITE=@MYIDDEST)

		UPDATE HLGPARTICIPANT SET CIVILITE=@LIBCOURTCIVILITESRC, DATEMAJ=CURRENT_TIMESTAMP WHERE CIVILITE=@LIBCOURTCIVILITEDEST

		UPDATE RESIDANTS SET CIVILITE=@LIBCOURTCIVILITESRC, DATEMAJ=CURRENT_TIMESTAMP WHERE CODECIVILITE=@MYIDDEST
		UPDATE RESIDANTS SET CODECIVILITE=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE CODECIVILITE=@MYIDDEST

		UPDATE INTERLOCUTEUR SET CIVILITE=@LIBCOURTCIVILITESRC, DATEMAJ=CURRENT_TIMESTAMP WHERE CODECIVILITE=@MYIDDEST
		UPDATE INTERLOCUTEUR SET CODECIVILITE=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE CODECIVILITE=@MYIDDEST



		UPDATE LGPARTICIPANT SET CIVILITE=@LIBCOURTCIVILITESRC, DATEMAJ=CURRENT_TIMESTAMP WHERE CIVILITE=@LIBCOURTCIVILITEDEST

		UPDATE USERS SET CIVILITEID=@MYIDSOURCE, DATEMAJ=CURRENT_TIMESTAMP WHERE CIVILITEID=@MYIDDEST

		UPDATE CFGDEFAULTAGENDA SET CODECIVILITE=@MYIDSOURCE WHERE CODECIVILITE=@MYIDDEST

		DELETE FROM CIVILITE WHERE CODECIVILITE=@MYIDDEST
		DELETE FROM DEDUP_DEDUP WHERE DEDUP1ID=@MYIDDEST OR DEDUP2ID=@MYIDDEST
	END
END
GO
