
/****** Object:  StoredProcedure [dbo].[PS_ZCL25_SELECTIONNATIONALITE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_ZCL25_SELECTIONNATIONALITE]
	@LIBELLE VARCHAR(50),
	@ID VARCHAR(35) OUTPUT
AS

BEGIN
	SET @LIBELLE = UPPER(@LIBELLE)

	IF EXISTS (SELECT * FROM PAYS WHERE UPPER(NATIONALITE) = @LIBELLE) BEGIN
		SET @ID = (SELECT PAYSID FROM PAYS WHERE UPPER(NATIONALITE) = @LIBELLE)
	END
	ELSE BEGIN
		SET @ID = 'VPARDEFAUT'
	END
END
GO
