
/****** Object:  StoredProcedure [dbo].[PS_REGLE_VALIDITE_DOCUMENTS]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_REGLE_VALIDITE_DOCUMENTS]
 @MYVISITEID VARCHAR(14),
 @MYREGLEID INT,
 @MYACTION  INT OUTPUT,
 @MYMESSAGE  VARCHAR(500) OUTPUT,
 @MYACTIONBLOQUANTE  INT OUTPUT
AS
 DECLARE @MYFINPREVU DATETIME
 DECLARE @LOC_DATEFIN DATETIME
 DECLARE @MYTYPEDOCUMENT INT
 DECLARE @LOC_ETATID VARCHAR(1)
BEGIN
	SET @MYACTION=0
	SET @MYMESSAGE=''
	SET @MYTYPEDOCUMENT =(SELECT FREE1 FROM REGLES WHERE REGLEID=@MYREGLEID)
	SET @MYFINPREVU =(SELECT CONVERT(DATETIME,CONVERT(VARCHAR(10),FINPREVU,103),103)  FROM VISITES WHERE VISITEID=@MYVISITEID)
	IF EXISTS (SELECT XANNEXEID FROM XANNEXE X WHERE X.XANNEXE_TYPEID=-1 AND X.ORIGINE='VISITES' AND X.ORIGINEID=@MYVISITEID AND X.INFORMATION_TYPEID=@MYTYPEDOCUMENT)
	BEGIN
		IF @MYTYPEDOCUMENT=-2 BEGIN
			IF (dbo.DETECT_AW_VALIDE(@MYVISITEID)=0) BEGIN
				EXEC PS_REGLES_EXEC_ACTIONS @MYREGLEID,@MYVISITEID
				SET @MYMESSAGE=(SELECT MESSAGE FROM REGLES WHERE REGLEID=@MYREGLEID)
				SET @MYACTION=(SELECT TYPEACTION FROM REGLES WHERE REGLEID=@MYREGLEID )
				SET @MYACTIONBLOQUANTE=(SELECT ACTIONBLOQUANTE FROM REGLES WHERE REGLEID=@MYREGLEID)
			END
		END
		ELSE BEGIN
			SET @LOC_DATEFIN=(SELECT CONVERT(DATETIME,CONVERT(VARCHAR(10),DATEFIN,103),103) FROM XANNEXE X WHERE X.XANNEXE_TYPEID=-1 AND X.INFORMATION_TYPEID=@MYTYPEDOCUMENT AND X.ORIGINE='VISITES' AND X.ORIGINEID=@MYVISITEID AND (ISNULL(X.ETAT,1)=1))
			IF @LOC_DATEFIN IS NULL OR @LOC_DATEFIN='01/01/1900' OR  CONVERT(DATETIME,@LOC_DATEFIN,103)<CONVERT(DATETIME,@MYFINPREVU,103) BEGIN
				EXEC PS_REGLES_EXEC_ACTIONS @MYREGLEID,@MYVISITEID
				SET @MYMESSAGE=(SELECT MESSAGE FROM REGLES WHERE REGLEID=@MYREGLEID)
				SET @MYACTION=(SELECT TYPEACTION FROM REGLES WHERE REGLEID=@MYREGLEID )
				SET @MYACTIONBLOQUANTE=(SELECT ACTIONBLOQUANTE FROM REGLES WHERE REGLEID=@MYREGLEID)
			END
		END
	END
END
GO
