
/****** Object:  StoredProcedure [dbo].[PS_REGLES_EXEC_ACTIONS]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_REGLES_EXEC_ACTIONS]
@MYREGLEID INT,
 @MYVISITEID VARCHAR(14)
AS
	DECLARE @MYINTERLOCUTEURID VARCHAR(14)
	DECLARE @LCID INT
	DECLARE @RAID INT
	DECLARE @TAID INT
BEGIN

	SET @MYINTERLOCUTEURID=(SELECT INTERLOCUTEURID FROM VISITES WHERE VISITEID=@MYVISITEID)
	DECLARE  EMP_ACTION CURSOR
	FOR SELECT RA.REGLEID,RA.ACTIONID,RR.TYPEACTION FROM REGLE_ACTION RA,REGLES RR WHERE RA.REGLEID=@MYREGLEID AND RA.ACTIONID=RR.REGLEID
	OPEN EMP_ACTION
	FETCH NEXT FROM EMP_ACTION
	INTO @LCID,@RAID,@TAID
	WHILE @@FETCH_STATUS=0
	BEGIN
		IF @TAID=-23 BEGIN
			UPDATE XANNEXE SET DATERETOUR=NULL, ETAT=0, DATESYNCHRO=NULL WHERE ORIGINE='INTERLOCUTEUR' AND ORIGINEID=@MYVISITEID AND INFORMATION_TYPEID=(SELECT FREE1 FROM REGLES WHERE REGLEID=@RAID) AND XANNEXE_TYPEID=-1 AND ETAT>-1;
			UPDATE XANNEXE SET DATERETOUR=NULL, ETAT=0,DATESYNCHRO=NULL WHERE ORIGINE='VISITES' AND ORIGINEID=@MYVISITEID AND INFORMATION_TYPEID=(SELECT FREE1 FROM REGLES WHERE REGLEID=@RAID) AND XANNEXE_TYPEID=-1 AND ETAT>-1;
		END
		IF @TAID=-22 BEGIN
			UPDATE VISITES SET FINPREVU=CONVERT(DATETIME,dbo.F_REGLE_LIMITE_DATE(FINPREVU,DATEADD(day, (SELECT CAST(FREE1 AS INT) FROM REGLES WHERE REGLEID=@RAID)-1,DEBUTPREVU),0),103),DATESYNCHRO=NULL WHERE VISITEID=@MYVISITEID
		END
		IF @TAID=-24 BEGIN
			EXEC PS_REGLE_SOUMETTRE_ENQUETE @RAID,@MYVISITEID,0
		END
		IF @TAID=-25 BEGIN
			EXEC PS_REGLE_SOUMETTRE_ENQUETE @RAID,@MYVISITEID,1
		END
		FETCH NEXT FROM EMP_ACTION
		INTO @LCID,@RAID,@TAID
	END
	CLOSE EMP_ACTION
	DEALLOCATE EMP_ACTION
END
GO
