
/****** Object:  StoredProcedure [dbo].[PS_DEPLACE_VISITE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_DEPLACE_VISITE]
	@ENTITE VARCHAR(35),
	@VISITEID VARCHAR(14),
	@DESTINATAIRE VARCHAR(14)
AS
BEGIN
	IF @ENTITE='INTERLOCUTEUR' BEGIN
		UPDATE VISITES SET NOMPRENOMVISIT=(SELECT NOMPRENOM FROM INTERLOCUTEUR WHERE INTERLOCUTEURID=@DESTINATAIRE) WHERE VISITEID=@VISITEID
		UPDATE VISITES SET SOCIETEVISIT=(SELECT S.NOM FROM SOCIETE S,INTERLOCUTEUR I WHERE I.SOCIETEID=S.SOCIETEID AND I.INTERLOCUTEURID=@DESTINATAIRE) WHERE VISITEID=@VISITEID

		UPDATE VISITES SET ILIEUNAISSANCE=(SELECT LIEUNAISSANCE FROM INTERLOCUTEUR WHERE INTERLOCUTEURID=@DESTINATAIRE) WHERE VISITEID=@VISITEID
		UPDATE VISITES SET INOMJEUNEFILLE=(SELECT NOMJEUNEFILLE FROM INTERLOCUTEUR WHERE INTERLOCUTEURID=@DESTINATAIRE) WHERE VISITEID=@VISITEID
		UPDATE VISITES SET IDATENAISSANCE=(SELECT DATENAISSANCE FROM INTERLOCUTEUR WHERE INTERLOCUTEURID=@DESTINATAIRE) WHERE VISITEID=@VISITEID
		UPDATE VISITES SET IFONCTION=(SELECT F.LIBELLE FROM FONCTION F,INTERLOCUTEUR I WHERE I.CODEFONCTION=F.CODEFONCTION AND I.INTERLOCUTEURID=@DESTINATAIRE) WHERE VISITEID=@VISITEID
		UPDATE VISITES SET IPAYS=(SELECT P.LIBELLE FROM PAYS P,INTERLOCUTEUR I WHERE I.NATIONALITEID=P.PAYSID AND I.INTERLOCUTEURID=@DESTINATAIRE) WHERE VISITEID=@VISITEID
		UPDATE VISITES SET INTERLOCUTEURID=@DESTINATAIRE, DATEMAJ=CURRENT_TIMESTAMP WHERE VISITEID=@VISITEID
		UPDATE HVISITES SET INTERLOCUTEURID=@DESTINATAIRE,DATEMAJ=CURRENT_TIMESTAMP WHERE VISITEID=@VISITEID
		UPDATE VISITES_TEMP SET INTERLOCUTEURID=@DESTINATAIRE, DATEMAJ=CURRENT_TIMESTAMP WHERE VISITEID=@VISITEID
	END
	IF @ENTITE='RESIDANT' BEGIN
		UPDATE VISITES SET NOMPRENOMRESID=(SELECT NOMPRENOM FROM RESIDANTS WHERE RESIDANTID=@DESTINATAIRE) WHERE VISITEID=@VISITEID
		UPDATE VISITES SET SOCIETERESID=(SELECT S.NOM FROM SOCIETE S,RESIDANTS R WHERE R.SOCIETEID=S.SOCIETEID AND R.RESIDANTID=@DESTINATAIRE) WHERE VISITEID=@VISITEID
		UPDATE VISITES SET RESIDANTID=@DESTINATAIRE, DATEMAJ=CURRENT_TIMESTAMP WHERE VISITEID=@VISITEID
		UPDATE HVISITES SET RESIDANTID=@DESTINATAIRE,DATEMAJ=CURRENT_TIMESTAMP WHERE VISITEID=@VISITEID
		UPDATE VISITES_TEMP SET RESIDANTID=@DESTINATAIRE, DATEMAJ=CURRENT_TIMESTAMP WHERE VISITEID=@VISITEID
	END
END
GO
