
/****** Object:  StoredProcedure [dbo].[PS_ESVISITES_OUTINT]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PS_ESVISITES_OUTINT]
	@visiteid VARCHAR(14),
    @actionDate VARCHAR(20)
AS

BEGIN

	UPDATE VISITES SET STATUTID='16',DATEMAJ=CONVERT(DATETIME,@actiondate,103),FINVISITE=CONVERT(DATETIME,CONVERT(VARCHAR(10),@actionDate,103),103), HFIN=CONVERT(DATETIME,SUBSTRING(CONVERT(VARCHAR,@actiondate,103),12,5),108) WHERE VISITEID=@visiteid
END
GO
