
/****** Object:  StoredProcedure [dbo].[PS_TAXI_CREATIONCOURSE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_TAXI_CREATIONCOURSE]
	@USERID VARCHAR(14),
	@ENLEVEMENTPREVU DATETIME,
	@LIEUDEPART VARCHAR(40),
	@OBJET VARCHAR(200),
	@MOYENPAIEMENT VARCHAR(50),
	@CODECLIENT VARCHAR(10),
	@IMPUTATION VARCHAR(35),
	@ID_TYPEVEHICULE INT,
	@SITEID VARCHAR(14),
	@ID INT OUTPUT
AS
	DECLARE @NOW DATETIME
	DECLARE @SITE VARCHAR(35)
	DECLARE @EID VARCHAR(14)
	DECLARE @IMPUTATIONID VARCHAR(14)
	DECLARE @EVNMT VARCHAR(200)
	DECLARE @FLAG VARCHAR(14)
	DECLARE @IDENTITY VARCHAR(14)
BEGIN
	EXEC PS_TAXI_CREATIONIMPUTATION @IMPUTATION, @IMPUTATIONID OUTPUT

	SET @NOW = CURRENT_TIMESTAMP

	--SET @SITEID = (SELECT SITEID FROM USERS WHERE USERID = @USERID)

	INSERT INTO SEQ_IDENTITY(LIBELLE) VALUES ('OK')
	SET @IDENTITY = (SELECT @@IDENTITY AS ID)
	SET @FLAG = (SELECT SUBSTRING(VERSION, 1, 3) FROM VERSION_SFW)
	SET @ID = CAST(@FLAG AS INT) + CAST(@IDENTITY AS INT)

	INSERT INTO COURSE(ID_COURSE, SITEID, ID_STATUTCOURSE, DATEHEUREDEMANDE, LIEUDEPART, DATEHEUREDEPART, ID_TYPEVEHICULE, OBJET, MOYENPAIEMENT, IMPUTATIONID, CODECLIENT, DATECREATION, DATEMAJ)
		VALUES (@ID, @SITEID, -1, @NOW, @LIEUDEPART, @ENLEVEMENTPREVU, @ID_TYPEVEHICULE, @OBJET, @MOYENPAIEMENT, @IMPUTATIONID, @CODECLIENT, @NOW, @NOW)

	SET @EVNMT = 'CREATION COURSE'
	EXEC PS_TAXI_CREATIONEVENEMENT @ID, @EVNMT, @NOW, @USERID, @EID OUTPUT
END

GO
