
/****** Object:  StoredProcedure [dbo].[DERN_ACTION_SITE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DERN_ACTION_SITE]
	@SITEID VARCHAR(14)
AS
BEGIN
	UPDATE SITE SET TLMQ_DERN_EXEC = CURRENT_TIMESTAMP WHERE SITEID = @SITEID
END
GO
