
/****** Object:  StoredProcedure [dbo].[PS_IDENTITE_NUM_PIECE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_IDENTITE_NUM_PIECE]
	@NPIECE VARCHAR(20),
	@INTERLOCUTEURID VARCHAR(14) OUTPUT
AS
BEGIN
	SET @NPIECE = UPPER(@NPIECE)
	IF EXISTS (SELECT * FROM IDENTITES WHERE UPPER(NUMERO) = @NPIECE) BEGIN
		SET @INTERLOCUTEURID = (SELECT TOP 1 INTERLOCUTEURID FROM IDENTITES WHERE UPPER(NUMERO) = @NPIECE AND INTERLOCUTEURID IS NOT NULL)
        IF NOT EXISTS (SELECT * FROM INTERLOCUTEUR WHERE INTERLOCUTEURID=@INTERLOCUTEURID)  BEGIN
		   SET @INTERLOCUTEURID = '-1'
	    END
	END
	ELSE BEGIN
		SET @INTERLOCUTEURID = '-1'
	END
END

GO
