
/****** Object:  StoredProcedure [dbo].[PS_DEDUP_ROUTINE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PS_DEDUP_ROUTINE]
	 @ENTITEID VARCHAR(14),
	 @LIBENTITE VARCHAR(35),
	 @ENTITE VARCHAR(35),
	 @JW INT
AS
BEGIN
	DELETE FROM DEDUP_DEDUP WHERE (DEDUP2ID=@ENTITEID OR DEDUP1ID=@ENTITEID) AND ENTITE=@ENTITE
	IF @ENTITE='INTERLOCUTEUR' BEGIN
		INSERT INTO DEDUP_DEDUP (DEDUP1ID,DEDUP2ID,ENTITE,JW)
		(SELECT @ENTITEID,R2.INTERLOCUTEURID,'INTERLOCUTEUR', dbo.F_DEDUP_GETWINKLERNUMBER(UPPER(R2.NOMPRENOM),UPPER(@LIBENTITE)) FROM INTERLOCUTEUR R2 WHERE @ENTITEID<>R2.INTERLOCUTEURID  AND dbo.F_DEDUP_GETWINKLERNUMBER(UPPER(R2.NOMPRENOM),UPPER(@LIBENTITE))>=@JW )
		INSERT INTO DEDUP_DEDUP (DEDUP2ID,DEDUP1ID,ENTITE,JW)
		(SELECT @ENTITEID,R2.INTERLOCUTEURID,'INTERLOCUTEUR',dbo.F_DEDUP_GETWINKLERNUMBER(UPPER(R2.NOMPRENOM),UPPER(@LIBENTITE)) FROM INTERLOCUTEUR R2 WHERE @ENTITEID<>R2.INTERLOCUTEURID  AND dbo.F_DEDUP_GETWINKLERNUMBER(UPPER(R2.NOMPRENOM),UPPER(@LIBENTITE))>=@JW )
	END ELSE BEGIN
			IF @ENTITE='SOCIETE' BEGIN
				INSERT INTO DEDUP_DEDUP (DEDUP1ID,DEDUP2ID,ENTITE,JW)
				(SELECT @ENTITEID,R2.SOCIETEID,'SOCIETE',dbo.F_DEDUP_GETWINKLERNUMBER(UPPER(R2.NOM),UPPER(@LIBENTITE)) FROM SOCIETE R2 WHERE @ENTITEID<>R2.SOCIETEID  AND dbo.F_DEDUP_GETWINKLERNUMBER(UPPER(R2.NOM),UPPER(@LIBENTITE))>=@JW)
				INSERT INTO DEDUP_DEDUP (DEDUP2ID,DEDUP1ID,ENTITE,JW)
				(SELECT @ENTITEID,R2.SOCIETEID,'SOCIETE',dbo.F_DEDUP_GETWINKLERNUMBER(UPPER(R2.NOM),UPPER(@LIBENTITE)) FROM SOCIETE R2 WHERE @ENTITEID<>R2.SOCIETEID  AND dbo.F_DEDUP_GETWINKLERNUMBER(UPPER(R2.NOM),UPPER(@LIBENTITE))>=@JW)
			END
			ELSE BEGIN
				INSERT INTO DEDUP_DEDUP (DEDUP1ID,DEDUP2ID,ENTITE,JW)
				(SELECT @ENTITEID,R2.RESIDANTID,'RESIDANTS', dbo.F_DEDUP_GETWINKLERNUMBER(UPPER(R2.NOMPRENOM),UPPER(@LIBENTITE)) FROM RESIDANTS R2 WHERE @ENTITEID<>R2.RESIDANTID  AND dbo.F_DEDUP_GETWINKLERNUMBER(UPPER(R2.NOMPRENOM),UPPER(@LIBENTITE))>=@JW)
				INSERT INTO DEDUP_DEDUP (DEDUP2ID,DEDUP1ID,ENTITE,JW)
				(SELECT @ENTITEID,R2.RESIDANTID,'RESIDANTS',dbo.F_DEDUP_GETWINKLERNUMBER(UPPER(R2.NOMPRENOM),UPPER(@LIBENTITE)) FROM RESIDANTS R2 WHERE @ENTITEID<>R2.RESIDANTID  AND dbo.F_DEDUP_GETWINKLERNUMBER(UPPER(R2.NOMPRENOM),UPPER(@LIBENTITE))>=@JW)
			END
	END

END
GO
