
/****** Object:  StoredProcedure [dbo].[PS_REGLE_CHAMPS_INCOMPLETS]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_REGLE_CHAMPS_INCOMPLETS]
	@MYVISITEID VARCHAR(14),
	@MYREGLEID INT,
	@MYACTION  INT OUTPUT,
	@MYMESSAGE  VARCHAR(500) OUTPUT,
	@MYACTIONBLOQUANTE  INT OUTPUT
AS
	DECLARE @TMPCOUNT INT
	DECLARE @MYNATIONALITE VARCHAR(14)
	DECLARE @MYSITEID VARCHAR(14)
	DECLARE @TMP_STR1 varchar(4000)
	DECLARE @TMP_STR2 varchar(4000)
	DECLARE @MYNOMCHAMP VARCHAR(100)
	DECLARE @LISTE_CHAMPS_CTRL VARCHAR(4000)
	DECLARE @MYINTERLOCUTEURID VARCHAR(14)
	DECLARE @NOM_CHAMP VARCHAR(50)
	DECLARE @FLAG_CTRL VARCHAR(50)
BEGIN

	SET @MYSITEID=(SELECT SITEID FROM VISITES WHERE VISITEID=@MYVISITEID)
	SET @TMP_STR1=(SELECT  TOP(1) UPPER(VALEUR) FROM (SELECT VALEUR,'1' AS A FROM PARAMETRAGE WHERE LIBELLE='FORM_VISITEUR' AND SITEID=@MYSITEID UNION SELECT VALEUR,'2' AS A FROM PARAMETRAGE WHERE LIBELLE='FORM_VISITEUR' AND SITEID='ALL' ) AA ORDER BY AA.A);

	SET @TMP_STR2=(SELECT  TOP(1) UPPER(VALEUR) FROM (SELECT VALEUR,'1' AS A FROM PARAMETRAGE WHERE LIBELLE='FORM_VISITEUR_CONTROLE' AND SITEID=@MYSITEID UNION SELECT VALEUR,'2' AS A FROM PARAMETRAGE WHERE LIBELLE='FORM_VISITEUR_CONTROLE' AND SITEID='ALL') BB ORDER BY BB.A);
	DECLARE champ_cursor CURSOR FOR SELECT A.data,B.data FROM SPLIT(@TMP_STR1,',') A ,SPLIT(@TMP_STR2,',') B WHERE A.id=B.id
	OPEN champ_cursor;
	FETCH NEXT FROM champ_cursor INTO @NOM_CHAMP,@FLAG_CTRL
	WHILE @@FETCH_STATUS = 0
	BEGIN
		IF @FLAG_CTRL='1' BEGIN
			IF LEN(@LISTE_CHAMPS_CTRL)>0 BEGIN
				SET @LISTE_CHAMPS_CTRL=@LISTE_CHAMPS_CTRL+''''+@NOM_CHAMP+''','
			END
			ELSE
				SET @LISTE_CHAMPS_CTRL=''''+@NOM_CHAMP+''','
		END
		FETCH NEXT FROM champ_cursor INTO @NOM_CHAMP,@FLAG_CTRL
	END
	CLOSE champ_cursor;
	DEALLOCATE champ_cursor;
	IF LEN(@LISTE_CHAMPS_CTRL)>0 BEGIN
		SET @LISTE_CHAMPS_CTRL=SUBSTRING(@LISTE_CHAMPS_CTRL,1,LEN(@LISTE_CHAMPS_CTRL)-1)
	END
	SET @MYACTION=0
	SET @MYMESSAGE=''
	SET @MYNATIONALITE =(SELECT I.NATIONALITEID FROM INTERLOCUTEUR I,VISITES V WHERE I.INTERLOCUTEURID=V.INTERLOCUTEURID AND V.VISITEID=@MYVISITEID)
	IF EXISTS (SELECT REGLEID FROM REGLES TREG WHERE TREG.REGLEID=@MYREGLEID  AND ( ((TREG.FREE1=CONVERT(VARCHAR(14),dbo.GET_REGION_PAYS(@MYVISITEID))  OR TREG.FREE1='2') AND @MYNATIONALITE<>'VPARDEFAUT') OR TREG.FREE1='-2' OR TREG.FREE1=@MYNATIONALITE))
	BEGIN
		SET @MYINTERLOCUTEURID=(SELECT INTERLOCUTEURID FROM VISITES WHERE VISITEID=@MYVISITEID)
		SET @MYNOMCHAMP =(SELECT FREE3 FROM REGLES WHERE REGLEID=@MYREGLEID)
		SET @TMPCOUNT=(SELECT COUNT(*) TMPCOUNT FROM (SELECT  TOP(1) I.CODECIVILITE,I.NOM,I.PRENOM,I.NOMJEUNEFILLE,I.SOCIETE,I.DATENAISSANCE,I.LIEUNAISSANCE,I.CODEFONCTION,I.NATIONALITEID,I.FONCTION
		  FROM INTERLOCUTEUR I WHERE I.INTERLOCUTEURID=@MYINTERLOCUTEURID ) AS A WHERE
		CASE

			WHEN
				(@MYNOMCHAMP='0')  AND ( A.CODECIVILITE IS NULL OR A.CODECIVILITE='0') THEN 1
			WHEN
				(@MYNOMCHAMP='-1')  AND ( A.NOM IS NULL OR LTRIM(RTRIM(A.NOM))='') THEN 1
			WHEN
				(@MYNOMCHAMP='-2')  AND ( A.PRENOM IS NULL OR LTRIM(RTRIM(A.PRENOM))='') THEN 1
			WHEN
				(@MYNOMCHAMP='-3')  AND ( A.NOMJEUNEFILLE IS NULL OR LTRIM(RTRIM(A.NOMJEUNEFILLE))='') THEN 1
			WHEN
				(@MYNOMCHAMP='-4')  AND (A.DATENAISSANCE IS NULL OR CONVERT(VARCHAR(10),A.DATENAISSANCE,103)='01/01/1900') THEN 1
			WHEN
				(@MYNOMCHAMP='-5')  AND ( A.LIEUNAISSANCE IS NULL OR LTRIM(RTRIM(A.LIEUNAISSANCE))='') THEN 1
			WHEN
				(@MYNOMCHAMP='-6')  AND ( A.NATIONALITEID IS NULL OR A.NATIONALITEID='' OR A.NATIONALITEID='174976') THEN 1
			WHEN
				(@MYNOMCHAMP='-7')  AND ( A.CODEFONCTION IS NULL OR A.FONCTION='**********' ) THEN 1
			WHEN
				(@MYNOMCHAMP='-8')  AND ( A.SOCIETE IS NULL OR LTRIM(RTRIM(A.SOCIETE))='') THEN 1
			ELSE 0
		END =1);
		IF @TMPCOUNT>0	BEGIN
			EXEC PS_REGLES_EXEC_ACTIONS @MYREGLEID,@MYVISITEID
			SET @MYACTION=(SELECT TYPEACTION FROM REGLES WHERE REGLEID=@MYREGLEID)
			SET @MYMESSAGE=(SELECT MESSAGE FROM REGLES WHERE REGLEID=@MYREGLEID)
			SET @MYACTIONBLOQUANTE  =(SELECT ACTIONBLOQUANTE FROM REGLES WHERE REGLEID=@MYREGLEID)

		END
	END
END
GO
