
/****** Object:  StoredProcedure [dbo].[PREVISITE_LPM]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PREVISITE_LPM]
	@VISITEID VARCHAR(14),
	@VALEUR VARCHAR(1)
AS
BEGIN
	UPDATE VISITES SET ATTENDU = @VALEUR, DATEMAJ = CURRENT_TIMESTAMP WHERE VISITEID = @VISITEID
END
GO
