
/****** Object:  StoredProcedure [dbo].[PS_ZCL25_CREATIONETAGE]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_ZCL25_CREATIONETAGE]
	@ETAGE VARCHAR(35),
	@BATIMENTID VARCHAR(14),
	@ID VARCHAR(14) OUTPUT
AS
	DECLARE @FLAG VARCHAR(14)
	DECLARE @IDENTITY VARCHAR(14)
BEGIN
	SET @ETAGE = UPPER(@ETAGE)
	IF @BATIMENTID = ''
		SET @BATIMENTID = 'VPARDEFAUT'

	IF EXISTS (SELECT * FROM ETAGES WHERE UPPER(ETAGE) = @ETAGE AND BATIMENTID = @BATIMENTID)
		SET @ID = (SELECT ETAGEID FROM ETAGES WHERE UPPER(ETAGE) = @ETAGE AND BATIMENTID = @BATIMENTID)
	ELSE BEGIN
		INSERT INTO SEQ_IDENTITY(LIBELLE) VALUES ('OK')
		SET @IDENTITY = (SELECT @@IDENTITY AS ID)
		SET @FLAG = (SELECT SUBSTRING(VERSION, 1, 3) FROM VERSION_SFW)
		SET @ID = @FLAG + @IDENTITY
		INSERT INTO ETAGES(ETAGEID, BATIMENTID, ETAGE, DATECREATION, DATEMAJ)
			VALUES (@ID, @BATIMENTID, @ETAGE, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	END
END
GO
