
/****** Object:  StoredProcedure [dbo].[PS_IMPORT_PARTICIPANT_OPENPORTAL]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[PS_IMPORT_PARTICIPANT_OPENPORTAL]
     @flagin int,
    @champctrl varchar(80),
    @RNOM VARCHAR(30),
    @RPRENOM VARCHAR(30),
	@RMATRICULE VARCHAR(30),
	@RSOCIETE VARCHAR(30),
	@RCIVILITE VARCHAR(30),
	@REMAIL VARCHAR(150),
    @REFRESA VARCHAR(30),
	@RMOBILEPHONE VARCHAR(30),
	@RPHONE VARCHAR(30),
	@RSTATUTINSCRIPTION VARCHAR(1),
	@RLGPERSONNETYPE VARCHAR(30),
	@RVEHICULE  VARCHAR(20),
	@RIMMAT VARCHAR(20),
	@OPERSONNEID VARCHAR(20),
    @ID VARCHAR(18) OUTPUT
AS
    DECLARE @FLAG VARCHAR(14)
    DECLARE @IDENTITY VARCHAR(14)

	DECLARE @NOM VARCHAR(30)
	DECLARE @PRENOM VARCHAR(30)
    DECLARE @SOCIETE VARCHAR(40)
	DECLARE @EMAIL VARCHAR(150)
	DECLARE @CIVILITE VARCHAR(30)

	DECLARE @CODERESERVATION VARCHAR(30)
	DECLARE @CODELGRESERVATION VARCHAR(30)

    DECLARE @IDINT VARCHAR(30)
	DECLARE @nbupdate VARCHAR(30)
	DECLARE @nbinsert VARCHAR(30)
	DECLARE @LGPARTICIPANTID VARCHAR(30)
	DECLARE @INTERLOCUTEURID VARCHAR(30)
	DECLARE @RESIDANTID VARCHAR(30)
	DECLARE @TROUVE INT
	DECLARE @MYID INT
	DECLARE @ISRESIDANT INT
	DECLARE @MYDATEDEBUT DATETIME
	DECLARE @MYDATEFIN DATETIME
	DECLARE @SESA VARCHAR(10)
	DECLARE @MYSOCIETE VARCHAR(70)
	DECLARE @SITEID VARCHAR(14)
BEGIN
		IF @RSOCIETE='VPARDEFAUT' BEGIN
		SET @MYSOCIETE=(SELECT NOM FROM SOCIETE WHERE SOCIETEID='VPARDEFAUT')
		END ELSE BEGIN
		SET @MYSOCIETE=@RSOCIETE
		END
	 SET @ISRESIDANT=0
	 SET @ID='0,0,0'
	 SET @TROUVE=0
	IF EXISTS (SELECT TOP 1 REFRESERVATION FROM RESERVATION WHERE REFRESERVATION=@REFRESA) BEGIN
		SET @CODERESERVATION=(SELECT TOP 1 CODERESERVATION FROM RESERVATION WHERE REFRESERVATION=@REFRESA)
		SET @CODELGRESERVATION =(SELECT TOP 1 CODELGRESERVATION FROM LGRESERVATION WHERE CODERESERVATION=@CODERESERVATION)
		IF NOT EXISTS
		(SELECT CODELGRESERVATION FROM LGPARTICIPANT WHERE CODELGRESERVATION=@CODELGRESERVATION AND ( UPPER(NOM)=UPPER(LTRIM(RTRIM(@RNOM))) AND UPPER(PRENOM)=UPPER(LTRIM(RTRIM(@RPRENOM))) OR ( (@RMATRICULE<>'' AND @RMATRICULE IS NOT NULL AND RESIDANTID IN(SELECT RESIDANTID FROM RESIDANTS WHERE MATRICULE=@RMATRICULE))))) BEGIN
			SET @RESIDANTID= (SELECT TOP 1 RESIDANTID FROM RESIDANTS WHERE UPPER(MATRICULE)=UPPER(RTRIM(LTRIM(@RMATRICULE))) AND UPPER(PERSOPAYS)='FR')
			IF (@RESIDANTID='' OR @RESIDANTID IS NULL) BEGIN
				SET @RESIDANTID= (SELECT TOP 1 RESIDANTID FROM RESIDANTS WHERE (@RMATRICULE IS NOT NULL AND @RMATRICULE<>'')AND UPPER(MATRICULE)=UPPER(RTRIM(LTRIM(@RMATRICULE))))
				SET @NOM=@RNOM
				SET @PRENOM=@RPRENOM
				SET @SOCIETE=@MYSOCIETE
				SET @EMAIL=@REMAIL
				SET @CIVILITE=@RCIVILITE
				IF (@RESIDANTID<>'' AND @RESIDANTID IS NOT NULL) BEGIN
					SET @ISRESIDANT=1
					SET @NOM=(SELECT NOM FROM RESIDANTS WHERE RESIDANTID=@RESIDANTID)
					SET @PRENOM=(SELECT PRENOM FROM RESIDANTS WHERE RESIDANTID=@RESIDANTID)
					SET @SOCIETE=(SELECT SOCIETE FROM RESIDANTS WHERE RESIDANTID=@RESIDANTID)
					SET @EMAIL=(SELECT EMAIL FROM RESIDANTS WHERE RESIDANTID=@RESIDANTID)
					SET @CIVILITE=(SELECT CIVILITE FROM RESIDANTS WHERE RESIDANTID=@RESIDANTID)

				END
				EXEC dbo.PS_INTERLOCUTEUR 1,'NOMPRENOM',@CIVILITE,@NOM,@PRENOM,'','','','',@SOCIETE,'','0',null,null,null,null,null,@RPHONE,@EMAIL,@RMOBILEPHONE,null,null,null,null,null,null,null,null,null,null,null,null,null,'0',null,null,@IDINT output

				SET @nbupdate = @nbupdate + CAST( (select Data from Split(@IDINT,',') WHERE id = 3) as int)
				SET @nbinsert = @nbinsert + CAST( (select Data from Split(@IDINT,',') WHERE id = 2) as int)
				SET @IDINT = (select Data from Split(@IDINT,',') WHERE id = 1)
				IF  @ISRESIDANT=1 BEGIN
					UPDATE INTERLOCUTEUR SET NATUREID='-2' WHERE INTERLOCUTEURID=@IDINT
				END

				INSERT INTO SEQ_IDENTITY(LIBELLE) VALUES ('OK')
				SET @IDENTITY = (SELECT @@IDENTITY AS ID)
				SET @FLAG = (SELECT SUBSTRING(VERSION, 1, 3) FROM VERSION_SFW)
				SET @LGPARTICIPANTID= @FLAG + @IDENTITY

				INSERT INTO LGPARTICIPANT (LGPARTICIPANTID,CODELGRESERVATION,INTERLOCUTEURID,CIVILITE,NOM,PRENOM,SOCIETE,EMAIL,LGPERSONNETYPE,RVEHICULE,RIMMAT,OPERSONNEID,SESA,RPHONE,RMOBILEPHONE,DATEMAJ,DATECREATION)
				VALUES(@LGPARTICIPANTID,@CODELGRESERVATION,@IDINT,@CIVILITE,@NOM,@PRENOM,@SOCIETE,@EMAIL,@RLGPERSONNETYPE,@RVEHICULE,@RIMMAT,@OPERSONNEID,@RMATRICULE,@RPHONE,@RMOBILEPHONE,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
				SET @TROUVE=1
			END
			IF @TROUVE=0 BEGIN
				SET @SITEID =(SELECT SITEID FROM RESIDANTS WHERE RESIDANTID=@RESIDANTID)
				SET @NOM=(SELECT NOM FROM RESIDANTS WHERE RESIDANTID=@RESIDANTID)
				SET @PRENOM=(SELECT PRENOM FROM RESIDANTS WHERE RESIDANTID=@RESIDANTID)
				SET @SOCIETE=(SELECT SOCIETE FROM RESIDANTS WHERE RESIDANTID=@RESIDANTID)
				SET @EMAIL=(SELECT EMAIL FROM RESIDANTS WHERE RESIDANTID=@RESIDANTID)
				SET @CIVILITE=(SELECT CIVILITE FROM RESIDANTS WHERE RESIDANTID=@RESIDANTID)
				SET @SESA=(SELECT MATRICULE FROM RESIDANTS WHERE RESIDANTID=@RESIDANTID)
				INSERT INTO SEQ_IDENTITY(LIBELLE) VALUES ('OK')
				SET @IDENTITY = (SELECT @@IDENTITY AS ID)
				SET @FLAG = (SELECT SUBSTRING(VERSION, 1, 3) FROM VERSION_SFW)
				SET @LGPARTICIPANTID= @FLAG + @IDENTITY

				INSERT INTO LGPARTICIPANT (LGPARTICIPANTID,CODELGRESERVATION,RESIDANTID,CIVILITE,NOM,PRENOM,SOCIETE,LGPERSONNETYPE,EMAIL,RVEHICULE,RIMMAT,OPERSONNEID,SESA,RPHONE,RMOBILEPHONE,DATEMAJ,DATECREATION)
				 VALUES(@LGPARTICIPANTID,@CODELGRESERVATION,@RESIDANTID,@CIVILITE,@NOM,@PRENOM,@SOCIETE,@RLGPERSONNETYPE,@EMAIL,@RVEHICULE,@RIMMAT,@OPERSONNEID,@RMATRICULE,@RPHONE,@RMOBILEPHONE,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)

				 SET @MYDATEDEBUT=(SELECT dbo.GET_WEEK_START_DATE(DATEDEBUT) FROM LGRESERVATION WHERE CODELGRESERVATION=@CODELGRESERVATION)
				 SET @MYDATEFIN=(SELECT dbo.GET_WEEK_END_DATE(DATEFIN)-2 FROM LGRESERVATION WHERE CODELGRESERVATION=@CODELGRESERVATION)
				  IF @SITEID<>'VPARDEFAUT' AND @SITEID<>'NbzRDdhVqnMm0' BEGIN
					IF NOT EXISTS(SELECT SESA FROM PERSONNE_ACX WHERE NOM=@NOM AND PRENOM=@PRENOM AND SESA=@RMATRICULE AND
					DATEDEBUT<=CONVERT(DATETIME,CONVERT(VARCHAR(10),@MYDATEDEBUT,103),103) AND DATEFIN>=CONVERT(DATETIME,CONVERT(VARCHAR(10),@MYDATEFIN,103),103) AND (VERIFOK<>'-1' AND ACCESOK<>'-1') )
					BEGIN
							INSERT INTO PERSONNE_ACX (RETOURACX,TYPEPERSONNE,NOM,PRENOM,SESA,DATEDEBUT,DATEFIN,JOURFIN,SITEID,DATECREATION,DATEMAJ,NUMSITEACX,SITE)
						VALUES ('-5','RESIDANT',@NOM,@PRENOM,@RMATRICULE,CONVERT(DATETIME,@MYDATEDEBUT,103),CONVERT(DATETIME,@MYDATEFIN,103),1+DATEPART(WEEKDAY,CONVERT(DATETIME,@MYDATEDEBUT,103))+DATEDIFF(d,@MYDATEDEBUT,@MYDATEFIN),'VPARDEFAUT',CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,'1','Le Hive | art&fact')

						--INSERT INTO PERSONNE_ACX (TYPEPERSONNE,NOM,PRENOM,SESA,DATEDEBUT,DATEFIN,JOURFIN,SITEID,DATECREATION,DATEMAJ)
						--VALUES ('RESIDANT',@NOM,@PRENOM,@RMATRICULE,CONVERT(DATETIME,@MYDATEDEBUT,103),CONVERT(DATETIME,@MYDATEFIN,103),1+DATEPART(WEEKDAY,CONVERT(DATETIME,@MYDATEDEBUT,103))+DATEDIFF(d,@MYDATEDEBUT,@MYDATEFIN),'VPARDEFAUT',CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
					END
				END
			END
			UPDATE RESERVATION set NBPERSDEMANDE=(select COUNT(*)  from LGPARTICIPANT LGP,LGRESERVATION LGR, RESERVATION R where LGP.CODELGRESERVATION=LGR.CODELGRESERVATION AND
LGR.CODERESERVATION=R.CODERESERVATION AND R.CODERESERVATION=RESERVATION.CODERESERVATION GROUP BY LGP.CODELGRESERVATION), DATEMAJ=CURRENt_TIMESTAMP WHERE CODERESERVATION=@CODERESERVATION

			SET @ID='0,1,0'
		END

	END

END

GO
