
/****** Object:  StoredProcedure [dbo].[GETMEETING_FOR_MODMEETING_INNES]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GETMEETING_FOR_MODMEETING_INNES]

	@SALLE VARCHAR(30),
	@UNID VARCHAR(20),
    @STARTDATE VARCHAR(10),
	@STARTHOUR VARCHAR(12),
    @ENDDATE VARCHAR(10),
	@ENDHOUR VARCHAR(12)

AS


BEGIN



	SELECT CONVERT(VARCHAR, DATEDEBUT, 120) DDEBUT, CONVERT(VARCHAR, DATEFIN, 120) DFIN,
	CONVERT(VARCHAR, HEUREDEBUT, 120) HDEBUT, CONVERT(VARCHAR, HEUREFIN, 120) HFIN, CODESALLE,
	LGRESERVATION.CODERESERVATION, RESERVATION.CODERESERVATION, CODELGRESERVATION,
	LIBELLESALLE, LIBELLE, COMMENTAIRE, NOSALLE
	FROM LGRESERVATION, RESERVATION

	WHERE LIBELLESALLE=@SALLE  AND RESERVATION.CODERESERVATION= LGRESERVATION.CODERESERVATION

	AND
	(
		((CONVERT(varchar, HEUREDEBUT, 108)< @ENDHOUR )		AND (CONVERT(varchar, HEUREFIN, 108)> @STARTHOUR ))
	OR	((CONVERT(varchar, HEUREDEBUT, 108)< @STARTHOUR )	AND (CONVERT(varchar, HEUREFIN, 108)> @ENDHOUR ))
	OR	((CONVERT(varchar, HEUREDEBUT, 108)< @ENDHOUR )		AND (CONVERT(varchar, HEUREFIN, 108)> @STARTHOUR ))
	OR	((CONVERT(varchar, HEUREDEBUT, 108)< @ENDHOUR )		AND (CONVERT(varchar, HEUREFIN, 108)> @ENDHOUR ))
	)

	AND (DATEDEBUT >= CONVERT(DATETIME, @STARTDATE+' 00:00:00', 120))
	AND (DATEFIN <= CONVERT(DATETIME, @ENDDATE+' 00:00:00', 120))
	AND CODELGRESERVATION <> @UNID

	ORDER BY DATEDEBUT DESC




END











/****** Objet :  StoredProcedure [dbo].[GETMEETING_TOUTES_SALLES_INNES]    Date de génération du script : 06/16/2014 10:09:25 ******/
SET ANSI_NULLS ON
GO
