
/****** Object:  StoredProcedure [dbo].[PS_TAXI_CREATIONEVENEMENT]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_TAXI_CREATIONEVENEMENT]
	@ID_COURSE INT,
	@LIBELLE VARCHAR(200),
	@DATEHEURE DATETIME,
	@USERID VARCHAR(14),
	@ID VARCHAR(14) OUTPUT
AS
	DECLARE @NOW DATETIME
	DECLARE @FLAG VARCHAR(14)
	DECLARE @IDENTITY VARCHAR(14)
BEGIN
	SET @NOW = CURRENT_TIMESTAMP
	SET @LIBELLE = UPPER(@LIBELLE)
	INSERT INTO SEQ_IDENTITY(LIBELLE) VALUES ('OK')
	SET @IDENTITY = (SELECT @@IDENTITY AS ID)
	SET @FLAG = (SELECT SUBSTRING(VERSION, 1, 3) FROM VERSION_SFW)
	SET @ID = @FLAG + @IDENTITY

	INSERT INTO EVENEMENTCOURSE(ID_EVENEMENTCOURSE, ID_COURSE, LIBELLE, DATEHEURE, USERID, DATECREATION, DATEMAJ)
		VALUES (@ID, @ID_COURSE, @LIBELLE, @DATEHEURE, @USERID, @NOW, @NOW)
END

GO
