
/****** Object:  StoredProcedure [dbo].[PS_ZCL25_CREATIONINTERLOCUTEUR]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_ZCL25_CREATIONINTERLOCUTEUR]
	@ICIVILITE VARCHAR(30),
	@INOM VARCHAR(35),
	@IPRENOM VARCHAR(35),
	@ISOCIETE VARCHAR(200),
	@ITEL VARCHAR(20),
	@IINTERDIT VARCHAR(1),
	@IDEBUTINTERDIT DATETIME,
	@IFININTERDIT DATETIME,
	@IPAYS VARCHAR(35),
	@IFONCTION VARCHAR(35),
	@INATURE VARCHAR(35),
	@INATIONALITE VARCHAR(50),
	@IID VARCHAR(14) OUTPUT
AS
	DECLARE @CIVID INT
	DECLARE @SOCID VARCHAR(14)
	DECLARE @FCTID INT
	DECLARE @NATUREID VARCHAR(14)
	DECLARE @NATID VARCHAR(14)
	DECLARE @FLAG VARCHAR(14)
	DECLARE @IDENTITY VARCHAR(14)
BEGIN
	SET @INOM = UPPER(@INOM)
	SET @IPRENOM = UPPER(@IPRENOM)
	SET @ISOCIETE = UPPER(@ISOCIETE)
	SET @IFONCTION = UPPER(@IFONCTION)
	SET @INATURE = UPPER(@INATURE)
	SET @INATIONALITE = UPPER(@INATIONALITE)
	EXEC PS_ZCL25_SELECTIONCIVILITE @ICIVILITE, @CIVID OUTPUT
	EXEC PS_ZCL25_CREATIONSOCIETE @ISOCIETE, 0, @SOCID OUTPUT
	EXEC PS_ZCL25_CREATIONFONCTION @IFONCTION, @FCTID OUTPUT
	EXEC PS_ZCL25_CREATIONNATURE @INATURE, @NATUREID OUTPUT
	EXEC PS_ZCL25_SELECTIONNATIONALITE @INATIONALITE, @NATID OUTPUT

	IF EXISTS (SELECT * FROM INTERLOCUTEUR WHERE UPPER(NOM) = @INOM AND UPPER(PRENOM) = @IPRENOM  AND UPPER(SOCIETE) = @ISOCIETE) BEGIN
		SET @IID = (SELECT INTERLOCUTEURID FROM INTERLOCUTEUR WHERE UPPER(NOM) = @INOM AND UPPER(PRENOM) = @IPRENOM AND UPPER(SOCIETE) = @ISOCIETE)
		UPDATE INTERLOCUTEUR SET NATUREID = @NATUREID, NATIONALITEID = @NATID, CODEFONCTION = @FCTID, FONCTION = @IFONCTION, PAYS = @IPAYS, INTERDIT = @IINTERDIT, DEBUTINTERDIT = @IDEBUTINTERDIT, FININTERDIT = @IFININTERDIT, SOCIETEID = @SOCID, CODECIVILITE = @CIVID, CIVILITE = @ICIVILITE, TELEPHONE = @ITEL, DATEMAJ = CURRENT_TIMESTAMP WHERE INTERLOCUTEURID = @IID
	END
	ELSE BEGIN
		INSERT INTO SEQ_IDENTITY(LIBELLE) VALUES ('OK')
		SET @IDENTITY = (SELECT @@IDENTITY AS ID)
		SET @FLAG = (SELECT SUBSTRING(VERSION, 1, 3) FROM VERSION_SFW)
		SET @IID = @FLAG + @IDENTITY

		INSERT INTO INTERLOCUTEUR (INTERLOCUTEURID, NOM, PRENOM, NOMPRENOM, NATUREID, NATIONALITEID, CODEFONCTION, FONCTION, PAYS, INTERDIT, DEBUTINTERDIT, FININTERDIT, SOCIETEID, SOCIETE, CODECIVILITE, CIVILITE, TELEPHONE, DATECREATION, DATEMAJ)
			VALUES (@IID, @INOM, @IPRENOM, @INOM+' '+@IPRENOM, @NATUREID, @NATID, @FCTID, @IFONCTION, @IPAYS, @IINTERDIT, @IDEBUTINTERDIT, @IFININTERDIT, @SOCID, @ISOCIETE, @CIVID, @ICIVILITE, @ITEL, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	END
END
GO
