
/****** Object:  StoredProcedure [dbo].[PS_REGLE_TRANSPORT_ADR]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_REGLE_TRANSPORT_ADR]
	@MYVISITEID VARCHAR(14),
	@MYREGLEID INT,
	@MYACTION  INT OUTPUT,
	@MYMESSAGE  VARCHAR(500) OUTPUT,
	@MYACTIONBLOQUANTE  INT OUTPUT
AS
	DECLARE @MYNATIONALITE VARCHAR(14)
	DECLARE @MYCLASSE_ADR INT
BEGIN
	SET @MYACTION=0
	SET @MYMESSAGE=0
	SET @MYNATIONALITE =(SELECT I.NATIONALITEID FROM INTERLOCUTEUR I,VISITES V WHERE I.INTERLOCUTEURID=V.INTERLOCUTEURID AND V.VISITEID=@MYVISITEID)
	SET @MYCLASSE_ADR = (SELECT FREE3 FROM REGLES WHERE REGLEID=@MYREGLEID)
	IF EXISTS(SELECT REGLEID FROM REGLES TREG WHERE TREG.REGLEID=@MYREGLEID  AND ( ((TREG.FREE1=CONVERT(VARCHAR(14),dbo.GET_REGION_PAYS(@MYVISITEID))  OR TREG.FREE1='2')AND @MYNATIONALITE<>'VPARDEFAUT') OR TREG.FREE1='-2' OR TREG.FREE1=@MYNATIONALITE))
	BEGIN
		IF EXISTS(SELECT XANNEXEID FROM XANNEXE WHERE XANNEXE_TYPEID=-2 AND ORIGINE='VISITES' AND ORIGINEID=@MYVISITEID AND (@MYCLASSE_ADR=-2 OR INFORMATION_TYPEID=@MYCLASSE_ADR))
		BEGIN
			EXEC PS_REGLES_EXEC_ACTIONS @MYREGLEID,@MYVISITEID
			SET @MYMESSAGE=(SELECT MESSAGE FROM REGLES WHERE REGLEID=@MYREGLEID)
			SET @MYACTION=(SELECT TYPEACTION FROM REGLES WHERE REGLEID=@MYREGLEID )
			SET @MYACTIONBLOQUANTE=(SELECT ACTIONBLOQUANTE FROM REGLES WHERE REGLEID=@MYREGLEID)
		END
	END
END
GO
