
/****** Object:  StoredProcedure [dbo].[PS_INTERLOCUTEUR]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PS_INTERLOCUTEUR]
	@flagin INT,
	@champctrl varchar(80),

	@civilite VARCHAR(30),
	@nom VARCHAR(35),
	@prenom VARCHAR(34),
	@nomjeunefille VARCHAR(35),
	@datenaissance DATETIME,
	@lieunaissance VARCHAR(70),
	@pays VARCHAR(35),
	@societe VARCHAR(35),
	@fonction VARCHAR(35),
	@nature VARCHAR(35),
	@adresse VARCHAR(150),
	@codepostal VARCHAR(10),
	@ville VARCHAR(35),
	--@paysadresse VARCHAR(50),
	@refimportation VARCHAR(48),

	@immatriculation varchar(15),
	@telephone varchar(20),
	@email varchar(150),
	@gsm varchar(20),
	@fax varchar(20),
	@finvaliditeauto datetime,
	@datedernvisite datetime,

	@societe_adresse VARCHAR(150),
	@societe_siret VARCHAR(20),
	@societe_cp VARCHAR(10),
	@societe_ville VARCHAR(35),
	@societe_pays VARCHAR(35),
	--@statut VARCHAR(35),

	--@identiteid varchar(14),
	@typeidentiteid varchar(35),
	@delivrepar varchar(80),
	@numero varchar(20),
	@finvalidite datetime,
	--nationaliteid/paysid
	@nationalite varchar(50),

	@interdit varchar(1),
	@debutinterdit datetime,
	@fininterdit datetime,

	@ID VARCHAR(18) OUTPUT
AS
	DECLARE @flag VARCHAR(14)
	DECLARE @identity VARCHAR(14)
	DECLARE @societeid VARCHAR(18)
	DECLARE @fonctionid VARCHAR(18) --int
	DECLARE @civiliteid VARCHAR(18) --int
	DECLARE @natureid VARCHAR(18)
	DECLARE @nationaliteid VARCHAR(18)
	--<champctrl>NOMPRENOM,EMAIL,IMMATRICULATION</champctrl>

	DECLARE @nomprenom varchar(70)
	DECLARE @nbupdate int
	DECLARE @nbinsert int
	DECLARE @identitieid varchar(18)
	DECLARE @tmp int
	DECLARE @fininterdit2 datetime
	DECLARE @debutinterdit2 datetime
BEGIN
	--SET @nom = UPPER(@nom)
	--SET @nomjeunefille = UPPER(@nomjeunefille)
	--SET @lieunaissance = UPPER(@lieunaissance)
	--SET @adresse = UPPER(@adresse)
	--SET @paysnaissance = UPPER(@paysnaissance)
	--SET @paysadresse = UPPER(@paysadresse)

	SET @nbupdate = 0
	SET @nbinsert = 0

	SET @societeid = ''
	SEt @fonctionid = ''
	SET @civiliteid =''
	SET @natureid = ''
	SET @nationaliteid = ''

	if(@civilite='##')begin
		set @civilite=''
	end
	if(@nom='##')begin
		set @nom=''
	end
	if(@prenom='##')begin
		set @prenom=''
	end
	if(@nomjeunefille='##')begin
		set @nomjeunefille=''
	end
	if(@lieunaissance='##')begin
		set @lieunaissance = ''
	end
	if(@pays='##')begin
		set @pays = ''
	end
	if(@societe='##')begin
		set @societe=''
	end
	if(@fonction='##')begin
		set @fonction=''
	end
	if(@nature='##')begin
		set @nature=''
	end
	if(@adresse='##')begin
		set @adresse = ''
	end
	if(@codepostal='##')begin
		SET @codepostal = ''
	end
	if(@ville='##')begin
		SET @ville=''
	end
	if(@refimportation='##')begin
		SET @refimportation = ''
	end

	if(@immatriculation='##')begin
		set @immatriculation = ''
	end
	if(@telephone='##')begin
		SET @telephone = ''
	end
	if(@email='##')begin
		set @email=''
	end
	if(@gsm='##')begin
		set @gsm = ''
	end
	if(@fax='##')begin
		set @fax = ''
	end
	if(@societe_adresse='##')begin
		SET @societe_adresse = ''
	end
	if(@societe_siret='##')begin
		set @societe_siret = ''
	end
	if(@societe_cp='##')begin
		set @societe_cp=''
	end
	if(@societe_ville='##')begin
		set @societe_ville = ''
	end
	if(@societe_pays='##')begin
		set @societe_pays=''
	end
	if(@typeidentiteid='##')begin
		set @typeidentiteid=''
	end
	if(@delivrepar='##')begin
		set @delivrepar=''
	end
	if(@numero='##')begin
		set @numero =''
	end
	if(@nationalite='##')begin
		set @nationalite=''
	end
	if(@interdit='##')begin
		set @interdit=''
	end

	SET @nomprenom = LTRIM(@nom + ' ' + @prenom)

	EXEC PS_SOCIETE 1,'','',@societe,@societe_siret,'',@societe_adresse,@societe_cp,@societe_ville,@societe_pays,'','','','','','0', @societeid OUTPUT

	SET @societe = (SELECT nom FROM societe where societeid = (select Data from Split(@societeid,',') WHERE id = 1))

	SET @nbupdate = @nbupdate + CAST( (select Data from Split(@societeid,',') WHERE id = 3) as int)
	SET @nbinsert = @nbinsert + CAST( (select Data from Split(@societeid,',') WHERE id = 2) as int)
	SET @societeid = (select Data from Split(@societeid,',') WHERE id = 1)

	EXEC PS_FONCTION 0,'',@fonction, @fonctionid OUTPUT

	SET @fonction = (SELECT libelle FROM fonction where codefonction = CAST((select Data from Split(@fonctionid,',') WHERE id = 1) as int))

	SET @nbupdate = @nbupdate + CAST( (select Data from Split(@fonctionid,',') WHERE id = 3) as int)
	SET @nbinsert = @nbinsert + CAST( (select Data from Split(@fonctionid,',') WHERE id = 2) as int)
	SET @fonctionid = (select Data from Split(@fonctionid,',') WHERE id = 1)

	EXEC PS_CIVILITE 0,'',@civilite,@civilite, @civiliteid OUTPUT

	SET @civilite = (SELECT civilite FROM civilite where codecivilite = CAST((select Data from Split(@civiliteid,',') WHERE id = 1) as int))

	SET @nbupdate = @nbupdate + CAST( (select Data from Split(@civiliteid,',') WHERE id = 3) as int)
	SET @nbinsert = @nbinsert + CAST( (select Data from Split(@civiliteid,',') WHERE id = 2) as int)
	SET @civiliteid = (select Data from Split(@civiliteid,',') WHERE id = 1)

	EXEC PS_NATURE 0,'',@nature,'','',@interdit, @natureid OUTPUT

	SET @nbupdate = @nbupdate + CAST( (select Data from Split(@natureid,',') WHERE id = 3) as int)
	SET @nbinsert = @nbinsert + CAST( (select Data from Split(@natureid,',') WHERE id = 2) as int)
	SET @natureid = (select Data from Split(@natureid,',') WHERE id = 1)

	EXEC PS_PAYS 0,'LIBELLE',@pays,@pays,'',@nationalite, '', '','','','','','',@interdit,@debutinterdit,@fininterdit, '', '', '', '','','', @nationaliteid OUTPUT

	SET @nationalite = (SELECT libelle FROM pays where paysid = (select Data from Split(@nationaliteid,',') WHERE id = 1))

	SET @nbupdate = @nbupdate + CAST( (select Data from Split(@nationaliteid,',') WHERE id = 3) as int)
	SET @nbinsert = @nbinsert + CAST( (select Data from Split(@nationaliteid,',') WHERE id = 2) as int)
	SET @nationaliteid = (select Data from Split(@nationaliteid,',') WHERE id = 1)

	IF (@nomprenom IS NOT NULL) AND (@nomprenom<>'') BEGIN
		IF EXISTS (
		   select TOP(1) interlocuteurid FROM interlocuteur i WHERE
			  CASE
					WHEN  @champctrl='' AND UPPER(LTRIM(NOMPRENOM))=UPPER(@nomprenom) THEN 1
					WHEN  @champctrl='NOMPRENOM' AND UPPER(LTRIM(NOMPRENOM))=UPPER(@nomprenom) THEN 1
					WHEN  @champctrl='IMMATRICULATION' AND IMMATRICULATION=@immatriculation AND UPPER(LTRIM(NOMPRENOM))=UPPER(@nomprenom) THEN 1
					WHEN  @champctrl='EMAIL' AND UPPER(EMAIL)=UPPER(@email) AND UPPER(LTRIM(NOMPRENOM))=UPPER(@nomprenom) THEN 1
					ELSE 0
			  END=1)

			 BEGIN
				SET @ID=(select TOP(1) interlocuteurid FROM interlocuteur i WHERE UPPER(NOMPRENOM)=UPPER(@nomprenom)  AND
			  CASE
					WHEN  @champctrl='' THEN 1
					WHEN  @champctrl='NOMPRENOM' THEN 1
					WHEN  @champctrl='IMMATRICULATION' AND IMMATRICULATION=@immatriculation THEN 1
					WHEN  @champctrl='EMAIL' AND UPPER(EMAIL)=UPPER(@email) THEN 1
					ELSE 0
			  END = 1)

				EXEC PS_IDENTITES 1,'',@typeidentiteid,@delivrepar,@finvalidite,@numero,'',@ID,@identitieid OUTPUT

				SET @nbupdate = @nbupdate + CAST( (select Data from Split(@identitieid,',') WHERE id = 3) as int)
				SET @nbinsert = @nbinsert + CAST( (select Data from Split(@identitieid,',') WHERE id = 2) as int)
				SET @identitieid = (select Data from Split(@identitieid,',') WHERE id = 1)

				update INTERLOCUTEUR
				SET civilite = @civilite ,nom = @nom, prenom = @prenom ,nomjeunefille = @nomjeunefille,	datenaissance = @datenaissance,lieunaissance = @lieunaissance,pays_naissance = @pays,societe = @societe,fonction=@fonction,adresse = @adresse,codepostal = @codepostal,ville = @ville,refimportation = @refimportation,immatriculation = @immatriculation,telephone = @telephone,email=@email,gsm = @gsm,fax = @fax,datedernvisite=@datedernvisite,societeid=@societeid,codecivilite=CAST(@civiliteid as INT),codefonction=CAST(@fonctionid as INT),natureid=@natureid,nationaliteid=@nationaliteid
				WHERE interlocuteurid = @ID

				IF (@debutinterdit is not null) BEGIN
				update INTERLOCUTEUR SET debutinterdit = @debutinterdit where interlocuteurid=@ID
				END
				IF (@fininterdit is not null) BEGIN
				update INTERLOCUTEUR SET fininterdit = @fininterdit where interlocuteurid=@ID
				END
				IF (@finvaliditeauto is not null) BEGIN
				update INTERLOCUTEUR SET finvaliditeauto = @finvaliditeauto where interlocuteurid=@ID
				END
				IF (@interdit is not null) and (@interdit<>'') and @interdit<>'##' BEGIN
					update INTERLOCUTEUR SET interdit = @interdit where interlocuteurid=@ID
				END
				SET @nbupdate = @nbupdate+1

				Set @ID = @ID + ',' + CAST(@nbinsert as varchar) + ',' + CAST(@nbupdate as varchar)
		END
		ELSE BEGIN
			IF(@flagin = 1)BEGIN

				INSERT INTO SEQ_IDENTITY(libelle) VALUES ('OK')
				SET @identity = (SELECT @@IDENTITY AS ID)
				SET @flag = (SELECT SUBSTRING(version, 1, 3) FROM version_sfw)
				SET @ID = @flag + @identity

				EXEC PS_IDENTITES 1,'',@typeidentiteid,@delivrepar,@finvalidite,@numero,'',@ID,@identitieid OUTPUT

				SET @nbupdate = @nbupdate + CAST( (select Data from Split(@identitieid,',') WHERE id = 3) as int)
				SET @nbinsert = @nbinsert + CAST( (select Data from Split(@identitieid,',') WHERE id = 2) as int)
				SET @identitieid = (select Data from Split(@identitieid,',') WHERE id = 1)

				set @fininterdit2=@fininterdit
				set @debutinterdit2=@debutinterdit

				if(@debutinterdit2 is null) begin
					set @debutinterdit2 = CONVERT(DATETIME,CONVERT(VARCHAR,CURRENT_TIMESTAMP,103),103)
				end
				if(@fininterdit2 is null) begin
					set @fininterdit2 = CURRENT_TIMESTAMP + 36525
				end

				INSERT INTO interlocuteur(interlocuteurid, societeid, societe, codecivilite, civilite, nom, prenom, nomprenom, nomjeunefille, datenaissance, lieunaissance, pays_naissance, codefonction, fonction, natureid, nationaliteid, pays, adresse, codepostal, ville, pays_adresse, interdit, debutinterdit, fininterdit, datecreation, datemaj,immatriculation,telephone,email,gsm,fax,DATEDERNVISITE,FINVALIDITEAUTO)
					VALUES(@ID, @societeid, @societe, CAST(@civiliteid as INT), @civilite, @nom, @prenom, LTRIM(@nomprenom), @nomjeunefille, @datenaissance, @lieunaissance, @pays, CAST(@fonctionid as INT), @fonction, @natureid, @nationaliteid, @nationalite, @adresse, @codepostal, @ville, @pays, @interdit, @debutinterdit2, @fininterdit2, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP,@immatriculation,@telephone,@email,@gsm ,@fax,@datedernvisite,@finvaliditeauto)
				SET @nbinsert = @nbinsert+1
				Set @ID = @ID + ',' + CAST(@nbinsert as varchar) + ',' + CAST(@nbupdate as varchar)
				--SET @ID = '@ID'
				--if(@nbinsert is null)begin
				--	set @nbinsert = -10
				--end
				--Set @ID = @ID + ',' + CAST(@nbinsert as varchar) + ',' + CAST(@nbupdate as varchar)
			END
			ELSE BEGIN
				SEt @ID = '0,'+ CAST(@nbinsert as varchar) + ',' + CAST(@nbupdate as varchar)
			END
		END
	END
	ELSE BEGIN
		SEt @ID = '0,'+ CAST(@nbinsert as varchar) + ',' + CAST(@nbupdate as varchar)
	END

	IF(@ID='' or @ID is null) BEGIN
		set @ID = '-1,0,0'
	END
END

GO
