
/****** Object:  StoredProcedure [dbo].[PS_INSERT_IN_MAIL]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_INSERT_IN_MAIL]
 @MAILID VARCHAR(14),
 @codelgreservation VARCHAR(14),
 @PORTE_CODE VARCHAR(50),
 @NOM_SALLE VARCHAR(14),
 @SUJET_MAIL VARCHAR(120),
 @BODY_MAIL VARCHAR(4000)
AS
DECLARE @SITEID_TARGET varchar(14)
SET @SITEID_TARGET=NULL

DECLARE @SITE_TARGET varchar(35)
SET @SITE_TARGET=NULL

DECLARE @TOADDRESS_TARGET varchar(1000)

BEGIN
 IF EXISTS (SELECT SITEID FROM USERS WHERE  USERID IN (SELECT USERID FROM RESERVATION WHERE CODERESERVATION IN (SELECT CODERESERVATION FROM LGRESERVATION WHERE CODELGRESERVATION=@codelgreservation)))
 BEGIN
  SET @SITEID_TARGET=(SELECT SITEID FROM USERS WHERE  USERID IN (SELECT USERID FROM RESERVATION WHERE CODERESERVATION IN (SELECT CODERESERVATION FROM LGRESERVATION WHERE CODELGRESERVATION=@codelgreservation)))
  SET @SITE_TARGET=(SELECT SITE FROM USERS WHERE  USERID IN (SELECT USERID FROM RESERVATION WHERE CODERESERVATION IN (SELECT CODERESERVATION FROM LGRESERVATION WHERE CODELGRESERVATION=@codelgreservation)))
 END
IF EXISTS (SELECT EMAIL FROM RESIDANTS WHERE RESIDANTID IN (SELECT CODEANIMATEUR FROM RESERVATION WHERE CODERESERVATION IN (SELECT CODERESERVATION FROM LGRESERVATION WHERE CODELGRESERVATION=@codelgreservation)))
  BEGIN
    SET @TOADDRESS_TARGET=(SELECT EMAIL FROM RESIDANTS WHERE RESIDANTID IN (SELECT CODEANIMATEUR FROM RESERVATION WHERE CODERESERVATION IN (SELECT CODERESERVATION FROM LGRESERVATION WHERE CODELGRESERVATION=@codelgreservation)) )
    INSERT INTO MAIL (MAILID,SITE,SITEID,USERID,TOADDRESS,SUJET,BODY,STATUT,DATECREATION,DATEMAJ) VALUES (@MAILID,@SITE_TARGET,@SITEID_TARGET,'-1',@TOADDRESS_TARGET,@SUJET_MAIL,@BODY_MAIL,'-1',CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
    RETURN @@ROWCOUNT
  END
 ELSE BEGIN
  RETURN -1
 END
END
GO
