
/****** Object:  StoredProcedure [dbo].[PS_BATIMENT]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PS_BATIMENT]
	@flagin INT,
	@champctrl varchar(80),
	@SITEID VARCHAR(35),
	@LIBELLE varchar(35),
	@ADRESSE varchar(max),
	@ID VARCHAR(18) OUTPUT
AS
	DECLARE @flag VARCHAR(14)
	DECLARE @identity VARCHAR(14)
	DECLARE @MYSITEID VARCHAR(35)
BEGIN

	if(@SITEID='##')begin
		SET @SITEID = ''
	end
	if(@LIBELLE = '##')begin
		SET @LIBELLE = ''
	end
	if(@ADRESSE = '##')begin
		SET @ADRESSE = ''
	end

	IF EXISTS (SELECT * FROM BATIMENT WHERE BATIMENTID = @LIBELLE AND SITEID=@SITEID) BEGIN
			SET @ID=(SELECT TOP(1) BATIMENTID FROM BATIMENT  WHERE BATIMENTID = @LIBELLE AND SITEID=@SITEID)
			SET @ID = @ID+',0,0'
		END
	ELSE
	 BEGIN
	   EXEC PS_SITE 0,'',@SITEID,@MYSITEID OUTPUT
		IF @MYSITEID IS NOT NULL AND LTRIM(@MYSITEID) IS NOT NULL AND @MYSITEID<>'' BEGIN
			IF EXISTS (SELECT TOP(1) * FROM BATIMENT WHERE UPPER(LIBELLE) = UPPER(@LIBELLE) AND SITEID=@MYSITEID) BEGIN
				SET @ID = (SELECT TOP(1) BATIMENTID FROM BATIMENT WHERE UPPER(LIBELLE) = UPPER(@LIBELLE) AND SITEID=@MYSITEID)
				SET @ID= @ID+',0,0'
			END
			ELSE
				BEGIN
				IF (@LIBELLE IS NOT NULL) AND LTRIM(@LIBELLE) IS NOT NULL AND LTRIM(@LIBELLE)<>''
				BEGIN
					INSERT INTO SEQ_IDENTITY(libelle) VALUES ('OK')
					SET @identity = (SELECT @@IDENTITY AS ID)
					SET @flag = (SELECT SUBSTRING(version, 1, 3) FROM version_sfw)
					SET @ID = @flag + @identity
					INSERT INTO BATIMENT(BATIMENTID,LIBELLE,SITEID,DATECREATION,DATEMAJ,ADRESSE) values(@ID,@LIBELLE,@MYSITEID,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,@ADRESSE)
					SET @ID=@ID+ ',1,0'
				END
				ELSE BEGIN
				    SET @ID='VPARDEFAUT,0,0'
				END
			END
		END
	END
END

GO
