
/****** Object:  StoredProcedure [dbo].[PS_OMNI_CORRIGE_AGENTS]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PS_OMNI_CORRIGE_AGENTS]
AS
BEGIN
	-- Vérification des Agents et qualifications
	-- Verification des Qualifications
	INSERT INTO QPERSONNEL (PERSONNELID,QUALIFID) SELECT DISTINCT PERSONNELID,0 FROM PERSONNEL WHERE PERSONNELID NOT IN (SELECT PERSONNELID FROM QPERSONNEL)
	-- Modification des agents
	UPDATE AGENTPRESENT SET NOMPRENOM=(SELECT NOM +' '+PRENOM AS AGENT FROM PERSONNEL WHERE PERSONNELID=AGENTPRESENT.PERSONNELID)
	UPDATE AGENTPRESENT SET FONCTION=(SELECT FONCTION.LIBELLE AS FONCTION FROM PERSONNEL LEFT OUTER JOIN FONCTION ON FONCTION.CODEFONCTION=PERSONNEL.CODEFONCTION WHERE PERSONNEL.PERSONNELID=AGENTPRESENT.PERSONNELID) WHERE SURSITE = 0
	UPDATE AGENTPRESENT SET SITEID=(SELECT SITEID FROM PERSONNEL WHERE PERSONNEL.PERSONNELID=AGENTPRESENT.PERSONNELID) WHERE SITEID IS NULL
	-- Ajout des agents
	INSERT INTO AGENTPRESENT (PERSONNELID,NOMPRENOM,SURSITE,PARPRISE,FONCTION,SITEID) SELECT PERSONNELID,NOM +' '+PRENOM AS AGENT,0 AS SURSITE,0 AS PARPRISE,FONCTION.LIBELLE AS FONCTION,SITEID FROM PERSONNEL LEFT OUTER JOIN FONCTION ON FONCTION.CODEFONCTION=PERSONNEL.CODEFONCTION WHERE PERSONNELID NOT IN (SELECT PERSONNELID FROM AGENTPRESENT)
	-- Suppression des agents
	DELETE FROM AGENTPRESENT WHERE PERSONNELID NOT IN (SELECT PERSONNELID FROM PERSONNEL)
END
GO
