
/****** Object:  StoredProcedure [dbo].[PS_ZCL35_EMP_INSERTION_ID_BIO]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[PS_ZCL35_EMP_INSERTION_ID_BIO]
		@ID INT output
AS

BEGIN

	IF NOT EXISTS (SELECT * FROM ZCL35_DUMP WHERE STATUT = 0) BEGIN
		SET @ID = (SELECT MAX(DUMPID) FROM ZCL35_DUMP)
		if(@ID IS NULL) BEGIN
			SET @ID = 0
		END
		SET @ID = @ID + 1
		INSERT INTO ZCL35_DUMP(DUMPID,NUMDOIGT,DATEMAJ,DATECREATION,STATUT)
			VALUES (@ID,5,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,0)
	END ELSE BEGIN
		SET @ID = (select min(DUMPID) FROM ZCL35_DUMP WHERE STATUT = 0)
	END
END
GO
