
/****** Object:  StoredProcedure [dbo].[IMPORT_PROFIL_CTRL]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[IMPORT_PROFIL_CTRL]
	@ID VARCHAR(30),
	@PROFIL_CTRL VARCHAR(100),
	@SITEID VARCHAR(50)
AS
	DECLARE @IID VARCHAR(14)
	DECLARE @FLAG VARCHAR(14)
	DECLARE @IDENTITY VARCHAR(14)
BEGIN
	IF NOT EXISTS (SELECT PROFIL_CTRL FROM PROFIL_CTRL WHERE PROFIL_CTRLID_EXT=@ID AND SITEID=@SITEID) BEGIN
		INSERT INTO SEQ_IDENTITY(LIBELLE) VALUES ('OK')
		SET @IDENTITY = (SELECT @@IDENTITY AS ID)
		SET @FLAG = (SELECT SUBSTRING(VERSION, 1, 3) FROM VERSION_SFW)
		SET @IID = @FLAG + @IDENTITY

		INSERT INTO PROFIL_CTRL (PROFIL_CTRLID,PROFIL_CTRL,PROFIL_CTRLID_EXT,SITEID,Datecreation,Datemaj)
		VALUES(@IID,@PROFIL_CTRL,@ID,@SITEID,CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
	END
	ELSE BEGIN
		UPDATE PROFIL_CTRL SET PROFIL_CTRL=@PROFIL_CTRL,Datemaj=CURRENT_TIMESTAMP WHERE PROFIL_CTRLID_EXT=@ID AND SITEID=@SITEID
	END
END
GO
