
/****** Object:  StoredProcedure [dbo].[PS_IDENTITE_CREATION_VISITEUR]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PS_IDENTITE_CREATION_VISITEUR]
	@NOM VARCHAR(35),
	@PRENOM VARCHAR(35),
	@DATENAISSANCE DATETIME,
	@SEXE VARCHAR(1), /*F ou M*/
	@NATIONALITE VARCHAR(50), /* iso 3 */
	@ID VARCHAR(14) OUTPUT
AS
	DECLARE @NATIONALITEID VARCHAR(14)
	DECLARE @NOMJEUNEFILLE VARCHAR(35)
	DECLARE @SOCIETE VARCHAR(35)
	DECLARE @SOCIETEID VARCHAR(14)
	DECLARE @CODECIVILITE INT
	DECLARE @CIVILITE VARCHAR(30)
	DECLARE @INTERDIT VARCHAR(1)
	DECLARE @DEBUTINTERDIT DATETIME
	DECLARE @FININTERDIT DATETIME
	DECLARE @NATUREID VARCHAR(35)
	DECLARE @FLAG VARCHAR(14)
	DECLARE @IDENTITY VARCHAR(14)
	DECLARE @PAYS VARCHAR(35)
BEGIN
	SET @NOM = UPPER(@NOM)
	SET @PRENOM = @PRENOM
	SET @NATIONALITE = UPPER(@NATIONALITE)
	SET @SEXE = UPPER(@SEXE)

	INSERT INTO SEQ_IDENTITY(LIBELLE) VALUES ('OK')
	SET @IDENTITY = (SELECT @@IDENTITY AS ID)
	SET @FLAG = (SELECT SUBSTRING(VERSION, 1, 3) FROM VERSION_SFW)
	SET @ID = @FLAG + @IDENTITY

	IF EXISTS (SELECT * FROM PAYS WHERE UPPER(CODEISO3) = @NATIONALITE) BEGIN
		SET @NATIONALITEID = (SELECT TOP 1 PAYSID FROM PAYS WHERE UPPER(CODEISO3) = @NATIONALITE)
	END
	ELSE BEGIN
		SET @NATIONALITEID = 'VPARDEFAUT'
	END

	SET @PAYS = (SELECT LIBELLE FROM PAYS WHERE PAYSID = @NATIONALITEID)

	IF @SEXE = 'F' BEGIN
		SET @CODECIVILITE = 2
		SET @CIVILITE = 'Mme'
		SET @NOMJEUNEFILLE = @NOM
	END
	ELSE BEGIN
		IF @SEXE = 'M' BEGIN
			SET @CODECIVILITE = 1
			SET @CIVILITE = 'M.'
		END
	END

	SET @SOCIETEID = 'VPARDEFAUT'
	SET @SOCIETE = '**********'
	SET @INTERDIT = '0'
	SET @DEBUTINTERDIT = CONVERT(DATETIME,CONVERT(VARCHAR,CURRENT_TIMESTAMP,103),103)
	SET @FININTERDIT = CURRENT_TIMESTAMP + 36525
	SET @NATUREID = 'VPARDEFAUT'

	INSERT INTO INTERLOCUTEUR (INTERLOCUTEURID, SOCIETEID, SOCIETE, NOM, NOMJEUNEFILLE, PRENOM, NOMPRENOM, DATENAISSANCE, NATIONALITEID, PAYS, CODECIVILITE, CIVILITE, NATUREID, INTERDIT, DEBUTINTERDIT, FININTERDIT, DATECREATION, DATEMAJ)
		VALUES (@ID, @SOCIETEID, @SOCIETE, @NOM, @NOMJEUNEFILLE, @PRENOM, @NOM+' '+@PRENOM, CONVERT(DATETIME,@DATENAISSANCE,103), @NATIONALITEID, @PAYS, @CODECIVILITE, @CIVILITE, @NATUREID, @INTERDIT, CONVERT(DATETIME,@DEBUTINTERDIT,103), CONVERT(DATETIME,@FININTERDIT,103), CURRENT_TIMESTAMP, CURRENT_TIMESTAMP)
END

GO
