
/****** Object:  View [dbo].[V_PAYS]    Script Date: 05/07/2019 11:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_PAYS] AS SELECT CONVERT(VARCHAR,VALEUR) PAYSID,TEXTE LIBELLE,'A' TRI FROM TABLEREFERENCE WHERE ID='128' UNION SELECT PAYSID PAYSID,LIBELLE LIBELLE,'B' TRI FROM PAYS
GO
