
/****** Object:  View [dbo].[VUE_AGENDAMISSION]    Script Date: 05/07/2019 11:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VUE_AGENDAMISSION] (
 AGENDA_JOURID,STATUT, POSTEID,SITEID,MISSIONID, TYPE_JOUR,FINVALIDITE, JOURID,DATEOFWEEK,LIBELLE,HEURE,DUREE,TOLERANCE ) AS
  (
  SELECT  AGENDA_JOURID, AJ.STATUT, AJ.POSTEID,AJ.SITEID,AJ.MISSIONID,J.TYPE_JOUR,J.FIN_VALIDITE FINVALIDITE, J.JOURID,
	J.DATEOFWEEK,J.LIBELLE,CONVERT(DATETIME,CONVERT(VARCHAR(5),AJ.HEURE,108),103) HEURE,CONVERT(DATETIME,CONVERT(VARCHAR(5),M.DUREE,108),103) DUREE,CONVERT(DATETIME,convert(VARCHAR(5),AJ.TOLERANCE,108),103) TOLERANCE
	FROM AGENDA_JOUR AJ , MISSION M, JOUR J  WHERE M.MISSIONID=AJ.MISSIONID AND J.JOURID=AJ.JOURID AND J.JOURID =(SELECT  TOP 1 J.JOURID from JOUR J WHERE
  (DATEPART(dw,J.FIN_VALIDITE)=DATEPART(dw,CURRENT_TIMESTAMP) AND J.TYPE_JOUR IS NULL
  AND CONVERT(VARCHAR(10),J.FIN_VALIDITE,103)=CONVERT(VARCHAR(10),CURRENT_TIMESTAMP,103)) OR DATEPART(dw,CURRENT_TIMESTAMP)=J.DATEOFWEEK

  OR (J.TYPE_JOUR='AFERIE' AND CONVERT(VARCHAR(5),CURRENT_TIMESTAMP,103)=CONVERT(VARCHAR(5),J.FIN_VALIDITE,103)
  )
  ORDER BY J.TYPE_JOUR)
 )
GO
