
/****** Object:  View [dbo].[VISITES_EN_COURS]    Script Date: 05/07/2019 11:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISITES_EN_COURS] (
	VISITEID, NUMEROBADGE, FINVISITE, SITEID) AS
	(
		SELECT VISITEID, NUMEROBADGE, FINVISITE, SITEID
		FROM VISITES
		WHERE STATUTID IN (1,8,33,34)
	)
GO
