
/****** Object:  View [dbo].[VISITES_SORTIE_JOUR]    Script Date: 05/07/2019 11:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[VISITES_SORTIE_JOUR] (
	VISITEID, NUMEROBADGE, FINVISITE, SITEID) AS
	(
		SELECT V.VISITEID, V.NUMEROBADGE, V.FINVISITE, V.SITEID
		FROM VISITES V, SITE S, TYPEVISITE T
		WHERE S.SITEID=V.SITEID
		AND T.TYPEVISITEID=V.TYPEVISITEID
		AND V.STATUTID IN (1,8,33,34)
		AND S.TLMQ_SORTIE_JOUR=1
		AND T.TYPESORTIE=1
	)
GO
