
/****** Object:  View [dbo].[V_TAXI_COURSE_GROUPE]    Script Date: 05/07/2019 11:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_TAXI_COURSE_GROUPE]
AS
	SELECT C.ID_COURSE, C.SITEID, SI.LIBELLE AS 'SITE', C.ID_STATUTCOURSE, C.DATEHEUREDEPART AS 'DATEHEURE', C.DATEHEUREDEMANDE, C.DATEHEUREFIN, C.LIEUDEPART, C.OBJET, C.MOYENPAIEMENT, C.CODECLIENT, I.LIBELLE AS 'IMPUTATION', T.LIBELLE AS 'TYPEVEHICULE', C.NUMCOURSE, C.REFERENCESTAXI, A.SOCIETE AS 'COMPAGNIE', C.DELAI, S.LIBELLE AS 'STATUT', S.LIBELLE_EN AS 'STATUT_EN', S.COLOR, Z.COUNT FROM STATUTCOURSE S, IMPUTATION I, TYPEVEHICULE T, SITE SI, (SELECT COUNT(*) AS 'COUNT',ID_COURSE FROM PASSAGERTAXI GROUP BY ID_COURSE) AS Z, ADRESSE A RIGHT OUTER JOIN COURSE C ON C.ADRESSEID = A.ADRESSEID WHERE C.ID_STATUTCOURSE = S.ID_STATUTCOURSE AND Z.ID_COURSE = C.ID_COURSE AND (I.IMPUTATIONID = C.IMPUTATIONID OR C.IMPUTATIONID IS NULL) AND C.ID_TYPEVEHICULE = T.ID_TYPEVEHICULE AND SI.SITEID = C.SITEID
GO
