
/****** Object:  View [dbo].[V_ENQUETE_PAYS]    Script Date: 05/07/2019 11:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[V_ENQUETE_PAYS]  AS

SELECT P.PAYSID,P.LIBELLE,P.LIBELLEUS,
CASE WHEN  0<(SELECT COUNT(REGA.FREE2) FROM
REGLES REGP, REGLE_ACTION RA,REGLES REGA
WHERE  REGP.REGLEID=RA.REGLEID AND REGA.REGLEID=RA.ACTIONID AND REGA.TYPEREGLE='-24' AND REGP.TYPEREGLE='-1' AND (REGP.FREE1='-2' OR REGP.FREE1=P.PAYSID)
AND (REGP.NATUREVISITE='-2' OR REGP.NATUREVISITE='1') AND REGP.STATUT='1'
)
THEN 'O'
WHEN  P.PAYSID<>'VPARDEFAUT'  AND 0<(SELECT COUNT(REGA.FREE2) FROM
REGLES REGP ,REGLE_ACTION RA,REGLES REGA
WHERE  REGP.REGLEID=RA.REGLEID AND REGA.REGLEID=RA.ACTIONID AND REGA.TYPEREGLE='-24' AND REGP.TYPEREGLE='-1' AND P.LIBELLEUS='UE' AND (REGP.FREE1='-2' OR REGP.FREE1='0')
AND (REGP.NATUREVISITE='-2' OR REGP.NATUREVISITE='1') AND REGP.STATUT='1'
)
THEN 'O'
WHEN   0<(SELECT COUNT(REGA.FREE2) FROM
REGLES REGP ,REGLE_ACTION RA,REGLES REGA
WHERE  REGP.REGLEID=RA.REGLEID AND REGA.REGLEID=RA.ACTIONID AND REGA.TYPEREGLE='-24' AND REGP.TYPEREGLE='-1' AND P.LIBELLEUS ='HORS UE' AND (REGP.FREE1='-2' OR REGP.FREE1='1')
AND (REGP.NATUREVISITE='-2' OR REGP.NATUREVISITE='1') AND REGP.STATUT='1'
)
THEN 'O'
ELSE 'N' END ENQUETE_TRAVAIL,
CASE WHEN  0<(SELECT COUNT(REGA.FREE2) FROM
REGLES REGP, REGLE_ACTION RA,REGLES REGA
WHERE  REGP.REGLEID=RA.REGLEID AND REGA.REGLEID=RA.ACTIONID AND REGA.TYPEREGLE='-24' AND REGP.TYPEREGLE='-1' AND (REGP.FREE1='-2' OR REGP.FREE1=P.PAYSID)
AND (REGP.NATUREVISITE='-2' OR REGP.NATUREVISITE='0') AND REGP.STATUT='1'
)
THEN 'O'
WHEN  P.PAYSID<>'VPARDEFAUT'  AND 0<(SELECT COUNT(REGA.FREE2) FROM
REGLES REGP ,REGLE_ACTION RA,REGLES REGA
WHERE  REGP.REGLEID=RA.REGLEID AND REGA.REGLEID=RA.ACTIONID AND REGA.TYPEREGLE='-24' AND REGP.TYPEREGLE='-1' AND P.LIBELLEUS='UE' AND (REGP.FREE1='-2' OR REGP.FREE1='0')
AND (REGP.NATUREVISITE='-2' OR REGP.NATUREVISITE='0') AND REGP.STATUT='1'
)
THEN 'O'
WHEN   0<(SELECT COUNT(REGA.FREE2) FROM
REGLES REGP ,REGLE_ACTION RA,REGLES REGA
WHERE  REGP.REGLEID=RA.REGLEID AND REGA.REGLEID=RA.ACTIONID AND REGA.TYPEREGLE='-24' AND REGP.TYPEREGLE='-1' AND P.LIBELLEUS ='HORS UE' AND (REGP.FREE1='-2' OR REGP.FREE1='1')
AND (REGP.NATUREVISITE='-2' OR REGP.NATUREVISITE='0') AND REGP.STATUT='1'
)
THEN 'O'
ELSE 'N' END ENQUETE_VISITE
 FROM PAYS P
GO
