
/****** Object:  Table [dbo].[ZCL01_VISITEZO]    Script Date: 05/07/2019 11:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZCL01_VISITEZO](
	[VISITEID] [varchar](14) NULL,
	[ZONEID] [varchar](14) NULL
) ON [PRIMARY]
GO
