
/****** Object:  Table [dbo].[ZCL00]    Script Date: 05/07/2019 11:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZCL00](
	[NUMEROCLIENT] [varchar](50) NULL
) ON [PRIMARY]
GO
