
/****** Object:  Table [dbo].[TAG_RONDE]    Script Date: 05/07/2019 11:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TAG_RONDE](
	[TAGID] [int] NOT NULL,
	[RONDEID] [int] NOT NULL,
	[ORDRE] [int] NULL
) ON [PRIMARY]
GO
