
/****** Object:  Table [dbo].[ZCL01_VISITERE]    Script Date: 05/07/2019 11:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZCL01_VISITERE](
	[EXTERNALID] [varchar](14) NULL,
	[RESIDANTID] [varchar](14) NULL
) ON [PRIMARY]
GO
