
/****** Object:  Table [dbo].[SN_TYPE_TRACE]    Script Date: 05/07/2019 11:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SN_TYPE_TRACE](
	[CODE] [int] NULL,
	[LIBELLE] [varchar](50) NULL
) ON [PRIMARY]
GO
