
/****** Object:  Table [dbo].[CONSTEMP_POSTE]    Script Date: 05/07/2019 11:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSTEMP_POSTE](
	[CONSIGNETEMPID] [int] NULL,
	[POSTEID] [int] NULL
) ON [PRIMARY]
GO
