
/****** Object:  Table [dbo].[OMNI_PARAM]    Script Date: 05/07/2019 11:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OMNI_PARAM](
	[PARAMACCES] [int] NULL,
	[OPTION_NBJMC] [int] NULL,
	[OPTION_NBJMI] [int] NULL,
	[OPTION_DUBIP] [int] NULL,
	[OPTION_BIPLONG] [int] NULL,
	[SEPARATEUR] [varchar](15) NULL,
	[OPTION_AVMISS] [int] NULL,
	[OPTION_TIMER_MISSION] [int] NULL,
	[OPTION_PASSWORD] [int] NULL,
	[CARTEPRO_CTRL] [int] NULL,
	[CARTEPRO_NBJ] [int] NULL,
	[MC_FILTRAGE] [int] NULL,
	[PASS_SENSIBLE] [int] NULL,
	[STATION_POSTE_ONLY] [int] NULL,
	[STATION_ALERT_LOCK] [int] NULL,
	[ALERT_NOLOCK] [int] NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[OMNI_PARAM] ADD  DEFAULT ((0)) FOR [CARTEPRO_CTRL]
GO
ALTER TABLE [dbo].[OMNI_PARAM] ADD  DEFAULT ((0)) FOR [CARTEPRO_NBJ]
GO
