
/****** Object:  Table [dbo].[ZCL09_PERSONNEID_BDG]    Script Date: 05/07/2019 11:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZCL09_PERSONNEID_BDG](
	[PERSONNEID] [varchar](14) NULL,
	[NUMEROBADGE] [varchar](50) NULL
) ON [PRIMARY]
GO
