
/****** Object:  Table [dbo].[TARIFSALLE]    Script Date: 05/07/2019 11:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TARIFSALLE](
	[CODESALLE] [varchar](14) NOT NULL,
	[CODETYPETARIF] [varchar](14) NOT NULL,
	[PRIX] [float] NOT NULL,
	[CODETVA] [varchar](14) NULL,
	[TAUXTVA] [float] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_CODESALLETYPETARIF] PRIMARY KEY CLUSTERED
(
	[CODESALLE] ASC,
	[CODETYPETARIF] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
