
/****** Object:  Table [dbo].[STATUTVISITE]    Script Date: 05/07/2019 11:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUTVISITE](
	[STATUTID] [int] NOT NULL,
	[STATUTVISITE] [varchar](50) NULL,
 CONSTRAINT [PK_STATUTID] PRIMARY KEY CLUSTERED
(
	[STATUTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
