
/****** Object:  Table [dbo].[TQ_COMMUNE]    Script Date: 05/07/2019 11:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TQ_COMMUNE](
	[VALIDATION_RESID] [varchar](10) NULL,
	[NOM_IMG_DEF] [varchar](100) NULL,
	[HAUTEUR] [int] NULL,
	[LARGEUR] [int] NULL,
	[PERMIS_TRAVAIL] [int] NULL,
	[PARAM_ALTAIR] [int] NULL,
	[TITRE] [varchar](50) NULL,
	[BDG_FREE1] [varchar](20) NULL,
	[BDG_FREE2] [varchar](20) NULL,
	[BDG_FREE3] [varchar](20) NULL,
	[BDG_FREE4] [varchar](20) NULL,
	[BDG_FREE5] [varchar](20) NULL,
	[BDG_FREE6] [varchar](20) NULL,
	[BDG_FREE7] [varchar](20) NULL,
	[BDG_FREE8] [varchar](20) NULL,
	[BDG_FREE9] [varchar](20) NULL,
	[PLANS_FREE1] [varchar](20) NULL,
	[PLANS_FREE2] [varchar](20) NULL,
	[PLANS_FREE3] [varchar](20) NULL,
	[PLANS_FREE4] [varchar](20) NULL,
	[PLANS_FREE5] [varchar](20) NULL,
	[PLANS_FREE6] [varchar](20) NULL,
	[PLANS_FREE7] [varchar](20) NULL,
	[PLANS_FREE8] [varchar](20) NULL,
	[PLANS_FREE9] [varchar](20) NULL,
	[BDG_RESID_FREE1] [varchar](20) NULL,
	[BDG_RESID_FREE2] [varchar](20) NULL,
	[BDG_RESID_FREE3] [varchar](20) NULL,
	[BDG_RESID_FREE4] [varchar](20) NULL,
	[BDG_RESID_FREE5] [varchar](20) NULL,
	[BDG_RESID_FREE6] [varchar](20) NULL,
	[BDG_RESID_FREE7] [varchar](20) NULL,
	[BDG_RESID_FREE8] [varchar](20) NULL,
	[BDG_RESID_FREE9] [varchar](20) NULL,
	[IMPORTATION] [int] NULL,
	[CRYPTAGE] [varchar](1) NULL,
	[MODIF_VISITEUR_PREENREG] [int] NULL,
	[MODIF_VISITEUR_ENCOURS] [int] NULL,
	[MODIF_VISITEUR_TERMINE] [int] NULL,
	[ANNUAIRE] [int] NULL,
	[ANNUAIRE_URL] [varchar](250) NULL,
	[UTILISATION_OBS_VISITEUR] [int] NULL,
	[MODIF_OBS_VISITEUR] [int] NULL,
	[CTLVISI] [int] NULL,
	[CTLVISI_NB] [int] NULL,
	[CTLVISI_QUOI] [int] NULL,
	[CTLVISI_XJ] [int] NULL,
	[CTLVISI_DEPUIS] [datetime] NULL,
	[CTLVISI_MSG] [varchar](200) NULL,
	[CTLVISI_BLC] [int] NULL,
	[CRTL_LIMITE_DATE_FIN] [int] NULL,
	[TIMER_SORTIE_VISITEUR] [int] NULL,
	[EXPIRATIONPWD] [int] NULL,
	[JOURSPWD] [int] NULL,
	[CONNEXIONPWD] [int] NULL,
	[DECOMPTEPWD] [int] NULL,
	[DECOMPTEJOURSPWD] [int] NULL,
	[PRIORITE_INTERDIT] [int] NULL,
	[PARAM_DIVERS] [varchar](4000) NULL,
	[PERIPH_ACQUI_LISTE] [int] NULL,
	[PERIPH_ACQUI_MAJ_INFOS] [int] NULL,
	[TRANCHE_HORAIRE_STATS] [varchar](14) NULL,
	[VISITE_SITERESID] [int] NULL,
	[URL_TAXI] [varchar](200) NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TQ_COMMUNE] ADD  DEFAULT ((0)) FOR [EXPIRATIONPWD]
GO
ALTER TABLE [dbo].[TQ_COMMUNE] ADD  DEFAULT ((0)) FOR [CONNEXIONPWD]
GO
ALTER TABLE [dbo].[TQ_COMMUNE] ADD  DEFAULT ((0)) FOR [DECOMPTEPWD]
GO
ALTER TABLE [dbo].[TQ_COMMUNE] ADD  DEFAULT ((0)) FOR [VISITE_SITERESID]
GO
