
/****** Object:  Table [dbo].[LGRESERVATION_RESSOURCE]    Script Date: 05/07/2019 11:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LGRESERVATION_RESSOURCE](
	[CODERESERVATION] [varchar](14) NOT NULL,
	[CODESALLE] [varchar](14) NOT NULL,
	[CODESTATUT] [varchar](14) NULL,
	[CODELGRESERVATION] [varchar](14) NOT NULL,
	[CODEAMMENAGEMENT] [varchar](14) NULL,
	[DATEDEBUT] [datetime] NOT NULL,
	[DATEFIN] [datetime] NOT NULL,
	[NBJOURS] [int] NULL,
	[PRIX] [float] NULL,
	[CODETYPETARIF] [varchar](14) NULL,
	[HEUREDEBUT] [datetime] NULL,
	[HEUREFIN] [datetime] NULL,
	[HEURECONTINU] [int] NULL,
	[REMISE] [float] NULL,
	[LIBELLESALLE] [varchar](35) NOT NULL,
	[NOSALLE] [varchar](15) NULL,
	[PRIXCLIENT] [float] NULL,
	[WIZARD] [int] NULL,
	[CAPACITE] [int] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
	[CODESALLEASS] [varchar](14) NULL,
	[PORTE_CODE] [varchar](50) NULL,
	[PAYANT] [int] NULL,
PRIMARY KEY CLUSTERED
(
	[CODELGRESERVATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LGRESERVATION_RESSOURCE] ADD  DEFAULT ((0)) FOR [PAYANT]
GO
