
/****** Object:  Table [dbo].[ZCL01_BA]    Script Date: 05/07/2019 11:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZCL01_BA](
	[NUMBDG] [varchar](200) NOT NULL,
	[CODSIT] [varchar](3) NULL,
	[CODIND] [varchar](20) NULL,
	[TYPSAI] [varchar](1) NULL
) ON [PRIMARY]
GO
