
/****** Object:  Table [dbo].[JRAPPORT]    Script Date: 05/07/2019 11:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JRAPPORT](
	[JOURNALID] [int] NULL,
	[RAPPORTID] [int] NULL,
	[EVENEMENTID] [int] NULL,
	[REF] [varchar](20) NULL,
	[MISSIONID] [int] NULL,
	[CLOTURER] [int] NULL
) ON [PRIMARY]
GO
