
/****** Object:  Table [dbo].[ZCL05_BADGE]    Script Date: 05/07/2019 11:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZCL05_BADGE](
	[NUMBADGE] [varchar](50) NULL,
	[CODEBADGE] [varchar](50) NULL,
	[DATECREATION] [datetime] NULL
) ON [PRIMARY]
GO
