
/****** Object:  Table [dbo].[ZCL01_LECTEURS]    Script Date: 05/07/2019 11:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZCL01_LECTEURS](
	[LE_CIRCUI] [varchar](8) NOT NULL,
	[LE_DESCRI] [varchar](50) NULL,
	[NSMI] [int] NULL
) ON [PRIMARY]
GO
