
/****** Object:  Table [dbo].[MAIL_OFICHIER]    Script Date: 05/07/2019 11:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAIL_OFICHIER](
	[MAILID] [varchar](14) NULL,
	[OFICHIERID] [int] NULL
) ON [PRIMARY]
GO
