
/****** Object:  Table [dbo].[SOCIETE_LOCALISATION]    Script Date: 05/07/2019 11:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOCIETE_LOCALISATION](
	[SOCIETEID] [varchar](14) NULL,
	[LOCALISATIONID] [int] NULL
) ON [PRIMARY]
GO
