
/****** Object:  Table [dbo].[GRPEVENEMENT_POSTE]    Script Date: 05/07/2019 11:18:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRPEVENEMENT_POSTE](
	[GRPEVENEMENTID] [int] NOT NULL,
	[POSTEID] [int] NOT NULL
) ON [PRIMARY]
GO
