
/****** Object:  Table [dbo].[CONSTEMP_AGENT]    Script Date: 05/07/2019 11:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSTEMP_AGENT](
	[CONSIGNETEMPID] [int] NULL,
	[PERSONNELID] [int] NULL
) ON [PRIMARY]
GO
