
/****** Object:  Table [dbo].[MISSION_AGENT]    Script Date: 05/07/2019 11:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MISSION_AGENT](
	[MISSIONID] [int] NULL,
	[PERSONNELID] [int] NULL
) ON [PRIMARY]
GO
