
/****** Object:  Table [dbo].[PROFILESMV]    Script Date: 05/07/2019 11:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFILESMV](
	[PROFILESMVID] [varchar](14) NOT NULL,
	[CLASSID] [int] NULL,
	[CLASSNAME] [varchar](24) NULL,
	[ZHGLEC1] [varchar](2) NULL,
	[ZHGLEC2] [varchar](2) NULL,
	[ZHGLEC3] [varchar](2) NULL,
	[ZHGLEC4] [varchar](2) NULL,
	[ZHGLEC5] [varchar](2) NULL,
	[ZHGLEC6] [varchar](2) NULL,
	[ZHGLEC7] [varchar](2) NULL,
	[ZHGLEC8] [varchar](2) NULL,
	[NUMLEC1] [varchar](8) NULL,
	[NUMLEC2] [varchar](8) NULL,
	[ZH1] [varchar](2) NULL,
	[ZH2] [varchar](2) NULL,
	[ACTLEC1] [varchar](4) NULL,
	[ACTLEC2] [varchar](4) NULL,
	[ACTGRP1] [varchar](4) NULL,
	[LIBELLE] [varchar](200) NULL,
	[IFAMILLE] [varchar](24) NULL,
	[IFAMILLEID] [varchar](24) NULL,
	[ISERVICE] [varchar](24) NULL,
	[SERVICE] [varchar](35) NULL,
	[SERVICEID] [varchar](14) NULL,
	[IFAMILLE2] [varchar](24) NULL,
	[IFAMILLEID2] [varchar](24) NULL,
	[CLASSID2] [int] NULL,
	[CLASSNAME2] [varchar](24) NULL,
	[ZHGLEC12] [varchar](2) NULL,
	[ZHGLEC22] [varchar](2) NULL,
	[ZHGLEC32] [varchar](2) NULL,
	[ZHGLEC42] [varchar](2) NULL,
	[ZHGLEC52] [varchar](2) NULL,
	[ZHGLEC62] [varchar](2) NULL,
	[ZHGLEC72] [varchar](2) NULL,
	[ZHGLEC82] [varchar](2) NULL,
	[NUMLEC12] [varchar](8) NULL,
	[NUMLEC22] [varchar](8) NULL,
	[ZH12] [varchar](2) NULL,
	[ZH22] [varchar](2) NULL,
	[ACTLEC12] [varchar](4) NULL,
	[ACTLEC22] [varchar](4) NULL,
	[ACTGRP12] [varchar](4) NULL,
	[IFAMILLE3] [varchar](24) NULL,
	[IFAMILLEID3] [varchar](24) NULL,
	[CLASSID3] [int] NULL,
	[CLASSNAME3] [varchar](24) NULL,
	[ZHGLEC13] [varchar](2) NULL,
	[ZHGLEC23] [varchar](2) NULL,
	[ZHGLEC33] [varchar](2) NULL,
	[ZHGLEC43] [varchar](2) NULL,
	[ZHGLEC53] [varchar](2) NULL,
	[ZHGLEC63] [varchar](2) NULL,
	[ZHGLEC73] [varchar](2) NULL,
	[ZHGLEC83] [varchar](2) NULL,
	[NUMLEC13] [varchar](8) NULL,
	[NUMLEC23] [varchar](8) NULL,
	[ZH13] [varchar](2) NULL,
	[ZH23] [varchar](2) NULL,
	[ACTLEC13] [varchar](4) NULL,
	[ACTLEC23] [varchar](4) NULL,
	[ACTGRP13] [varchar](4) NULL,
	[IFAMILLE4] [varchar](24) NULL,
	[IFAMILLEID4] [varchar](24) NULL,
	[CLASSID4] [int] NULL,
	[CLASSNAME4] [varchar](24) NULL,
	[ZHGLEC14] [varchar](2) NULL,
	[ZHGLEC24] [varchar](2) NULL,
	[ZHGLEC34] [varchar](2) NULL,
	[ZHGLEC44] [varchar](2) NULL,
	[ZHGLEC54] [varchar](2) NULL,
	[ZHGLEC64] [varchar](2) NULL,
	[ZHGLEC74] [varchar](2) NULL,
	[ZHGLEC84] [varchar](2) NULL,
	[NUMLEC14] [varchar](8) NULL,
	[NUMLEC24] [varchar](8) NULL,
	[ZH14] [varchar](2) NULL,
	[ZH24] [varchar](2) NULL,
	[ACTLEC14] [varchar](4) NULL,
	[ACTLEC24] [varchar](4) NULL,
	[ACTGRP14] [varchar](4) NULL,
	[IFAMILLE5] [varchar](24) NULL,
	[IFAMILLEID5] [varchar](24) NULL,
	[CLASSID5] [int] NULL,
	[CLASSNAME5] [varchar](24) NULL,
	[ZHGLEC15] [varchar](2) NULL,
	[ZHGLEC25] [varchar](2) NULL,
	[ZHGLEC35] [varchar](2) NULL,
	[ZHGLEC45] [varchar](2) NULL,
	[ZHGLEC55] [varchar](2) NULL,
	[ZHGLEC65] [varchar](2) NULL,
	[ZHGLEC75] [varchar](2) NULL,
	[ZHGLEC85] [varchar](2) NULL,
	[NUMLEC15] [varchar](8) NULL,
	[NUMLEC25] [varchar](8) NULL,
	[ZH15] [varchar](2) NULL,
	[ZH25] [varchar](2) NULL,
	[ACTLEC15] [varchar](4) NULL,
	[ACTLEC25] [varchar](4) NULL,
	[ACTGRP15] [varchar](4) NULL,
	[IFAMILLE6] [varchar](24) NULL,
	[IFAMILLEID6] [varchar](24) NULL,
	[CLASSID6] [int] NULL,
	[CLASSNAME6] [varchar](24) NULL,
	[ZHGLEC16] [varchar](2) NULL,
	[ZHGLEC26] [varchar](2) NULL,
	[ZHGLEC36] [varchar](2) NULL,
	[ZHGLEC46] [varchar](2) NULL,
	[ZHGLEC56] [varchar](2) NULL,
	[ZHGLEC66] [varchar](2) NULL,
	[ZHGLEC76] [varchar](2) NULL,
	[ZHGLEC86] [varchar](2) NULL,
	[NUMLEC16] [varchar](8) NULL,
	[NUMLEC26] [varchar](8) NULL,
	[ZH16] [varchar](2) NULL,
	[ZH26] [varchar](2) NULL,
	[ACTLEC16] [varchar](4) NULL,
	[ACTLEC26] [varchar](4) NULL,
	[ACTGRP16] [varchar](4) NULL,
	[IFAMILLE7] [varchar](24) NULL,
	[IFAMILLEID7] [varchar](24) NULL,
	[CLASSID7] [int] NULL,
	[CLASSNAME7] [varchar](24) NULL,
	[ZHGLEC17] [varchar](2) NULL,
	[ZHGLEC27] [varchar](2) NULL,
	[ZHGLEC37] [varchar](2) NULL,
	[ZHGLEC47] [varchar](2) NULL,
	[ZHGLEC57] [varchar](2) NULL,
	[ZHGLEC67] [varchar](2) NULL,
	[ZHGLEC77] [varchar](2) NULL,
	[ZHGLEC87] [varchar](2) NULL,
	[NUMLEC17] [varchar](8) NULL,
	[NUMLEC27] [varchar](8) NULL,
	[ZH17] [varchar](2) NULL,
	[ZH27] [varchar](2) NULL,
	[ACTLEC17] [varchar](4) NULL,
	[ACTLEC27] [varchar](4) NULL,
	[ACTGRP17] [varchar](4) NULL,
	[IFAMILLE8] [varchar](24) NULL,
	[IFAMILLEID8] [varchar](24) NULL,
	[CLASSID8] [int] NULL,
	[CLASSNAME8] [varchar](24) NULL,
	[ZHGLEC18] [varchar](2) NULL,
	[ZHGLEC28] [varchar](2) NULL,
	[ZHGLEC38] [varchar](2) NULL,
	[ZHGLEC48] [varchar](2) NULL,
	[ZHGLEC58] [varchar](2) NULL,
	[ZHGLEC68] [varchar](2) NULL,
	[ZHGLEC78] [varchar](2) NULL,
	[ZHGLEC88] [varchar](2) NULL,
	[NUMLEC18] [varchar](8) NULL,
	[NUMLEC28] [varchar](8) NULL,
	[ZH18] [varchar](2) NULL,
	[ZH28] [varchar](2) NULL,
	[ACTLEC18] [varchar](4) NULL,
	[ACTLEC28] [varchar](4) NULL,
	[ACTGRP18] [varchar](4) NULL,
	[IFAMILLE9] [varchar](24) NULL,
	[IFAMILLEID9] [varchar](24) NULL,
	[CLASSID9] [int] NULL,
	[CLASSNAME9] [varchar](24) NULL,
	[ZHGLEC19] [varchar](2) NULL,
	[ZHGLEC29] [varchar](2) NULL,
	[ZHGLEC39] [varchar](2) NULL,
	[ZHGLEC49] [varchar](2) NULL,
	[ZHGLEC59] [varchar](2) NULL,
	[ZHGLEC69] [varchar](2) NULL,
	[ZHGLEC79] [varchar](2) NULL,
	[ZHGLEC89] [varchar](2) NULL,
	[NUMLEC19] [varchar](8) NULL,
	[NUMLEC29] [varchar](8) NULL,
	[ZH19] [varchar](2) NULL,
	[ZH29] [varchar](2) NULL,
	[ACTLEC19] [varchar](4) NULL,
	[ACTLEC29] [varchar](4) NULL,
	[ACTGRP19] [varchar](4) NULL,
	[IFAMILLE10] [varchar](24) NULL,
	[IFAMILLEID10] [varchar](24) NULL,
	[CLASSID10] [int] NULL,
	[CLASSNAME10] [varchar](24) NULL,
	[ZHGLEC110] [varchar](2) NULL,
	[ZHGLEC210] [varchar](2) NULL,
	[ZHGLEC310] [varchar](2) NULL,
	[ZHGLEC410] [varchar](2) NULL,
	[ZHGLEC510] [varchar](2) NULL,
	[ZHGLEC610] [varchar](2) NULL,
	[ZHGLEC710] [varchar](2) NULL,
	[ZHGLEC810] [varchar](2) NULL,
	[NUMLEC110] [varchar](8) NULL,
	[NUMLEC210] [varchar](8) NULL,
	[ZH110] [varchar](2) NULL,
	[ZH210] [varchar](2) NULL,
	[ACTLEC110] [varchar](4) NULL,
	[ACTLEC210] [varchar](4) NULL,
	[ACTGRP110] [varchar](4) NULL,
	[IFAMILLE11] [varchar](24) NULL,
	[IFAMILLEID11] [varchar](24) NULL,
	[CLASSID11] [int] NULL,
	[CLASSNAME11] [varchar](24) NULL,
	[ZHGLEC111] [varchar](2) NULL,
	[ZHGLEC211] [varchar](2) NULL,
	[ZHGLEC311] [varchar](2) NULL,
	[ZHGLEC411] [varchar](2) NULL,
	[ZHGLEC511] [varchar](2) NULL,
	[ZHGLEC611] [varchar](2) NULL,
	[ZHGLEC711] [varchar](2) NULL,
	[ZHGLEC811] [varchar](2) NULL,
	[NUMLEC111] [varchar](8) NULL,
	[NUMLEC211] [varchar](8) NULL,
	[ZH111] [varchar](2) NULL,
	[ZH211] [varchar](2) NULL,
	[ACTLEC111] [varchar](4) NULL,
	[ACTLEC211] [varchar](4) NULL,
	[ACTGRP111] [varchar](4) NULL,
	[IFAMILLE12] [varchar](24) NULL,
	[IFAMILLEID12] [varchar](24) NULL,
	[CLASSID12] [int] NULL,
	[CLASSNAME12] [varchar](24) NULL,
	[ZHGLEC112] [varchar](2) NULL,
	[ZHGLEC212] [varchar](2) NULL,
	[ZHGLEC312] [varchar](2) NULL,
	[ZHGLEC412] [varchar](2) NULL,
	[ZHGLEC512] [varchar](2) NULL,
	[ZHGLEC612] [varchar](2) NULL,
	[ZHGLEC712] [varchar](2) NULL,
	[ZHGLEC812] [varchar](2) NULL,
	[NUMLEC112] [varchar](8) NULL,
	[NUMLEC212] [varchar](8) NULL,
	[ZH112] [varchar](2) NULL,
	[ZH212] [varchar](2) NULL,
	[ACTLEC112] [varchar](4) NULL,
	[ACTLEC212] [varchar](4) NULL,
	[ACTGRP112] [varchar](4) NULL,
	[IFAMILLE13] [varchar](24) NULL,
	[IFAMILLEID13] [varchar](24) NULL,
	[CLASSID13] [int] NULL,
	[CLASSNAME13] [varchar](24) NULL,
	[ZHGLEC113] [varchar](2) NULL,
	[ZHGLEC213] [varchar](2) NULL,
	[ZHGLEC313] [varchar](2) NULL,
	[ZHGLEC413] [varchar](2) NULL,
	[ZHGLEC513] [varchar](2) NULL,
	[ZHGLEC613] [varchar](2) NULL,
	[ZHGLEC713] [varchar](2) NULL,
	[ZHGLEC813] [varchar](2) NULL,
	[NUMLEC113] [varchar](8) NULL,
	[NUMLEC213] [varchar](8) NULL,
	[ZH113] [varchar](2) NULL,
	[ZH213] [varchar](2) NULL,
	[ACTLEC113] [varchar](4) NULL,
	[ACTLEC213] [varchar](4) NULL,
	[ACTGRP113] [varchar](4) NULL,
	[IFAMILLE14] [varchar](24) NULL,
	[IFAMILLEID14] [varchar](24) NULL,
	[CLASSID14] [int] NULL,
	[CLASSNAME14] [varchar](24) NULL,
	[ZHGLEC114] [varchar](2) NULL,
	[ZHGLEC214] [varchar](2) NULL,
	[ZHGLEC314] [varchar](2) NULL,
	[ZHGLEC414] [varchar](2) NULL,
	[ZHGLEC514] [varchar](2) NULL,
	[ZHGLEC614] [varchar](2) NULL,
	[ZHGLEC714] [varchar](2) NULL,
	[ZHGLEC814] [varchar](2) NULL,
	[NUMLEC114] [varchar](8) NULL,
	[NUMLEC214] [varchar](8) NULL,
	[ZH114] [varchar](2) NULL,
	[ZH214] [varchar](2) NULL,
	[ACTLEC114] [varchar](4) NULL,
	[ACTLEC214] [varchar](4) NULL,
	[ACTGRP114] [varchar](4) NULL,
	[IFAMILLE15] [varchar](24) NULL,
	[IFAMILLEID15] [varchar](24) NULL,
	[CLASSID15] [int] NULL,
	[CLASSNAME15] [varchar](24) NULL,
	[ZHGLEC115] [varchar](2) NULL,
	[ZHGLEC215] [varchar](2) NULL,
	[ZHGLEC315] [varchar](2) NULL,
	[ZHGLEC415] [varchar](2) NULL,
	[ZHGLEC515] [varchar](2) NULL,
	[ZHGLEC615] [varchar](2) NULL,
	[ZHGLEC715] [varchar](2) NULL,
	[ZHGLEC815] [varchar](2) NULL,
	[NUMLEC115] [varchar](8) NULL,
	[NUMLEC215] [varchar](8) NULL,
	[ZH115] [varchar](2) NULL,
	[ZH215] [varchar](2) NULL,
	[ACTLEC115] [varchar](4) NULL,
	[ACTLEC215] [varchar](4) NULL,
	[ACTGRP115] [varchar](4) NULL,
	[IFAMILLE16] [varchar](24) NULL,
	[IFAMILLEID16] [varchar](24) NULL,
	[CLASSID16] [int] NULL,
	[CLASSNAME16] [varchar](24) NULL,
	[ZHGLEC116] [varchar](2) NULL,
	[ZHGLEC216] [varchar](2) NULL,
	[ZHGLEC316] [varchar](2) NULL,
	[ZHGLEC416] [varchar](2) NULL,
	[ZHGLEC516] [varchar](2) NULL,
	[ZHGLEC616] [varchar](2) NULL,
	[ZHGLEC716] [varchar](2) NULL,
	[ZHGLEC816] [varchar](2) NULL,
	[NUMLEC116] [varchar](8) NULL,
	[NUMLEC216] [varchar](8) NULL,
	[ZH116] [varchar](2) NULL,
	[ZH216] [varchar](2) NULL,
	[ACTLEC116] [varchar](4) NULL,
	[ACTLEC216] [varchar](4) NULL,
	[ACTGRP116] [varchar](4) NULL,
	[DEFAUT] [varchar](1) NULL,
	[NSMI] [int] NULL,
	[DATECREATION] [datetime] NULL,
	[DATEMAJ] [datetime] NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_PROFILESMVID] PRIMARY KEY CLUSTERED
(
	[PROFILESMVID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
