
/****** Object:  Table [dbo].[ZCTRL_FIL_EAU]    Script Date: 05/07/2019 11:18:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZCTRL_FIL_EAU](
	[ID] [int] NOT NULL,
	[CTRLID] [varchar](30) NULL,
	[CTRLDATE] [datetime] NULL,
	[BADGE] [varchar](20) NULL,
	[CTRLDESC] [varchar](50) NULL,
	[CTRLREADER] [varchar](50) NULL,
	[CTRLEVENT] [varchar](50) NULL,
	[CTRLREADERID] [varchar](20) NULL,
	[CTRLPROFIL] [varchar](100) NULL,
	[INTERLOCUTEURID] [varchar](20) NULL,
	[NOMPRENOM] [varchar](100) NULL,
	[SOCIETE] [varchar](100) NULL,
	[INTERLOCUTEURSTATUT] [varchar](50) NULL,
	[RESIDANTSOCIETELIB] [varchar](100) NULL,
	[RESIDANTSOCIETEID] [varchar](20) NULL,
	[SITEID] [varchar](20) NULL,
	[SITELIBELLE] [varchar](50) NULL,
	[TICKET] [varchar](50) NULL,
	[LOCALISATION] [varchar](4000) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NULL,
	[DATESYNCHRO] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
