
/****** Object:  Table [dbo].[OCONSIGNE_POSTE]    Script Date: 05/07/2019 11:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCONSIGNE_POSTE](
	[OCONSIGNEID] [int] NOT NULL,
	[POSTEID] [int] NOT NULL
) ON [PRIMARY]
GO
