
/****** Object:  Table [dbo].[DROITS]    Script Date: 05/07/2019 11:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DROITS](
	[RESIDANTID] [varchar](14) NOT NULL,
	[DELEGATIONID] [varchar](14) NOT NULL,
	[CREATION] [varchar](1) NULL,
	[MODIFICATION] [varchar](1) NULL,
	[SUPPRESSION] [varchar](1) NULL,
	[APPLI] [varchar](80) NULL,
	[DIVERSACCES] [int] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[RESIDANTID] ASC,
	[DELEGATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DROITS]  WITH CHECK ADD  CONSTRAINT [fk_Droit_resiid] FOREIGN KEY([RESIDANTID])
REFERENCES [dbo].[RESIDANTS] ([RESIDANTID])
GO
ALTER TABLE [dbo].[DROITS] CHECK CONSTRAINT [fk_Droit_resiid]
GO
