
/****** Object:  Table [dbo].[REGLES]    Script Date: 05/07/2019 11:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGLES](
	[REGLEID] [int] NOT NULL,
	[LIBELLE] [varchar](50) NULL,
	[RANGREGLE] [int] NULL,
	[TYPEVISITE] [int] NULL,
	[TYPEACTION] [int] NULL,
	[ACTIONBLOQUANTE] [int] NULL,
	[TYPEREGLE] [int] NULL,
	[FREE1] [varchar](35) NULL,
	[FREE2] [int] NULL,
	[FREE3] [varchar](35) NULL,
	[FREE4] [int] NULL,
	[FREE5] [int] NULL,
	[FREE6] [int] NULL,
	[FREE7] [varchar](35) NULL,
	[MESSAGE] [varchar](100) NULL,
	[FREE8] [varchar](100) NULL,
	[MESSAGEACC] [varchar](100) NULL,
	[SITEID] [varchar](14) NULL,
	[PERIODE] [varchar](35) NULL,
	[DUREE] [varchar](35) NULL,
	[FLAG_TIC] [int] NULL,
	[STATUT] [int] NULL,
	[NATUREVISITE] [varchar](14) NULL,
	[BYPASS] [int] NULL,
	[CATEGORIE] [varchar](30) NULL,
	[GRPVALIDEURID] [int] NULL,
	[DATECREATION] [datetime] NULL,
	[DATEMAJ] [datetime] NULL,
	[DATESYNCHRO] [datetime] NULL,
	[RANGREGLE_GES] [int] NULL,
PRIMARY KEY CLUSTERED
(
	[REGLEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[REGLES] ADD  DEFAULT ((0)) FOR [FREE5]
GO
ALTER TABLE [dbo].[REGLES] ADD  DEFAULT ((0)) FOR [FREE6]
GO
ALTER TABLE [dbo].[REGLES] ADD  DEFAULT ((0)) FOR [FLAG_TIC]
GO
ALTER TABLE [dbo].[REGLES] ADD  DEFAULT ((1)) FOR [STATUT]
GO
ALTER TABLE [dbo].[REGLES] ADD  DEFAULT ('-2') FOR [NATUREVISITE]
GO
