
/****** Object:  Table [dbo].[ZCL09_ID]    Script Date: 05/07/2019 11:18:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZCL09_ID](
	[ID] [int] NULL
) ON [PRIMARY]
GO
