
/****** Object:  Table [dbo].[BADGES]    Script Date: 05/07/2019 11:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BADGES](
	[BADGEID] [varchar](14) NOT NULL,
	[EXTERNALID] [varchar](24) NULL,
	[LIBELLE] [varchar](35) NULL,
	[FORMAT] [image] NULL,
	[OBSERVATION] [image] NULL,
	[HAUTEUR] [int] NULL,
	[LARGEUR] [int] NULL,
	[STATUT] [int] NULL,
	[SITEID] [varchar](14) NULL,
	[STATUTVISITEURID] [varchar](14) NULL,
	[TYPEVISITEID] [int] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_BADGEID] PRIMARY KEY CLUSTERED
(
	[BADGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BADGES] ADD  DEFAULT ((1)) FOR [STATUT]
GO
