
/****** Object:  Table [dbo].[VISITES_EXT_L]    Script Date: 05/07/2019 11:18:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VISITES_EXT_L](
	[VISITEID_ANCIEN] [varchar](14) NULL,
	[VISITEID_NOUVEAU] [varchar](14) NULL
) ON [PRIMARY]
GO
