
/****** Object:  Table [dbo].[PERSONNE_ACX_LOG]    Script Date: 05/07/2019 11:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONNE_ACX_LOG](
	[PERSONNEID] [int] IDENTITY(1,1) NOT NULL,
	[TYPEPERSONNE] [varchar](20) NULL,
	[NOM] [varchar](70) NULL,
	[PRENOM] [varchar](70) NULL,
	[SESA] [varchar](20) NULL,
	[JOURFIN] [int] NULL,
	[ACKNOWLEDGED] [int] NULL,
	[RECEIVED] [int] NULL,
	[MESSAGEFROMACX] [varchar](100) NULL,
	[SITEID] [varchar](14) NULL,
	[DATECREATION] [datetime] NULL,
	[DATEMAJ] [datetime] NULL,
	[DATEDEBUT] [datetime] NULL,
	[DATEFIN] [datetime] NULL,
	[NUMSITEACX] [varchar](10) NULL,
	[SITE] [varchar](40) NULL,
 CONSTRAINT [PK_PERSONNEACXLOGID] PRIMARY KEY CLUSTERED
(
	[PERSONNEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PERSONNE_ACX_LOG] ADD  DEFAULT ((0)) FOR [ACKNOWLEDGED]
GO
ALTER TABLE [dbo].[PERSONNE_ACX_LOG] ADD  DEFAULT ((0)) FOR [RECEIVED]
GO
