
/****** Object:  Table [dbo].[RAPPEL]    Script Date: 05/07/2019 11:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RAPPEL](
	[RAPPELID] [int] IDENTITY(1,1) NOT NULL,
	[CODELGRESERVATION] [varchar](14) NULL,
	[TEMPS] [varchar](50) NULL,
	[UNITE] [varchar](50) NULL,
	[DATERAPPEL] [datetime] NULL,
	[ETAT] [int] NULL,
	[DATECREATION] [datetime] NULL,
	[DATEMAJ] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[RAPPELID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RAPPEL] ADD  DEFAULT ((0)) FOR [ETAT]
GO
