
/****** Object:  Table [dbo].[FAMILLE]    Script Date: 05/07/2019 11:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FAMILLE](
	[CODEFAMILLE] [varchar](14) NOT NULL,
	[LIBELLE] [varchar](35) NULL,
	[REMARQUES] [image] NULL,
	[LISTEPRIX] [int] NULL,
	[IMAGE] [image] NULL,
	[MARGE] [float] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
	[AFF_GESROOM] [int] NULL,
	[AFF_SERVICE] [int] NULL,
	[MENU] [varchar](100) NULL,
	[TYPE] [int] NULL,
	[TIMESTART] [varchar](8) NULL,
	[TIMEEND] [varchar](8) NULL,
	[TIMESTARTEDIT] [varchar](8) NULL,
	[TIMEENDEDIT] [varchar](8) NULL,
	[LIBELLEEN] [varchar](35) NULL,
 CONSTRAINT [PK_CODEFAMILLE] PRIMARY KEY CLUSTERED
(
	[CODEFAMILLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[FAMILLE] ADD  DEFAULT ('00:00:00') FOR [TIMESTART]
GO
ALTER TABLE [dbo].[FAMILLE] ADD  DEFAULT ('23:59:59') FOR [TIMEEND]
GO
ALTER TABLE [dbo].[FAMILLE] ADD  DEFAULT ('00:00:00') FOR [TIMESTARTEDIT]
GO
ALTER TABLE [dbo].[FAMILLE] ADD  DEFAULT ('23:59:59') FOR [TIMEENDEDIT]
GO
