
/****** Object:  Table [dbo].[SN_TRANSFERT_IMMEDIAT]    Script Date: 05/07/2019 11:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SN_TRANSFERT_IMMEDIAT](
	[SITEID] [varchar](14) NULL,
	[ACTION] [varchar](14) NULL,
	[HMAJ] [datetime] NULL,
	[NOM_TABLE] [varchar](50) NULL,
	[ID] [varchar](50) NULL
) ON [PRIMARY]
GO
