
/****** Object:  Table [dbo].[MISSIONTEMP]    Script Date: 05/07/2019 11:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MISSIONTEMP](
	[MISSIONTEMPID] [int] NOT NULL,
	[DUREE] [datetime] NULL,
	[TOLERANCE] [datetime] NULL,
	[TYPE_MISSIONID] [int] NULL,
	[LIBELLE] [varchar](40) NULL,
	[DESCRIPTION] [varchar](1000) NULL,
	[PRIORITE] [int] NULL,
	[QUALIFID] [int] NULL,
	[DOUBLE_SIGNATURE] [int] NULL,
	[CONSIGNEID] [int] NULL,
	[DEBUTVALIDITE] [datetime] NULL,
	[FINVALIDITE] [datetime] NULL,
	[AUTEURID] [int] NULL,
	[POSTEID] [int] NULL,
	[HEURE] [datetime] NULL,
	[DATEMAJ] [datetime] NULL,
	[DATECREATION] [datetime] NULL,
	[DATESYNCHRO] [datetime] NULL,
	[RAPPORTID] [int] NULL,
	[ISRAPPORT] [int] NULL,
	[SITEID] [varchar](14) NULL,
 CONSTRAINT [PK_MISSIONTEMPID] PRIMARY KEY CLUSTERED
(
	[MISSIONTEMPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
