
/****** Object:  Table [dbo].[CIVILITE]    Script Date: 05/07/2019 11:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CIVILITE](
	[CODECIVILITE] [int] NOT NULL,
	[CIVILITE] [varchar](30) NULL,
	[LIBELLECOURT] [varchar](5) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_CODECIVILITE] PRIMARY KEY CLUSTERED
(
	[CODECIVILITE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
