
/****** Object:  Table [dbo].[INTER_ACTION]    Script Date: 05/07/2019 11:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTER_ACTION](
	[INTERACTIONID] [int] NOT NULL,
	[INTERLOCUTEURID] [varchar](14) NULL,
	[ACTION_NATURE] [varchar](35) NULL,
	[ACTEUR_NATURE] [varchar](35) NULL,
	[NOMACTEUR] [varchar](70) NULL,
	[ACTEURID] [varchar](14) NULL,
	[RES_ACTION] [varchar](4000) NULL,
	[NOM_CHAMP] [varchar](50) NULL,
	[RES_AVANT] [varchar](250) NULL,
	[RES_APRES] [varchar](250) NULL,
	[ACTION_DATE] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[INTERACTIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
