
/****** Object:  Table [dbo].[EVENEMENT_DEST_SITE]    Script Date: 05/07/2019 11:18:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENEMENT_DEST_SITE](
	[EVENEMENTID] [int] NULL,
	[GROUPEDESTID] [int] NULL,
	[SITEID] [varchar](14) NULL
) ON [PRIMARY]
GO
