
/****** Object:  Table [dbo].[COLISRECU]    Script Date: 05/07/2019 11:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COLISRECU](
	[COLISID] [varchar](14) NOT NULL,
	[INTERLOCUTEURID] [varchar](14) NULL,
	[RESIDANTID] [varchar](14) NULL,
	[ARRIVEE] [datetime] NULL,
	[PREVENU] [datetime] NULL,
	[PREVENUID] [varchar](14) NULL,
	[NOTEPREVENU] [image] NULL,
	[RELANCE] [datetime] NULL,
	[RELANCEID] [varchar](14) NULL,
	[ENLEVE] [datetime] NULL,
	[ENLEVEID] [varchar](14) NULL,
	[NOTEENLEVE] [image] NULL,
	[STATUTCOLIS] [varchar](1) NULL,
	[OBSERVATION] [image] NULL,
	[ADRESSEID] [varchar](14) NULL,
	[NBCOLIS] [int] NULL,
	[LIEU] [varchar](50) NULL,
	[GUICHETID] [varchar](14) NULL,
	[ID_STATUTCOLIS] [int] NULL,
	[TRACKING] [varchar](500) NULL,
	[TRACKING_CRM] [varchar](500) NULL,
	[TRACKING_TRANSPORTEUR] [varchar](500) NULL,
	[TICKET] [varchar](50) NULL,
	[OFICHIERID] [int] NULL,
	[POIDS] [varchar](10) NULL,
	[SERVICEID] [varchar](14) NULL,
	[NATURECOLISID] [int] NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NOT NULL,
	[DATECREATION] [datetime] NULL,
	[EMETTEURTYPE] [varchar](15) NULL,
	[CORRESTYPE] [varchar](15) NULL,
 CONSTRAINT [PK_RECUCOLISID] PRIMARY KEY CLUSTERED
(
	[COLISID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
