
/****** Object:  Table [dbo].[JOURNAL]    Script Date: 05/07/2019 11:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOURNAL](
	[JOURNALID] [varchar](14) NOT NULL,
	[USERID] [varchar](14) NULL,
	[TYPEACTION] [varchar](10) NULL,
	[TABLEID] [varchar](30) NULL,
	[FICHEID] [varchar](14) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
	[RESA_REF] [varchar](15) NULL,
	[NOMPRENOM] [varchar](40) NULL,
	[SALLE_NO_LIB] [varchar](40) NULL,
	[RESA_DHDEBUT] [datetime] NULL,
	[RESA_DHFIN] [datetime] NULL,
	[RESA_CREATION] [datetime] NULL,
 CONSTRAINT [PK_JOURNALID] PRIMARY KEY CLUSTERED
(
	[JOURNALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
