
/****** Object:  Table [dbo].[COMMANDE]    Script Date: 05/07/2019 11:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMANDE](
	[COMMANDEID] [bigint] IDENTITY(1,1) NOT NULL,
	[STATUT] [varchar](14) NULL,
	[PRIXTOTAL] [varchar](50) NULL,
	[REFERENCE] [varchar](50) NULL,
	[SITEID] [varchar](14) NULL,
	[NUMERO_COMMANDE] [int] NULL,
	[DATECREATION] [datetime] NULL,
	[DATEMAJ] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[COMMANDEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
