
/****** Object:  Table [dbo].[PRODUIT]    Script Date: 05/07/2019 11:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRODUIT](
	[CODEPRODUIT] [varchar](14) NOT NULL,
	[REFERENCE] [varchar](10) NULL,
	[CODESOUSFAMILLE] [varchar](14) NULL,
	[CODEFAMILLE] [varchar](14) NULL,
	[LIBELLE] [varchar](35) NULL,
	[LISTEPRIX] [int] NULL,
	[DESCRIPTION] [image] NULL,
	[PRIXACHATHT] [float] NULL,
	[PRIXVENTEHT] [float] NULL,
	[PRIXVENTETTC] [float] NULL,
	[CODETVA] [varchar](14) NULL,
	[TVA] [float] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_CODEPRODUIT] PRIMARY KEY CLUSTERED
(
	[CODEPRODUIT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
