
/****** Object:  Table [dbo].[SUIVI]    Script Date: 05/07/2019 11:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUIVI](
	[SUIVIID] [int] NOT NULL,
	[LIBELLE] [varchar](40) NULL,
	[PERSONNELID] [int] NULL,
	[OBSERVATION] [varchar](800) NULL,
	[DATEMAJ] [datetime] NULL,
	[DATECREATION] [datetime] NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_SUIVIID] PRIMARY KEY CLUSTERED
(
	[SUIVIID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
