
/****** Object:  Table [dbo].[PARKING]    Script Date: 05/07/2019 11:18:24 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PARKING](
	[SITEID] [varchar](14) NULL,
	[PARKINGID] [varchar](14) NOT NULL,
	[SOCIETEID] [varchar](14) NULL,
	[PARKING] [varchar](6) NULL,
	[STATUTPARKING] [varchar](20) NULL,
	[TYPE_PARKING] [varchar](30) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
	[CAPACITE] [int] NULL,
	[HEURE_SORTIE] [datetime] NULL,
 CONSTRAINT [PK_PARKINGID] PRIMARY KEY CLUSTERED
(
	[PARKINGID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PARKING]  WITH CHECK ADD  CONSTRAINT [fk_park_siteid] FOREIGN KEY([SITEID])
REFERENCES [dbo].[SITE] ([SITEID])
GO
ALTER TABLE [dbo].[PARKING] CHECK CONSTRAINT [fk_park_siteid]
GO
