
/****** Object:  Table [dbo].[CONSIGNETEMP]    Script Date: 05/07/2019 11:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSIGNETEMP](
	[CONSIGNETEMPID] [int] NOT NULL,
	[AUTEURID] [int] NULL,
	[SITEID] [varchar](14) NULL,
	[POSTEID] [int] NULL,
	[QUALIFID] [int] NULL,
	[DEBUT] [datetime] NULL,
	[FIN] [datetime] NULL,
	[OBSERVATION] [varchar](1000) NULL,
	[DATEMAJ] [datetime] NULL,
	[DATECREATION] [datetime] NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_CONSIGNETEMPID] PRIMARY KEY CLUSTERED
(
	[CONSIGNETEMPID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
