
/****** Object:  Table [dbo].[VEHICULE]    Script Date: 05/07/2019 11:18:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VEHICULE](
	[VEHICULEID] [varchar](14) NOT NULL,
	[RESIDANTID] [varchar](14) NULL,
	[IMMATRICULATION] [varchar](15) NULL,
	[MARQUE] [varchar](20) NULL,
	[MODELE] [varchar](40) NULL,
	[TYPE] [varchar](50) NULL,
	[ENERGIE] [varchar](20) NULL,
	[DATELIMITE] [datetime] NULL,
	[NUMEROPASS] [varchar](40) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_VEHICULEID] PRIMARY KEY CLUSTERED
(
	[VEHICULEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VEHICULE]  WITH CHECK ADD  CONSTRAINT [fk_vehi_resiid] FOREIGN KEY([RESIDANTID])
REFERENCES [dbo].[RESIDANTS] ([RESIDANTID])
GO
ALTER TABLE [dbo].[VEHICULE] CHECK CONSTRAINT [fk_vehi_resiid]
GO
