
/****** Object:  Table [dbo].[POSTE_CHECKLIST]    Script Date: 05/07/2019 11:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTE_CHECKLIST](
	[CHECKLISTID] [int] NOT NULL,
	[POSTEID] [int] NOT NULL,
PRIMARY KEY CLUSTERED
(
	[CHECKLISTID] ASC,
	[POSTEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
