
/****** Object:  Table [dbo].[ZCL01_ACTION]    Script Date: 05/07/2019 11:18:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZCL01_ACTION](
	[ACTIONID] [int] NOT NULL,
	[LIBELLE] [varchar](30) NULL,
	[NSMI] [int] NULL
) ON [PRIMARY]
GO
