
/****** Object:  Table [dbo].[TYPEDOCUMENT]    Script Date: 05/07/2019 11:18:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPEDOCUMENT](
	[TYPEDOCUMENTID] [int] NOT NULL,
	[LIBELLE] [varchar](35) NULL,
	[PORTEEID] [int] NULL,
	[OBLIGATOIRE] [int] NULL,
	[MODIFIABLE] [int] NULL,
	[VALIDITEPARDEFAUT] [int] NULL,
	[CREATCTRL] [int] NULL,
	[IN_PREENREG] [int] NULL,
	[DATECREATION] [datetime] NULL,
	[DATEMAJ] [datetime] NULL,
	[DATESYNCHRO] [datetime] NULL,
	[ISMULTISITE] [int] NULL,
	[INTER_EFFECT] [int] NULL,
PRIMARY KEY CLUSTERED
(
	[TYPEDOCUMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TYPEDOCUMENT] ADD  DEFAULT ((2)) FOR [IN_PREENREG]
GO
ALTER TABLE [dbo].[TYPEDOCUMENT] ADD  DEFAULT ((1)) FOR [ISMULTISITE]
GO
ALTER TABLE [dbo].[TYPEDOCUMENT] ADD  DEFAULT ((2)) FOR [INTER_EFFECT]
GO
