
/****** Object:  Table [dbo].[SIGNSITE]    Script Date: 05/07/2019 11:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIGNSITE](
	[SIGNSITEID] [int] IDENTITY(1,1) NOT NULL,
	[SITEID] [varchar](14) NULL,
	[SIGNPERIOD] [int] NULL,
	[SIGNVISITEURID] [int] NULL,
	[SIGNVISITEURACTIF] [int] NULL,
	[MESSAGEVISITEUR] [varchar](4000) NULL,
	[SIGNCOLISID] [int] NULL,
	[SIGNCOLISACTIF] [int] NULL,
	[MESSAGECOLIS] [varchar](4000) NULL,
	[SIGNLOCATIONID] [int] NULL,
	[SIGNLOCATIONACTIF] [int] NULL,
	[MESSAGELOCATION] [varchar](4000) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[SIGNSITEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SIGNSITE] ADD  DEFAULT ((0)) FOR [SIGNVISITEURACTIF]
GO
ALTER TABLE [dbo].[SIGNSITE] ADD  DEFAULT ((0)) FOR [SIGNCOLISACTIF]
GO
ALTER TABLE [dbo].[SIGNSITE] ADD  DEFAULT ((0)) FOR [SIGNLOCATIONACTIF]
GO
