
/****** Object:  Table [dbo].[SECRETARIAT]    Script Date: 05/07/2019 11:18:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SECRETARIAT](
	[RESIDANTID2] [varchar](14) NOT NULL,
	[RESIDANTID] [varchar](14) NOT NULL,
	[RELATION] [varchar](15) NULL,
	[RELATIONID] [int] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_RESIDANTID2RESIDANTID] PRIMARY KEY CLUSTERED
(
	[RESIDANTID2] ASC,
	[RESIDANTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SECRETARIAT]  WITH CHECK ADD  CONSTRAINT [fk_sec_resiid] FOREIGN KEY([RESIDANTID])
REFERENCES [dbo].[RESIDANTS] ([RESIDANTID])
GO
ALTER TABLE [dbo].[SECRETARIAT] CHECK CONSTRAINT [fk_sec_resiid]
GO
ALTER TABLE [dbo].[SECRETARIAT]  WITH CHECK ADD  CONSTRAINT [fk_sec_resiid2] FOREIGN KEY([RESIDANTID2])
REFERENCES [dbo].[RESIDANTS] ([RESIDANTID])
GO
ALTER TABLE [dbo].[SECRETARIAT] CHECK CONSTRAINT [fk_sec_resiid2]
GO
