
/****** Object:  Table [dbo].[SEQ_IDENTITY]    Script Date: 05/07/2019 11:18:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEQ_IDENTITY](
	[SEQ_IDENTITYID] [int] IDENTITY(1,1) NOT NULL,
	[LIBELLE] [varchar](35) NULL
) ON [PRIMARY]
GO
