
/****** Object:  Table [dbo].[OCHECKLIST]    Script Date: 05/07/2019 11:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OCHECKLIST](
	[OCHECKLISTID] [int] NOT NULL,
	[LIBELLE] [varchar](200) NULL,
	[NUMERO] [int] NULL,
	[PERSONNELID] [int] NULL,
	[UNOMPRENOM] [varchar](300) NULL,
	[ETAT] [varchar](1000) NULL,
	[DETAIL] [varchar](4000) NULL,
	[OBSERVATION] [varchar](4000) NULL,
	[CHKITEM] [varchar](4000) NULL,
	[SITEID] [varchar](14) NULL,
	[CHECKDATE] [datetime] NULL,
	[DATECREATION] [datetime] NULL,
	[DATEMAJ] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[OCHECKLISTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
