
/****** Object:  Table [dbo].[VISIT_TO_PROCESS]    Script Date: 05/07/2019 11:18:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VISIT_TO_PROCESS](
	[DEVICEID] [int] NULL,
	[VISITEID] [varchar](14) NULL
) ON [PRIMARY]
GO
