
/****** Object:  Table [dbo].[PLAT_MENU]    Script Date: 05/07/2019 11:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLAT_MENU](
	[PLATID] [varchar](14) NOT NULL,
	[MENUID] [varchar](14) NOT NULL
) ON [PRIMARY]
GO
