
/****** Object:  Table [dbo].[LOCALISATION_USER]    Script Date: 05/07/2019 11:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOCALISATION_USER](
	[LOCALISATIONID] [int] NOT NULL,
	[USERID] [varchar](14) NOT NULL,
 CONSTRAINT [PK_LOCALISATION_USER] PRIMARY KEY CLUSTERED
(
	[USERID] ASC,
	[LOCALISATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
