
/****** Object:  Table [dbo].[POSTE_TYPEVISITE]    Script Date: 05/07/2019 11:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTE_TYPEVISITE](
	[NOM_POSTE] [varchar](50) NULL,
	[TYPEVISITEID] [int] NULL
) ON [PRIMARY]
GO
