
/****** Object:  Table [dbo].[ODROIT]    Script Date: 05/07/2019 11:18:22 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ODROIT](
	[ODROITID] [int] NOT NULL,
	[LIBELLE] [varchar](50) NULL,
	[OMACCESS] [varchar](15) NULL,
	[DATEMAJ] [datetime] NULL,
	[DATECREATION] [datetime] NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_ODROITID] PRIMARY KEY CLUSTERED
(
	[ODROITID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
