
/****** Object:  Table [dbo].[INTER_RSERVICE]    Script Date: 05/07/2019 11:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTER_RSERVICE](
	[INTERLOCUTEURID] [varchar](14) NULL,
	[RSERVICEID] [varchar](14) NULL,
	[RESIDANTID] [varchar](14) NULL,
 CONSTRAINT [UNIK_INTER_RSERVICE] UNIQUE NONCLUSTERED
(
	[INTERLOCUTEURID] ASC,
	[RSERVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
