
/****** Object:  Table [dbo].[DEDUP_DEDUP]    Script Date: 05/07/2019 11:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEDUP_DEDUP](
	[DEDUP1ID] [varchar](14) NOT NULL,
	[DEDUP2ID] [varchar](14) NOT NULL,
	[SIMIL_FLAG] [varchar](1) NULL,
	[ENTITE] [varchar](50) NULL,
	[JW] [int] NULL,
 CONSTRAINT [PK_DEDUP_DEDUPID] PRIMARY KEY CLUSTERED
(
	[DEDUP1ID] ASC,
	[DEDUP2ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DEDUP_DEDUP] ADD  DEFAULT ((1)) FOR [SIMIL_FLAG]
GO
