
/****** Object:  Table [dbo].[VISITES_LOCALISATION]    Script Date: 05/07/2019 11:18:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VISITES_LOCALISATION](
	[VISITEID] [varchar](14) NULL,
	[LOCALISATIONID] [int] NULL
) ON [PRIMARY]
GO
