
/****** Object:  Table [dbo].[LGSALLE]    Script Date: 05/07/2019 11:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LGSALLE](
	[CODESALLE] [varchar](14) NOT NULL,
	[CODEEQUIPEMENTFIXE] [varchar](14) NOT NULL,
	[QUANTITE] [int] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_CODESALLEEQUIPEMENTFIXE] PRIMARY KEY CLUSTERED
(
	[CODESALLE] ASC,
	[CODEEQUIPEMENTFIXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
