
/****** Object:  Table [dbo].[RESERVATION]    Script Date: 05/07/2019 11:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVATION](
	[CODERESERVATION] [varchar](14) NOT NULL,
	[CODETYPERESERVATION] [varchar](14) NULL,
	[PRIORITE] [int] NULL,
	[SOCIETEID] [varchar](14) NULL,
	[INTERLOCUTEURID] [varchar](14) NULL,
	[USERID] [varchar](14) NOT NULL,
	[CODEANIMATEUR] [varchar](14) NULL,
	[DATERETROCESSION] [datetime] NULL,
	[CODESTATUT] [varchar](14) NULL,
	[REFRESERVATION] [varchar](15) NULL,
	[NBPERSDEMANDE] [int] NULL,
	[NBPERSREEL] [int] NULL,
	[LIBELLE] [varchar](1000) NULL,
	[REMISE] [float] NULL,
	[PRIXRESERVATION] [float] NULL,
	[PRIXFACTUREE] [float] NULL,
	[COMMENTAIRE] [varchar](3000) NULL,
	[UPDATEDBY] [varchar](14) NULL,
	[DEVIS] [int] NULL,
	[FACTURE] [int] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
	[IMPUTATIONID] [varchar](14) NULL,
	[SALLE_VALIDEE] [int] NULL,
	[EMETTEUR] [varchar](200) NULL,
	[DEBUTFORMATION] [datetime] NULL,
	[FINFORMATION] [datetime] NULL,
	[HEUREFORMATION] [datetime] NULL,
	[TITREFORMATION] [varchar](500) NULL,
	[REFFORMATION] [varchar](200) NULL,
	[EMETTEURID] [varchar](14) NULL,
 CONSTRAINT [PK_CODERESERVATION] PRIMARY KEY CLUSTERED
(
	[CODERESERVATION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RESERVATION] ADD  DEFAULT ((0)) FOR [SALLE_VALIDEE]
GO
