
/****** Object:  Table [dbo].[APPEL]    Script Date: 05/07/2019 11:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[APPEL](
	[APPELID] [int] IDENTITY(1,1) NOT NULL,
	[USERID] [varchar](14) NULL,
	[QUAND] [datetime] NULL,
	[SITEID] [varchar](14) NULL,
	[NOM_POSTE] [varchar](50) NULL,
PRIMARY KEY CLUSTERED
(
	[APPELID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
