
/****** Object:  Table [dbo].[STATUTPARKING]    Script Date: 05/07/2019 11:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUTPARKING](
	[CODE_STATUT] [varchar](1) NULL,
	[STATUT_NAME] [varchar](25) NULL
) ON [PRIMARY]
GO
