
/****** Object:  Table [dbo].[PROFILS_USERS]    Script Date: 05/07/2019 11:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFILS_USERS](
	[TYPEUSER] [varchar](24) NULL,
	[SITE] [varchar](35) NULL,
	[SITEID] [varchar](14) NULL,
	[GVACCESS] [int] NULL,
	[TYPEUSERID] [int] NULL
) ON [PRIMARY]
GO
