
/****** Object:  Table [dbo].[CFGDEFAULTAGENDA]    Script Date: 05/07/2019 11:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CFGDEFAULTAGENDA](
	[CODECIVILITE] [int] NULL,
	[CODEACTION] [varchar](14) NULL,
	[CODEORIGINECONTACT] [varchar](14) NULL
) ON [PRIMARY]
GO
