
/****** Object:  Table [dbo].[SEQ_NUM_BDG_RES]    Script Date: 05/07/2019 11:18:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SEQ_NUM_BDG_RES](
	[SEQ_NUM_BDG_RESID] [int] IDENTITY(1,1) NOT NULL,
	[LIBELLE] [varchar](35) NULL
) ON [PRIMARY]
GO
