
/****** Object:  Table [dbo].[IMPUTATION]    Script Date: 05/07/2019 11:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPUTATION](
	[IMPUTATIONID] [varchar](14) NOT NULL,
	[LIBELLE] [varchar](35) NULL,
	[LIBELLE2] [varchar](35) NULL,
	[IMPUTATION_TYPEID] [varchar](14) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_IMPUTATIONID] PRIMARY KEY CLUSTERED
(
	[IMPUTATIONID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
