
/****** Object:  Table [dbo].[ZCL01_ZH]    Script Date: 05/07/2019 11:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZCL01_ZH](
	[ZHID] [int] NOT NULL,
	[LIBELLE] [varchar](24) NULL,
	[NSMI] [int] NULL
) ON [PRIMARY]
GO
