
/****** Object:  Table [dbo].[DOCUMENT_TO_PROCESS]    Script Date: 05/07/2019 11:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOCUMENT_TO_PROCESS](
	[DEVICEID] [int] NULL,
	[TARGETID] [varchar](14) NULL,
	[TARGETTYPE] [varchar](100) NULL
) ON [PRIMARY]
GO
