
/****** Object:  Table [dbo].[ZCL27_BADGE]    Script Date: 05/07/2019 11:18:45 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZCL27_BADGE](
	[ID_BADGE] [int] IDENTITY(1,1) NOT NULL,
	[B_CARD_NO] [varchar](20) NULL,
	[B_ASSIGNED] [int] NULL,
	[CARDQUALITY] [varchar](14) NULL,
	[SITEID] [varchar](14) NULL,
	[DATECREATION] [datetime] NULL,
	[DATEMAJ] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[ID_BADGE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
