
/****** Object:  Table [dbo].[TYPEVISITE]    Script Date: 05/07/2019 11:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPEVISITE](
	[TYPEVISITEID] [int] NOT NULL,
	[TYPEVISITE] [varchar](70) NULL,
	[TRAVAIL] [int] NULL,
	[TYPESORTIE] [int] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
	[LIBELLE_EN] [varchar](35) NULL,
 CONSTRAINT [PK_TYPEVISITEID] PRIMARY KEY CLUSTERED
(
	[TYPEVISITEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TYPEVISITE] ADD  DEFAULT ((0)) FOR [TRAVAIL]
GO
ALTER TABLE [dbo].[TYPEVISITE] ADD  DEFAULT ((0)) FOR [TYPESORTIE]
GO
