
/****** Object:  Table [dbo].[EVENEMENTCOURSE]    Script Date: 05/07/2019 11:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVENEMENTCOURSE](
	[ID_EVENEMENTCOURSE] [int] NOT NULL,
	[ID_COURSE] [int] NULL,
	[LIBELLE] [varchar](200) NULL,
	[DATEHEURE] [datetime] NULL,
	[USERID] [varchar](14) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[ID_EVENEMENTCOURSE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
