
/****** Object:  Table [dbo].[BATIMENT]    Script Date: 05/07/2019 11:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BATIMENT](
	[BATIMENTID] [varchar](14) NOT NULL,
	[EXTERNALID] [varchar](24) NULL,
	[SITEID] [varchar](14) NULL,
	[PLANID] [varchar](14) NULL,
	[LIBELLE] [varchar](60) NULL,
	[NOBAT] [varchar](15) NULL,
	[ADRESSE] [image] NULL,
	[CP] [varchar](10) NULL,
	[VILLE] [varchar](35) NULL,
	[PAYS] [varchar](35) NULL,
	[TELEPHONE] [varchar](20) NULL,
	[FAX] [varchar](20) NULL,
	[SORTORDER] [int] NULL,
	[PROVINCE] [varchar](35) NULL,
	[IMMEUBLE] [int] NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_BATIMENTID] PRIMARY KEY CLUSTERED
(
	[BATIMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[BATIMENT]  WITH CHECK ADD  CONSTRAINT [fk_bat_siteid] FOREIGN KEY([SITEID])
REFERENCES [dbo].[SITE] ([SITEID])
GO
ALTER TABLE [dbo].[BATIMENT] CHECK CONSTRAINT [fk_bat_siteid]
GO
