
/****** Object:  Table [dbo].[GRPUSER_DROITSTELEM]    Script Date: 05/07/2019 11:18:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRPUSER_DROITSTELEM](
	[GRPUSERID] [varchar](14) NOT NULL,
	[ID_DROITSTELEM] [varchar](14) NOT NULL,
 CONSTRAINT [PK_GRPUSER_ID_DROITSTELEM] PRIMARY KEY CLUSTERED
(
	[GRPUSERID] ASC,
	[ID_DROITSTELEM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
