
/****** Object:  Table [dbo].[GRPSALLES_SAL]    Script Date: 05/07/2019 11:18:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GRPSALLES_SAL](
	[GRPSALLEID] [varchar](14) NULL,
	[SALLEID] [varchar](14) NULL
) ON [PRIMARY]
GO
