
/****** Object:  Table [dbo].[OJOURNALAGENT]    Script Date: 05/07/2019 11:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OJOURNALAGENT](
	[OJOURNALID] [int] NULL,
	[PERSONNELID] [int] NULL,
	[NOMPRENOM] [varchar](50) NULL
) ON [PRIMARY]
GO
