
/****** Object:  Table [dbo].[EVTPERSONNEL]    Script Date: 05/07/2019 11:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EVTPERSONNEL](
	[PERSONNELID] [int] NOT NULL,
	[EVENEMENTID] [int] NULL,
	[DATEMAJ] [datetime] NULL,
	[DATECREATION] [datetime] NULL,
	[DATESYNCHRO] [datetime] NULL
) ON [PRIMARY]
GO
