
/****** Object:  Table [dbo].[CLEFS_LOCALISATION]    Script Date: 05/07/2019 11:18:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLEFS_LOCALISATION](
	[CLEID] [varchar](14) NULL,
	[LOCALISATIONID] [int] NULL
) ON [PRIMARY]
GO
