
/****** Object:  Table [dbo].[TABLET]    Script Date: 05/07/2019 11:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TABLET](
	[TABLETID] [int] IDENTITY(0,1) NOT NULL,
	[LIBELLE] [varchar](100) NULL,
	[GES_TABLET] [varchar](100) NULL,
	[GES_ENABLE] [int] NULL,
	[CODESALLE] [varchar](14) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[TABLETID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TABLET] ADD  DEFAULT ((1)) FOR [GES_ENABLE]
GO
