
/****** Object:  Table [dbo].[ADRESSE]    Script Date: 05/07/2019 11:18:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADRESSE](
	[ADRESSEID] [varchar](14) NOT NULL,
	[TYPEADRESSEID] [int] NULL,
	[SOCIETE] [varchar](80) NULL,
	[NOM] [varchar](35) NULL,
	[ADRESSE] [image] NULL,
	[CODEPOSTAL] [varchar](10) NULL,
	[VILLE] [varchar](40) NULL,
	[TELEPHONE] [varchar](20) NULL,
	[FAX] [varchar](20) NULL,
	[OBSERVATION] [image] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_ADRESSEID] PRIMARY KEY CLUSTERED
(
	[ADRESSEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
