
/****** Object:  Table [dbo].[TACHE]    Script Date: 05/07/2019 11:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TACHE](
	[TACHEID] [int] NOT NULL,
	[TACHE_NOM] [varchar](200) NULL,
	[TACHE_RANG] [int] NULL,
	[TYPEJOUR] [varchar](20) NULL,
	[HEUREEXECUTION] [datetime] NULL,
	[ACT_NOM] [varchar](50) NULL,
	[ACT_PARAM] [varchar](100) NULL,
	[FREE01] [varchar](200) NULL,
	[FREE02] [varchar](50) NULL,
	[FREE03] [varchar](50) NULL,
	[MODEA] [int] NULL,
	[ACTIF] [int] NULL,
	[PROCHAINEEXECUTION] [datetime] NULL,
	[DERNIEREEXECUTION] [datetime] NULL,
	[DERNIERRESULTAT] [int] NULL,
	[SITEID] [varchar](20) NULL,
	[GROUPEDESTID] [int] NULL,
	[NUMSESSIONPROCHAINEEXECUTION] [int] NULL,
	[OWNERID] [varchar](14) NULL,
	[ROLEOWNER] [varchar](20) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[TACHEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[TACHE] ADD  DEFAULT ((0)) FOR [TACHE_RANG]
GO
ALTER TABLE [dbo].[TACHE] ADD  DEFAULT ((0)) FOR [MODEA]
GO
ALTER TABLE [dbo].[TACHE] ADD  DEFAULT ((1)) FOR [ACTIF]
GO
ALTER TABLE [dbo].[TACHE] ADD  DEFAULT ((1)) FOR [DERNIERRESULTAT]
GO
ALTER TABLE [dbo].[TACHE] ADD  DEFAULT ('VPARDEFAUT') FOR [OWNERID]
GO
ALTER TABLE [dbo].[TACHE] ADD  DEFAULT ('USERS') FOR [ROLEOWNER]
GO
