
/****** Object:  Table [dbo].[INTERLOCUTEUR]    Script Date: 05/07/2019 11:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INTERLOCUTEUR](
	[SOCIETEID] [varchar](14) NOT NULL,
	[INTERLOCUTEURID] [varchar](14) NOT NULL,
	[CODECIVILITE] [int] NULL,
	[CODEFONCTION] [int] NULL,
	[PHONKEY] [varchar](35) NULL,
	[EXTERNALID] [varchar](24) NULL,
	[PAYS] [varchar](35) NULL,
	[CIVILITE] [varchar](30) NULL,
	[SOCIETE] [varchar](35) NULL,
	[NOMPRENOM] [varchar](70) NULL,
	[CPNOM] [varchar](40) NULL,
	[NOM] [varchar](35) NULL,
	[PRENOM] [varchar](35) NULL,
	[IDENTITEID] [varchar](14) NULL,
	[FONCTION] [varchar](35) NULL,
	[TELEPHONE] [varchar](20) NULL,
	[EMAIL] [varchar](150) NULL,
	[GSM] [varchar](20) NULL,
	[FAX] [varchar](20) NULL,
	[CANDIDATMAILING] [int] NULL,
	[OBS] [varchar](200) NULL,
	[PHOTO] [image] NULL,
	[REFIMPORTATION] [varchar](48) NULL,
	[IMMATRICULATION] [varchar](15) NULL,
	[INTERDIT] [varchar](1) NULL,
	[DEBUTINTERDIT] [datetime] NULL,
	[FININTERDIT] [datetime] NULL,
	[NATUREID] [varchar](14) NULL,
	[DATENAISSANCE] [datetime] NULL,
	[LIEUNAISSANCE] [varchar](70) NULL,
	[NATIONALITEID] [varchar](14) NULL,
	[FINVALIDITEAUTO] [datetime] NULL,
	[DATEDERNVISITE] [datetime] NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
	[NOMJEUNEFILLE] [varchar](35) NULL,
	[ADRESSE] [varchar](150) NULL,
	[CODEPOSTAL] [varchar](10) NULL,
	[VILLE] [varchar](35) NULL,
	[SITE_CREATION] [varchar](35) NULL,
	[SITE_MODIF] [varchar](35) NULL,
	[PAYS_ADRESSE] [varchar](50) NULL,
	[PAYS_NAISSANCE] [varchar](50) NULL,
	[ENQUETE_VE] [int] NULL,
	[ENQUETE_LPE] [int] NULL,
	[TAG] [varchar](30) NULL,
	[DOUBLON_TRAITE] [int] NULL,
	[OFICHIERID] [int] NULL,
	[NATIONALITE_ORIGINE] [varchar](50) NULL,
	[DEPFRID] [int] NULL,
	[SERVICEID] [varchar](14) NULL,
 CONSTRAINT [PK_INTERLOCUTEURID] PRIMARY KEY CLUSTERED
(
	[INTERLOCUTEURID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[INTERLOCUTEUR] ADD  DEFAULT ('1') FOR [PHONKEY]
GO
ALTER TABLE [dbo].[INTERLOCUTEUR] ADD  DEFAULT ((0)) FOR [ENQUETE_VE]
GO
ALTER TABLE [dbo].[INTERLOCUTEUR] ADD  DEFAULT ((0)) FOR [ENQUETE_LPE]
GO
ALTER TABLE [dbo].[INTERLOCUTEUR] ADD  DEFAULT ((0)) FOR [DOUBLON_TRAITE]
GO
