
/****** Object:  Table [dbo].[CONSTEMP_SITE]    Script Date: 05/07/2019 11:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONSTEMP_SITE](
	[CONSIGNETEMPID] [int] NULL,
	[SITEID] [varchar](14) NULL
) ON [PRIMARY]
GO
