
/****** Object:  Table [dbo].[OMESSAGE]    Script Date: 05/07/2019 11:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OMESSAGE](
	[OMESSAGEID] [int] NOT NULL,
	[AGENTID] [int] NULL,
	[DATERAPPEL] [datetime] NULL,
	[DATEFIN] [datetime] NULL,
	[ETAT] [int] NULL,
	[MESSAGE] [varchar](1000) NULL,
	[DATECREATION] [datetime] NULL,
	[DATEMAJ] [datetime] NULL,
	[SITEID] [varchar](14) NULL,
	[POSTEID] [int] NULL,
 CONSTRAINT [PK_OMESSAGEID] PRIMARY KEY CLUSTERED
(
	[OMESSAGEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
