
/****** Object:  Table [dbo].[EQUIPEMENTFIXE]    Script Date: 05/07/2019 11:18:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EQUIPEMENTFIXE](
	[CODEEQUIPEMENTFIXE] [varchar](14) NOT NULL,
	[LIBELLE] [varchar](35) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
	[LIBELLE_EN] [varchar](35) NULL,
 CONSTRAINT [PK_CODEEQUIPEMENTFIXE] PRIMARY KEY CLUSTERED
(
	[CODEEQUIPEMENTFIXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
