
/****** Object:  Table [dbo].[TEMPO_IMPRESID]    Script Date: 05/07/2019 11:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMPO_IMPRESID](
	[RESIDANTID] [varchar](14) NULL,
	[SITEID] [varchar](40) NULL
) ON [PRIMARY]
GO
