
/****** Object:  Table [dbo].[RESSOURCE]    Script Date: 05/07/2019 11:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESSOURCE](
	[SITEID] [varchar](14) NULL,
	[SOCIETEID] [varchar](14) NULL,
	[BATIMENTID] [varchar](14) NULL,
	[CODESALLE] [varchar](14) NOT NULL,
	[LIBELLE] [varchar](35) NULL,
	[NOSALLE] [varchar](15) NULL,
	[SORTORDER] [int] NULL,
	[INDISPONIBLE] [int] NULL,
	[INDISPCAUSE] [image] NULL,
	[INDISPDEBUT] [datetime] NULL,
	[INDISPFIN] [datetime] NULL,
	[AMENAGFIXE] [int] NULL,
	[RAISONSOCIALE] [varchar](35) NULL,
	[ADRESSE] [image] NULL,
	[CP] [varchar](7) NULL,
	[VILLE] [varchar](35) NULL,
	[TELEPHONE] [varchar](20) NULL,
	[TELEPHONE2] [varchar](20) NULL,
	[OBSERVATIONS] [varchar](3000) NULL,
	[PLANACCES] [image] NULL,
	[IMAGE] [image] NULL,
	[PORTE_CLE] [varchar](50) NULL,
	[PORTE_OPTION] [varchar](300) NULL,
	[EMAIL] [varchar](150) NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_CODERESSOURCE] PRIMARY KEY CLUSTERED
(
	[CODESALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
