
/****** Object:  Table [dbo].[POSTE]    Script Date: 05/07/2019 11:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[POSTE](
	[POSTEID] [int] NOT NULL,
	[LIBELLE] [varchar](40) NULL,
	[SITEID] [varchar](14) NULL,
	[SOCIETEID] [varchar](14) NULL,
	[REP_LOCAL] [varchar](100) NULL,
	[REP_DOC] [varchar](100) NULL,
	[REP_PDF] [varchar](100) NULL,
	[REP_IMG] [varchar](100) NULL,
	[REP_WAV] [varchar](100) NULL,
	[REP_TMP] [varchar](100) NULL,
	[DATEMAJ] [datetime] NULL,
	[DATECREATION] [datetime] NULL,
	[DATESYNCHRO] [datetime] NULL,
	[LIBELLE2] [varchar](40) NULL,
	[TYPEPOSTE] [int] NULL,
	[PRISEPOSTE] [int] NULL,
	[OPTIONADMIN_AUTOSTART] [int] NULL,
	[OPTIONADMIN_LOCKDESKTOP] [int] NULL,
	[OPTIONADMIN_SHUTDOWN] [int] NULL,
	[CODESALLE] [varchar](14) NULL,
	[BATIMENTID] [varchar](14) NULL,
 CONSTRAINT [PK_POSTEID] PRIMARY KEY CLUSTERED
(
	[POSTEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
