
/****** Object:  Table [dbo].[ZCL25_VISITES]    Script Date: 05/07/2019 11:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZCL25_VISITES](
	[VISITEID] [varchar](14) NULL,
	[STATUTID] [int] NULL
) ON [PRIMARY]
GO
