
/****** Object:  Table [dbo].[STATUTRESERVATION]    Script Date: 05/07/2019 11:18:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STATUTRESERVATION](
	[CODESTATUT] [varchar](14) NOT NULL,
	[LIBELLE] [varchar](35) NULL,
	[COLOR] [int] NULL,
	[COLORNAME] [varchar](30) NULL,
	[RETROCESSIBLE] [int] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
	[CONFIRMATION] [int] NULL,
	[MESSAGE] [image] NULL,
	[NBJOURAD] [int] NULL,
	[NBJOURAR] [int] NULL,
	[NBJOURDELAI] [int] NULL,
	[LIBELLE_EN] [varchar](30) NULL,
 CONSTRAINT [PK_CODESTATUT] PRIMARY KEY CLUSTERED
(
	[CODESTATUT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
