
/****** Object:  Table [dbo].[SALLEFUS_COMP]    Script Date: 05/07/2019 11:18:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALLEFUS_COMP](
	[CODESALLEFUS] [varchar](14) NULL,
	[CODESALLE] [varchar](14) NULL
) ON [PRIMARY]
GO
