
/****** Object:  Table [dbo].[PERSONNEL]    Script Date: 05/07/2019 11:18:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERSONNEL](
	[PERSONNELID] [int] NOT NULL,
	[THEPASSWORD] [varchar](20) NULL,
	[THELOGIN] [varchar](15) NULL,
	[NOM] [varchar](50) NULL,
	[PRENOM] [varchar](50) NULL,
	[DATE_NAISSANCE] [datetime] NULL,
	[DATE_EMBAUCHE] [datetime] NULL,
	[DATE_ARRIVEE] [datetime] NULL,
	[TEL] [varchar](10) NULL,
	[DEBUT_VALIDITE] [datetime] NULL,
	[FIN_VALIDITE] [datetime] NULL,
	[QUALIFID] [int] NULL,
	[CODEFONCTION] [int] NULL,
	[MEDICAL_LAST] [datetime] NULL,
	[MEDICAL_NEXT] [datetime] NULL,
	[ODROITID] [int] NULL,
	[SITEID] [varchar](14) NULL,
	[PHOTO] [image] NULL,
	[EMPPK] [image] NULL,
	[EMPPK_LEN] [int] NULL,
	[TAG] [varchar](30) NULL,
	[CSECURITENUM] [varchar](50) NULL,
	[CSECURITEFIN] [datetime] NULL,
	[CSECURITEACT] [varchar](10) NULL,
	[CSECURITEDEP] [varchar](100) NULL,
	[ACTIF] [int] NULL,
	[DATEMAJ] [datetime] NULL,
	[DATECREATION] [datetime] NULL,
	[DATESYNCHRO] [datetime] NULL,
	[EQUIPEID] [int] NULL,
 CONSTRAINT [PK_PERSONNELID] PRIMARY KEY CLUSTERED
(
	[PERSONNELID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[PERSONNEL] ADD  DEFAULT ((1)) FOR [ACTIF]
GO
