
/****** Object:  Table [dbo].[PROFIL_CTRL]    Script Date: 05/07/2019 11:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFIL_CTRL](
	[PROFIL_CTRLID] [int] NOT NULL,
	[PROFIL_CTRL] [varchar](100) NULL,
	[PROFILDEFAULT] [int] NULL,
	[SITEID] [varchar](14) NULL,
	[PROFIL_CTRLID_EXT] [varchar](50) NULL,
	[CODE_CLASSE] [int] NULL,
	[ASCENSEUR] [varchar](50) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[PROFIL_CTRLID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PROFIL_CTRL] ADD  DEFAULT ((0)) FOR [PROFILDEFAULT]
GO
