
/****** Object:  Table [dbo].[OJOURNAL_PERSMVT]    Script Date: 05/07/2019 11:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OJOURNAL_PERSMVT](
	[OJOURNALID] [int] NOT NULL,
	[TYPEPERSID] [int] NULL,
	[NOMPRENOM] [varchar](70) NULL,
	[SOCIETE] [varchar](35) NULL,
	[INTERLOCUTEURID] [varchar](14) NULL,
	[VEHICULE] [varchar](35) NULL,
	[IMMATRICULATION] [varchar](35) NULL,
	[BADGE] [varchar](50) NULL,
	[CA] [varchar](20) NULL,
	[DESTINATION] [varchar](200) NULL,
	[OBSERVATION] [varchar](max) NULL,
	[ENTREE] [datetime] NULL,
	[SORTIE] [datetime] NULL,
	[SITEID] [varchar](14) NULL,
	[POSTEID] [int] NULL,
	[PERSONNELDEBUTID] [int] NULL,
	[PERSONNELFINID] [int] NULL,
	[DATECREATION] [datetime] NULL,
	[TYPE_ACCES] [varchar](35) NULL,
	[PERSONNELID] [int] NULL,
	[NB_LIEUX] [int] NULL,
	[DEBUT_ACCOMP] [datetime] NULL,
	[FIN_ACCOMP] [datetime] NULL,
	[DATEVALIDITE] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[OJOURNALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
