
/****** Object:  Table [dbo].[MARQUE]    Script Date: 05/07/2019 11:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MARQUE](
	[CODEMARQUE] [varchar](14) NOT NULL,
	[SOCIETEID] [varchar](14) NULL,
	[LIBELLE] [varchar](35) NULL,
	[REMARQUES] [image] NULL,
	[IMAGE] [image] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_CODEMARQUE] PRIMARY KEY CLUSTERED
(
	[CODEMARQUE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
