
/****** Object:  Table [dbo].[USER_GRPS]    Script Date: 05/07/2019 11:18:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_GRPS](
	[USERID] [varchar](14) NULL,
	[GRPSALLEID] [varchar](14) NULL
) ON [PRIMARY]
GO
