
/****** Object:  Table [dbo].[SIGNDOCUMENT_TEMPLATE]    Script Date: 05/07/2019 11:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SIGNDOCUMENT_TEMPLATE](
	[SIGNDOCUMENT_TEMPLATEID] [int] IDENTITY(1,1) NOT NULL,
	[SITEID] [varchar](14) NULL,
	[ENABLE] [int] NULL,
	[LIBELLE] [varchar](500) NULL,
	[MESSAGE] [varchar](4000) NULL,
	[PERIOD] [int] NULL,
	[TARGETTYPE] [varchar](100) NULL,
	[OFICHIERID] [int] NULL,
	[ISMUSTSIGNED] [int] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
	[SENDEMAIL] [int] NULL,
PRIMARY KEY CLUSTERED
(
	[SIGNDOCUMENT_TEMPLATEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[SIGNDOCUMENT_TEMPLATE] ADD  DEFAULT ((0)) FOR [ENABLE]
GO
ALTER TABLE [dbo].[SIGNDOCUMENT_TEMPLATE] ADD  DEFAULT ((0)) FOR [ISMUSTSIGNED]
GO
ALTER TABLE [dbo].[SIGNDOCUMENT_TEMPLATE] ADD  DEFAULT ((0)) FOR [SENDEMAIL]
GO
