
/****** Object:  Table [dbo].[DEPFR]    Script Date: 05/07/2019 11:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEPFR](
	[DEPFRID] [int] NOT NULL,
	[NUMERO] [varchar](10) NULL,
	[DEPARTEMENT] [varchar](70) NULL,
	[PREFERTURE] [varchar](70) NULL,
	[REGION] [varchar](70) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[DEPFRID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
