
/****** Object:  Table [dbo].[DEVICE]    Script Date: 05/07/2019 11:18:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DEVICE](
	[DEVICEID] [int] IDENTITY(0,1) NOT NULL,
	[CONTROLKEY] [varchar](100) NULL,
	[NAME] [varchar](200) NULL,
	[GUICHETID] [varchar](14) NULL,
	[KEEPALIVE] [datetime] NULL,
	[REGISTERED] [int] NOT NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[DEVICEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DEVICE] ADD  CONSTRAINT [DF_DEVICE_REGISTERED]  DEFAULT ((0)) FOR [REGISTERED]
GO
