
/****** Object:  Table [dbo].[VISITE_CONTROLE]    Script Date: 05/07/2019 11:18:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VISITE_CONTROLE](
	[VISITEID] [varchar](14) NULL,
	[NUMEROVISITE] [int] NULL,
	[RESIDANTID] [varchar](14) NULL,
	[DATEVISITE] [datetime] NULL
) ON [PRIMARY]
GO
