
/****** Object:  Table [dbo].[MENU_RESTAURANT]    Script Date: 05/07/2019 11:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU_RESTAURANT](
	[MENUID] [varchar](14) NOT NULL,
	[RESTAURANTID] [varchar](14) NOT NULL
) ON [PRIMARY]
GO
