
/****** Object:  Table [dbo].[REGLE_GRPVALIDEUR]    Script Date: 05/07/2019 11:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGLE_GRPVALIDEUR](
	[REGLEID] [int] NOT NULL,
	[GRPVALIDEURID] [int] NOT NULL,
 CONSTRAINT [PK_REGLE_GRPVALIDEUR] PRIMARY KEY CLUSTERED
(
	[REGLEID] ASC,
	[GRPVALIDEURID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
