
/****** Object:  Table [dbo].[IMPUTATION_TYPE]    Script Date: 05/07/2019 11:18:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IMPUTATION_TYPE](
	[IMPUTATION_TYPEID] [varchar](14) NOT NULL,
	[LIBELLE] [varchar](35) NULL
) ON [PRIMARY]
GO
