
/****** Object:  Table [dbo].[OFICHIER_POSTE]    Script Date: 05/07/2019 11:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OFICHIER_POSTE](
	[OFICHIERID] [int] NOT NULL,
	[POSTEID] [int] NOT NULL
) ON [PRIMARY]
GO
