
/****** Object:  Table [dbo].[SN_DOUBLONS]    Script Date: 05/07/2019 11:18:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SN_DOUBLONS](
	[DOUBLONID] [varchar](14) NULL,
	[REMPLACEID] [varchar](14) NULL,
	[NUMTABLE] [int] NULL
) ON [PRIMARY]
GO
