
/****** Object:  Table [dbo].[BADGEIMPRIME]    Script Date: 05/07/2019 11:18:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BADGEIMPRIME](
	[NOUVEAUNUMERO] [varchar](14) NULL,
	[STATUT] [varchar](20) NULL,
	[DATEMAJ] [datetime] NULL
) ON [PRIMARY]
GO
