
/****** Object:  Table [dbo].[CFGGSALLESPARAM]    Script Date: 05/07/2019 11:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CFGGSALLESPARAM](
	[HEUREOUVERTURE] [datetime] NULL,
	[HEUREFERMETURE] [datetime] NULL,
	[TRANCHE] [datetime] NULL,
	[PRINTPREVIEW] [int] NULL,
	[SURBOOKING] [int] NULL,
	[REFRESERVATION] [varchar](15) NULL,
	[FORMATREFRESERVATION] [varchar](15) NULL,
	[GESTIONINTERNE] [int] NULL,
	[GESTIONINTERNEMONOSOC] [int] NULL,
	[CODESOCIETEINTERNE] [varchar](14) NULL,
	[ACTIVATIONTEMPSPREPA] [int] NULL,
	[CTRL_PA_HORSHORAIRE] [int] NULL,
	[CTRL_NB_PARTICIPANT] [int] NULL,
	[CTRL_MATERIEL_DISPO] [int] NULL,
	[RESA_ORDRE_SALLE] [int] NULL,
	[RESA_PRESTA_STYLE] [int] NULL,
	[FILTRE_ORDRE_TRI] [int] NULL,
	[DRAGDROP] [int] NULL,
	[CTRLDEFAUTHORAIRE] [int] NULL,
	[CTRLDEFAUTPRESTA] [int] NULL
) ON [PRIMARY]
GO
