
/****** Object:  Table [dbo].[ZCL05_ASCENSEUR]    Script Date: 05/07/2019 11:18:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZCL05_ASCENSEUR](
	[LIBELLE] [varchar](50) NULL,
	[DATECREATION] [datetime] NULL
) ON [PRIMARY]
GO
