
/****** Object:  Table [dbo].[COMMANDE_EVENEMENT]    Script Date: 05/07/2019 11:18:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COMMANDE_EVENEMENT](
	[COMMANDE_EVENEMENTID] [bigint] IDENTITY(1,1) NOT NULL,
	[COMMANDEID] [int] NULL,
	[LIBELLE] [varchar](max) NULL,
	[STATUT] [varchar](14) NULL,
	[DATEHEURE] [datetime] NULL,
	[RESIDANTID] [varchar](14) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED
(
	[COMMANDE_EVENEMENTID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
