
/****** Object:  Table [dbo].[PERIPHERIQUE]    Script Date: 05/07/2019 11:18:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PERIPHERIQUE](
	[PERIPHERIQUEID] [int] NOT NULL,
	[PERIPHERIQUE_TRAITEMENTID] [int] NULL,
	[NOM] [varchar](50) NULL,
	[AVANT] [varchar](20) NULL,
	[APRES] [varchar](20) NULL,
	[DEBUT] [int] NULL,
	[LONGUEUR] [int] NULL,
	[LONGUEUR_MAX] [int] NULL,
	[DECOUPE] [int] NULL,
	[CONVERSION] [int] NULL,
	[TYPE_PORT] [varchar](35) NULL,
	[BIT_SECONDE] [int] NULL,
	[BIT_DONNEE] [int] NULL,
	[PARITE] [varchar](15) NULL,
	[BIT_ARRET] [varchar](15) NULL,
	[CONTROLE_FLUX] [varchar](15) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED
(
	[PERIPHERIQUEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
