
/****** Object:  Table [dbo].[AMENAGSALLE]    Script Date: 05/07/2019 11:18:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AMENAGSALLE](
	[CODESALLE] [varchar](14) NOT NULL,
	[CODEAMENAGEMENT] [varchar](14) NOT NULL,
	[CAPACITE] [float] NULL,
	[PLANIMPLANTATION] [image] NULL,
	[PREPARATION] [datetime] NULL,
	[RANGEMENT] [datetime] NULL,
	[SORTORDER] [int] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_CODESALLEAMENAGEMENT] PRIMARY KEY CLUSTERED
(
	[CODESALLE] ASC,
	[CODEAMENAGEMENT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
