
/****** Object:  Table [dbo].[NATURE]    Script Date: 05/07/2019 11:18:21 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NATURE](
	[NATUREID] [varchar](14) NOT NULL,
	[LIBELLE] [varchar](35) NULL,
	[ABREGE] [varchar](6) NULL,
	[TVISITE] [varchar](1) NULL,
	[PROFIL] [varchar](20) NULL,
	[INTERDIT] [varchar](1) NULL,
	[DEBUTINTERDIT] [datetime] NULL,
	[FININTERDIT] [datetime] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
	[LIBELLE_EN] [varchar](35) NULL,
 CONSTRAINT [PK_NATUREID] PRIMARY KEY CLUSTERED
(
	[NATUREID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
