
/****** Object:  Table [dbo].[OJOURNAL]    Script Date: 05/07/2019 11:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OJOURNAL](
	[OJOURNALID] [int] NOT NULL,
	[DEBUT_REEL] [datetime] NULL,
	[FIN_REEL] [datetime] NULL,
	[DEBUT_THEORIQUE] [datetime] NULL,
	[FIN_THEORIQUE] [datetime] NULL,
	[DEBUT_EFF] [datetime] NULL,
	[FIN_EFF] [datetime] NULL,
	[OBSERVATION] [varchar](max) NULL,
	[EVENEMENTID] [int] NULL,
	[MISSIONTEMPID] [int] NULL,
	[AGENDA_JOURID] [int] NULL,
	[PERSONNELDEBUTID] [int] NULL,
	[PERSONNELFINID] [int] NULL,
	[AGENDA_JOUR2ID] [bigint] NULL,
	[DATEMAJ] [datetime] NULL,
	[DATECREATION] [datetime] NULL,
	[DATESYNCHRO] [datetime] NULL,
	[SITEID] [varchar](14) NULL,
	[POSTEID] [int] NULL,
	[LIEUID] [int] NULL,
	[CODESALLE] [varchar](30) NULL,
	[BATIMENTID] [varchar](14) NULL,
	[OBSERVATION2] [varchar](max) NULL,
 CONSTRAINT [PK_OJOURNALID] PRIMARY KEY CLUSTERED
(
	[OJOURNALID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[OJOURNAL] ADD  DEFAULT ((-1)) FOR [LIEUID]
GO
ALTER TABLE [dbo].[OJOURNAL] ADD  DEFAULT ('VPARDEFAUT') FOR [CODESALLE]
GO
ALTER TABLE [dbo].[OJOURNAL] ADD  DEFAULT ('VPARDEFAUT') FOR [BATIMENTID]
GO
