
/****** Object:  Table [dbo].[ETATS]    Script Date: 05/07/2019 11:18:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ETATS](
	[ETATID] [int] NOT NULL,
	[LIBELLE] [varchar](100) NULL,
	[REQUETE_MSSQL] [varchar](4000) NULL,
	[REQUETE_ORACLE] [varchar](4000) NULL,
	[MODIFICATION] [varchar](1000) NULL,
	[MODIFICATION_OPERATEUR] [varchar](1000) NULL,
	[MODIFICATION_VALEUR] [varchar](1000) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED
(
	[ETATID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
