
/****** Object:  Table [dbo].[TYPEVISDOC]    Script Date: 05/07/2019 11:18:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TYPEVISDOC](
	[TYPEDOCUMENTID] [int] NOT NULL,
	[TYPEVISITEID] [int] NOT NULL,
 CONSTRAINT [PK_VISDOC] PRIMARY KEY CLUSTERED
(
	[TYPEDOCUMENTID] ASC,
	[TYPEVISITEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
