
/****** Object:  Table [dbo].[PROFIL_CTRL_LOCALISATION]    Script Date: 05/07/2019 11:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFIL_CTRL_LOCALISATION](
	[PROFIL_CTRLID] [int] NULL,
	[LOCALISATIONID] [int] NULL
) ON [PRIMARY]
GO
