
/****** Object:  Table [dbo].[LIEUPERMIS]    Script Date: 05/07/2019 11:18:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LIEUPERMIS](
	[RESIDANTID] [varchar](14) NOT NULL,
	[CODESALLE] [varchar](14) NOT NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_RESIDANTIDCODESALLE] PRIMARY KEY CLUSTERED
(
	[RESIDANTID] ASC,
	[CODESALLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
