
/****** Object:  Table [dbo].[PROFIL_CTRL_LECTEUR]    Script Date: 05/07/2019 11:18:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PROFIL_CTRL_LECTEUR](
	[PROFIL_CTRL_LECTEURID] [int] NOT NULL,
	[CTRLREADER] [varchar](50) NULL,
	[CTRLREADERID] [varchar](20) NULL,
	[PROFIL_CTRL] [varchar](100) NULL,
	[PROFIL_CTRLID_EXT] [varchar](50) NULL,
	[SITEID] [varchar](14) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[PROFIL_CTRL_LECTEURID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
