
/****** Object:  Table [dbo].[LGPA]    Script Date: 05/07/2019 11:18:18 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LGPA](
	[CODERESERVATION] [varchar](14) NOT NULL,
	[CODELGRESERVATION] [varchar](14) NOT NULL,
	[CODESALLE] [varchar](14) NOT NULL,
	[CODELGPA] [varchar](14) NOT NULL,
	[CODEARTICLE] [varchar](14) NULL,
	[DATEDEBUT] [datetime] NOT NULL,
	[DATEFIN] [datetime] NOT NULL,
	[QUANTITE] [float] NULL,
	[PRIX] [float] NULL,
	[CODETVA] [varchar](14) NULL,
	[TAUXTVA] [float] NULL,
	[HEUREDEBUT] [datetime] NULL,
	[HEUREFIN] [datetime] NULL,
	[HEURECONTINU] [int] NULL,
	[REMISE] [float] NULL,
	[LIBELLESALLE] [varchar](35) NOT NULL,
	[NOSALLE] [varchar](15) NULL,
	[PRIXCLIENT] [float] NULL,
	[WIZARD] [int] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
	[COMMENTAIRE] [varchar](3000) NULL,
	[CONFIRMER] [int] NULL,
	[IMPUTATION] [varchar](200) NULL,
	[COMMANDEID] [bigint] NULL,
 CONSTRAINT [PK_CODERESERVATIONSALLELGPA] PRIMARY KEY CLUSTERED
(
	[CODERESERVATION] ASC,
	[CODESALLE] ASC,
	[CODELGPA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
