
/****** Object:  Table [dbo].[QPERSONNEL]    Script Date: 05/07/2019 11:18:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QPERSONNEL](
	[PERSONNELID] [int] NULL,
	[QUALIFID] [int] NULL
) ON [PRIMARY]
GO
