
/****** Object:  Table [dbo].[SALLEFUS]    Script Date: 05/07/2019 11:18:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SALLEFUS](
	[CODESALLEFUS] [varchar](14) NULL,
	[LIBELLE] [varchar](50) NULL,
	[DECODESALLE] [varchar](14) NULL,
	[DATECREATION] [datetime] NULL,
	[DATEMAJ] [datetime] NULL
) ON [PRIMARY]
GO
