
/****** Object:  Table [dbo].[ZCL24_BADGE]    Script Date: 05/07/2019 11:18:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ZCL24_BADGE](
	[BADGEID] [varchar](50) NULL,
	[NUMBADGE] [varchar](50) NULL,
	[DATECREATION] [datetime] NULL
) ON [PRIMARY]
GO
