
/****** Object:  Table [dbo].[VISITES_ES]    Script Date: 05/07/2019 11:18:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VISITES_ES](
	[VISITEID] [varchar](14) NOT NULL,
	[DATEHEUREENTREE] [datetime] NULL,
	[DATEHEURESORTIE] [datetime] NULL,
	[DATEHEUREENTREEPARKING] [datetime] NULL,
	[DATEHEURESORTIEPARKING] [datetime] NULL,
	[STATUTPARKING] [varchar](20) NULL,
	[PARKING] [varchar](35) NULL
) ON [PRIMARY]
GO
