
/****** Object:  Table [dbo].[AGENDAJOUR2AGENT]    Script Date: 05/07/2019 11:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AGENDAJOUR2AGENT](
	[AGENDAJOUR2ID] [int] NULL,
	[PERSONNELID] [int] NULL,
	[NOMPRENOM] [varchar](50) NULL
) ON [PRIMARY]
GO
