
/****** Object:  Table [dbo].[FACTURE]    Script Date: 05/07/2019 11:18:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FACTURE](
	[CODEFACTURE] [varchar](14) NOT NULL,
	[CODEAFFAIRE] [varchar](14) NULL,
	[CODECLIENT] [varchar](14) NOT NULL,
	[RESIDANTID] [varchar](14) NULL,
	[CODEMODEPAIE] [varchar](14) NULL,
	[CODEDELAIPAIE] [varchar](14) NULL,
	[NOFACTURE] [varchar](15) NULL,
	[DATEEMISSION] [datetime] NULL,
	[TOTALHT] [float] NULL,
	[TOTALTVA] [float] NULL,
	[TOTALTTC] [float] NULL,
	[REGLE] [int] NULL,
	[DATEREGLEMENT] [datetime] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_CODEFACTURE] PRIMARY KEY CLUSTERED
(
	[CODEFACTURE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
