
/****** Object:  Table [dbo].[ICONTROLE_LOG]    Script Date: 05/07/2019 11:18:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ICONTROLE_LOG](
	[ID] [bigint] IDENTITY(1,1) NOT NULL,
	[CODELGRESERVATION] [varchar](14) NULL,
	[CARDIBOXID] [varchar](50) NULL,
	[SALLE] [varchar](35) NULL,
	[SITEID] [varchar](14) NULL,
	[MOBILE] [varchar](50) NULL,
	[EMAIL] [varchar](50) NULL,
	[NOMPRENOM] [varchar](70) NULL,
	[DATE_DEBUT] [datetime] NULL,
	[DATE_FIN] [datetime] NULL,
	[DATE_SMS] [datetime] NULL,
	[DATE_CANCEL] [datetime] NULL,
PRIMARY KEY CLUSTERED
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
