
/****** Object:  Table [dbo].[SOUSFAMILLE]    Script Date: 05/07/2019 11:18:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOUSFAMILLE](
	[CODESOUSFAMILLE] [varchar](14) NOT NULL,
	[CODEFAMILLE] [varchar](14) NOT NULL,
	[SOUSFAMILLE] [varchar](35) NULL,
	[REMARQUES] [image] NULL,
	[LISTEPRIX] [int] NULL,
	[IMAGE] [image] NULL,
	[MARGE] [float] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
	[ORDRE] [int] NULL,
	[SOUSFAMILLEEN] [varchar](35) NULL,
 CONSTRAINT [PK_CODESOUSFAMILLECODEFAMILLE] PRIMARY KEY CLUSTERED
(
	[CODESOUSFAMILLE] ASC,
	[CODEFAMILLE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
