
/****** Object:  Table [dbo].[JOUR]    Script Date: 05/07/2019 11:18:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JOUR](
	[JOURID] [int] NOT NULL,
	[LIBELLE] [varchar](40) NULL,
	[TYPE_JOUR] [varchar](40) NULL,
	[CL] [int] NULL,
	[DEBUT_VALIDITE] [datetime] NULL,
	[FIN_VALIDITE] [datetime] NULL,
	[DATEMAJ] [datetime] NULL,
	[DATECREATION] [datetime] NULL,
	[DATESYNCHRO] [datetime] NULL,
	[DATEOFWEEK] [int] NULL,
PRIMARY KEY CLUSTERED
(
	[JOURID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
