
/****** Object:  Table [dbo].[RESERVATIONCELL]    Script Date: 05/07/2019 11:18:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RESERVATIONCELL](
	[CODERESERVATION] [varchar](14) NOT NULL,
	[CODELGRESERVATION] [varchar](14) NOT NULL,
	[CODERESERVATIONCELL] [varchar](14) NOT NULL,
	[CODESTATUT] [varchar](14) NULL,
	[CODESALLE] [varchar](14) NULL,
	[COLOR] [int] NULL,
	[CELLTYPE] [varchar](1) NULL,
	[HEUREDEBUT] [datetime] NULL,
	[HEUREFIN] [datetime] NULL,
	[RESERVATIONDATE] [datetime] NULL,
 CONSTRAINT [PK_CODERESALGRESARESACELL] PRIMARY KEY CLUSTERED
(
	[CODERESERVATION] ASC,
	[CODELGRESERVATION] ASC,
	[CODERESERVATIONCELL] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
