
/****** Object:  Table [dbo].[TEMPSOC2]    Script Date: 05/07/2019 11:18:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TEMPSOC2](
	[TMP2ID] [varchar](14) NOT NULL,
	[TMPNOM] [varchar](35) NOT NULL,
	[TMPRANG] [int] NULL,
	[TRAITE] [varchar](1) NULL,
 CONSTRAINT [PK_TMP2ID] PRIMARY KEY CLUSTERED
(
	[TMP2ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
