
/****** Object:  Table [dbo].[VISITES]    Script Date: 05/07/2019 11:18:01 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VISITES](
	[VISITEID] [varchar](14) NOT NULL,
	[INTERLOCUTEURID] [varchar](14) NULL,
	[RESIDANTID] [varchar](14) NULL,
	[CODESALLE] [varchar](14) NULL,
	[SITEID] [varchar](14) NULL,
	[STATUTID] [int] NULL,
	[EXTERNALID] [varchar](24) NULL,
	[SOCIETERESID] [varchar](35) NULL,
	[NOMPRENOMRESID] [varchar](70) NULL,
	[SOCIETEVISIT] [varchar](35) NULL,
	[NOMPRENOMVISIT] [varchar](70) NULL,
	[DEBUTPREVU] [datetime] NULL,
	[FINPREVU] [datetime] NULL,
	[HDEBUTPREVU] [datetime] NULL,
	[HFINPREVU] [datetime] NULL,
	[NUMEROBADGE] [varchar](200) NULL,
	[NUMEROVISITE] [int] NULL,
	[DEBUTVISITE] [datetime] NULL,
	[FINVISITE] [datetime] NULL,
	[HDEBUT] [datetime] NULL,
	[HFIN] [datetime] NULL,
	[STATUTVISITE] [varchar](50) NULL,
	[TYPEVISITEID] [int] NULL,
	[BOITE] [varchar](6) NULL,
	[CASIER] [varchar](6) NULL,
	[OBJET] [varchar](200) NULL,
	[CASIERID] [int] NULL,
	[PIECE] [varchar](35) NULL,
	[NUMERO] [varchar](20) NULL,
	[VALIDITE] [datetime] NULL,
	[PARKING] [varchar](35) NULL,
	[IMMATRICULATION] [varchar](15) NULL,
	[GUICHETID] [varchar](14) NULL,
	[OBSERVATION] [varchar](200) NULL,
	[BUREAUID] [varchar](14) NULL,
	[LIEU] [varchar](50) NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
	[ORIGINEVISITE] [int] NULL,
	[NBBDGIMPR] [int] NULL,
	[NBBDGIMPRTOTAL] [int] NULL,
	[FREE1] [varchar](50) NULL,
	[FREE2] [varchar](250) NULL,
	[FREE3] [varchar](50) NULL,
	[FREE4] [varchar](50) NULL,
	[FREE5] [varchar](50) NULL,
	[FREE6] [varchar](50) NULL,
	[FREE7] [varchar](50) NULL,
	[FREE8] [varchar](250) NULL,
	[FREE9] [varchar](250) NULL,
	[FREE10] [varchar](50) NULL,
	[MARQUE] [varchar](20) NULL,
	[MODELE] [varchar](40) NULL,
	[COTE] [int] NULL,
	[PREMIER] [int] NULL,
	[PREENREG] [int] NULL,
	[ECHANGES] [int] NULL,
	[ZONE] [varchar](1) NULL,
	[DESCENTE] [int] NULL,
	[BADGEPHYSIQUE] [varchar](50) NULL,
	[ATTENDU] [int] NULL,
	[ATTENDU_VENU] [int] NULL,
	[DATEHEUREENTREEPARKING] [datetime] NULL,
	[DATEHEURESORTIEPARKING] [datetime] NULL,
	[STATUTPARKING] [varchar](20) NULL,
	[DEBLOC] [int] NULL,
	[DEBLOC_USER] [varchar](50) NULL,
	[DEBLOC_USERID] [varchar](14) NULL,
	[DEBLOC_HEURE] [datetime] NULL,
	[IFONCTION] [varchar](35) NULL,
	[IDATENAISSANCE] [datetime] NULL,
	[ILIEUNAISSANCE] [varchar](70) NULL,
	[IPAYS] [varchar](35) NULL,
	[INOMJEUNEFILLE] [varchar](35) NULL,
	[MODIFICATION] [varchar](100) NULL,
	[ETATVISITE] [varchar](1) NULL,
	[VIP] [int] NULL,
	[ISTATUT] [varchar](35) NULL,
	[CODELGRESERVATION] [varchar](14) NULL,
	[TICKET] [varchar](50) NULL,
	[RONDIER] [varchar](50) NULL,
	[RONDIERID] [int] NULL,
	[CLE] [varchar](500) NULL,
	[PROFIL_CTRL] [varchar](4000) NULL,
	[PROFIL_CTRL2] [varchar](4000) NULL,
	[PROFIL_CTRL_ID] [varchar](4000) NULL,
	[WIFI_LOGIN] [varchar](50) NULL,
	[WIFI_PWD] [varchar](50) NULL,
	[ALERTE] [varchar](4000) NULL,
	[LAST_ACTION] [varchar](50) NULL,
	[RES_OS] [varchar](50) NULL,
	[RES_FINAL] [varchar](50) NULL,
	[RES_MOTEUR1] [varchar](50) NULL,
	[RES_MOTEUR2] [varchar](50) NULL,
	[INFO] [varchar](50) NULL,
	[SIGNATURE_ENTREE] [int] NULL,
	[SIGNATURE_SORTIE] [int] NULL,
	[REFIMPORTATION] [varchar](30) NULL,
	[ZRR_CODE] [varchar](25) NULL,
	[ZRR_LIB] [varchar](255) NULL,
	[ZRR_LS] [varchar](3) NULL,
	[FUSION] [int] NULL,
	[NATUREVISITE] [varchar](7) NULL,
	[MESSAGEVALIDEUR] [varchar](1000) NULL,
	[ACCOMPAGNATEURID] [varchar](14) NULL,
	[GRPVALIDEUR2] [varchar](50) NULL,
	[GRPVALIDEUR3] [varchar](50) NULL,
	[GRPVALIDEUR4] [varchar](50) NULL,
	[RANKLASTVAL] [int] NULL,
	[CATEGORIE] [varchar](30) NULL,
	[IDEPFR] [varchar](100) NULL,
	[RESTAURANT] [int] NULL,
	[OUBLI_BADGE_RESI] [int] NULL,
	[EMETTEUR ] [varchar](200) NULL,
	[USER_IN ] [varchar](200) NULL,
	[USER_OUT ] [varchar](200) NULL,
	[BATIMENTID] [varchar](14) NULL,
	[EMETTEURID] [varchar](14) NULL,
	[EMETTEURTYPE] [varchar](14) NULL,
	[SIGNATUREID] [int] NULL,
	[PDFOFICHIERID] [int] NULL,
	[ACCOMPAGNER_VISITEUR] [int] NULL,
 CONSTRAINT [PK_VISITEID] PRIMARY KEY CLUSTERED
(
	[VISITEID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VISITES] ADD  DEFAULT ((0)) FOR [NBBDGIMPRTOTAL]
GO
ALTER TABLE [dbo].[VISITES] ADD  DEFAULT ((0)) FOR [PREENREG]
GO
ALTER TABLE [dbo].[VISITES] ADD  DEFAULT ((0)) FOR [ECHANGES]
GO
ALTER TABLE [dbo].[VISITES] ADD  DEFAULT ((0)) FOR [DESCENTE]
GO
ALTER TABLE [dbo].[VISITES] ADD  DEFAULT ((0)) FOR [ATTENDU]
GO
ALTER TABLE [dbo].[VISITES] ADD  DEFAULT ((0)) FOR [ATTENDU_VENU]
GO
ALTER TABLE [dbo].[VISITES] ADD  DEFAULT ('0') FOR [STATUTPARKING]
GO
ALTER TABLE [dbo].[VISITES] ADD  DEFAULT ((0)) FOR [VIP]
GO
ALTER TABLE [dbo].[VISITES] ADD  DEFAULT ('UNIS') FOR [REFIMPORTATION]
GO
ALTER TABLE [dbo].[VISITES] ADD  DEFAULT ('0') FOR [FUSION]
GO
ALTER TABLE [dbo].[VISITES] ADD  DEFAULT ('VISITE') FOR [NATUREVISITE]
GO
ALTER TABLE [dbo].[VISITES] ADD  DEFAULT ('0') FOR [RESTAURANT]
GO
ALTER TABLE [dbo].[VISITES] ADD  DEFAULT ('0') FOR [OUBLI_BADGE_RESI]
GO
ALTER TABLE [dbo].[VISITES] ADD  DEFAULT ((0)) FOR [ACCOMPAGNER_VISITEUR]
GO
ALTER TABLE [dbo].[VISITES]  WITH CHECK ADD  CONSTRAINT [fk_visi_resiid] FOREIGN KEY([RESIDANTID])
REFERENCES [dbo].[RESIDANTS] ([RESIDANTID])
GO
ALTER TABLE [dbo].[VISITES] CHECK CONSTRAINT [fk_visi_resiid]
GO
ALTER TABLE [dbo].[VISITES]  WITH CHECK ADD  CONSTRAINT [fk_visi_siteid] FOREIGN KEY([SITEID])
REFERENCES [dbo].[SITE] ([SITEID])
GO
ALTER TABLE [dbo].[VISITES] CHECK CONSTRAINT [fk_visi_siteid]
GO
