
/****** Object:  Table [dbo].[CFGARTICLESCURRENT]    Script Date: 05/07/2019 11:18:06 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CFGARTICLESCURRENT](
	[CODEMARQUE] [varchar](14) NULL,
	[CODEFAMILLE] [varchar](14) NULL,
	[CODESOUSFAMILLE] [varchar](14) NULL,
	[QUANTITE] [int] NULL
) ON [PRIMARY]
GO
