
/****** Object:  Table [dbo].[ROLE_RESTES]    Script Date: 05/07/2019 11:18:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLE_RESTES](
	[USERID] [int] NULL,
	[EXPORT_TABLES] [int] NULL,
	[STAT] [int] NULL,
	[ETATS] [int] NULL,
	[NETTOYAGES] [int] NULL,
	[DATECREATION] [datetime] NULL,
	[DATEMAJ] [datetime] NULL
) ON [PRIMARY]
GO
