
/****** Object:  Table [dbo].[JPERSONNE]    Script Date: 05/07/2019 11:18:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[JPERSONNE](
	[PERSONNEID] [int] NULL,
	[EVENEMENTID] [int] NULL
) ON [PRIMARY]
GO
