
/****** Object:  Table [dbo].[RONDEMOTCLE_EVT]    Script Date: 05/07/2019 11:18:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RONDEMOTCLE_EVT](
	[RONDEMOTCLEID] [int] NULL,
	[EVENEMENTID] [int] NULL
) ON [PRIMARY]
GO
