
/****** Object:  Table [dbo].[VALIDATION_ENQUETE]    Script Date: 05/07/2019 11:18:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VALIDATION_ENQUETE](
	[SITEID] [varchar](14) NULL,
	[EXTERNALID] [varchar](14) NOT NULL,
	[EXTERN_TYPE] [varchar](35) NOT NULL,
	[POLE] [varchar](100) NULL,
	[ECHANGES] [int] NULL,
	[CUMUL] [varchar](50) NULL,
	[CODEACTIVITE] [varchar](70) NULL,
	[TYPEVISITE] [varchar](35) NOT NULL,
	[VISITEID] [varchar](14) NULL,
	[DEBUTPREVU] [datetime] NULL,
	[FINPREVU] [datetime] NULL,
	[DATESAISIE] [datetime] NULL,
	[CENTRE] [varchar](35) NULL,
	[CIVILITE] [varchar](30) NULL,
	[NOM] [varchar](35) NULL,
	[PRENOM] [varchar](35) NULL,
	[NOMJEUNEFILLE] [varchar](25) NULL,
	[DATENAISSANCE] [datetime] NULL,
	[LIEUNAISSANCE] [varchar](70) NULL,
	[PAYSNAISSANCE] [varchar](50) NULL,
	[NATIONALITE] [varchar](35) NULL,
	[ADRESSE] [varchar](150) NULL,
	[VILLE] [varchar](35) NULL,
	[CP] [varchar](10) NULL,
	[FONCTION] [varchar](35) NULL,
	[SOCIETE] [varchar](35) NULL,
	[ENQUETE] [int] NULL,
	[ETAT] [int] NULL,
	[RETOUR] [int] NULL,
	[DATECREATION] [datetime] NULL,
	[DATERETOUR] [datetime] NULL,
 CONSTRAINT [PK_ENQUETE] PRIMARY KEY CLUSTERED
(
	[EXTERNALID] ASC,
	[EXTERN_TYPE] ASC,
	[TYPEVISITE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[VALIDATION_ENQUETE] ADD  DEFAULT ((0)) FOR [ECHANGES]
GO
ALTER TABLE [dbo].[VALIDATION_ENQUETE] ADD  DEFAULT ((0)) FOR [ENQUETE]
GO
ALTER TABLE [dbo].[VALIDATION_ENQUETE] ADD  DEFAULT ((0)) FOR [ETAT]
GO
ALTER TABLE [dbo].[VALIDATION_ENQUETE] ADD  DEFAULT ((0)) FOR [RETOUR]
GO
