
/****** Object:  Table [dbo].[CONTACT]    Script Date: 05/07/2019 11:18:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CONTACT](
	[SOCIETEID] [varchar](14) NULL,
	[CODECONTACT] [varchar](14) NOT NULL,
	[DATECONTACT] [datetime] NULL,
	[DATEACTION] [datetime] NULL,
	[INTERLOCUTEURID] [varchar](14) NULL,
	[CODEORIGINECONTACT] [varchar](14) NULL,
	[CODEDOSSIER] [varchar](14) NULL,
	[CODEAFFAIRE] [varchar](14) NULL,
	[USERID] [varchar](14) NULL,
	[CODECOLLABOACTION] [varchar](14) NULL,
	[CODEACTIONCONTACT] [varchar](14) NULL,
	[CONTACTGENERE] [int] NULL,
	[ACTIONAUTO] [int] NULL,
	[ACTIONFAITLE] [datetime] NULL,
	[ACTIONFAIT] [int] NULL,
	[TEXTCONTACT] [image] NULL,
	[TEXTACTION] [image] NULL,
	[DATECREATION] [datetime] NOT NULL,
	[DATEMAJ] [datetime] NOT NULL,
	[DATESYNCHRO] [datetime] NULL,
 CONSTRAINT [PK_CODECONTACT] PRIMARY KEY CLUSTERED
(
	[CODECONTACT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
