
/****** Object:  Table [dbo].[OJVACATION]    Script Date: 05/07/2019 11:18:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OJVACATION](
	[JVACATIONID] [int] NOT NULL,
	[OJOURNALID] [int] NOT NULL
) ON [PRIMARY]
GO
