ALTER TABLE AMENAGSALLE ADD SORTORDER INTEGER;
GO

UPDATE AMENAGSALLE SET SORTORDER=0;
GO

DROP INDEX SALLE_SORTORDER;
GO

CREATE TABLE GRPUSER (
   GRPUSERID      VARCHAR(14),
   LIBELLE        VARCHAR(50),
   NIVEAU         VARCHAR(14),
   STATUT         VARCHAR(14),
   STATUTCHECK    INTEGER,
   SURRESERVATION VARCHAR(1),
   RESAPERIODIQUE VARCHAR(1),
   ACCESDRAGDROP  VARCHAR(1),
   PLANNING       VARCHAR(2),
   RESA           VARCHAR(15),
   PRESTA         VARCHAR(15),
   DATECREATION DATETIME,
   DATEMAJ      DATETIME
);
GO

CREATE TABLE GRPSALLE(
   GRPSALLEID   VARCHAR(14),
   LIBELLE      VARCHAR(50),
   HEUREDEBUT   DATETIME,
   HEUREFIN     DATETIME,
   OPENPRERESA  INTEGER,
   CLOSEPRERESA INTEGER,
   RESA         VARCHAR(15),
   DATECREATION DATETIME,
   DATEMAJ      DATETIME
);
GO

CREATE TABLE GRPSALLES_SAL(
   GRPSALLEID   VARCHAR(14),
   SALLEID      VARCHAR(14)
);
GO

ALTER TABLE USERS ADD GRPUSERID VARCHAR(14);
GO

CREATE TABLE USER_GRPS(
	USERID VARCHAR(14),
	GRPSALLEID VARCHAR(14)
);
GO

INSERT INTO GRPUSER (GRPUSERID, LIBELLE, NIVEAU, STATUT, SURRESERVATION, RESAPERIODIQUE, ACCESDRAGDROP, PLANNING, RESA, PRESTA, DATECREATION, DATEMAJ, STATUTCHECK) VALUES ('ADMINISTRATEUR','ADMINISTRATEUR','2','VPARDEFAUT','1','1','1','11','000000111','1',GETDATE(),GETDATE(),1);
GO
INSERT INTO GRPUSER (GRPUSERID, LIBELLE, NIVEAU, STATUT, SURRESERVATION, RESAPERIODIQUE, ACCESDRAGDROP, PLANNING, RESA, PRESTA, DATECREATION, DATEMAJ, STATUTCHECK) VALUES ('VPARDEFAUT','UTILISATEUR','1','VPARDEFAUT','0','0','0','10','111000000','0',GETDATE(),GETDATE(),0);
GO
INSERT INTO GRPSALLE  (GRPSALLEID, LIBELLE, HEUREDEBUT, HEUREFIN, OPENPRERESA, CLOSEPRERESA, RESA, DATECREATION, DATEMAJ) VALUES ('EVERYONE','EVERYONE','00:00','00:00',0,0,'1',GETDATE(),GETDATE());
GO
INSERT INTO USERS (USERID, CIVILITEID, FIRSTNAME, USERTYPEID, GVACCESS, EXTERNALID, FULLNAME,  PROFIL_ID_ORGA, PROFIL_ID_INTER,PROFIL_SURBOOKING,THELOGIN, THEPASSWORD, USERTYPE, DATEMAJ, DATECREATION,GRPUSERID) VALUES ('GESROOM',0,'ADMINISTRATEUR','Administrateur',78847,'VPARDEFAUT','ADMINISTRATEUR','VPARDEFAUT','VPARDEFAUT','0','ADM','ADM',1,GETDATE(),GETDATE(),'ADMINISTRATEUR');
GO

ALTER TABLE CFGGSALLESPARAM ADD DRAGDROP INTEGER;
GO

UPDATE CFGGSALLESPARAM SET DRAGDROP=0;
GO
ALTER TABLE CFGGSALLESPARAM ADD CTRLDEFAUTHORAIRE INTEGER;
GO
UPDATE CFGGSALLESPARAM SET CTRLDEFAUTHORAIRE=0;
GO
UPDATE RESIDANTS SET EXTERNALID='VPARDEFAUT' WHERE EXTERNALID IS NULL;
GO
UPDATE RESIDANTS SET HABILITATIONVISITE=1 WHERE HABILITATIONVISITE IS NULL;
GO
UPDATE RESIDANTS SET LISTEROUGE=0 WHERE LISTEROUGE IS NULL;
GO
UPDATE RESIDANTS SET ISEXTERN=0 WHERE ISEXTERN IS NULL;
GO
UPDATE RESIDANTS SET ISRESIDENT=1 WHERE ISRESIDENT IS NULL;
GO
UPDATE RESIDANTS SET ISACTIF=1 WHERE ISACTIF IS NULL;
GO
UPDATE RESIDANTS SET INTERDIT=0,DEBUTINTERDIT=GETDATE()-1,FININTERDIT=GETDATE()+36000 WHERE INTERDIT IS NULL;
GO
UPDATE RESIDANTS SET NBBDGIMPR=0 WHERE NBBDGIMPR IS NULL;
GO
--
ALTER TABLE GRPUSER ADD EMAILAUTO VARCHAR(1);
GO
UPDATE GRPUSER SET EMAILAUTO='0';
GO
ALTER TABLE ARTICLE ADD HDEBUT  DATETIME;
GO
ALTER TABLE ARTICLE ADD HFIN    DATETIME;
GO

CREATE TABLE CFGGSALLES (
SITE           VARCHAR(30),
NETTOYAGE	   INTEGER,
E_EMAIL        VARCHAR(15),
E_HOST         VARCHAR(50),
E_REPERTOIRE   VARCHAR(50),
E_USERID       VARCHAR(50),
E_DESTINATAIRE INTEGER
);
GO

UPDATE USERS SET GRPUSERID='VPARDEFAUT' WHERE GRPUSERID<>'ADMINISTRATEUR';
GO
UPDATE USERS SET GRPUSERID='VPARDEFAUT' WHERE GRPUSERID IS NULL;
GO
ALTER TABLE CFGGSALLESPARAM ADD CTRLDEFAUTPRESTA INTEGER;
GO
UPDATE CFGGSALLESPARAM SET CTRLDEFAUTPRESTA=0;
GO
ALTER TABLE LGRESERVATION ADD CODESALLEASS VARCHAR(14);
GO
UPDATE LGRESERVATION SET CODESALLEASS=CODESALLE;
GO
ALTER TABLE HVISITES ADD ORIGINEVISITE    INTEGER;
GO
ALTER TABLE HVISITES ADD NBBDGIMPR        INTEGER;
GO
ALTER TABLE HVISITES ADD NBBDGIMPRTOTAL   INTEGER;
GO
ALTER TABLE RESIDANTS ADD NBBDGIMPR INTEGER;
GO
ALTER TABLE SOCIETE ADD NATUREID VARCHAR (14);
GO
CREATE TABLE CFGETAT (
   CFGETATID    VARCHAR(50),
   ETATNOM      VARCHAR(50),
   VISIBLE      INTEGER,
   REQUETE      VARCHAR(50),
   FILTRE       VARCHAR(250),
   DATECREATION DATETIME,
   DATEMAJ      DATETIME
);
GO

INSERT INTO CFGETAT (CFGETATID,ETATNOM,VISIBLE,REQUETE,FILTRE,DATECREATION,DATEMAJ) VALUES
  ('Reservationdessalles1','Reservation des salles',1,'EtatReservationSalleAccueil','',GETDATE(),GETDATE());
GO
INSERT INTO CFGETAT (CFGETATID,ETATNOM,VISIBLE,REQUETE,FILTRE,DATECREATION,DATEMAJ) VALUES
  ('Equipementdessalles1','Equipement des salles',1,'EtatEquipementdessalles','AND F.LIBELLE<>''ALIMENTAIRE''',GETDATE(),GETDATE());
GO
INSERT INTO CFGETAT (CFGETATID,ETATNOM,VISIBLE,REQUETE,FILTRE,DATECREATION,DATEMAJ) VALUES
  ('Restauration1','Restauration',1,'EtatRestaurations','AND F.LIBELLE=''ALIMENTAIRE'' AND UPPER(A.LIBELLE)<>UPPER(''jetons'') AND UPPER(A.LIBELLE)<>UPPER(''Places pour repas'')',GETDATE(),GETDATE());
GO

CREATE GLOBAL TEMPORARY TABLE TEMPO_GS
(	FREE1	VARCHAR2(100),
	FREE2	VARCHAR2(100),
	FREE3	VARCHAR2(100),
	FREE4	VARCHAR2(100),
	FREE5	VARCHAR2(100),
	FREEINT1	INTEGER,
	FREEINT2	INTEGER,
	FREEDATE1	DATE,
	FREEDATE2	DATE,
	FREEDATE3	DATE,
	FREEDATE4	DATE
) ON COMMIT PRESERVE ROWS ;


-- INSERTION DES NOUVEAU ETAT

GO

