------------------------------------------------------------------------
--                       CHANGEMENT DE TYPE DE CHAMP
------------------------------------------------------------------------

ALTER TABLE RESERVATION ADD TEMPO VARBINARY(3000);
GO
UPDATE RESERVATION SET TEMPO=COMMENTAIRE;
GO
ALTER TABLE RESERVATION ALTER COLUMN TEMPO VARCHAR(3000);
GO
ALTER TABLE RESERVATION DROP COLUMN COMMENTAIRE;
GO
EXECUTE sp_rename N'dbo.RESERVATION.TEMPO', N'COMMENTAIRE', 'COLUMN';
GO

ALTER TABLE SALLE ADD TEMPO VARBINARY(3000);
GO
UPDATE SALLE SET TEMPO=OBSERVATIONS;
GO
ALTER TABLE SALLE ALTER COLUMN TEMPO VARCHAR(3000);
GO
ALTER TABLE SALLE DROP COLUMN OBSERVATIONS;
GO
EXECUTE sp_rename N'dbo.SALLE.TEMPO', N'OBSERVATIONS', 'COLUMN';
GO

ALTER TABLE LGPA ADD TEMPO VARBINARY(3000);
GO
UPDATE LGPA SET TEMPO=COMMENTAIRE;
GO
ALTER TABLE LGPA ALTER COLUMN TEMPO VARCHAR(3000);
GO
ALTER TABLE LGPA DROP COLUMN COMMENTAIRE;
GO
EXECUTE sp_rename N'dbo.LGPA.TEMPO', N'COMMENTAIRE', 'COLUMN';
GO

------------------------------------------------------------------------
--                               F I N
------------------------------------------------------------------------
