-- 2005_03_30
ALTER TABLE OMNI_PARAM ADD OPTION_AVMISS INTEGER;
GO
ALTER TABLE OMNI_PARAM ADD OPTION_TIMER_MISSION INTEGER;
GO
-- 2005_04_18
ALTER TABLE RENSEIGNEMENT ADD SITEID  VARCHAR(14);
GO
ALTER TABLE RENSEIGNEMENT ADD POSTEID INTEGER;
GO
ALTER TABLE SECTEUR ADD SITEID  VARCHAR(14);
GO
ALTER TABLE RUE ADD SITEID  VARCHAR(14);
GO
ALTER TABLE LIEU ADD SITEID  VARCHAR(14);
GO
ALTER TABLE EVENEMENT ADD SITEID  VARCHAR(14);
GO
ALTER TABLE VACATION ADD SITEID  VARCHAR(14);
GO
ALTER TABLE VACATION ADD POSTEID INTEGER;
GO
ALTER TABLE MATERIEL ADD SITEID  VARCHAR(14);
GO
ALTER TABLE PERSONNE ADD SITEID  VARCHAR(14);
GO
ALTER TABLE SECOURS ADD SITEID  VARCHAR(14);
GO
ALTER TABLE OCONSIGNE ADD SITEID  VARCHAR(14);
GO
ALTER TABLE OCONSIGNE ADD POSTEID INTEGER;
GO
ALTER TABLE MISSION ADD SITEID  VARCHAR(14);
GO
ALTER TABLE MISSION ADD POSTEID INTEGER;
GO
ALTER TABLE AGENDA_JOUR ADD SITEID  VARCHAR(14);
GO
ALTER TABLE AGENDA_JOUR2 ADD SITEID  VARCHAR(14);
GO
ALTER TABLE MISSIONTEMP ADD SITEID  VARCHAR(14);
GO
ALTER TABLE TYPE_MISSION ADD SITEID  VARCHAR(14);
GO
ALTER TABLE TYPE_MISSION ADD POSTEID INTEGER;
GO
ALTER TABLE RAPPORT ADD SITEID  VARCHAR(14);
GO
ALTER TABLE RAPPORT ADD POSTEID INTEGER;
GO
ALTER TABLE POSTE ADD LIBELLE2  VARCHAR(40);
GO
ALTER TABLE OMESSAGE ADD SITEID  VARCHAR(14);
GO
ALTER TABLE OMESSAGE ADD POSTEID INTEGER;
GO
ALTER TABLE OJOURNAL ADD SITEID  VARCHAR(14);
GO
ALTER TABLE OJOURNAL ADD POSTEID INTEGER;
GO
-- Requete pour mettre à jour sited et posteid du journal
UPDATE OJOURNAL SET SITEID='';
GO
UPDATE OJOURNAL SET POSTEID=0;
GO
-- 2005_07_11
ALTER TABLE JVACATION ADD SITEID  VARCHAR(14);
GO
ALTER TABLE JVACATION ADD POSTEID INTEGER;
GO
ALTER TABLE AGENTPRESENT ADD SITEID  VARCHAR(14);
GO
ALTER TABLE AGENTPRESENT ADD POSTEID INTEGER;
GO
ALTER TABLE AGENTPRESENTLOG ADD SITEID  VARCHAR(14);
GO
ALTER TABLE AGENTPRESENTLOG ADD POSTEID INTEGER;
GO
-- 2005_07_29
CREATE TABLE EVENEMENT_SITE (
  EVENEMENTID INTEGER,
  SITEID VARCHAR(14)
);
GO

-- 2005_08_08
CREATE TABLE OJOURNALLOG (
  OJOURNALID  INTEGER,
  ACTION      INTEGER,
  PERSONNELID INTEGER,
  SITEID      VARCHAR(14),
  POSTEID     INTEGER,
  OBSERVATION VARCHAR(1000),
  DATEMAJ     DATETIME
);
GO

CREATE TABLE JRAPPORTLOG (
  OJOURNALID  INTEGER,
  RAPPORTID   INTEGER,
  RPTID       INTEGER,
  RPTNOM      VARCHAR(20),
  REF         VARCHAR(20),
  VERSION     INTEGER,
  PERSONNELID INTEGER,
  SITEID      VARCHAR(14),
  POSTEID     INTEGER,
  DATEMAJ     DATETIME
);
GO
-- 2005_10_04
INSERT INTO ODROIT (ODROITID,LIBELLE,OMACCESS,DATEMAJ,DATECREATION) VALUES (1,'ADMINISTRATEUR',8191,GETDATE(),GETDATE());
GO
INSERT INTO PERSONNEL (PERSONNELID,THEPASSWORD,THELOGIN,NOM,PRENOM,DATE_NAISSANCE,DATE_EMBAUCHE,DATE_ARRIVEE,DEBUT_VALIDITE,FIN_VALIDITE,QUALIFID,CODEFONCTION,MEDICAL_LAST,MEDICAL_NEXT,ODROITID,SITEID,DATEMAJ,DATECREATION) VALUES (1,2206,'TAFFIN','TAFFIN','Jean-marie','01/01/1950','01/01/1950','01/01/1950','01/01/1950','01/01/1950',0,0,'01/01/1950','01/01/1950',1,'VPARDEFAUT',GETDATE(),GETDATE());
GO
INSERT INTO EVENEMENT (EVENEMENTID,LIBELLE,RAPPORTID,CONSIGNEID,ISRAPPORT,DATEMAJ,DATECREATION,DATESYNCHRO) VALUES (1,'INCIDENT',0,0,0,GETDATE(),GETDATE(),GETDATE());
GO

--DROP SEQUENCE SEQ_EVENEMENT;
--GO
--CREATE SEQUENCE SEQ_EVENEMENT START WITH 10;
--Go
--DROP SEQUENCE SEQ_ODROIT;
--GO
--CREATE SEQUENCE SEQ_ODROIT START WITH 10;
--GO
--DROP SEQUENCE SEQ_PERSONNEL;
--GO
--CREATE SEQUENCE SEQ_PERSONNEL START WITH 10;
--GO

-- 2005_10_17

CREATE TABLE CONSTEMP_SITE (
  CONSIGNETEMPID INTEGER,
  SITEID VARCHAR(14)
);
GO

GO

INSERT INTO EVENEMENT_SITE SELECT EVENEMENTID,'VPARDEFAUT' AS SITEID FROM EVENEMENT WHERE EVENEMENTID >0;
GO

-- 2005_10_27
CREATE TABLE CONSTEMP_POSTE (
  CONSIGNETEMPID INTEGER,
  POSTEID INTEGER
);
GO
CREATE TABLE CONSTEMP_QUALIF (
  CONSIGNETEMPID INTEGER,
  QUALIFID INTEGER
);
GO

-- 2005_10_31 Correction_en_fonction_du_site.sql

INSERT INTO CONSTEMP_SITE (CONSIGNETEMPID,SITEID) (SELECT CONSIGNETEMPID,SITEID FROM CONSIGNETEMP);
GO
INSERT INTO CONSTEMP_POSTE (CONSIGNETEMPID,POSTEID) (SELECT CONSIGNETEMPID,POSTEID FROM CONSIGNETEMP);
GO
INSERT INTO CONSTEMP_QUALIF (CONSIGNETEMPID,QUALIFID) (SELECT CONSIGNETEMPID,QUALIFID FROM CONSIGNETEMP);
GO
UPDATE CONSIGNETEMP SET SITEID='';
GO
UPDATE CONSIGNETEMP SET POSTEID='';
GO
UPDATE CONSIGNETEMP SET QUALIFID='';
GO
UPDATE CONSIGNETEMP2 SET SITEID='';
GO
UPDATE CONSIGNETEMP2 SET POSTEID='';
GO
UPDATE CONSIGNETEMP2 SET QUALIFID='';
GO

-- 2005_11_09
ALTER TABLE JRAPPORT ADD CLOTURER  INTEGER;
GO
UPDATE JRAPPORT SET CLOTURER=0;
GO

-- 2005_11_10

CREATE TABLE OJOURNAL_PERSMVT (
  OJOURNALID       INTEGER PRIMARY KEY,
  TYPEPERSID       INTEGER,
  NOMPRENOM        VARCHAR(70),
  SOCIETE          VARCHAR(35),
  INTERLOCUTEURID  VARCHAR(14),
  VEHICULE         VARCHAR(35),
  IMMATRICULATION  VARCHAR(35),
  BADGE            VARCHAR(20),
  CA               VARCHAR(20),
  DESTINATION      VARCHAR(50),
  OBSERVATION      VARCHAR(2000),
  ENTREE           DATETIME,
  SORTIE           DATETIME,
  SITEID           VARCHAR(14),
  POSTEID          INTEGER,
  PERSONNELDEBUTID INTEGER,
  PERSONNELFINID   INTEGER,
  DATECREATION     DATETIME
);
GO

INSERT INTO EVENEMENT (EVENEMENTID,LIBELLE,RAPPORTID,CONSIGNEID,ISRAPPORT,DATEMAJ,DATECREATION,DATESYNCHRO) VALUES (-12,'MOUVEMENT',0,0,0,GETDATE(),GETDATE(),GETDATE());
GO

CREATE TABLE CONSTEMP_AGENT (
  CONSIGNETEMPID INTEGER,
  PERSONNELID INTEGER
);
GO