ALTER TABLE RAPPORT ADD TYPERAPPORT INTEGER;
GO

UPDATE RAPPORT SET TYPERAPPORT=0;
GO

CREATE TABLE GRPEVENEMENT (
  GRPEVENEMENTID   INTEGER PRIMARY KEY,
  LIBELLE          VARCHAR(50),
  DATECREATION     DATETIME,
  DATEMAJ          DATETIME
);
GO

INSERT INTO GRPEVENEMENT (GRPEVENEMENTID,LIBELLE,DATECREATION,DATEMAJ) VALUES (0,'SURETE',GETDATE(),GETDATE());
GO

ALTER TABLE EVENEMENT ADD GRPEVENEMENTID INTEGER;
GO

UPDATE EVENEMENT SET GRPEVENEMENTID=0;
GO

CREATE TABLE RONDIER (
  RONDIERID        INTEGER PRIMARY KEY,
  LIBELLE          VARCHAR(50),
  SITEID           VARCHAR(14),
  DATECREATION     DATETIME,
  DATEMAJ          DATETIME
);
GO

CREATE TABLE RONDE (
  RONDEID          INTEGER PRIMARY KEY,
  NUMERO	   INTEGER,
  LIBELLE          VARCHAR(50),
  SITEID           VARCHAR(14),
  DATECREATION     DATETIME,
  DATEMAJ          DATETIME
);
GO

CREATE TABLE ORONDE (
  ORONDEID         INTEGER PRIMARY KEY,
  RONDIERID        INTEGER,
  RONDIERLIB       VARCHAR(50),
  RONDENUM         INTEGER,
  RONDELIB         VARCHAR(50),
  SITEID           VARCHAR(14),
  RONDEDATE        DATETIME,
  DETAILS          VARCHAR(4000),
  ETAT             INTEGER,
  RONDEAGENT	   VARCHAR(50),
  AGENTID	   INTEGER,
  DATECREATION     DATETIME,
  DATEMAJ          DATETIME
);
GO

CREATE TABLE RONDEMOTCLE (
  RONDEMOTCLEID    INTEGER PRIMARY KEY,
  LIBELLE          VARCHAR(50),
  DATECREATION     DATETIME,
  DATEMAJ          DATETIME
);
GO

CREATE TABLE RONDEMOTCLE_EVT (
  RONDEMOTCLEID   INTEGER,
  EVENEMENTID     INTEGER
);
GO

INSERT INTO RONDEMOTCLE (RONDEMOTCLEID,LIBELLE,DATECREATION,DATEMAJ) VALUES (1,'NON PREVU',GETDATE(),GETDATE());
INSERT INTO RONDEMOTCLE (RONDEMOTCLEID,LIBELLE,DATECREATION,DATEMAJ) VALUES (2,'INCIDENT',GETDATE(),GETDATE());
INSERT INTO RONDEMOTCLE (RONDEMOTCLEID,LIBELLE,DATECREATION,DATEMAJ) VALUES (3,'DEJA LU',GETDATE(),GETDATE());
GO

CREATE TABLE OFICHIER (
  OFICHIERID INT NOT NULL,
  LIBELLE VARCHAR(200),
  DOCUMENT IMAGE,
  DATEMAJ DATETIME,
  DATECREATION DATETIME,
  DATESYNCHRO DATETIME)
;
GO

CREATE TABLE ONOTE (
  ONOTEID int not null,
  EXPEDITEURID int,
  DESTINATAIREID int,
  EXPEDITEUR varchar(70),
  DESTINATAIRE varchar(70),
  OBJET varchar(70),
  CORPS varchar(2000),
  SUPPEXP int,
  SUPPDEST int,
  NEW int,
  DATECREATION datetime not null,
  DATEMAJ datetime
);
GO
ALTER TABLE POSTE ADD TYPEPOSTE INTEGER;
GO
ALTER TABLE POSTE ADD PRISEPOSTE INTEGER;
GO


UPDATE POSTE SET TYPEPOSTE=0;
GO

UPDATE POSTE SET PRISEPOSTE=0;
GO

ALTER TABLE RONDEMOTCLE ADD ETAT INTEGER;
GO

UPDATE RONDEMOTCLE SET ETAT=1;
GO
ALTER TABLE JOUR ADD DATEOFWEEK INTEGER;
GO
UPDATE JOUR SET DATEOFWEEK=1 WHERE CL = 7;
GO
UPDATE JOUR SET DATEOFWEEK=2 WHERE CL = 1;
GO
UPDATE JOUR SET DATEOFWEEK=3 WHERE CL = 2;
GO
UPDATE JOUR SET DATEOFWEEK=4 WHERE CL = 3;
GO
UPDATE JOUR SET DATEOFWEEK=5 WHERE CL = 4;
GO
UPDATE JOUR SET DATEOFWEEK=6 WHERE CL = 5;
GO
UPDATE JOUR SET DATEOFWEEK=7 WHERE CL = 6;
GO

ALTER TABLE RPT_0002 ALTER COLUMN DETAILS1 VARCHAR(200);
GO
ALTER TABLE RPT_0002 ALTER COLUMN DETAILS2 VARCHAR(200);
GO
ALTER TABLE ORONDE ALTER COLUMN DETAILS VARCHAR(8000);
GO
ALTER TABLE RPTZCL19_MEN ALTER COLUMN FORMULAIRE DATETIME;
GO