declare @title integer
   DECLARE counter CURSOR FOR
   SELECT count(*) as counter
   FROM IMPUTATION_TYPE
   WHERE IMPUTATION_TYPEID='VPARDEFAUT';

   OPEN counter
   FETCH NEXT FROM counter INTO @title

   IF @title  = 0
      INSERT INTO IMPUTATION_TYPE (IMPUTATION_TYPEID,LIBELLE) VALUES ('VPARDEFAUT','Code Imputation');
GO

CLOSE counter
DEALLOCATE counter

-- IMPUTATION_TYPEID='1'
declare @title1 integer
   DECLARE counter CURSOR FOR
   SELECT count(*) as counter
   FROM IMPUTATION_TYPE
   WHERE IMPUTATION_TYPEID='1';

   OPEN counter
   FETCH NEXT FROM counter INTO @title1

   IF @title1  = 0
      INSERT INTO IMPUTATION_TYPE (IMPUTATION_TYPEID,LIBELLE) VALUES ('1','Code projet');
GO

CLOSE counter
DEALLOCATE counter

-- STATUTRESERVATION_ETAT=0
declare @title2 integer
   DECLARE counter CURSOR FOR
   SELECT count(*) as counter
   FROM STATUTRESERVATION_ETAT
   WHERE ID=0;

   OPEN counter
   FETCH NEXT FROM counter INTO @title2

   IF @title2  = 0
      INSERT INTO STATUTRESERVATION_ETAT VALUES (0,'Apres demande de réservation',GETDATE(),GETDATE(),NULL);
GO

CLOSE counter
DEALLOCATE counter

-- STATUTRESERVATION_ETAT=1
declare @title3 integer
   DECLARE counter CURSOR FOR
   SELECT count(*) as counter
   FROM STATUTRESERVATION_ETAT
   WHERE ID=1;

   OPEN counter
   FETCH NEXT FROM counter INTO @title3

   IF @title3  = 0
      INSERT INTO STATUTRESERVATION_ETAT VALUES (1,'avant réunion',GETDATE(),GETDATE(),NULL);
GO

CLOSE counter
DEALLOCATE counter
-- STATUTRESERVATION_SET=0
declare @title4 integer
   DECLARE counter CURSOR FOR
   SELECT count(*) as counter
   FROM STATUTRESERVATION_SET
   WHERE ID=0;

   OPEN counter
   FETCH NEXT FROM counter INTO @title4

   IF @title4  = 0
      INSERT INTO STATUTRESERVATION_SET VALUES (0,'Pas de relance',GETDATE(),GETDATE(),NULL);
GO

CLOSE counter
DEALLOCATE counter
	-----------------------------------------------

-- STATUTRESERVATION_SET=1
declare @title5 integer
   DECLARE counter CURSOR FOR
   SELECT count(*) as counter
   FROM STATUTRESERVATION_SET
   WHERE ID=1;

   OPEN counter
   FETCH NEXT FROM counter INTO @title5

   IF @title5  = 0
      INSERT INTO STATUTRESERVATION_SET VALUES (1,'Relance',GETDATE(),GETDATE(),NULL);
GO

CLOSE counter
DEALLOCATE counter

-- STATUTRESERVATION_SET=2
declare @title6 integer
   DECLARE counter CURSOR FOR
   SELECT count(*) as counter
   FROM STATUTRESERVATION_SET
   WHERE ID=2;

   OPEN counter
   FETCH NEXT FROM counter INTO @title6

   IF @title6  = 0
      INSERT INTO STATUTRESERVATION_SET VALUES (2,'Confirmer',GETDATE(),GETDATE(),NULL);
GO

CLOSE counter
DEALLOCATE counter

-- NATURE='EXTERIEUR'
declare @title7 integer
   DECLARE counter CURSOR FOR
   SELECT count(*) as counter
   FROM NATURE
   WHERE NATUREID='EXTERIEUR';

   OPEN counter
   FETCH NEXT FROM counter INTO @title7

   IF @title7  = 0
      INSERT INTO NATURE (NATUREID,LIBELLE,ABREGE,TVISITE,INTERDIT,DEBUTINTERDIT,FININTERDIT,DATECREATION,DATEMAJ) VALUES ('EXTERIEUR','EXTERIEUR','EXT','1','0',GETDATE()-1,GETDATE()+36000,GETDATE(),GETDATE());
GO

CLOSE counter
DEALLOCATE counter

-- ZONE='VPARDEFAUT'
declare @title8 integer
   DECLARE counter CURSOR FOR
   SELECT count(*) as counter
   FROM ZONE
   WHERE ZONEID='VPARDEFAUT';

   OPEN counter
   FETCH NEXT FROM counter INTO @title8

   IF @title8  = 0
      INSERT INTO ZONE (ZONEID, ZONENOM, ZONERESPONSABLE, DATEMAJ, DATECREATION) VALUES ('VPARDEFAUT','TOUTES ZONES','**********',GETDATE(), GETDATE());
GO

CLOSE counter
DEALLOCATE counter


ALTER TABLE IMPUTATION ADD LIBELLE2 VARCHAR(35);
GO

UPDATE VISITES SET EXTERNALID=RESIDANTID WHERE EXTERNALID IS NULL;
GO

UPDATE ZCL01_VISITE SET ACCES=FREQUENCE WHERE FREQUENCE='VI';
GO

INSERT INTO TYPE_MISSION (TYPE_MISSIONID, LIBELLE, DATEMAJ, DATECREATION, DATESYNCHRO) VALUES (-1,'PRISE DE POSTE',GETDATE(),GETDATE(),GETDATE());
GO
INSERT INTO TYPE_MISSION (TYPE_MISSIONID, LIBELLE, DATEMAJ, DATECREATION, DATESYNCHRO) VALUES (-2,'FIN DE POSTE',GETDATE(),GETDATE(),GETDATE());
GO
INSERT INTO TYPE_MISSION (TYPE_MISSIONID, LIBELLE, DATEMAJ, DATECREATION, DATESYNCHRO) VALUES (-3,'SANS FIN',GETDATE(),GETDATE(),GETDATE());
GO

INSERT INTO VSERVICE (VSERVICEID, LIBELLE, DATEMAJ, DATECREATION, DATESYNCHRO) VALUES (0,'**********',GETDATE(),GETDATE(),GETDATE());
GO
INSERT INTO OCONSIGNE (OCONSIGNEID,LIBELLE) VALUES (0,'**********');
GO
INSERT INTO QUALIF (QUALIFID, LIBELLE, DATEMAJ, DATECREATION, DATESYNCHRO) VALUES (0,'**********',GETDATE(),GETDATE(),GETDATE());
GO
INSERT INTO RAPPORT (RAPPORTID, LIBELLE, NOMTABLE, DETAILS, AUTEURID, DATEMAJ, DATECREATION, DATESYNCHRO) VALUES (0,'**********','*','*',0,GETDATE(),GETDATE(),GETDATE());
GO
INSERT INTO POSTE (POSTEID,LIBELLE,DATECREATION,DATEMAJ) VALUES (0,'**********',GETDATE(),GETDATE());
GO
INSERT INTO PERSONNEL (PERSONNELID,THELOGIN,NOM,PRENOM,DATECREATION,DATEMAJ) VALUES (-1,'Ommnigarde','***','***',GETDATE(),GETDATE());
GO

INSERT INTO EVENEMENT (EVENEMENTID,LIBELLE,RAPPORTID,CONSIGNEID,ISRAPPORT,DATEMAJ,DATECREATION,DATESYNCHRO) VALUES (-1,'PRISE DE POSTE',0,0,0,GETDATE(),GETDATE(),GETDATE());
GO
INSERT INTO EVENEMENT (EVENEMENTID,LIBELLE,RAPPORTID,CONSIGNEID,ISRAPPORT,DATEMAJ,DATECREATION,DATESYNCHRO) VALUES (-2,'FIN DE POSTE',0,0,0,GETDATE(),GETDATE(),GETDATE());
GO
INSERT INTO EVENEMENT (EVENEMENTID,LIBELLE,RAPPORTID,CONSIGNEID,ISRAPPORT,DATEMAJ,DATECREATION,DATESYNCHRO) VALUES (-3,'MISSION',0,0,0,GETDATE(),GETDATE(),GETDATE());
GO

INSERT INTO JOUR (JOURID, LIBELLE, TYPE_JOUR, DEBUT_VALIDITE, FIN_VALIDITE, DATEMAJ, DATECREATION) VALUES (1,'DIMANCHE','DIMANCHE',GETDATE(),'01/01/2110',GETDATE(),GETDATE());
GO
INSERT INTO JOUR (JOURID, LIBELLE, TYPE_JOUR, DEBUT_VALIDITE, FIN_VALIDITE, DATEMAJ, DATECREATION) VALUES (2,'LUNDI','LUNDI',GETDATE(),'01/01/2110',GETDATE(),GETDATE());
GO
INSERT INTO JOUR (JOURID, LIBELLE, TYPE_JOUR, DEBUT_VALIDITE, FIN_VALIDITE, DATEMAJ, DATECREATION) VALUES (3,'MARDI','MARDI',GETDATE(),'01/01/2110',GETDATE(),GETDATE());
GO

DROP INDEX ACTIONCONTACT.ACTIONCONTACT0;
GO
DROP INDEX RAR_CODEART;
GO
DROP INDEX ACTIONCONTACT.ACTIONCONTACT_LIBELLE;
GO
DROP INDEX ADRESSE.ADRESSE_NDX;
GO
DROP INDEX ART_REFCONSTRUCTEUR;
GO
DROP INDEX ART_REFERENCE;
GO
DROP INDEX ARTDEF_TDSORTORDER;
GO
DROP INDEX ART_PHONKEY;
GO
DROP INDEX CONTACT_DATECONTACT;
GO
DROP INDEX EXTERNAL_ID;
GO
DROP INDEX EXTERNALID;
GO
DROP INDEX BAT_SORTORDER;
GO

DROP INDEX INTERLOCUTEUR_FONKEY;
GO
DROP INDEX ORRIGINECONTACT_LIBELLE;
GO
DROP INDEX DEBUT_RESID;
GO
DROP INDEX DEVIS_AFFAIRE;
GO
DROP INDEX DEVIS_CLIENT;
GO
DROP INDEX FACTURE_CLIENTDATE;
GO
DROP INDEX GROUPE;
GO
DROP INDEX GROUPE_INTERDIT;
GO
DROP INDEX INTERDIT;
GO
DROP INDEX IS_SECURED;
GO
DROP INDEX IS_ACTIF;
GO
DROP INDEX IS_PRESTATAIRE;
GO
DROP INDEX IS_RESIDENT;
GO
DROP INDEX LGFACTURE_PRODUIT;
GO
DROP INDEX NUMVISITE_SITE;
GO
DROP INDEX PAYS_INTERDIT;
GO
DROP INDEX PRODUIT_CODEREF;
GO
DROP INDEX RAR_LIBELLE;
GO
DROP INDEX RESACELL_LGRESA;
GO
DROP INDEX RESIDANT_SITE;
GO
DROP INDEX RESIDANTS_NOMPRENOM;
GO
DROP INDEX SALLE;
GO
DROP INDEX SITE_SOC_PARK;
GO
DROP INDEX SOCIETE_INTERDIT;
GO
DROP INDEX SOCIETE_RESID_NOM;
GO
DROP INDEX USER_EXTERNAL;
GO
DROP INDEX VILLE.VILLE_CP;
GO
DROP INDEX VILLE.VILLE_PHONKEY;
GO
DROP INDEX INTERLOCUTEUR.VISIT_NOMPRENOM;
GO


DROP INDEX RESIDANTS.RESIDANTS_FONKEY;
GO
DROP INDEX RESIDANTS.RESIDANTS_IMPORT;
GO
DROP INDEX RESIDANTS.RESIDANTS_OUTLOOKENTRYID;
GO
DROP INDEX SOCIETE.SOCIETE_IMPORT;
GO
DROP INDEX SOCIETE.SOCIETE_OUTLOOKENTRYID;
GO
DROP INDEX VISIT_IMPORT;
GO
DROP INDEX VISIT_OUTLOOKENTRYID;
GO


ALTER TABLE INTERLOCUTEUR DROP CONSTRAINT fk_inter_identiteid;
GO
ALTER TABLE SOCIETE DROP CONSTRAINT fk_soc_groupeid;
GO
ALTER TABLE VISITES DROP CONSTRAINT fk_visi_codesalle;
GO
ALTER TABLE SOCIETE DROP CONSTRAINT FK_SOC_PLANID;
GO
ALTER TABLE SOCIETE DROP CONSTRAINT FK_SOC_BADGEID;
GO
ALTER TABLE SALLE DROP CONSTRAINT fk_salle_socid;
GO
ALTER TABLE PARKING DROP CONSTRAINT fk_park_sociid;
GO

--
CREATE INDEX VISIT_NOMPRENOM ON INTERLOCUTEUR(NOMPRENOM);
GO
CREATE INDEX RESI_NOMPRENOM ON RESIDANTS(NOMPRENOM);
GO
-------------------------BL------------------------
-------------------------------------------------------

ALTER TABLE SN_SITES ADD ETAT_BATCH VARCHAR(14);
GO

ALTER TABLE INTERLOCUTEUR DROP CONSTRAINT fk_inter_pays;
GO
ALTER TABLE INTERLOCUTEUR DROP CONSTRAINT fk_inter_socid;
GO
ALTER TABLE INTERLOCUTEUR DROP CONSTRAINT fk_inter_natureid;
GO

ALTER TABLE VISITES DROP CONSTRAINT fk_visi_interid;
GO

ALTER TABLE CONSIGNE DROP CONSTRAINT fk_cons_interid;
GO

ALTER TABLE COLISEMIS DROP CONSTRAINT fk_dole_interid;
GO

ALTER TABLE COLISRECU DROP CONSTRAINT fk_colr_interid;
GO

------------------------------BN/BTNR/BTNE/BTL-------------------------

ALTER TABLE SN_SITES ADD ETAT_BATCH VARCHAR(14);
GO

CREATE UNIQUE INDEX U_INTERID ON INTERLOCUTEUR(INTERLOCUTEURID);
GO
CREATE UNIQUE INDEX U_SOCIETEID ON SOCIETE(SOCIETEID);
GO
CREATE UNIQUE INDEX U_RESIDANTID ON RESIDANTS(RESIDANTID);
GO
ALTER TABLE CONSIGNE DROP CONSTRAINT FK_CONS_INTERID;
GO
ALTER TABLE CONSIGNE DROP CONSTRAINT FK_CONS_RESIID;
GO

DROP INDEX VISITES.VISTE_STATUT;
GO

CREATE INDEX VISITEUR_SUR_SITE ON VISITES(SITEID,INTERLOCUTEURID,STATUTID);
GO

INSERT INTO ADRESSE (ADRESSEID,TYPEADRESSEID,SOCIETE,NOM,DATECREATION,DATEMAJ) VALUES ('VPARDEFAUT',0,'********','********',GETDATE(),GETDATE());
GO

UPDATE BADGES SET OBSERVATION='';
GO

ALTER TABLE PARAMETRES DROP COLUMN CHIMGPL;
GO
ALTER TABLE PARAMETRES ADD CHIMGPL IMAGE;
GO

ALTER TABLE PARAMETRES DROP COLUMN CHIMGRE;
GO
ALTER TABLE PARAMETRES ADD CHIMGRE IMAGE;
GO

ALTER TABLE PARAMETRES DROP COLUMN CHIMGVT;
GO
ALTER TABLE PARAMETRES ADD CHIMGVT IMAGE;
GO

CREATE INDEX SORTIE_VISITEUR ON VISITES(STATUTID, SITEID, NUMEROBADGE);
GO
CREATE INDEX RESIDANT ON VISITES(SITEID, RESIDANTID, STATUTID);
GO


CREATE TABLE ZCL07_BADGETYPE
(
 ZCL07_BADGETYPEID VARCHAR(14),
 NAME VARCHAR(25),
 CLASS INTEGER,
 SERIE VARCHAR(10),
 CUSTOMERCODE VARCHAR(10),
 DEBUT INTEGER,
 FIN INTEGER
);
GO
------------------------------------------------------------
------------Paramétrable en fonction du site----------------
------------------------------------------------------------

INSERT INTO ZCL07_BADGETYPE VALUES ('1','Badge',1,'5','15a',0,2000);
GO



ALTER TABLE USERS ADD USERTYPE NUMBER(*);
GO



-------------------------------------------------------------------------------------------------------
------------------------------------Table des Badges pour la ré-impression-----------------------------
-------------------------------------------------------------------------------------------------------

CREATE TABLE BADGEIMPRIME
(
   NOUVEAUNUMERO	VARCHAR(14),
   STATUT		VARCHAR(20),
   DATEMAJ		DATETIME
);
GO


CREATE INDEX VISIT_NOM ON INTERLOCUTEUR(NOM);
GO

CREATE INDEX VISIT_INTER ON VISITES(SITEID,INTERLOCUTEURID,STATUTID,DEBUTPREVU,FINPREVU);
GO

CREATE INDEX VISIT_RES ON RESIDANTS(ISACTIF,NOM);
GO
CREATE INDEX VISIT_RES_SITE ON RESIDANTS(SITEID,ISACTIF,NOM);
GO

CREATE INDEX INTER_NATURE ON INTERLOCUTEUR(INTERLOCUTEURID,NATUREID);
GO
CREATE INDEX VISIT_INTERID ON VISITES(INTERLOCUTEURID);
GO
CREATE INDEX NATURE_NATUREID ON NATURE(TVISITE,NATUREID);
GO
CREATE INDEX VISIT_NUMEROVISITE ON VISITES(NUMEROVISITE);
GO
CREATE INDEX VISIT_NUMEROVISITE1 ON VISITES(NUMEROVISITE,INTERLOCUTEURID);
GO

CREATE TABLE VISITES_ES
(
VISITEID	VARCHAR(14)	NOT NULL,
DATEHEUREENTREE	DATETIME,
DATEHEURESORTIE	DATETIME
);
GO

UPDATE INTERLOCUTEUR SET NATUREID = 'VPARDEFAUT' WHERE NATUREID IS NULL;
GO
ALTER TABLE VISITES ADD
ORIGINEVISITE		INT,
NBBDGIMPR		INT,
NBBDGIMPRTOTAL		INT
;
GO

CREATE TABLE SALLEFUS (
   CODESALLEFUS VARCHAR2(14),
   LIBELLE  VARCHAR2(50),
   DECODESALLE VARCHAR2(14),
   DATECREATION DATE,
   DATEMAJ      DATE);
GO

CREATE TABLE SALLEFUS_COMP (
   CODESALLEFUS VARCHAR2(14),
   CODESALLE VARCHAR2(14));
GO
ALTER TABLE PARAMETRES ADD REFIMPORTATION VARCHAR(48);
GO
UPDATE PARAMETRES SET REFIMPORTATION='1';
GO
UPDATE INTERLOCUTEUR SET PHONKEY='1' WHERE PHONKEY IS NULL;
GO

ALTER TABLE INTERLOCUTEUR ALTER COLUMN PHONKEY VARCHAR(35) DEFAULT '1';
GO

ALTER TABLE RESIDANTS ALTER COLUMN ISRESIDENT VARCHAR(1) DEFAULT '1';
GO

CREATE TABLE VISITE_CONTROLE (
 VISITEID VARCHAR(14),
 NUMEROVISITE INT,
 RESIDANTID VARCHAR(14),
 DATEVISITE DATETIME
);
GO
ALTER TABLE INTER_RSERVICE ADD RESIDANTID VARCHAR(14);
GO
CREATE INDEX INTERLOCUTEUR_DELEGUE ON INTERLOCUTEUR (NOMPRENOM, PHONKEY);
GO

DROP INDEX INTERLOCUTEUR.INT_FONKEY;
GO
ALTER TABLE SOCIETE ADD NATUREID VARCHAR(14);
GO

UPDATE SOCIETE SET NATUREID='VPARDEFAUT';
GO

ALTER TABLE GUICHET ALTER COLUMN POSTE VARCHAR(35) NULL;
GO