ALTER TABLE GRPUSER ADD VALIDEUR INTEGER DEFAULT 0;
GO

ALTER TABLE GRPSALLE ADD SALLE_VALIDATION INTEGER DEFAULT 0;
GO

ALTER TABLE GRPSALLE ADD SALLE_STATUTFORCE VARCHAR(14);
GO

ALTER TABLE RESERVATION ADD SALLE_VALIDEE INTEGER DEFAULT 0;
GO

CREATE TABLE GSVALIDATION_LOG
(
GSVALIDATION_LOGID	VARCHAR(14)	NOT NULL,
CODERESERVATION	VARCHAR(14),
REFRESERVATION	VARCHAR(15),
LIBELLESALLE	VARCHAR(70),
DATEDEBUT	DATETIME,
DATEFIN	DATETIME,
STATUT_OLD VARCHAR(35),
STATUT VARCHAR(35),
VALIDEUR VARCHAR(70),
DATECREATION	DATETIME,
DATEMAJ	DATETIME
);
GO

