CREATE TABLE ZCL17_PROFIL (
  ZCL17_PROFILID  VARCHAR(14)  NOT NULL,
  NUMERO	  VARCHAR(35),
  LIBELLE         VARCHAR(35),
  SITEID          VARCHAR(14),
  DATECREATION    DATETIME,
  DATEMAJ         DATETIME,
  DATESYNCHRO     DATETIME
);
GO

CREATE TABLE ZCL17_VISITE (
  ZCL17_VISITEID VARCHAR(14) NOT NULL,
  ACT            VARCHAR(14),
  NUMERO	 VARCHAR(20),
  NOMV		 VARCHAR(35),
  PRENOMV	 VARCHAR(35),
  SOCIETE	 VARCHAR(35),
  NOMR		 VARCHAR(35),
  PRENOMR	 VARCHAR(35),
  GUICHET	 VARCHAR(40),
  PROFIL1	 VARCHAR(35),
  PROFIL2	 VARCHAR(35),
  PROFIL3	 VARCHAR(35),
  PROFIL4	 VARCHAR(35),
  DEBUT		 VARCHAR(35),
  FIN		 VARCHAR(35),
  STATUT	 INT,
  SITEID	 VARCHAR(14),
  DATECREATION   DATETIME,
  DATEMAJ        DATETIME,
  DATESYNCHRO    DATETIME
);
GO

CREATE TABLE ZCL09_PROFIL (
  ZCL09_PROFILID  VARCHAR(14)  NOT NULL,
  NUMERO	  VARCHAR(35),
  LIBELLE         VARCHAR(35),
  SITEID          VARCHAR(14),
  DATECREATION    DATETIME,
  DATEMAJ         DATETIME,
  DATESYNCHRO     DATETIME
);
GO

CREATE TABLE ZCL09_VISITE (
  ZCL09_VISITEID  VARCHAR (14) NOT NULL,
  LIGNE		  VARCHAR (300),
  STATUT	  INT,
  SITEID	  VARCHAR (14),
  DATECREATION    DATETIME,
  DATEMAJ         DATETIME,
  DATESYNCHRO     DATETIME
);
GO

