CREATE TABLE DEPFR (
  DEPFRID        INT PRIMARY KEY,
  NUMERO	 VARCHAR(10),
  DEPARTEMENT	 VARCHAR(70),
  PREFERTURE	 VARCHAR(70),
  REGION         VARCHAR(70),
  DATECREATION   DATETIME not null,
  DATEMAJ        DATETIME
);
GO

INSERT INTO DEPFR (DEPFRID,NUMERO,DEPARTEMENT,PREFERTURE,REGION,DATECREATION,DATEMAJ) VALUES (1,'001','Ain','Bourg-en-Bresse','Rhône-Alpes',GETDATE(),GETDATE());
INSERT INTO DEPFR (DEPFRID,NUMERO,DEPARTEMENT,PREFERTURE,REGION,DATECREATION,DATEMAJ) VALUES (2,'002','Aisne','Laon','Picardie',GETDATE(),GETDATE());
INSERT INTO DEPFR (DEPFRID,NUMERO,DEPARTEMENT,PREFERTURE,REGION,DATECREATION,DATEMAJ) VALUES (3,'003','Allier','Moulins','Auvergne',GETDATE(),GETDATE());

GO


UPDATE VILLE SET PHONKEY=(SELECT D.DEPARTEMENT FROM DEPFR D, VILLE V WHERE (D.NUMERO='0'+SUBSTRING(V.CODEPOSTAL,1,2)) AND (V.CODEVILLE=VILLE.CODEVILLE)) WHERE (CODEPOSTAL<>'' OR CODEPOSTAL IS NOT NULL) AND (SUBSTRING(CODEPOSTAL,1,2)<>'97');
GO
UPDATE VILLE SET PHONKEY=(SELECT D.DEPARTEMENT FROM DEPFR D, VILLE V WHERE (D.NUMERO=SUBSTRING(V.CODEPOSTAL,1,3)) AND (V.CODEVILLE=VILLE.CODEVILLE)) WHERE (CODEPOSTAL<>'' OR CODEPOSTAL IS NOT NULL) AND (SUBSTRING(CODEPOSTAL,1,2)='97');
GO

ALTER TABLE ROLE_AUTRES ADD VILLES INTEGER;
GO
ALTER TABLE ROLE_PARAMETRAGES ADD SECOND_ACCUEIL INTEGER;
GO

CREATE TABLE MARCHE (
  MARCHEID 	 VARCHAR(14) NOT NULL,
  MARCHE	 VARCHAR(120),
  OBJET		 VARCHAR(250),
  MANDATAIRE	 VARCHAR(35),
  MANDATAIREID	 VARCHAR(14),
  RANG		 VARCHAR(20),
  FINPREVUE	 DATETIME,
  CSPS	 	 DATETIME,
  INSPECCOMMUNE	 DATETIME,
  DATECREATION   DATETIME,
  DATEMAJ        DATETIME,
  DATESYNCHRO    DATETIME
);
GO

INSERT INTO MARCHE (MARCHEID,MARCHE,OBJET,MANDATAIRE,MANDATAIREID,RANG,FINPREVUE,CSPS,INSPECCOMMUNE,DATECREATION,DATEMAJ,DATESYNCHRO) VALUES ('VPARDEFAUT','PAS DE MARCHE','','**********','VPARDEFAUT','-1','01/01/1900','01/01/1900','01/01/1900',GETDATE(),GETDATE(),GETDATE());
GO

ALTER TABLE VISITES_EXT ADD MARCHEID VARCHAR(14);
GO

UPDATE VISITES_EXT SET MARCHEID='VPARDEFAUT' WHERE (MARCHEID='') OR (MARCHEID IS NULL);
GO

CREATE TABLE SOCMAR (
  SOCIETEID	 VARCHAR(14) NOT NULL,
  MARCHEID 	 VARCHAR(14) NOT NULL,
  DATECREATION   DATETIME,
  DATEMAJ        DATETIME,
  DATESYNCHRO    DATETIME
);
GO

