
ALTER TABLE BATIMENT ADD IMMEUBLE INT;
GO

ALTER TABLE STATUTVISITE ALTER COLUMN STATUTVISITE VARCHAR(50);
GO

ALTER TABLE VISITES ALTER COLUMN STATUTVISITE VARCHAR(50);
GO

ALTER TABLE HVISITES ALTER COLUMN STATUTVISITE VARCHAR(50);
GO

ALTER TABLE VISITES_TEMP ALTER COLUMN STATUTVISITE VARCHAR(50);
GO

