ALTER TABLE INTERLOCUTEUR ADD DOUBLON_TRAITE INT DEFAULT 0;
GO
UPDATE INTERLOCUTEUR SET DOUBLON_TRAITE=0 WHERE DOUBLON_TRAITE IS NULL;
GO
ALTER TABLE TQ_POSTE ADD COCHER_PHS INT DEFAULT 0;
GO
UPDATE TQ_POSTE SET COCHER_PHS=0 WHERE COCHER_PHS IS NULL;
GO

ALTER TABLE RESIDANTS ADD VIP INTEGER DEFAULT 0;
GO
UPDATE RESIDANTS SET VIP=0 WHERE VIP IS NULL;
GO

ALTER TABLE VISITES ADD VIP INTEGER DEFAULT 0;
GO
UPDATE VISITES SET VIP=0 WHERE VIP IS NULL;
GO

CREATE TABLE dbo.GRPSITE(
   GRPSITEID    VARCHAR(14),
   LIBELLE      VARCHAR(50),
   DATECREATION DATETIME,
   DATEMAJ      DATETIME
);
GO

CREATE TABLE dbo.GRPSITE_SITE(
   GRPSITEID   VARCHAR(14),
   SITEID      VARCHAR(14)
);
GO


ALTER TABLE ROLE_AUTRES ADD GRPSITE INT DEFAULT 0;
GO
UPDATE ROLE_AUTRES SET GRPSITE=0 WHERE GRPSITE IS NULL;
GO

ALTER TABLE TQ_COMMUNE ADD VISITE_SITERESID INT DEFAULT 0;
GO
UPDATE TQ_COMMUNE SET VISITE_SITERESID=0 WHERE VISITE_SITERESID IS NULL;
GO

ALTER TABLE PARKING ADD CAPACITE INT;
GO
UPDATE PARKING SET CAPACITE=0 WHERE CAPACITE IS NULL;
GO