ALTER TABLE PROFILESMV ALTER COLUMN LIBELLE VARCHAR(200);
GO

ALTER TABLE ZCL01_BA ALTER COLUMN NUMBDG VARCHAR(200);
GO

ALTER TABLE ZCL01_VISITE ALTER COLUMN BADGE VARCHAR(200);
GO

ALTER TABLE VISITES ALTER COLUMN NUMEROBADGE VARCHAR(200);
GO

