ALTER TABLE EVENEMENT ADD PRIMARY KEY (EVENEMENTID);
GO
ALTER TABLE GRPEVENEMENT ADD PRIMARY KEY (GRPEVENEMENTID);
GO
ALTER TABLE LIEU ADD PRIMARY KEY (LIEUID);
GO
ALTER TABLE JOUR ADD PRIMARY KEY (JOURID);
GO

INSERT INTO GRPEVENEMENT (GRPEVENEMENTID, LIBELLE, DATECREATION, DATEMAJ) VALUES (-1, 'SYSTEME', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
GO
UPDATE EVENEMENT SET GRPEVENEMENTID=-1 WHERE GRPEVENEMENTID='' OR GRPEVENEMENTID IS NULL;
GO

CREATE TABLE dbo.OTACHE (
OTACHEID	INTEGER PRIMARY KEY,
TYPEJOUR	VARCHAR(20),
HEUREEXECUTION	DATETIME,
ACTION	VARCHAR(20),
HEUREDEBUT	DATETIME,
HEUREFIN	DATETIME,
NBJOURMOINS	INTEGER DEFAULT 0,
MODEA	INTEGER DEFAULT 0,
ACTIF	INTEGER DEFAULT 1,
PROCHAINEEXECUTION DATETIME,
DERNIEREEXECUTION DATETIME,
DERNIERRESULTAT	INTEGER DEFAULT 0,
SITEID	VARCHAR(20),
GROUPEDESTID	INTEGER,
DATECREATION DATETIME NOT NULL,
DATEMAJ DATETIME
);
GO

INSERT INTO OTACHE (OTACHEID,TYPEJOUR,HEUREEXECUTION,ACTION,HEUREDEBUT,HEUREFIN,NBJOURMOINS,SITEID,GROUPEDESTID,DATECREATION) VALUES (1,'0:0','08:00','MAINCOURANTE','07:00','07:00',-1,'VPARDEFAULT',1865,GETDATE());
GO

ALTER TABLE OFICHIER ADD CONTENTTYPE VARCHAR(50);
ALTER TABLE OFICHIER ADD DATASIZE INTEGER;
GO
