ALTER TABLE POSTE ADD OPTIONADMIN_AUTOSTART INTEGER;
GO
ALTER TABLE POSTE ADD OPTIONADMIN_LOCKDESKTOP INTEGER;
GO
ALTER TABLE POSTE ADD OPTIONADMIN_SHUTDOWN INTEGER;
GO

ALTER TABLE PERSONNEL ADD EMPPK_LEN INTEGER;
GO
