ALTER TABLE BADGES_ELEMENTS ADD SUBSTR_DEBUT INTEGER;
GO
ALTER TABLE BADGES_ELEMENTS ADD SUBSTR_LONG INTEGER;
GO

ALTER TABLE BADGES_ELEMENTS_TMP ADD SUBSTR_DEBUT INTEGER;
GO
ALTER TABLE BADGES_ELEMENTS_TMP ADD SUBSTR_LONG INTEGER;
GO
