ALTER TABLE VISITES ADD CODELGRESERVATION VARCHAR(14);
GO

ALTER TABLE LGRESERVATION ADD PORTE_CODE VARCHAR(50);
GO

ALTER TABLE SALLE ADD PORTE_CLE VARCHAR(50);
GO

ALTER TABLE SALLE ADD PORTE_OPTION VARCHAR(300);
GO

EXEC sp_rename 'dbo.BAGDES_IMAGES', 'BADGES_IMAGES';
GO
EXECUTE sp_rename N'dbo.BADGES_IMAGES.BAGDES_IMAGEID', N'BADGES_IMAGEID', 'COLUMN';
GO
EXECUTE sp_rename N'dbo.BADGES_ELEMENTS.BAGDES_IMAGEID', N'BADGES_IMAGEID', 'COLUMN';
GO
EXECUTE sp_rename N'dbo.BADGES_ELEMENTS_TMP.BAGDES_IMAGEID', N'BADGES_IMAGEID', 'COLUMN';
GO

