CREATE TABLE dbo.XANNEXE(
	XANNEXEID VARCHAR(14) PRIMARY KEY,
	XANNEXE_TYPEID INT DEFAULT ('0'),
	ORIGINEID VARCHAR(14),
	ORIGINE INT,
	OFICHIERID INT,
	STATUTID INT DEFAULT ((0)),
	DATEFIN DATETIME,
	FREE01 VARCHAR(50),
	FREE02 VARCHAR(50),
	FREE03 VARCHAR(50),
	FREE04 VARCHAR(50),
	FREE05 VARCHAR(50),
	FREE06 VARCHAR(50),
	FREE07 VARCHAR(50),
	FREE08 VARCHAR(50),
	FREE09 VARCHAR(50),
	FREEDATE01 DATETIME,
	FREEDATE02 DATETIME,
	INFORMATION_TYPEID INT,
	DATECREATION DATETIME NOT NULL,
	DATEMAJ DATETIME NOT NULL
);
GO

ALTER TABLE XANNEXE ALTER COLUMN ORIGINE VARCHAR(50);
GO

UPDATE XANNEXE SET ORIGINE='INTERLOCUTEUR' WHERE ORIGINE='0';
UPDATE XANNEXE SET ORIGINE='PERSONNEL' WHERE ORIGINE='1';
GO

UPDATE XANNEXE SET ORIGINE='INTERLOCUTEUR' WHERE ORIGINE='-1';
UPDATE XANNEXE SET ORIGINE='SOCIETE' WHERE ORIGINE='-2';
UPDATE XANNEXE SET ORIGINE='VISITES' WHERE ORIGINE='-3';
GO

CREATE TABLE dbo.ZCL35_LECTEUR(
	ZCL35_LECTEURID INT PRIMARY KEY,
	IP VARCHAR(15) NOT NULL,
	PORT INT NOT NULL,
	MDP VARCHAR(20),
	STATUT INT,
	SITEID VARCHAR(14),
	DATEMAJ DATETIME NOT NULL,
	DATECREATION DATETIME NOT NULL
);
GO

CREATE TABLE dbo.ZCL35_DUMP(
	DUMPID INT,
	NUMDOIGT INT,
	NOM VARCHAR(35),
	PRENOM VARCHAR(35),
	INTERLOCUTEURID VARCHAR(14),
	STATUT INT,
	DATEMAJ DATETIME,
	DATECREATION DATETIME,
	PRIMARY KEY(DUMPID,NUMDOIGT)
);
GO

CREATE TABLE dbo.ZCL35_DUMP_LOG(
	DUMPLOGID VARCHAR(14) PRIMARY KEY,
	BIOVEINID VARCHAR(15),
	OPERATION VARCHAR(20),
	OPERATIONSTATUT INT,
	OPERATIONMESSAGE VARCHAR(MAX),
	DATEMAJ DATETIME,
	DATECREATION DATETIME
);
GO
