CREATE TABLE dbo.TYPEVEHICULE (
	ID_TYPEVEHICULE INTEGER PRIMARY KEY,
	LIBELLE VARCHAR(35),
	DATECREATION DATETIME NOT NULL,
	DATEMAJ DATETIME NOT NULL,
	DATESYNCHRO DATETIME
);
GO

CREATE TABLE dbo.EVENEMENTCOURSE (
	ID_EVENEMENTCOURSE INTEGER	PRIMARY KEY,
	ID_COURSE INTEGER,
	LIBELLE VARCHAR(200),
	DATEHEURE DATETIME,
	USERID VARCHAR(14),
	DATECREATION DATETIME NOT NULL,
	DATEMAJ DATETIME NOT NULL,
	DATESYNCHRO DATETIME
);
GO

CREATE TABLE dbo.COURSE (
	ID_COURSE INTEGER PRIMARY KEY,
	ID_STATUTCOURSE VARCHAR(14),
	SITEID VARCHAR(14),
	DATEHEUREDEMANDE DATETIME,
	LIEUDEPART VARCHAR(40),
	DATEHEUREDEPART DATETIME,
	ID_TYPEVEHICULE INTEGER,
	OBJET VARCHAR(200),
	MOYENPAIEMENT VARCHAR(50),
	IMPUTATIONID VARCHAR(14),
	CODECLIENT VARCHAR(10),
	NUMCOURSE VARCHAR(35),
	REFERENCESTAXI VARCHAR(200),
	DELAI INT,
	ADRESSEID VARCHAR(14),
	DATEHEUREFIN DATETIME,
	DATECREATION DATETIME NOT NULL,
	DATEMAJ DATETIME NOT NULL,
	DATESYNCHRO DATETIME
);
GO

CREATE TABLE dbo.STATUTCOURSE (
	ID_STATUTCOURSE INTEGER PRIMARY KEY,
	LIBELLE VARCHAR(35),
	COLOR INTEGER,
	DATECREATION DATETIME NOT NULL,
	DATEMAJ DATETIME NOT NULL,
	DATESYNCHRO DATETIME
);
GO

CREATE TABLE dbo.PASSAGERTAXI (
	ID_PASSAGERTAXI INTEGER PRIMARY KEY,
	ID_COURSE INTEGER,
	RESIDANTID VARCHAR(14),
	INTERLOCUTEURID VARCHAR(14),
	CONTACT VARCHAR(200),
	HANDICAP VARCHAR(200),
	ANIMAL VARCHAR(200),
	ORDRE INTEGER,
	DATECREATION DATETIME NOT NULL,
	DATEMAJ DATETIME NOT NULL,
	DATESYNCHRO DATETIME
);
GO

CREATE TABLE dbo.DROITSTAXI (
	ID_DROITSTAXI INT PRIMARY KEY,
	LIBELLE VARCHAR(35),
	DROITS INTEGER,
	DATECREATION DATETIME NOT NULL,
	DATEMAJ DATETIME NOT NULL,
	DATESYNCHRO DATETIME
);
GO

INSERT INTO DROITSTAXI (ID_DROITSTAXI, LIBELLE, DROITS, DATECREATION, DATEMAJ) VALUES (1, 'ADMINISTRATION', 63, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
INSERT INTO DROITSTAXI (ID_DROITSTAXI, LIBELLE, DROITS, DATECREATION, DATEMAJ) VALUES (9, 'ACCUEIL', 28, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
GO

DELETE FROM TYPEADRESSE WHERE TYPEADRESSEID = -1;
INSERT INTO TYPEADRESSE (TYPEADRESSEID, TYPEADRESSE, DATECREATION, DATEMAJ) VALUES (-1, 'TAXIS', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
--INSERT INTO ADRESSE (ADRESSEID, TYPEADRESSEID, SOCIETE, TELEPHONE, DATECREATION, DATEMAJ) VALUES ('G7', -1, 'TAXIS G7', '01 47 39 47 39', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
ALTER TABLE USERS ADD ID_DROITSTAXI INT;
GO

ALTER TABLE TABLEREFERENCE ADD TEXTE_FR VARCHAR(100);
ALTER TABLE TABLEREFERENCE ADD TEXTE_EN VARCHAR(100);
GO

DELETE FROM STATUTCOURSE
INSERT INTO STATUTCOURSE (ID_STATUTCOURSE, LIBELLE, COLOR, DATECREATION, DATEMAJ) VALUES (-1, 'NOUVEAU', 65535, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
INSERT INTO STATUTCOURSE (ID_STATUTCOURSE, LIBELLE, COLOR, DATECREATION, DATEMAJ) VALUES (-2, 'CONFIRME', 42495, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
INSERT INTO STATUTCOURSE (ID_STATUTCOURSE, LIBELLE, COLOR, DATECREATION, DATEMAJ) VALUES (-3, 'TRAITE', 32768, CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
GO

UPDATE COURSE SET ID_STATUTCOURSE=-1 WHERE ID_STATUTCOURSE=0;
UPDATE COURSE SET ID_STATUTCOURSE=-2 WHERE ID_STATUTCOURSE=1;
UPDATE COURSE SET ID_STATUTCOURSE=-3 WHERE ID_STATUTCOURSE=2;
UPDATE COURSE SET ID_STATUTCOURSE=-4 WHERE ID_STATUTCOURSE=3;
GO

DELETE FROM TYPEVEHICULE
INSERT INTO TYPEVEHICULE (ID_TYPEVEHICULE, LIBELLE, DATECREATION, DATEMAJ) VALUES (-1, 'BERLINE/BREAK', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
INSERT INTO TYPEVEHICULE (ID_TYPEVEHICULE, LIBELLE, DATECREATION, DATEMAJ) VALUES (-2, 'MONOSPACE', CURRENT_TIMESTAMP, CURRENT_TIMESTAMP);
GO

UPDATE COURSE SET ID_TYPEVEHICULE=-1 WHERE ID_TYPEVEHICULE=0;
GO
UPDATE COURSE SET ID_TYPEVEHICULE=-2 WHERE ID_TYPEVEHICULE=1;
GO

UPDATE USERS SET ID_DROITSTAXI = '1' WHERE USERTYPEID = 'ADM';
GO
UPDATE USERS SET ID_DROITSTAXI = '9' WHERE USERID = 'VPARDEFAUT';
GO
