CREATE TABLE dbo.TACHE (
TACHEID	INTEGER PRIMARY KEY,
TACHE_NOM	VARCHAR(200),
TACHE_RANG	INTEGER DEFAULT 0,
TYPEJOUR	VARCHAR(20),
HEUREEXECUTION	DATETIME,
ACT_NOM	VARCHAR(50),
ACT_PARAM	VARCHAR(100),
FREE01 VARCHAR(50),
FREE02 VARCHAR(50),
FREE03 VARCHAR(50),
MODEA	INTEGER DEFAULT 0,
ACTIF	INTEGER DEFAULT 1,
PROCHAINEEXECUTION DATETIME,
DERNIEREEXECUTION DATETIME,
DERNIERRESULTAT	INTEGER DEFAULT 0,
SITEID	VARCHAR(20),
GROUPEDESTID	INTEGER,
DATECREATION DATETIME NOT NULL,
DATEMAJ DATETIME
);
GO

-- TABLE CFG_FICHIER
CREATE TABLE dbo.CFG_FICHIER (
  CFG_FICHIERID INT PRIMARY KEY,
  TYPEID INTEGER DEFAULT 0,
  LIBELLE VARCHAR(200),
  DOCUMENT IMAGE,
  TYPEFILE INTEGER,
  CONTENTTYPE VARCHAR(50),
  DATASIZE INTEGER,
  DATEMAJ DATETIME,
  DATECREATION DATETIME,
  DATESYNCHRO DATETIME
);
GO

ALTER TABLE ESVISITES_LOG ALTER COLUMN NUMBADGE VARCHAR(200);
GO

ALTER TABLE EVENEMENTCOLIS ADD RESIDANTID VARCHAR(14);
GO

ALTER TABLE USERS ADD EMPPK_LEN INTEGER;
ALTER TABLE USERS ADD EMPPK IMAGE;
GO
