ALTER TABLE TYPEDOCUMENT ADD IN_PREENREG INTEGER
GO

UPDATE TYPEDOCUMENT SET IN_PREENREG=1 WHERE TYPEDOCUMENTID=-2
UPDATE TYPEDOCUMENT SET IN_PREENREG=2 WHERE TYPEDOCUMENTID<>-2
GO


ALTER TABLE XANNEXE ADD REFID VARCHAR(14)
GO

UPDATE XANNEXE SET REFID=XANNEXEID  WHERE XANNEXE_TYPEID=-1 AND ORIGINE='SOCIETE'
GO
UPDATE XANNEXE SET REFID=XANNEXEID  WHERE XANNEXE_TYPEID=-1 AND ORIGINE='INTERLOCUTEUR'
GO

DELETE FROM XANNEXE WHERE XANNEXE_TYPEID=-1 AND INFORMATION_TYPEID=-1
GO
DELETE FROM TYPEVISDOC WHERE TYPEDOCUMENTID=-1
GO
DELETE FROM TYPEDOCUMENT WHERE TYPEDOCUMENTID=-1
GO

INSERT INTO TYPEVISITE ( TYPEVISITEID, TYPEVISITE, DATECREATION, DATEMAJ) VALUES (-1, 'Résidant',CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
GO

ALTER TABLE BATIMENT ALTER COLUMN LIBELLE VARCHAR(60)
GO

ALTER TABLE RESIDANTS ALTER COLUMN BATIMENT VARCHAR(60)
GO

ALTER TABLE RESIDANTS ADD DEFAULT ('0') FOR PHONKEY
GO

INSERT INTO EVENEMENT (EVENEMENTID,LIBELLE,RAPPORTID,CONSIGNEID,ISRAPPORT,DATEMAJ,DATECREATION,DATESYNCHRO) VALUES (-19,'CLE EN RETARD',0,0,0,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
GO

CREATE TABLE dbo.ZCTRL_FIL_EAU (
	ID INT PRIMARY KEY NOT NULL,
	CTRLID VARCHAR(30),
	CTRLDATE DATETIME,
	BADGE VARCHAR(20),
	CTRLDESC VARCHAR(50),
	CTRLREADER VARCHAR(50),
	CTRLEVENT VARCHAR(50),
	CTRLREADERID VARCHAR(20),
	CTRLPROFIL VARCHAR(100),
	INTERLOCUTEURID VARCHAR(20),
	NOMPRENOM VARCHAR(100),
	SOCIETE VARCHAR(100),
	INTERLOCUTEURSTATUT VARCHAR(50),
	RESIDANTSOCIETELIB VARCHAR(100),
	RESIDANTSOCIETEID VARCHAR(20),
	SITEID VARCHAR(20),
	SITELIBELLE VARCHAR(50),
	DATECREATION DATETIME NOT NULL,
	DATEMAJ  DATETIME,
	DATESYNCHRO  DATETIME
);
GO

--  Table LICENCE2_LOG
CREATE TABLE dbo.LICENCE2_LOG (
	ID_LICENCE2_LOG INT IDENTITY(1,1) NOT NULL,
	LOGIN VARCHAR(50) NOT NULL,
	APPLICATION VARCHAR(20) NOT NULL,
	ACTION VARCHAR(50) NOT NULL,
	DATECREATION DATETIME NOT NULL,
	CONSTRAINT PK_ID_LICENCE2_LOG PRIMARY KEY (ID_LICENCE2_LOG)
);
GO

--  Table LICENCE3_LOG
CREATE TABLE dbo.LICENCE3_LOG (
	ID_LICENCE3_LOG INT IDENTITY(1,1) NOT NULL,
	LOGIN VARCHAR(50) NOT NULL,
	APPLICATION VARCHAR(20) NOT NULL,
	ACTION VARCHAR(50) NOT NULL,
	DATECREATION DATETIME NOT NULL,
	CONSTRAINT PK_ID_LICENCE3_LOG PRIMARY KEY (ID_LICENCE3_LOG)
);
GO

--  Table CONNECTION_LOG
CREATE TABLE dbo.CONNECTION_LOG (
	ID_CONNECTION_LOG INT IDENTITY(1,1) NOT NULL,
	LOGIN VARCHAR(50) NOT NULL,
	APPLICATION VARCHAR(100) NOT NULL,
	ACTION VARCHAR(500) NOT NULL,
	DATECREATION DATETIME NOT NULL,
	CONSTRAINT PK_ID_CONNECTION_LOG PRIMARY KEY (ID_CONNECTION_LOG)
);
GO

ALTER TABLE INDCLE ADD OFICHIERID INT
GO

ALTER TABLE BADGES ADD TYPEVISITEID INT
GO
