ALTER TABLE USERS ADD CONSTRAINT GSACCESS_DEFAULT DEFAULT (0) FOR GSACCESS;
GO

UPDATE USERS SET GSACCESS=0 WHERE GSACCESS IS NULL;
UPDATE USERS SET GSACCESS=1 WHERE THELOGIN='TAFFIN';
UPDATE USERS SET GSACCESS=1 WHERE THELOGIN='ADM';
GO

UPDATE USERS SET ENABLED=1 WHERE ENABLED IS NULL;
GO

ALTER TABLE CFG_FICHIER ADD TYPECFG VARCHAR(20);
GO
UPDATE CFG_FICHIER SET TYPECFG='IMPORT' WHERE TYPEID=-1;
GO
UPDATE CFG_FICHIER SET TYPECFG='ETAT' WHERE TYPEID=-2;
GO
ALTER TABLE CFG_FICHIER DROP TYPEID;
GO

ALTER TABLE GRPSALLE ADD SITEID VARCHAR(14);
GO
UPDATE GRPSALLE SET SITEID='ALL';
GO

CREATE TABLE dbo.FORMULAIRE_MODELE (
  FORMULAIRE_MODELEID INT PRIMARY KEY,
  LIBELLE VARCHAR(50),
  XML VARCHAR(MAX),
  OFICHIERID_WORD INT,
  OFICHIERID_EXCEL INT,
  SITEID VARCHAR(14),
  TYPEVISITEID INT,
  DATECREATION DATETIME NOT NULL,
  DATEMAJ DATETIME NOT NULL,
  DATESYNCHRO DATETIME
);
GO

CREATE TABLE dbo.FORMULAIRE (
  FORMULAIREID INT PRIMARY KEY,
  FORMULAIRE_MODELEID INT NOT NULL,
  REFERENCE INT,
  VERSION INT,
  LIBELLE VARCHAR(50),
  XML VARCHAR(MAX),
  AUTEUR VARCHAR(100),
  DATECREATION DATETIME NOT NULL,
  DATEMAJ DATETIME NOT NULL,
  DATESYNCHRO DATETIME
);
GO

CREATE TABLE dbo.FORMULAIRE_VISITE (
  FORMULAIREID INT,
  VISITEID VARCHAR(14)
);
GO

ALTER TABLE VISITES ADD SIGNATURE_ENTREE INT;
GO
ALTER TABLE VISITES ADD SIGNATURE_SORTIE INT;
GO
UPDATE VISITES SET SIGNATURE_ENTREE=OFICHIERID;
GO

ALTER TABLE INDCLE ADD SIGNATURE_ENTREE INT;
GO
ALTER TABLE INDCLE ADD SIGNATURE_SORTIE INT;
GO
UPDATE INDCLE SET SIGNATURE_ENTREE=OFICHIERID;
GO

ALTER TABLE MAIL ADD ICALENDAR VARCHAR(4000);
GO

ALTER TABLE DROITSTELEM ADD SITE_RESIDANT INT;
ALTER TABLE DROITSTELEM ADD SITE_PREENREG INT;
GO
