ALTER TABLE SOCIETE ALTER COLUMN SIRET VARCHAR(40)
GO

ALTER TABLE GROUPEDEST ADD SITEID VARCHAR(14);
GO
UPDATE GROUPEDEST SET SITEID='VPARDEFAUT' WHERE SITEID IS NULL;
GO

ALTER TABLE TACHE ALTER COLUMN FREE01 VARCHAR(200)
GO

CREATE TABLE dbo.FORMULAIRE_OFICHIER (
  FORMULAIREID INT,
  OFICHIERID INT
);
GO

CREATE TABLE dbo.MAIL_OFICHIER (
  MAILID VARCHAR(14),
  OFICHIERID INT
);
GO

ALTER TABLE TYPEVISITE ADD TRAVAIL INT DEFAULT 0;
GO
UPDATE TYPEVISITE SET TRAVAIL=0;
GO

ALTER TABLE OFICHIER ALTER COLUMN CONTENTTYPE VARCHAR(100)
GO
