ALTER TABLE TACHE ADD OWNERID VARCHAR(14) DEFAULT('VPARDEFAUT');
GO
ALTER TABLE TACHE ADD ROLEOWNER VARCHAR(20) DEFAULT('USERS');
GO
UPDATE TACHE SET OWNERID='VPARDEFAUT', ROLEOWNER='USERS';
GO
ALTER TABLE TACHE_LOG ADD ROLEUSER VARCHAR(20) DEFAULT ('USERS');
GO
UPDATE TACHE_LOG SET ROLEUSER='USERS', USERID='VPARDEFAUT' ;
GO

CREATE INDEX INDEX_ORIGINEVISITE ON VISITES (ORIGINEVISITE);
CREATE INDEX INDEX_BUREAUID ON VISITES (BUREAUID);
GO
