-- 2003_06_03
ALTER TABLE CFGGSALLESPARAM ADD RESA_ORDRE_SALLE  INTEGER;
GO
ALTER TABLE CFGGSALLESPARAM ADD RESA_PRESTA_STYLE INTEGER;
GO
ALTER TABLE CFGGSALLESPARAM ADD FILTRE_ORDRE_TRI  INTEGER;
GO

UPDATE CFGGSALLESPARAM SET RESA_ORDRE_SALLE=0,RESA_PRESTA_STYLE=0,FILTRE_ORDRE_TRI=0;
GO

UPDATE DROITS SET DATECREATION=SYSDATE,DATEMAJ=SYSDATE;
GO

-- 2003_07_01
UPDATE ARTICLE SET CODEFAMILLE=(SELECT CODEFAMILLE FROM SOUSFAMILLE WHERE CODESOUSFAMILLE=ARTICLE.CODESOUSFAMILLE);
GO
-- 2003_07_03
ALTER TABLE SOCIETE ADD ADRESSE2 VARCHAR(150);
GO

ALTER TABLE USERS ADD PROFIL_ID_ORGA VARCHAR(14);
GO
ALTER TABLE USERS ADD PROFIL_ID_INTER VARCHAR(14);
GO
ALTER TABLE USERS ADD PROFIL_ID_SALLE VARCHAR(14);
GO
ALTER TABLE USERS ADD PROFIL_ID_BATIMENT VARCHAR(14);
GO
ALTER TABLE USERS ADD PROFIL_ID_SITE VARCHAR(14);
GO
ALTER TABLE USERS ADD PROFIL_ETAGE VARCHAR(14);
GO
ALTER TABLE USERS ADD PROFIL_SURBOOKING INTEGER;
GO
ALTER TABLE USERS ADD PROFIL_PARAMVALIDE VARCHAR(14);
GO
ALTER TABLE USERS ADD PROFIL_ID_STATUT VARCHAR(14);
GO

ALTER TABLE USERS ADD PROFIL_PARAMCOMPTE VARCHAR(14);
GO
ALTER TABLE USERS ADD PHONKEY VARCHAR(50);
GO
ALTER TABLE BATIMENT ALTER COLUMN NOBAT VARCHAR(15);
GO
ALTER TABLE LGPA ALTER COLUMN NOSALLE VARCHAR(15);
GO
ALTER TABLE LGRESERVATION ALTER COLUMN NOSALLE VARCHAR(15);
GO
ALTER TABLE LGPA ADD CODELGRESERVATION VARCHAR(14);
GO
ALTER TABLE SALLE ALTER COLUMN NOSALLE VARCHAR(15);
GO
ALTER TABLE FACTURE ADD RESIDANTID VARCHAR(14);
GO
ALTER TABLE LGRESERVATION ADD CODESTATUT VARCHAR(14);
GO
ALTER TABLE JOURNAL ADD JOURNALID VARCHAR(14);
GO
ALTER TABLE JOURNAL ALTER COLUMN TABLEID VARCHAR(30);
GO
ALTER TABLE HLGRESERVATION ADD CODESALLEASS VARCHAR(14);
GO

CREATE TABLE SALLEFUS (
   CODESALLEFUS VARCHAR(14),
   LIBELLE  VARCHAR(50),
   DECODESALLE VARCHAR(14),
   DATECREATION DATE,
   DATEMAJ      DATE
);
GO

CREATE TABLE SALLEFUS_COMP (
   CODESALLEFUS VARCHAR(14),
   CODESALLE VARCHAR(14)
);

GO