CREATE TABLE ARMOIRE (
  ARMOIREID VARCHAR(14) not null,
  LIBELLE VARCHAR(35),
  NUMERO int,
  CAPACITE int,
  NBELEMENT int,
  ISACTIF int,
  SITEID VARCHAR(14),
  DATECREATION datetime not null,
  DATEMAJ datetime
);
GO

ALTER TABLE INTERLOCUTEUR ADD TAG VARCHAR(30);
GO
ALTER TABLE RESIDANTS ADD TAG VARCHAR(30);
GO
ALTER TABLE PERSONNEL ADD TAG VARCHAR(30);
GO
ALTER TABLE CLEFS ADD TAG VARCHAR(30);
GO