-- 2006_04_21
CREATE TABLE GROUPEDEST (
  GROUPEDESTID     INTEGER PRIMARY KEY,
  LIBELLE          VARCHAR(50),
  TOADDRESS        VARCHAR(2000),
  DATECREATION     DATETIME,
  DATEMAJ          DATETIME
);
GO
CREATE SEQUENCE SEQ_GROUPEDEST;
GO
CREATE TABLE EVENEMENT_DEST_SITE (
  EVENEMENTID      INTEGER,
  GROUPEDESTID     INTEGER,
  SITEID           VARCHAR(14)
);
GO
CREATE TABLE MAIL (
  MAILID       VARCHAR(14),
  APP          VARCHAR(10),
  SITEID       VARCHAR(14),
  SITE         VARCHAR(35),
  USERID       VARCHAR(50),
  SMTP         VARCHAR(50),
  FROMADDRESS  VARCHAR(50),
  TOADDRESS    VARCHAR(1000),
  CARBONCOPY   VARCHAR(1000),
  SUJET        VARCHAR(200),
  BODY         VARCHAR(4000),
  STATUT       INTEGER,
  ETAT         VARCHAR(50),
  DATECREATION DATETIME,
  DATEMAJ      DATETIME
);
GO
ALTER TABLE SITE ADD USERID VARCHAR(50);
GO
ALTER TABLE SITE ADD SMTP VARCHAR(50);
GO
ALTER TABLE SITE ADD FROMADDRESS VARCHAR(50);
GO
ALTER TABLE SITE ADD TOADDRESS VARCHAR(1000);
GO
ALTER TABLE SITE ADD CARBONCOPY VARCHAR(1000);
GO
ALTER TABLE SITE ADD ACTIF INTEGER;
GO
ALTER TABLE SITE ADD SUPPRESSION VARCHAR(5);
GO
ALTER TABLE SITE ADD HEURESUPP VARCHAR(10);
GO
ALTER TABLE SITE ADD INTERVAL INTEGER;
GO
ALTER TABLE SITE ADD OEMAILPARAM VARCHAR(20);
GO
ALTER TABLE MAIL ADD QUIID VARCHAR(50);
GO
ALTER TABLE MAIL ADD QUILIB VARCHAR(50);
GO


ALTER TABLE OMNI_PARAM ADD OPTION_PASSWORD INT;
GO
ALTER TABLE PERSONNEL ADD EMPPK IMAGE;
GO
ALTER TABLE EVENEMENT ADD COLOR  INT;
GO

ALTER TABLE VACATION ADD CL INT;
GO

ALTER TABLE JOUR ADD CL INT;
GO

UPDATE JOUR SET CL=1 WHERE TYPE_JOUR='LUNDI'
GO
UPDATE JOUR SET CL=2 WHERE TYPE_JOUR='MARDI'
GO
UPDATE JOUR SET CL=3 WHERE TYPE_JOUR='MERCREDI'
GO
UPDATE JOUR SET CL=4 WHERE TYPE_JOUR='JEUDI'
GO
UPDATE JOUR SET CL=5 WHERE TYPE_JOUR='VENDREDI'
GO
UPDATE JOUR SET CL=6 WHERE TYPE_JOUR='SAMEDI'
GO
UPDATE JOUR SET CL=7 WHERE TYPE_JOUR='DIMANCHE'
GO

INSERT INTO EVENEMENT (EVENEMENTID,LIBELLE,RAPPORTID,CONSIGNEID,ISRAPPORT,DATEMAJ,DATECREATION,DATESYNCHRO) VALUES (-13,'PROBLEME MATERIEL',0,0,0,GETDATE(),GETDATE(),GETDATE());
GO

drop FUNCTION dbo.TO_CHAR
GO
CREATE FUNCTION dbo.TO_CHAR
(
    @dt DATETIME,
    @format VARCHAR(21)
)
RETURNS VARCHAR(64)
AS
BEGIN
    DECLARE @dtVC VARCHAR(64)
    SELECT @dtVC = CASE @format

    WHEN 'YYYYMMDD' THEN
         CONVERT(CHAR(8), @dt, 112)

    WHEN 'YYYY-MM' THEN
         LEFT(CONVERT(CHAR(10), @dt, 23),7)

    WHEN 'YYYY-MM-DD' THEN
         CONVERT(CHAR(10), @dt, 23)

    WHEN 'YYMMDD' THEN
         CONVERT(VARCHAR(8), @dt, 12)

    WHEN 'MMDDYY' THEN
         REPLACE(CONVERT(CHAR(8), @dt, 10), '-', SPACE(0))

    WHEN 'MM-DD-YY' THEN
         CONVERT(CHAR(8), @dt, 10)

    WHEN 'MM/DD/YY' THEN
         CONVERT(CHAR(8), @dt, 1)

    WHEN 'MM/DD/YYYY' THEN
         CONVERT(CHAR(10), @dt, 101)

    WHEN 'DDMMYY' THEN
        REPLACE(CONVERT(CHAR(8), @dt, 3), '/', SPACE(0))

    WHEN 'DD-MM-YY' THEN
        REPLACE(CONVERT(CHAR(8), @dt, 3), '/', '-')

    WHEN 'DD/MM/YY' THEN
        CONVERT(CHAR(8), @dt, 3)

    WHEN 'DD/MM/YYYY' THEN
        CONVERT(CHAR(10), @dt, 103)

    WHEN 'HH24:MI:SS' THEN
        CONVERT(CHAR(8), @dt, 8)

    WHEN 'HH24' THEN
        LEFT(CONVERT(VARCHAR(8), @dt, 8), 2)

    WHEN 'HH24:MI' THEN
        LEFT(CONVERT(VARCHAR(8), @dt, 8), 5)

    WHEN 'HH:MI:SS' THEN
        LTRIM(RIGHT(CONVERT(VARCHAR(20), @dt, 22), 11))

    WHEN 'HH:MI' THEN
        LTRIM(SUBSTRING(CONVERT(VARCHAR(20), @dt, 22), 10, 5) + RIGHT(CONVERT(VARCHAR(20), @dt, 22), 3))

    WHEN 'DD/MM/YYYY HH24:MI:SS' THEN
        CONVERT(CHAR(10), @dt, 103) +' '+
        CONVERT(CHAR(8), @dt, 8)

    WHEN 'DD/MM/YYYY HH24:MI' THEN
        CONVERT(CHAR(10), @dt, 103) +' '+
        LEFT(CONVERT(VARCHAR(8), @dt, 8), 5)

    WHEN 'YEAR' THEN
        DATENAME(yyyy, @dt)

    WHEN 'MONTH' THEN
        DATENAME(mm , @dt)

    WHEN 'DYEAR' THEN
        DATENAME(dy , @dt)

    WHEN 'DDAY' THEN
        DATENAME(dd , @dt)

    WHEN 'DAY' THEN
        DATENAME(dw , @dt)

    WHEN 'WEEK' THEN
        DATENAME(wk , @dt)

    ELSE
        'MAUVAIS'

    END
    RETURN @dtVC
END
GO


DROP FUNCTION dbo.TO_DATE
GO
CREATE FUNCTION dbo.TO_DATE
(
    @Str VARCHAR(64),
    @format VARCHAR(21)
)
RETURNS DATETIME
AS
BEGIN
    DECLARE @StrVC DATETIME
    SELECT @StrVC = CASE @format

    WHEN 'MM/DD/YYYY' THEN
        CONVERT(DATETIME, @Str, 101)

    WHEN 'DD/MM/YYYY' THEN
        CONVERT(DATETIME, @Str, 103)

    WHEN 'DD-MM-YY' THEN
        CONVERT(DATETIME, @Str, 105)

    WHEN 'MM-DD-YYYY' THEN
        CONVERT(DATETIME, @Str, 110)

    WHEN 'YYYYMMDD' THEN
        CONVERT(DATETIME, @Str, 112)

    WHEN 'YYYY/MM/DD HH24:MI:SS' THEN
        CONVERT(DATETIME, REPLACE( @Str, '/', '-'), 120)

    WHEN 'DD/MM/YYYY HH24:MI:SS' THEN
        CONVERT(DATETIME, @Str, 104)

    WHEN 'DD-MM-YYYY HH24:MI:SS' THEN
        CONVERT(DATETIME, @Str, 104)

    WHEN 'HH24:MI' THEN
        CONVERT(DATETIME, @Str, 114)

    WHEN 'HH24:MI:SS' THEN
        CONVERT(DATETIME, @Str, 114)

    ELSE
       CONVERT(DATETIME,'01/01/1900', 103)
    END
    RETURN @StrVC
END
GO

DROP FUNCTION dbo.TRUNC
GO
CREATE FUNCTION dbo.TRUNC
(   @dt DATETIME
)
RETURNS DATETIME
AS
BEGIN
    RETURN dbo.TO_DATE(dbo.TO_CHAR(@dt,'DD/MM/YYYY'),'DD/MM/YYYY')
END
GO

CREATE TABLE SEQ_IDENTITY (
  SEQ_IDENTITYID  INTEGER NOT NULL IDENTITY,
  LIBELLE VARCHAR(35));
GO

CREATE TABLE SEQ_RAPPORT (
  SEQ_RAPPORTID  INTEGER NOT NULL IDENTITY,
  LIBELLE VARCHAR(35));
GO


