--------------------------------------------------------

--------------------------------------------------------
-- 2003_01_24
ALTER TABLE INTERLOCUTEUR ADD ADRESSE VARCHAR(150);
GO
ALTER TABLE INTERLOCUTEUR ADD CODEPOSTAL VARCHAR(10);
GO
ALTER TABLE INTERLOCUTEUR ADD VILLE VARCHAR(35);
GO

--------------------------------------------------------
-- 2003_02_26
ALTER TABLE COLISEMIS ADD PRIX INT;
GO
ALTER TABLE COLISRECU ADD LIEU VARCHAR(14);
GO
ALTER TABLE COLISEMIS ADD D_APROB DATETIME;
GO
ALTER TABLE COLISEMIS ADD GENRE_PROB VARCHAR(14);
GO
ALTER TABLE COLISEMIS ADD GUICHETID VARCHAR(14);
GO
ALTER TABLE COLISRECU ADD GUICHETID VARCHAR(14);
GO

--------------------------------------------------------
-- 2003_03_26
ALTER TABLE ZCL01_ACTION ADD NSMI INTEGER;
GO
ALTER TABLE ZCL01_CLASS_ACC ADD NSMI INTEGER;
GO
ALTER TABLE ZCL01_FAMILLE  ADD NSMI INTEGER;
GO
ALTER TABLE ZCL01_LECTEURS ADD NSMI INTEGER;
GO
ALTER TABLE ZCL01_SERVICE ADD NSMI INTEGER;
GO
ALTER TABLE ZCL01_ZH ADD NSMI INTEGER;
GO
ALTER TABLE PROFILESMV ADD NSMI INTEGER;
GO

--------------------------------------------------------
-- 2003_04_03
CREATE TABLE ZCL01_BA (
  NUMBDG  VARCHAR (14)  NOT NULL,
  CODSIT  VARCHAR (3),
  CODIND  VARCHAR (10),
  TYPSAI  VARCHAR (1));
GO

CREATE TABLE ZCL01_US (
  NUMBDG     VARCHAR (14)  NOT NULL,
  NOM        VARCHAR (24),
  PRENOM     VARCHAR (24),
  TYPEV      VARCHAR (1),
  MATRIC     VARCHAR (15),
  SERVIC     VARCHAR (24),
  NOMSTE     VARCHAR (15),
  CH_EXPL01  VARCHAR (26),
  CH_EXPL02  VARCHAR (26),
  CH_EXPL03  VARCHAR (26),
  CH_EXPL04  VARCHAR (26),
  CH_EXPL05  VARCHAR (26),
  CH_EXPL06  VARCHAR (26),
  CH_EXPL07  VARCHAR (26),
  CH_EXPL08  VARCHAR (26),
  CH_EXPL09  VARCHAR (26),
  CH_EXPL10  VARCHAR (26),
  CH_EXPL11  VARCHAR (26),
  CH_EXPL12  VARCHAR (26),
  CH_EXPL13  VARCHAR (26),
  CH_EXPL14  VARCHAR (26),
  CH_EXPL15  VARCHAR (26),
  CH_EXPL16  VARCHAR (26),
  CH_EXPL17  VARCHAR (26),
  CH_EXPL18  VARCHAR (26),
  CH_EXPL19  VARCHAR (26),
  CH_EXPL20  VARCHAR (26),
  CONSTRAINT PK_NUMBDG PRIMARY KEY (NUMBDG) );
GO

CREATE TABLE PROFILESMV (
  PROFILESMVID VARCHAR(14) NOT NULL,
  CLASSID INT,
  CLASSNAME VARCHAR(24),
  ZHGLEC1 VARCHAR(2),
  ZHGLEC2 VARCHAR(2),
  ZHGLEC3 VARCHAR(2),
  ZHGLEC4 VARCHAR(2),
  ZHGLEC5 VARCHAR(2),
  ZHGLEC6 VARCHAR(2),
  ZHGLEC7 VARCHAR(2),
  ZHGLEC8 VARCHAR(2),
  NUMLEC1 VARCHAR(8),
  NUMLEC2 VARCHAR(8),
  ZH1     VARCHAR(2),
  ZH2     VARCHAR(2),
  ACTLEC1 VARCHAR(4),
  ACTLEC2 VARCHAR(4),
  ACTGRP1 VARCHAR(4),
  LIBELLE VARCHAR(24),
  IFAMILLE VARCHAR(24),
  IFAMILLEID VARCHAR(24),
  ISERVICE VARCHAR(24),
  SERVICE VARCHAR(35),
  SERVICEID VARCHAR(14),
  DEFAUT VARCHAR(1),
  NSMI INTEGER,
  DATECREATION DATETIME,
  DATEMAJ DATETIME,
  DATESYNCHRO DATETIME,
  CONSTRAINT PK_PROFILESMVID PRIMARY KEY (PROFILESMVID)
  );
GO
--------------------------------------------------------
-- 2003_04_11
ALTER TABLE VISITES ADD LIEU VARCHAR(50);
GO

--------------------------------------------------------
-- 2003_05_26
ALTER TABLE IDENTITES ADD INTERLOCUTEURID VARCHAR(14);
GO

UPDATE IDENTITES SET INTERLOCUTEURID='XXX'
WHERE IDENTITEID IN (SELECT IDENTITEID FROM INTERLOCUTEUR WHERE IDENTITEID IS NOT NULL );
GO

DELETE FROM IDENTITES WHERE IDENTITEID IN (SELECT IDENTITEID FROM INTERLOCUTEUR HAVING COUNT(IDENTITEID)>1 GROUP BY IDENTITEID);
GO

UPDATE INTERLOCUTEUR SET IDENTITEID='' WHERE IDENTITEID IN (SELECT IDENTITEID FROM INTERLOCUTEUR HAVING COUNT(IDENTITEID)>1  GROUP BY IDENTITEID);
GO

UPDATE IDENTITES SET INTERLOCUTEURID=
(SELECT INTERLOCUTEURID FROM INTERLOCUTEUR WHERE IDENTITEID=IDENTITES.IDENTITEID )
WHERE INTERLOCUTEURID='XXX' AND IDENTITEID IN (SELECT IDENTITEID FROM INTERLOCUTEUR);
GO

--------------------------------------------------------
-- 2003_06_03
ALTER TABLE CFGGSALLESPARAM ADD
  RESA_ORDRE_SALLE  INTEGER,
  RESA_PRESTA_STYLE INTEGER,
  FILTRE_ORDRE_TRI  INTEGER
;
GO

UPDATE CFGGSALLESPARAM SET RESA_ORDRE_SALLE=0,RESA_PRESTA_STYLE=0,FILTRE_ORDRE_TRI=0;
GO

-- 2003_06_06
ALTER TABLE PASSAGER ADD
  DATECREATION DATETIME,
  DATEMAJ      DATETIME,
  DATESYNCHRO  DATETIME;
GO

UPDATE PASSAGER SET DATECREATION=GETDATE(),DATEMAJ=GETDATE();

ALTER TABLE TYPECONSIGNE ADD
  DATECREATION DATETIME,
  DATEMAJ      DATETIME,
  DATESYNCHRO  DATETIME;

UPDATE TYPECONSIGNE SET DATECREATION=GETDATE(),DATEMAJ=GETDATE();
GO

ALTER TABLE TYPEVISITE ADD
  DATECREATION DATETIME,
  DATEMAJ      DATETIME,
  DATESYNCHRO  DATETIME;
GO

UPDATE TYPEVISITE SET DATECREATION=GETDATE(),DATEMAJ=GETDATE();
GO

ALTER TABLE DROITS ADD
  DATECREATION DATETIME,
  DATEMAJ      DATETIME,
  DATESYNCHRO  DATETIME;
GO

UPDATE DROITS SET DATECREATION=GETDATE(),DATEMAJ=GETDATE();
GO

--  BTL - BTNE - BTNR

CREATE TABLE SN_SITES (
  SITEID               VARCHAR (14)  NOT NULL,
  ADRESSEIP            VARCHAR (14)  NOT NULL,
  NOM                  VARCHAR (35),
  LOGIN                VARCHAR (35)  NOT NULL,
  PASSWORD             VARCHAR (35)  NOT NULL,
  NUMERO               VARCHAR (35),
  DATEDERNIERESYNCHRO  DATETIME          NOT NULL,
  SERVERNAME_BL VARCHAR(50),
  USERNAME_BL VARCHAR(50),
  PASSWORD_BL VARCHAR(50),
  SERVERNAME_BTL VARCHAR(50),
  USERNAME_BTL VARCHAR(50),
  PASSWORD_BTL VARCHAR(50));
GO

CREATE TABLE SN_SITE_ACTION (
  SITEID   VARCHAR (14)  NOT NULL,
  ACTION   VARCHAR (50)  NOT NULL,
  DATEMAJ  DATETIME,
  NOM_TABLE  VARCHAR(50),
  ID		   VARCHAR(50));
GO

CREATE TABLE SN_TRACES (
  TRACEID             VARCHAR (14)  NOT NULL,
  SITEID              VARCHAR (14)  NOT NULL,
  DATEECHECCONNEXION  DATETIME      NOT NULL,
  ADRESSE_IP          VARCHAR (50),
  NOM_MACHINE         VARCHAR (50),
  LOGIN               VARCHAR (50),
  PASSWORD            VARCHAR (50),
  NUMERO              VARCHAR (50),
  TYPE_TRACE          VARCHAR (50),
  CODE                INT);
GO

CREATE TABLE SN_TRANSFERT_IMMEDIAT (
  SITEID  VARCHAR (14),
  ACTION  VARCHAR (14),
  HMAJ    DATETIME,
  NOM_TABLE  VARCHAR(50),
  ID		   VARCHAR(50));
GO

CREATE TABLE SN_TYPE_ACTION (
  ACTIONID  VARCHAR (14)  NOT NULL,
  ACTION    VARCHAR (50));
GO

CREATE TABLE SN_TYPE_TRACE (
  CODE     INT,
  LIBELLE  VARCHAR (50));
GO

CREATE TABLE SN_DOUBLONS (
  DOUBLONID   VARCHAR (14),
  REMPLACEID  VARCHAR (14),
  NUMTABLE INT);
GO

--------------------------------------------------------
-- 2003_06_19
CREATE TABLE ZONE(
  ZONEID           VARCHAR(14) NOT NULL,
  ZONENOM          VARCHAR(20),
  ZONERESPONSABLE  VARCHAR(30),
  DATEMAJ          DATETIME,
  DATECREATION     DATETIME,
  DATESYNCHRO      DATETIME);
GO

CREATE TABLE ZCL01_VISITEZO (
   VISITEID VARCHAR(14),
   ZONEID   VARCHAR(14)
);
GO

CREATE TABLE ZCL01_VISITERE (
   EXTERNALID VARCHAR(14),
   RESIDANTID VARCHAR(14)
);
GO

CREATE TABLE ZCL01_EMISSION (
  EMI_COD    VARCHAR (14) NOT NULL,
  EMI_DEST1  VARCHAR (100),
  EMI_DEST2  VARCHAR (100),
  EMI_DEST3  VARCHAR (100),
  EMI_DEST4  VARCHAR (100),
  EMI_DEST5  VARCHAR (100),
  EMI_OBJET  VARCHAR (100),
  EMI_TEXTE  VARCHAR (500));
GO

--------------------------------------------------------
-- 2003_07_01
UPDATE ARTICLE SET CODEFAMILLE=(SELECT CODEFAMILLE
FROM SOUSFAMILLE WHERE CODESOUSFAMILLE=ARTICLE.CODESOUSFAMILLE);
GO

--------------------------------------------------------
-- 2003_07_03
ALTER TABLE SOCIETE ADD ADRESSE2 VARCHAR(150);
GO

--------------------------------------------------------
-- 2003_07_18
ALTER TABLE PROFILESMV  ADD IFAMILLE2 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD IFAMILLEID2 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD CLASSID2 INT;
GO
ALTER TABLE PROFILESMV  ADD CLASSNAME2 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC12 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC22 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC32 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC42 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC52 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC62 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC72 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC82 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC12 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC22 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD ZH12     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZH22     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC12 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC22 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTGRP12 VARCHAR(4);
GO

ALTER TABLE PROFILESMV  ADD IFAMILLE3 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD IFAMILLEID3 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD CLASSID3 INT;
GO
ALTER TABLE PROFILESMV  ADD CLASSNAME3 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC13 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC23 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC33 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC43 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC53 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC63 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC73 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC83 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC13 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC23 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD ZH13     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZH23     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC13 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC23 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTGRP13 VARCHAR(4);
GO

ALTER TABLE PROFILESMV  ADD IFAMILLE4 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD IFAMILLEID4 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD CLASSID4 INT;
GO
ALTER TABLE PROFILESMV  ADD CLASSNAME4 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC14 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC24 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC34 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC44 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC54 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC64 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC74 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC84 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC14 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC24 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD ZH14     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZH24     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC14 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC24 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTGRP14 VARCHAR(4);
GO

ALTER TABLE PROFILESMV  ADD IFAMILLE5 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD IFAMILLEID5 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD CLASSID5 INT;
GO
ALTER TABLE PROFILESMV  ADD CLASSNAME5 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC15 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC25 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC35 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC45 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC55 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC65 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC75 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC85 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC15 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC25 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD ZH15     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZH25     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC15 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC25 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTGRP15 VARCHAR(4);
GO

ALTER TABLE PROFILESMV  ADD IFAMILLE6 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD IFAMILLEID6 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD CLASSID6 INT;
GO
ALTER TABLE PROFILESMV  ADD CLASSNAME6 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC16 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC26 VARCHAR(2);
GO
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC36 VARCHAR(2);
GO
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC46 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC56 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC66 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC76 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC86 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC16 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC26 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD ZH16     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZH26     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC16 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC26 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTGRP16 VARCHAR(4);
GO

ALTER TABLE PROFILESMV  ADD IFAMILLE7 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD IFAMILLEID7 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD CLASSID7 INT;
GO
ALTER TABLE PROFILESMV  ADD CLASSNAME7 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC17 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC27 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC37 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC47 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC57 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC67 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC77 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC87 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC17 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC27 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD ZH17     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZH27     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC17 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC27 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTGRP17 VARCHAR(4);
GO

ALTER TABLE PROFILESMV  ADD IFAMILLE8 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD IFAMILLEID8 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD CLASSID8 INT;
GO
ALTER TABLE PROFILESMV  ADD CLASSNAME8 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC18 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC28 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC38 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC48 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC58 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC68 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC78 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC88 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC18 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC28 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD ZH18     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZH28     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC18 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC28 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTGRP18 VARCHAR(4);
GO

ALTER TABLE PROFILESMV  ADD IFAMILLE9 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD IFAMILLEID9 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD CLASSID9 INT;
GO
ALTER TABLE PROFILESMV  ADD CLASSNAME9 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC19 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC29 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC39 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC49 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC59 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC69 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC79 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC89 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC19 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC29 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD ZH19     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZH29     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC19 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC29 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTGRP19 VARCHAR(4);
GO

ALTER TABLE PROFILESMV  ADD IFAMILLE10 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD IFAMILLEID10 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD CLASSID10 INT;
GO
ALTER TABLE PROFILESMV  ADD CLASSNAME10 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC110 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC210 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC310 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC410 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC510 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC610 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC710 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC810 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC110 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC210 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD ZH110     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZH210     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC110 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC210 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTGRP110 VARCHAR(4);
GO

ALTER TABLE PROFILESMV  ADD IFAMILLE11 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD IFAMILLEID11 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD CLASSID11 INT;
GO
ALTER TABLE PROFILESMV  ADD CLASSNAME11 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC111 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC211 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC311 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC411 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC511 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC611 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC711 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC811 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC111 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC211 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD ZH111     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZH211     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC111 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC211 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTGRP111 VARCHAR(4);
GO

ALTER TABLE PROFILESMV  ADD IFAMILLE12 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD IFAMILLEID12 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD CLASSID12 INT;
GO
ALTER TABLE PROFILESMV  ADD CLASSNAME12 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC112 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC212 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC312 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC412 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC512 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC612 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC712 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC812 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC112 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC212 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD ZH112     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZH212     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC112 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC212 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTGRP112 VARCHAR(4);
GO

ALTER TABLE PROFILESMV  ADD IFAMILLE13 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD IFAMILLEID13 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD CLASSID13 INT;
GO
ALTER TABLE PROFILESMV  ADD CLASSNAME13 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC113 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC213 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC313 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC413 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC513 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC613 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC713 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC813 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC113 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC213 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD ZH113     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZH213     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC113 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC213 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTGRP113 VARCHAR(4);
GO

ALTER TABLE PROFILESMV  ADD IFAMILLE14 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD IFAMILLEID14 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD CLASSID14 INT;
GO
ALTER TABLE PROFILESMV  ADD CLASSNAME14 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC114 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC214 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC314 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC414 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC514 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC614 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC714 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC814 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC114 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC214 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD ZH114     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZH214     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC114 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC214 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTGRP114 VARCHAR(4);
GO

ALTER TABLE PROFILESMV  ADD IFAMILLE15 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD IFAMILLEID15 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD CLASSID15 INT;
GO
ALTER TABLE PROFILESMV  ADD CLASSNAME15 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC115 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC215 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC315 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC415 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC515 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC615 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC715 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC815 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC115 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC215 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD ZH115     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZH215     VARCHAR(2);
ALTER TABLE PROFILESMV  ADD ACTLEC115 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC215 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTGRP115 VARCHAR(4);
GO

ALTER TABLE PROFILESMV  ADD IFAMILLE16 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD IFAMILLEID16 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD CLASSID16 INT;
GO
ALTER TABLE PROFILESMV  ADD CLASSNAME16 VARCHAR(24);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC116 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC216 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC316 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC416 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC516 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC616 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC716 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZHGLEC816 VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC116 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD NUMLEC216 VARCHAR(8);
GO
ALTER TABLE PROFILESMV  ADD ZH116     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ZH216     VARCHAR(2);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC116 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTLEC216 VARCHAR(4);
GO
ALTER TABLE PROFILESMV  ADD ACTGRP116 VARCHAR(4);
GO
--------------------------------------------------------
-- 2003_05_26
ALTER TABLE INTERLOCUTEUR DROP CONSTRAINT fk_inter_identiteid;
GO

--------------------------------------------------------
-- 2003_08_21
UPDATE LGRESERVATION SET LIBELLESALLE=(SELECT NOSALLE + LIBELLE FROM SALLE WHERE CODESALLE=LGRESERVATION.CODESALLE);
GO
UPDATE LGPA SET LIBELLESALLE=(SELECT NOSALLE + LIBELLE FROM SALLE WHERE CODESALLE=LGPA.CODESALLE);
GO
--------------------------------------------------------
-- 2003_09_18
ALTER TABLE AMENAGSALLE ADD SORTORDER INTEGER;
GO
UPDATE AMENAGSALLE SET SORTORDER=0;
GO

--------------------------------------------------------
-- 2003_10_02
--  Table HRESERVATION
DROP TABLE HRESERVATION;
GO
CREATE TABLE HRESERVATION (
  CODERESERVATION     VARCHAR(14),
  CODETYPERESERVATION VARCHAR(14),
  PRIORITE            INT,
  SOCIETEID           VARCHAR(14),
  INTERLOCUTEURID     VARCHAR(14),
  USERID              VARCHAR(14),
  CODEANIMATEUR       VARCHAR(14),
  DATERETROCESSION    DATETIME,
  CODESTATUT          VARCHAR(14),
  REFRESERVATION      VARCHAR(15),
  NBPERSDEMANDE       INT,
  NBPERSREEL          INT,
  LIBELLE             VARCHAR(35),
  REMISE              FLOAT,
  PRIXRESERVATION     FLOAT,
  PRIXFACTUREE        FLOAT,
  COMMENTAIRE         IMAGE,
  UPDATEDBY           VARCHAR(14),
  DEVIS               INT,
  FACTURE             INT,
  DATECREATION        DATETIME,
  DATEMAJ             DATETIME,
  DATESYNCHRO         DATETIME,
  IMPUTATIONID        VARCHAR(14),
  TYPERESERVATION     VARCHAR(35),
  STATUTRESERVATION   VARCHAR(35),
  IMPUTATION          VARCHAR(35),
  TYPEIMPUTATION      VARCHAR(35),
  SOCIETE             VARCHAR(35),
  INTER_NOMP          VARCHAR(70),
  INTER_DEPTSERV      VARCHAR(70),
  INTER_TEL           VARCHAR(20),
  INTER_EMAIL         VARCHAR(100),
  ANIMATEUR_NOMP      VARCHAR(70),
  ANIMATEUR_SOCIETE   VARCHAR(35),
  USER_FULLNAME       VARCHAR(50)
);
GO

--  Table HLGRESERVATION
DROP TABLE HLGRESERVATION;
GO
CREATE TABLE HLGRESERVATION (
  CODERESERVATION     VARCHAR(14),
  CODESALLE           VARCHAR(14),
  CODESTATUT          VARCHAR(14),
  CODELGRESERVATION   VARCHAR(14),
  CODEAMMENAGEMENT    VARCHAR(14),
  DATEDEBUT           DATETIME,
  DATEFIN             DATETIME,
  NBJOURS             INT,
  PRIX                FLOAT,
  CODETYPETARIF       VARCHAR(14),
  HEUREDEBUT          DATETIME,
  HEUREFIN            DATETIME,
  HEURECONTINU        INT,
  REMISE              FLOAT,
  LIBELLESALLE        VARCHAR(35),
  NOSALLE             VARCHAR(15),
  PRIXCLIENT          FLOAT,
  WIZARD              INT,
  CAPACITE            INT,
  DATECREATION        DATETIME,
  DATEMAJ             DATETIME,
  DATESYNCHRO         DATETIME,
  AMENAGEMENT         VARCHAR(35),
  TYPETARIF           VARCHAR(35)
);
GO

--  Table HLGPA
DROP TABLE HLGPA;
GO
CREATE TABLE HLGPA (
  CODERESERVATION     VARCHAR(14),
  CODELGRESERVATION   VARCHAR(14),
  CODESALLE           VARCHAR(14),
  CODELGPA            VARCHAR(14),
  CODEARTICLE         VARCHAR(14),
  DATEDEBUT           DATETIME,
  DATEFIN             DATETIME,
  QUANTITE            FLOAT,
  PRIX                FLOAT,
  CODETVA             VARCHAR(14),
  TAUXTVA             FLOAT,
  HEUREDEBUT          DATETIME,
  HEUREFIN            DATETIME,
  HEURECONTINU        INT,
  REMISE              FLOAT,
  LIBELLESALLE        VARCHAR(35),
  NOSALLE             VARCHAR(15),
  PRIXCLIENT          FLOAT,
  WIZARD              INT,
  DATECREATION        DATETIME,
  DATEMAJ             DATETIME,
  DATESYNCHRO         DATETIME,
  COMMENTAIRE         IMAGE,
  CONFIRMER           INTEGER,
  ARTICLE             VARCHAR(50),
  TVA                 VARCHAR(30)
);
GO

--  Table HLGPARTICIPANT
DROP TABLE HLGPARTICIPANT;
GO
CREATE TABLE HLGPARTICIPANT (
  LGPARTICIPANTID     VARCHAR(14),
  CODELGRESERVATION   VARCHAR(14),
  RESIDANTID          VARCHAR(14),
  INTERLOCUTEURID     VARCHAR(14),
  CIVILITE            VARCHAR(14),
  NOM                 VARCHAR(35),
  PRENOM              VARCHAR(35),
  SOCIETE             VARCHAR(35),
  EMAIL               VARCHAR(50),
  DATECREATION        DATETIME,
  DATEMAJ             DATETIME,
  DATESYNCHRO         DATETIME
);
GO
--------------------------------------------------------
-- 2003_10_17
CREATE TABLE ZCL01_VISITE_L (
VISITEID_ANCIEN  VARCHAR(14),
VISITEID_NOUVEAU VARCHAR(14));
GO

UPDATE NATURE SET TVISITE = '0' where TVISITE IS NULL;
GO

CREATE TABLE VISITES_EXT (
  VISITES_EXTID	VARCHAR(14),
  FREE1		VARCHAR(50),
  FREE2		VARCHAR(50),
  FREE3		VARCHAR(50),
  FREE4		VARCHAR(50),
  FREE5		VARCHAR(50),
  FREE6		VARCHAR(50),
  FREE7		VARCHAR(50),
  FREE8		VARCHAR(50),
  FREE9		VARCHAR(50),
  FREE10	VARCHAR(50)
);
GO

CREATE TABLE VISITES_EXT_L (
  VISITEID_ANCIEN	VARCHAR(14),
  VISITEID_NOUVEAU 	VARCHAR(14)
);
GO

CREATE TABLE VISITES_EXT_ZO (
  VISITEID	VARCHAR(14),
  ZONEID 	VARCHAR(14)
);
GO

ALTER TABLE VISITES_EXT_ZO ADD ZONEID VARCHAR(14);
GO

ALTER TABLE PARAMETRES ALTER COLUMN CHIMGVT VARCHAR(4000);
GO
ALTER TABLE PARAMETRES ALTER COLUMN CHIMGRE VARCHAR(4000);
GO
ALTER TABLE PARAMETRES ALTER COLUMN CHIMGPL VARCHAR(4000);
GO