CREATE TABLE ZCL09_ID (ID INTEGER);
GO
CREATE TABLE ZCL09_PERSONNEID_BDG (PERSONNEID VARCHAR(14),NUMEROBADGE VARCHAR(50));
GO


CREATE TABLE ZCL18_VISITES
(ID	VARCHAR(14),
ACTION	VARCHAR(3),
BADGE	VARCHAR(10),
NOMVIS	VARCHAR(50),
PRENOMVIS	VARCHAR(50),
SOCVIS	VARCHAR(50),
STATUT	VARCHAR(50),
IMMATR	VARCHAR(50),
DEBUT	DATETIME,
FIN	DATETIME,
MATRICULE	VARCHAR(50),
NOMRES	VARCHAR(50),
PRENOMRES	VARCHAR(50),
TELRES	VARCHAR(50),
BUREAU	VARCHAR(50),
SITE	VARCHAR(50),
PROFIL	VARCHAR(50),
GUICHET	VARCHAR(50),
UTILISATEUR	VARCHAR(50),
LECTEUR	VARCHAR(50),
SORTIE_AVALEUSE	INT DEFAULT 0,
ETAT	INT DEFAULT 0);
GO


ALTER TABLE TQ_POSTE ADD CREATION_VISITE_PARKING INTEGER;
GO


ALTER TABLE VISITES ADD BADGEPHYSIQUE	VARCHAR(50);
GO

ALTER TABLE TQ_POSTE ADD CTRL_RES_PARKING INTEGER,MOUVEMENT_PARKING INTEGER,DUREE_CONSERVATION INTEGER,HEURE_EPURATION VARCHAR(10),ENVOI_MSG_PARKING INTEGER;
GO
ALTER TABLE VISITES ADD ATTENDU INTEGER DEFAULT 0,ATTENDU_VENU INTEGER DEFAULT 0;
GO
ALTER TABLE RESIDANTS ADD IMMATRICULATION VARCHAR(15);
GO

CREATE TABLE ZCL20_MOUVEMENT
(
ID			VARCHAR(14),
VISITEID		VARCHAR(14),
TYPE_ENREG		VARCHAR(20),
ENTREE_PARKING		DATETIME,
VISITEUR_SOCIETE	VARCHAR(70),
RESIDANT		VARCHAR(70),
RESIDANT_TROUVE		VARCHAR(1),
IMMATRICULATION		VARCHAR(10),
SORTIE_PARKING		DATETIME,
REF_PARKING		VARCHAR(20),
POSTE_SAISIE		VARCHAR(20),
USER_TQ			VARCHAR(35),
OBSERVATION		VARCHAR(200),
SITEID			VARCHAR(35),
SITE			VARCHAR(35),
DATECREATION		DATETIME
);
GO

ALTER TABLE VISITES ALTER COLUMN PARKING VARCHAR(35);
GO
ALTER TABLE PARKING ALTER COLUMN STATUTPARKING VARCHAR(20);
GO
ALTER TABLE PARKING ADD TYPE_PARKING VARCHAR(20);
GO


ALTER TABLE ZCL20_MOUVEMENT ADD VISITEUR VARCHAR(70);
GO


ALTER TABLE TQ_COMMUNE ADD CTLVISI INT;
GO
ALTER TABLE TQ_COMMUNE ADD CTLVISI_NB INT;
GO
ALTER TABLE TQ_COMMUNE ADD CTLVISI_QUOI INT;
GO
ALTER TABLE TQ_COMMUNE ADD CTLVISI_XJ INT;
GO
ALTER TABLE TQ_COMMUNE ADD CTLVISI_DEPUIS DATETIME;
GO
ALTER TABLE TQ_COMMUNE ADD CTLVISI_MSG VARCHAR(200);
GO
ALTER TABLE TQ_COMMUNE ADD CTLVISI_BLC INT;
GO
ALTER TABLE TQ_COMMUNE ADD CRTL_LIMITE_DATE_FIN INT;
GO
ALTER TABLE TQ_COMMUNE ADD TIMER_SORTIE_VISITEUR INT;
GO
ALTER TABLE VISITES ADD DATEHEUREENTREEPARKING DATETIME;
GO
ALTER TABLE VISITES ADD DATEHEURESORTIEPARKING DATETIME;
GO
ALTER TABLE VISITES ADD STATUTPARKING VARCHAR(20);
GO
ALTER TABLE VISITES_ES ADD STATUTPARKING VARCHAR(20);
GO
ALTER TABLE VISITES_ES ADD PARKING VARCHAR(35);
GO

CREATE TABLE ZCL22_COMPTES (
  NAME          VARCHAR(20) NOT NULL,
  PASSWORD      VARCHAR(20),
  ETAT          INTEGER,
  DATECREATION  DATETIME,
  DATEMAJ       DATETIME,
CONSTRAINT PK_ZCL22_COMPTES PRIMARY KEY (NAME));
GO

EXECUTE sp_rename N'dbo.VERSION_SFW.FORMATDATETIME', N'FORMATDATE', 'COLUMN';
GO

ALTER TABLE PARAMETRES ALTER  COLUMN CHIMGVT VARBINARY(4000);
GO
ALTER TABLE PARAMETRES ALTER  COLUMN CHIMGVT VARCHAR(4000);
GO

ALTER TABLE PARAMETRES ALTER  COLUMN CHIMGRE VARBINARY(4000);
GO
ALTER TABLE PARAMETRES ALTER  COLUMN CHIMGRE VARCHAR(4000);
GO

ALTER TABLE PARAMETRES ALTER  COLUMN CHIMGPL VARBINARY(4000);
GO
ALTER TABLE PARAMETRES ALTER  COLUMN CHIMGPL VARCHAR(4000);
GO

ALTER TABLE RESIDANTS ALTER COLUMN LIEUNAISSANCE VARCHAR(70);
GO
ALTER TABLE RESIDANTS ADD DATEFINVALPWD DATETIME;
GO

ALTER TABLE VEHICULE ADD MARQUE VARCHAR(20);
GO
ALTER TABLE VEHICULE ADD MODELE VARCHAR(40);
GO
ALTER TABLE VEHICULE ADD TYPE VARCHAR(50);
GO
ALTER TABLE VEHICULE ADD ENERGIE VARCHAR(20);
GO
ALTER TABLE VEHICULE ADD DATELIMITE DATETIME;
GO
ALTER TABLE VEHICULE ADD NUMEROPASS VARCHAR(40);
GO


CREATE TABLE SEQ_NUM_BDG (
  SEQ_NUM_BDGID  INTEGER NOT NULL IDENTITY,
  LIBELLE VARCHAR(35));
GO

ALTER TABLE TQ_POSTE ADD GENERATION_BDGR INTEGER;
GO
ALTER TABLE TQ_POSTE ADD DEBUT_CODER VARCHAR(20);
GO
ALTER TABLE TQ_POSTE ADD MILIEU_FORMATR VARCHAR(20);
GO
ALTER TABLE TQ_POSTE ADD FIN_CODER VARCHAR(20);
GO
ALTER TABLE TQ_POSTE ADD GENERATION_BDGVEH INTEGER;
GO
ALTER TABLE TQ_POSTE ADD DEBUT_CODEVEH VARCHAR(20);
GO
ALTER TABLE TQ_POSTE ADD MILIEU_FORMATVEH VARCHAR(20);
GO
ALTER TABLE TQ_POSTE ADD FIN_CODEVEH VARCHAR(20);
GO

ALTER TABLE TQ_POSTE ADD ESVEH_NUM_BADGE INTEGER;
GO
ALTER TABLE ZCL20_MOUVEMENT ALTER COLUMN IMMATRICULATION VARCHAR(15);
GO
UPDATE VISITES SET STATUTPARKING='0' WHERE STATUTPARKING IS NULL OR STATUTPARKING='';
GO
ALTER TABLE VISITES ADD CONSTRAINT STATUTPARKING_ZERO DEFAULT ('0') FOR STATUTPARKING;
GO

ALTER TABLE PAYS ALTER COLUMN LIBELLEGR VARCHAR(50);
GO

ALTER TABLE PAYS ALTER COLUMN LIBELLEUS VARCHAR(35);
GO

ALTER TABLE PAYS ALTER COLUMN NATIONALITE VARCHAR(50);
GO

ALTER TABLE TQ_POSTE ADD CHAMP6 VARCHAR(20);
GO
ALTER TABLE TQ_POSTE ADD CHAMP7 VARCHAR(20);
GO
ALTER TABLE TQ_POSTE ADD CHAMP8 VARCHAR(20);
GO
ALTER TABLE TQ_POSTE ADD CHAMP9 VARCHAR(20);
GO
ALTER TABLE TQ_POSTE ADD POS_CHAMP6 INT;
GO
ALTER TABLE TQ_POSTE ADD POS_CHAMP7 INT;
GO
ALTER TABLE TQ_POSTE ADD POS_CHAMP8 INT;
GO
ALTER TABLE TQ_POSTE ADD POS_CHAMP9 INT;
GO
ALTER TABLE TQ_POSTE ADD CRITERE_IMPORT_CHAMP VARCHAR(20);
GO
UPDATE TQ_POSTE SET POS_CHAMP6=6;
GO
UPDATE TQ_POSTE SET POS_CHAMP7=7;
GO
UPDATE TQ_POSTE SET POS_CHAMP8=8;
GO
UPDATE TQ_POSTE SET POS_CHAMP9=9;
GO
UPDATE TQ_POSTE SET CHAMP6='-';
GO
UPDATE TQ_POSTE SET CHAMP7='-';
GO
UPDATE TQ_POSTE SET CHAMP8='-';
GO
UPDATE TQ_POSTE SET CHAMP9='-';
GO
UPDATE TQ_POSTE SET CRITERE_IMPORT_CHAMP='000001110';
GO

ALTER TABLE TQ_POSTE ADD ESVEH_VIS_NOM_MODIF INT;
GO

ALTER TABLE TQ_POSTE ADD ESVEH_VIS_RESID_MODIF INT;
GO

ALTER TABLE TQ_POSTE ADD ESVEH_VIS_SOCVIS_MODIF INT;
GO

ALTER TABLE TQ_POSTE ADD ESVEH_VIS_IMMATR_MODIF INT;
GO

ALTER TABLE TQ_POSTE ADD ESVEH_VIS_BDG_MODIF INT;
GO

ALTER TABLE TQ_POSTE ADD ESVEH_MATRICULE INTEGER;
GO

ALTER TABLE TQ_POSTE ADD ESVEH_VIS_MATR INTEGER;
GO

ALTER TABLE TQ_POSTE ADD ESVEH_VIS_MATR_MODIF INTEGER;
GO

ALTER TABLE TQ_POSTE ADD ESVEH_VIS_OBS INTEGER;
GO

ALTER TABLE TQ_POSTE ADD ESVEH_VIS_OBS_MODIF INTEGER;
GO

ALTER TABLE USERS ADD DATEMAJPWD DATETIME;
GO

ALTER TABLE RESIDANTS ADD VERROU INTEGER DEFAULT 0;
GO

UPDATE RESIDANTS SET VERROU=0 WHERE VERROU IS NULL;
GO

ALTER TABLE TQ_COMMUNE ADD EXPIRATIONPWD INTEGER;
GO

UPDATE TQ_COMMUNE SET EXPIRATIONPWD=0 WHERE EXPIRATIONPWD IS NULL;
GO

ALTER TABLE TQ_COMMUNE ADD JOURSPWD INTEGER;
GO

ALTER TABLE TQ_COMMUNE ADD CONNEXIONPWD INTEGER;
GO

UPDATE TQ_COMMUNE SET CONNEXIONPWD=0 WHERE CONNEXIONPWD IS NULL;
GO

ALTER TABLE TQ_COMMUNE ADD DECOMPTEPWD INTEGER;
GO

UPDATE TQ_COMMUNE SET DECOMPTEPWD=0 WHERE DECOMPTEPWD IS NULL;
GO

ALTER TABLE TQ_COMMUNE ADD DECOMPTEJOURSPWD INTEGER;
GO

CREATE TABLE ZCL24_BADGE
(
  BADGEID VARCHAR(50),
  NUMBADGE  VARCHAR(50),
  DATECREATION DATETIME
);
GO






