CREATE TABLE LGPARTICIPANT (
	LGPARTICIPANTID VARCHAR(14) NOT NULL,
	CODELGRESERVATION  VARCHAR(14),
	RESIDANTID  VARCHAR(14),
	INTERLOCUTEURID  VARCHAR(14),
        CIVILITE VARCHAR(14),
        NOM VARCHAR(35),
        PRENOM VARCHAR(35),
        SOCIETE VARCHAR(35),
        EMAIL VARCHAR(50),
        DATECREATION DATETIME NOT NULL,
        DATEMAJ DATETIME NOT NULL,
        DATESYNCHRO DATETIME);
GO

ALTER TABLE JOURNAL ADD RESA_REF VARCHAR(15);
GO
ALTER TABLE JOURNAL ADD NOMPRENOM VARCHAR(40);
GO
ALTER TABLE JOURNAL ADD SALLE_NO_LIB VARCHAR(40);
GO
ALTER TABLE JOURNAL ADD RESA_DHDEBUT DATETIME;
GO
ALTER TABLE JOURNAL ADD RESA_DHFIN DATETIME;
GO
ALTER TABLE JOURNAL ADD RESA_CREATION DATETIME;
GO

--------------------------------------------------------
-- 2002_02_20
ALTER TABLE NATURE ADD
  TVISITE	VARCHAR(1),
  PROFIL	VARCHAR(20)
;
GO
--------------------------------------------------------
-- 2002_09_03
ALTER TABLE CFGGSALLESPARAM ADD ActivationTempsPrepa NUMBER;
GO
ALTER TABLE AMENAGEMENT ADD Coefficient FLOAT;
GO
ALTER TABLE PXACHAT ADD ContactID VARCHAR(14);
GO

ALTER TABLE STATUTRESERVATION ADD
  Confirmation	INT,
  Message	IMAGE,
  NbJourAD	INT,
  NbJourAR	INT,
  NbJourDelai	INT
;
GO

ALTER TABLE CFGGSALLESDEFAULT ADD
PREPARATIONDEFAUT	DATETIME,
RANGEMENTDEFAUT		DATETIME
;
GO

--------------------------------------------------------
-- 2002_09_12
--  Table IMPUTATION
CREATE TABLE IMPUTATION (
  IMPUTATIONID VARCHAR(14) NOT NULL,
  LIBELLE VARCHAR(35),
  IMPUTATION_TYPEID VARCHAR(14),
  DATECREATION DATETIME NOT NULL,
  DATEMAJ DATETIME NOT NULL,
  DATESYNCHRO DATETIME,
CONSTRAINT PK_IMPUTATIONID PRIMARY KEY (IMPUTATIONID));
GO

--  Table IMPUTATION_TYPE
CREATE TABLE IMPUTATION_TYPE (
  IMPUTATION_TYPEID VARCHAR(14) NOT NULL,
  LIBELLE VARCHAR(35) );
GO

ALTER TABLE RESERVATION ADD IMPUTATIONID VARCHAR(14);
GO

ALTER TABLE ARTICLE ADD QUANTITE INTEGER;
GO

ALTER TABLE LGPA ADD
  COMMENTAIRE IMAGE,
  CONFIRMER INTEGER;
GO

--------------------------------------------------------
-- 2002_09_26
ALTER TABLE ARTICLE ADD GESTION INTEGER;
GO
UPDATE ARTICLE SET GESTION=0;
GO

--------------------------------------------------------
-- 2002_10_09
ALTER TABLE CFGGSALLESPARAM ADD
  CTRL_PA_HORSHORAIRE INTEGER,
  CTRL_NB_PARTICIPANT INTEGER,
  CTRL_MATERIEL_DISPO INTEGER
;
GO

CREATE TABLE STATUTRESERVATION_ETAT (
  ID                INT,
  TEXTE             VARCHAR (50),
  DATECREATION      DATETIME          NOT NULL,
  DATEMAJ           DATETIME          NOT NULL,
  DATESYNCHRO       DATETIME);
GO

CREATE TABLE STATUTRESERVATION_SET (
  ID                INT,
  TEXTE             VARCHAR (50),
  DATECREATION      DATETIME          NOT NULL,
  DATEMAJ           DATETIME          NOT NULL,
  DATESYNCHRO       DATETIME);
GO

--------------------------------------------------------
-- 2002_12_16
UPDATE lgpa set wizard=1 where codearticle in (select codearticle from article where gestion=1);
GO

-- 2002_12_26
ALTER TABLE INTERLOCUTEUR ADD NOMJEUNEFILLE VARCHAR(25);
GO

