ALTER TABLE TQ_COMMUNE ADD PRIORITE_INTERDIT INT;
GO

ALTER TABLE INTERLOCUTEUR ALTER COLUMN EMAIL VARCHAR(150);
ALTER TABLE LGPARTICIPANT ALTER COLUMN EMAIL VARCHAR(150);
ALTER TABLE RESIDANTS ALTER COLUMN EMAIL VARCHAR(150);
ALTER TABLE SOCIETE ALTER COLUMN EMAIL VARCHAR(150);
GO

INSERT INTO INTERLOCUTEUR (SOCIETEID,INTERLOCUTEURID,CODECIVILITE,CODEFONCTION,PAYS,CIVILITE,NOMPRENOM,NOM,NOMJEUNEFILLE,PRENOM,
FONCTION,TELEPHONE,EMAIL,GSM,FAX,IMMATRICULATION,INTERDIT,DEBUTINTERDIT,FININTERDIT,NATUREID,NATIONALITEID,DATEMAJ,DATECREATION,SOCIETE,DATENAISSANCE,FINVALIDITEAUTO,PHONKEY)
VALUES
('VPARDEFAUT','VPARDEFAUT',1,0,'FRANCE','Mr','VISITEUR INCONNU','VISITEUR','','INCONNU','**********','01 25 46 85 92','','06 13 25 46 95',
'','','0',GETDATE()-1,GETDATE()+100*365,'VPARDEFAUT','VPARDEFAUT',GETDATE(),GETDATE(),'**********','05/08/1960',GETDATE()+365,1);
GO

UPDATE RESIDANTS SET NOMPRENOM='RESIDANT INCONNU', NOM='RESIDANT', PRENOM='INCONNU' WHERE RESIDANTID='VPARDEFAUT';
GO

CREATE TABLE ZCL25_VISITES
(
  VISITEID VARCHAR(14),
  STATUTID INT
);
GO

UPDATE VISITES SET TYPEVISITEID='0' WHERE TYPEVISITEID='' OR TYPEVISITEID IS NULL;
GO

ALTER TABLE TQ_COMMUNE ADD PARAM_DIVERS VARCHAR(4000);
GO

ALTER TABLE VISITES ADD DEBLOC INT;
GO

ALTER TABLE VISITES ADD DEBLOC_USER VARCHAR(50);
GO

ALTER TABLE VISITES ADD DEBLOC_USERID VARCHAR(14);
GO

ALTER TABLE VISITES ADD DEBLOC_HEURE DATETIME;
GO

INSERT INTO ETATAPP (ETATID, ETATNOM, VISIBLE, REQUETE, FILTRE, APP, DATECREATION, DATEMAJ) VALUES ('VISITES_DEBLOQUEES', 'VisitesDebloquees', 1, '', '', 'TQ', GETDATE(), GETDATE());
GO

ALTER TABLE TQ_POSTE ADD MODE_ES_RSDT INT DEFAULT 0;
GO

CREATE TABLE VISITES_RESIDANTS (
  PASSAGERID    VARCHAR (14)  NOT NULL,
  RESIDANTID    VARCHAR (14),
  NOMPRENOM     VARCHAR (35),
  CODEACCES     VARCHAR (34),
  ENTREE        DATETIME,
  SORTIE        DATETIME,
  CIRCULATION   VARCHAR (20),
  OBSERVATION   VARCHAR (200),
  TYPEENTREE    INT,
  GUICHET_E     VARCHAR (30),
  GUICHET_S     VARCHAR (30),
  DATECREATION  DATETIME          NOT NULL,
  DATEMAJ       DATETIME          NOT NULL,
  DATESYNCHRO   DATETIME
);
GO

INSERT INTO VISITES_RESIDANTS SELECT PASSAGERID,RESIDANTID,NOMPRENOM,CODEACCES,PASSAGE,NULL,CIRCULATION,OBSERVATION,NULL,NULL,NULL,DATECREATION,DATEMAJ,DATESYNCHRO FROM PASSAGER;
GO

UPDATE VISITES_RESIDANTS SET SORTIE=ENTREE;
GO

UPDATE VISITES_RESIDANTS SET TYPEENTREE=1;
GO

UPDATE VISITES_RESIDANTS SET TYPEENTREE=2 WHERE OBSERVATION='VEHICULE';
GO
