
--DROP TABLE ESVISITES_LOG;
CREATE TABLE dbo.ESVISITES_LOG (
  ESVISITES_LOGID VARCHAR(14) NOT NULL,
  QUIID VARCHAR(14),
  QUITYPE VARCHAR(40),
  NOMPRENOM VARCHAR(70),
  SOCIETE  VARCHAR(70),
  NUMBADGE VARCHAR(20),
  SENS     VARCHAR(50),
  ETAT     VARCHAR(50),
  DETAILS  VARCHAR(200),
  PASSAGE DATETIME,
  TYPEINSERT VARCHAR(14),
  REMOTEDATE VARCHAR(20),
  SITEID VARCHAR(14),
  GUICHETID VARCHAR(14),
  POSTE     VARCHAR(50),
  DATECREATION DATETIME NOT NULL,
  DATEMAJ DATETIME NOT NULL,
  DATESYNCHRO	 DATETIME
);
GO


INSERT INTO ETATAPP (ETATID,ETATNOM,VISIBLE,REQUETE,FILTRE,APP,DATECREATION,DATEMAJ) VALUES ('ETAT_ESVISITE_LOG', 'ListePassagesES', 1, '', '', 'TQ', GETDATE(), GETDATE());
GO



ALTER TABLE TQ_POSTE ADD GENERATION_BDGEXT INTEGER;
ALTER TABLE TQ_POSTE ADD DEBUT_CODEEXT VARCHAR(20);
ALTER TABLE TQ_POSTE ADD MILIEU_FORMATEXT VARCHAR(20);
ALTER TABLE TQ_POSTE ADD FIN_CODEEXT VARCHAR(20);
GO

CREATE TABLE SEQ_NUM_BDG_EXT (
  SEQ_NUM_BDG_EXTID  INTEGER NOT NULL IDENTITY,
  LIBELLE VARCHAR(35));
GO

CREATE TABLE SEQ_NUM_BDG_RES (
  SEQ_NUM_BDG_RESID  INTEGER NOT NULL IDENTITY,
  LIBELLE VARCHAR(35));
GO

CREATE TABLE SEQ_NUM_BDG_VEH (
  SEQ_NUM_BDG_VEHID  INTEGER NOT NULL IDENTITY,
  LIBELLE VARCHAR(35));
GO

