CREATE TABLE dbo.ZCL02_VERSLPM (
ZCL02_VERSLPMID VARCHAR(14) PRIMARY KEY,
FONCTION VARCHAR(20),
ID	  VARCHAR(20),
CATEGORIE VARCHAR(20),
DEBUT  	  VARCHAR(20),
FIN	  VARCHAR(20),
PLAQUE	  VARCHAR(20),
NOM	  VARCHAR(20),
INFO1	  VARCHAR(20),
INFO2	  VARCHAR(20),
INFO3	  VARCHAR(20),
INFO4	  VARCHAR(20),
INFO5	  VARCHAR(20),
ETAT	  INT,
LIEN	  VARCHAR(20),
SITEID	  VARCHAR(14),
DATECREATION	DATETIME NOT NULL,
DATEMAJ	DATETIME NOT NULL
);
GO

CREATE TABLE dbo.ZCL02_DELPM (
ZCL02_DELPMID VARCHAR(14) PRIMARY KEY,
ID	VARCHAR(20),
PLAQUE	VARCHAR(20),
DENTREE	VARCHAR(20),
DSORTIE	VARCHAR(20),
TENTREE	VARCHAR(20),
TSORTIE	VARCHAR(20),
ETAT	INT,
LIEN	VARCHAR(20),
DATECREATION	DATETIME NOT NULL,
DATEMAJ	DATETIME NOT NULL
);
GO

ALTER TABLE MAIL ADD PJ_NAME VARCHAR(500);
GO
ALTER TABLE MAIL ADD PJ_FILE IMAGE;
GO


