ALTER TABLE OMNI_PARAM ADD MC_FILTRAGE INT;
ALTER TABLE OMNI_PARAM ADD PASS_SENSIBLE INT;
GO

ALTER TABLE OMNI_PARAM ADD STATION_POSTE_ONLY INT;
ALTER TABLE OMNI_PARAM ADD STATION_ALERT_LOCK INT;
GO

ALTER TABLE OMNI_PARAM ADD ALERT_NOLOCK INT;
GO

INSERT INTO POSTE (POSTEID,LIBELLE,REP_LOCAL,DATECREATION,DATEMAJ) VALUES (-1,'SYSTEME','SYSTEME',CURRENT_TIMESTAMP,CURRENT_TIMESTAMP);
GO

CREATE TABLE dbo.OJVACATION (
  JVACATIONID INT NOT NULL,
  OJOURNALID INT NOT NULL
);
GO

ALTER TABLE RPT_SEM5 ALTER COLUMN BATIMENT VARCHAR(35);
ALTER TABLE RPT_SEM5 ALTER COLUMN RUE VARCHAR(60);
ALTER TABLE RPT_SEM5 ALTER COLUMN SECTEUR VARCHAR(40);
GO

CREATE TABLE dbo.OFICHIER_POSTE (
  OFICHIERID INT NOT NULL,
  POSTEID INT NOT NULL
);
GO

UPDATE OFICHIER SET TYPEFILE=3;
GO

ALTER TABLE RPT_SEM5 ADD SITEID VARCHAR(14);
UPDATE RPT_SEM5 SET SITEID='VPARDEFAUT';
GO
