--  Table LICENCE
CREATE TABLE LICENCE (
	ID_LICENCE INT NOT NULL,
	CLE VARCHAR(30) NOT NULL,
	DATECREATION DATETIME NOT NULL,
	CONSTRAINT PK_ID_LICENCE PRIMARY KEY (ID_LICENCE)
);
GO

--  Table LICENCE1
CREATE TABLE LICENCE1 (
	ID_LICENCE1 INT IDENTITY(1,1) NOT NULL,
	NOM_POSTE VARCHAR(24) NOT NULL,
	LOGIN VARCHAR(50) NOT NULL,
	APPLICATION VARCHAR(20) NOT NULL,
	DATECREATION DATETIME NOT NULL,
	CONSTRAINT PK_ID_LICENCE1 PRIMARY KEY (ID_LICENCE1)
);
GO

--  Table LICENCE2
CREATE TABLE LICENCE2 (
	ID_LICENCE2 INT IDENTITY(1,1) NOT NULL,
	LOGIN VARCHAR(50) NOT NULL,
	APPLICATION VARCHAR(20) NOT NULL,
	DATECREATION DATETIME NOT NULL,
	CONSTRAINT PK_ID_LICENCE2 PRIMARY KEY (ID_LICENCE2)
);
GO

--  Table LICENCE3
CREATE TABLE LICENCE3 (
	ID_LICENCE3 INT IDENTITY(1,1) NOT NULL,
	LOGIN VARCHAR(50) NOT NULL,
	APPLICATION VARCHAR(20) NOT NULL,
	DATECREATION DATETIME NOT NULL,
	CONSTRAINT PK_ID_LICENCE3 PRIMARY KEY (ID_LICENCE3)
);
GO

