ALTER TABLE BADGES ADD HAUTEUR INTEGER;
ALTER TABLE BADGES ADD LARGEUR INTEGER;
GO

CREATE TABLE dbo.BADGES_ELEMENTS
(
BADGES_ELEMENTID	VARCHAR(14)	PRIMARY KEY,
BADGEID	VARCHAR(14) NOT NULL,
BADGES_IMAGEID	VARCHAR(14),
NATURE	VARCHAR(35),
VALEUR	VARCHAR(50),
CHAMP	VARCHAR(50),
POLICE	VARCHAR(50),
TAILLE	INTEGER,
ALIGNEMENT VARCHAR(15),
GRAS	INTEGER DEFAULT 0,
ITALIQUE	INTEGER DEFAULT 0,
SOULIGNE	INTEGER DEFAULT 0,
COLOR	INTEGER,
HAUT	INTEGER,
GAUCHE	INTEGER,
LARGEUR	INTEGER,
HAUTEUR	INTEGER,
DATECREATION	DATETIME NOT NULL,
DATEMAJ	DATETIME NOT NULL
);
GO

CREATE TABLE dbo.BADGES_ELEMENTS_TMP
(
BADGES_ELEMENTID	VARCHAR(14)	PRIMARY KEY,
BADGEID	VARCHAR(14) NOT NULL,
BADGES_IMAGEID	VARCHAR(14),
NATURE	VARCHAR(35),
VALEUR	VARCHAR(50),
CHAMP	VARCHAR(50),
POLICE	VARCHAR(50),
TAILLE	INTEGER,
ALIGNEMENT VARCHAR(15),
GRAS	INTEGER DEFAULT 0,
ITALIQUE	INTEGER DEFAULT 0,
SOULIGNE	INTEGER DEFAULT 0,
COLOR	INTEGER,
HAUT	INTEGER,
GAUCHE	INTEGER,
LARGEUR	INTEGER,
HAUTEUR	INTEGER,
DATECREATION	DATETIME NOT NULL,
DATEMAJ	DATETIME NOT NULL
);
GO

CREATE TABLE dbo.BADGES_IMAGES
(
BADGES_IMAGEID	VARCHAR(14)	PRIMARY KEY,
IMAGE IMAGE,
CONTENTTYPE VARCHAR(50),
SOURCEFILENAME VARCHAR(100),
DATASIZE INTEGER,
DATECREATION	DATETIME NOT NULL,
DATEMAJ	DATETIME NOT NULL
);
GO

CREATE TABLE dbo.PERIPHERIQUE
(
PERIPHERIQUEID	INTEGER PRIMARY KEY,
PERIPHERIQUE_TRAITEMENTID	INTEGER,
NOM VARCHAR(50),
AVANT VARCHAR(20),
APRES VARCHAR(20),
DEBUT INTEGER,
LONGUEUR INTEGER,
LONGUEUR_MAX INTEGER,
DECOUPE INTEGER,
CONVERSION INTEGER,
TYPE_PORT VARCHAR(35),
BIT_SECONDE INTEGER,
BIT_DONNEE INTEGER,
PARITE VARCHAR(15),
BIT_ARRET VARCHAR(15),
CONTROLE_FLUX VARCHAR(15),
DATECREATION	DATETIME NOT NULL,
DATEMAJ	DATETIME NOT NULL
);
GO

CREATE TABLE dbo.PERIPHERIQUE_TRAITEMENT
(
PERIPHERIQUE_TRAITEMENTID	INTEGER PRIMARY KEY,
LIBELLE VARCHAR(50),
FAMILLE INTEGER,
DATECREATION	DATETIME NOT NULL,
DATEMAJ	DATETIME NOT NULL
);
GO

CREATE TABLE dbo.PERIPHERIQUE_POSTE
(
PERIPHERIQUEID	INTEGER,
NOM_POSTE VARCHAR(50),
PORT VARCHAR(15),
DATECREATION	DATETIME NOT NULL,
DATEMAJ	DATETIME NOT NULL
);
GO

CREATE TABLE dbo.ETATS
(
ETATID		INTEGER	PRIMARY KEY,
LIBELLE		VARCHAR(100),
CHAMP_SELECT	VARCHAR(2000),
CHAMP_FROM		VARCHAR(1000),
CHAMP_WHERE		VARCHAR(1000),
CHAMP_ORDER		VARCHAR(1000),
MODIFICATION	VARCHAR(1000),
MODIFICATION_OPERATEUR	VARCHAR(1000),
MODIFICATION_VALEUR	VARCHAR(1000),
DATECREATION	DATETIME NOT NULL,
DATEMAJ			DATETIME NOT NULL
);
GO

/*
INSERT INTO PERIPHERIQUE (PERIPHERIQUEID, NOM, AVANT, APRES, DEBUT, LONGUEUR, LONGUEUR_MAX, DATECREATION, DATEMAJ) VALUES (-1,'Standard','','',NULL,NULL,NULL,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP);
INSERT INTO PERIPHERIQUE (PERIPHERIQUEID, NOM, AVANT, APRES, DEBUT, LONGUEUR, LONGUEUR_MAX, DATECREATION, DATEMAJ) VALUES (-2,'TIL','','<CR><LF>',0,20,NULL,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP);
INSERT INTO PERIPHERIQUE (PERIPHERIQUEID, NOM, AVANT, APRES, DEBUT, LONGUEUR, LONGUEUR_MAX, DATECREATION, DATEMAJ) VALUES (-3,'Lecteur2','','<CR>',4,5,NULL,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP);
INSERT INTO PERIPHERIQUE (PERIPHERIQUEID, NOM, AVANT, APRES, DEBUT, LONGUEUR, LONGUEUR_MAX, DATECREATION, DATEMAJ) VALUES (-4,'AEOS','<CH>','',8,5,NULL,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP);
INSERT INTO PERIPHERIQUE (PERIPHERIQUEID, NOM, AVANT, APRES, DEBUT, LONGUEUR, LONGUEUR_MAX, DATECREATION, DATEMAJ) VALUES (-5,'STID DK-PROX','','<CR><LF>',5,6,NULL,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP);
INSERT INTO PERIPHERIQUE (PERIPHERIQUEID, NOM, AVANT, APRES, DEBUT, LONGUEUR, LONGUEUR_MAX, DATECREATION, DATEMAJ) VALUES (-6,'LEGIC','','',3,10,29,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP);
INSERT INTO PERIPHERIQUE (PERIPHERIQUEID, NOM, AVANT, APRES, DEBUT, LONGUEUR, LONGUEUR_MAX, DATECREATION, DATEMAJ) VALUES (-7,'IBC','','',NULL,NULL,37,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP);
INSERT INTO PERIPHERIQUE (PERIPHERIQUEID, NOM, AVANT, APRES, DEBUT, LONGUEUR, LONGUEUR_MAX, DATECREATION, DATEMAJ) VALUES (-8,'DEISTER-02-10-ASK','<CH>','<CF>',3,10,NULL,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP);
INSERT INTO PERIPHERIQUE (PERIPHERIQUEID, NOM, AVANT, APRES, DEBUT, LONGUEUR, LONGUEUR_MAX, DATECREATION, DATEMAJ) VALUES (-9,'DEISTER-PHILIPS','<CH>','<CF>',5,8,NULL,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP);
INSERT INTO PERIPHERIQUE (PERIPHERIQUEID, NOM, AVANT, APRES, DEBUT, LONGUEUR, LONGUEUR_MAX, DATECREATION, DATEMAJ) VALUES (-10,'DEISTER-05-10-AXA','<CH>','<CF>',5,8,NULL,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP);
GO
 */
GO

INSERT INTO PERIPHERIQUE_TRAITEMENT (PERIPHERIQUE_TRAITEMENTID, LIBELLE, FAMILLE, DATECREATION, DATEMAJ) VALUES (-1,'SWISS_READER',2,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP);
INSERT INTO PERIPHERIQUE_TRAITEMENT (PERIPHERIQUE_TRAITEMENTID, LIBELLE, FAMILLE, DATECREATION, DATEMAJ) VALUES (-2,'MAGNETA_ESCORT2',4,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP);
INSERT INTO PERIPHERIQUE_TRAITEMENT (PERIPHERIQUE_TRAITEMENTID, LIBELLE, FAMILLE, DATECREATION, DATEMAJ) VALUES (-3,'DEISTER_GUARDIX',4,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP);
GO

ALTER TABLE USERS ADD TYPEUSERID INTEGER;
ALTER TABLE PROFILS_USERS ADD TYPEUSERID INTEGER;
GO

UPDATE USERS SET TYPEUSERID=(SELECT USERID FROM TYPEUSER WHERE LIBELLE=USERTYPEID);
UPDATE PROFILS_USERS SET TYPEUSERID=(SELECT USERID FROM TYPEUSER WHERE LIBELLE=TYPEUSER);
GO

ALTER TABLE STATUTVISITE ALTER COLUMN STATUTVISITE VARCHAR(50);
UPDATE STATUTVISITE SET STATUTVISITE='Pré-enregistrée interdit' WHERE STATUTID=4;
GO

UPDATE TQ_COMMUNE SET MODIF_VISITEUR_PREENREG=0,MODIF_VISITEUR_ENCOURS=0,MODIF_VISITEUR_TERMINE=0;
GO

-- Insertion des types de visite dans la table STATUTVISITE
DELETE FROM STATUTVISITE;
INSERT INTO STATUTVISITE (STATUTID, STATUTVISITE) VALUES (-2,'Non venu');
INSERT INTO STATUTVISITE (STATUTID, STATUTVISITE) VALUES (-1,'Supprimée');
INSERT INTO STATUTVISITE (STATUTID, STATUTVISITE) VALUES (1,'En attente');
GO

ALTER TABLE VISITES ADD ISTATUT VARCHAR(35);
GO
UPDATE VISITES SET ISTATUT=(SELECT N.LIBELLE FROM INTERLOCUTEUR I,NATURE N WHERE I.NATUREID=N.NATUREID AND INTERLOCUTEURID=VISITES.INTERLOCUTEURID);
GO

ALTER TABLE TYPECONSIGNE ALTER COLUMN TYPECONSIGNE VARCHAR(35);
ALTER TABLE CONSIGNE ALTER COLUMN TYPECONSIGNE VARCHAR(35);
GO

ALTER TABLE INTERLOCUTEUR ALTER COLUMN NOMJEUNEFILLE VARCHAR(35);
GO

IF EXISTS (SELECT NAME FROM SYSOBJECTS WHERE NAME='IsVisiteurInterdit' AND TYPE='FN')
  DROP FUNCTION IsVisiteurInterdit;
GO
CREATE FUNCTION dbo.IsVisiteurInterdit
(
    @IntelocuteurID VARCHAR(14),
    @dt datetime

)
RETURNS VARCHAR(64)
AS
BEGIN
    DECLARE @NatureID VARCHAR(14)
    DECLARE @PaysID VARCHAR(14)
    DECLARE @SocieteID VARCHAR(14)
    DECLARE @IdInter VARCHAR(14)
    DECLARE @IdNature VARCHAR(14)
    DECLARE @IdPays VARCHAR(14)
    DECLARE @IdSociete VARCHAR(14)
    DECLARE @Retour varchar(50)

    set @Retour ='0'
	Set @IdInter=(SELECT INTERLOCUTEURID FROM INTERLOCUTEUR WHERE INTERDIT=0 AND (@dt BETWEEN DEBUTINTERDIT AND FININTERDIT) AND INTERLOCUTEURID=@IntelocuteurID)
	IF @IdInter<>'' BEGIN
		Set @NatureID=(SELECT top 1 NATUREID FROM INTERLOCUTEUR WHERE INTERLOCUTEURID=@IntelocuteurID)
		Set @PaysID=(SELECT top 1 NATIONALITEID FROM INTERLOCUTEUR WHERE INTERLOCUTEURID=@IntelocuteurID)
		Set @SocieteID=(SELECT top 1 SOCIETEID FROM INTERLOCUTEUR WHERE INTERLOCUTEURID=@IntelocuteurID)

		Set @IdNature=(SELECT NATUREID FROM NATURE WHERE INTERDIT=0 AND (@dt  BETWEEN DEBUTINTERDIT AND FININTERDIT) AND NATUREID=@NatureID)
		IF  @IdNature <> '' BEGIN
			Set @PaysID=(SELECT PAYSID FROM PAYS WHERE INTERDIT=0 AND (@dt  BETWEEN DEBUTINTERDIT AND FININTERDIT) AND PAYSID=@PAYSID)
			IF  @PaysID <> '' BEGIN
				Set @SocieteID=(SELECT SOCIETEID FROM SOCIETE WHERE INTERDIT=0 AND (@dt  BETWEEN DEBUTINTERDIT AND FININTERDIT) AND SOCIETEID=@SOCIETEID)
				IF  @SocieteID <> ''
					set @Retour ='1'
 				ELSE set @Retour ='-4'
			END
			ELSE set @Retour ='-3'
		END
		ELSE set @Retour ='-2'
	END
	ELSE set @Retour ='-1'

    RETURN @Retour
END;
GO