CREATE TABLE dbo.TAG
(
TAGID	INTEGER	PRIMARY KEY,
TAG	VARCHAR(35),
DESCRIPTION	VARCHAR(100),
TYPE_TAG	INTEGER,
SITEID	VARCHAR(14),
DATECREATION	DATETIME	NOT NULL,
DATEMAJ	DATETIME	NOT NULL
);
GO

CREATE TABLE dbo.TAG_RONDE
(
TAGID	INTEGER	NOT NULL,
RONDEID	INTEGER	NOT NULL,
ORDRE	INTEGER
);
GO

CREATE TABLE dbo.ZCL30_TAG_TMP
(
ZCL30_TAG_TMPID INT IDENTITY(1,1) NOT NULL,
BASE VARCHAR(30),
PORTATIF VARCHAR(30),
TAG VARCHAR(30),
TYPE_RONDE INT DEFAULT 0,
DATEHEURE DATETIME,
ORONDEID INT,
CONSTRAINT PK_ZCL30_TAG_TMP PRIMARY KEY (ZCL30_TAG_TMPID)
);
GO

CREATE TABLE dbo.ZCL30_EVT
(
ZCL30_EVTID INT IDENTITY(1,1) NOT NULL,
BASE VARCHAR(30),
PORTATIF VARCHAR(30),
CODE_EVT VARCHAR(30),
TYPE_RONDE INT DEFAULT 0,
DATEHEURE DATETIME,
CONSTRAINT PK_ZCL30_EVT PRIMARY KEY (ZCL30_EVTID)
);
GO
