ALTER TABLE dbo.INTERLOCUTEUR ADD NATIONALITE_ORIGINE VARCHAR(50);
GO

CREATE TABLE dbo.TYPEDOCUMENT (
	TYPEDOCUMENTID INT PRIMARY KEY,
	LIBELLE VARCHAR(35),
	PORTEEID INT,
	OBLIGATOIRE INT,
	MODIFIABLE INT,
    VALIDITEPARDEFAUT INT,
	CREATCTRL INT,
	DATECREATION DATETIME,
	DATEMAJ DATETIME,
	DATESYNCHRO DATETIME
);
GO

CREATE TABLE dbo.TYPEVISDOC (
	TYPEDOCUMENTID  INT,
	TYPEVISITEID    INT
);
GO

CREATE TABLE dbo.REGLES (
	REGLEID INT PRIMARY KEY,
	LIBELLE VARCHAR (50),
	RANGREGLE INT,
	TYPEVISITE INT,
	TYPEACTION INT,
	ACTIONBLOQUANTE INT,
	TYPEREGLE INT,
	FREE1 VARCHAR (35),
	FREE2 INT,
	FREE3 VARCHAR (35),
	FREE4 INT,
	MESSAGE VARCHAR (100),
	FREE8 VARCHAR (100),
	SITEID VARCHAR(14),
	DATECREATION DATETIME,
	DATEMAJ DATETIME,
	DATESYNCHRO DATETIME
);
GO

ALTER TABLE TABLEREFERENCE ALTER COLUMN TEXTE VARCHAR(100);
ALTER TABLE TABLEREFERENCE ALTER COLUMN TEXTE_FR VARCHAR(100);
ALTER TABLE TABLEREFERENCE ALTER COLUMN TEXTE_EN VARCHAR(100);
GO


INSERT INTO dbo.TYPEDOCUMENT (TYPEDOCUMENTID,LIBELLE,DATECREATION,DATEMAJ,DATESYNCHRO,PORTEEID,OBLIGATOIRE,MODIFIABLE,VALIDITEPARDEFAUT,CREATCTRL) VALUES (6,'Habilitation amiante',CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,NULL,-2,2,2,730,2)
INSERT INTO dbo.TYPEDOCUMENT (TYPEDOCUMENTID,LIBELLE,DATECREATION,DATEMAJ,DATESYNCHRO,PORTEEID,OBLIGATOIRE,MODIFIABLE,VALIDITEPARDEFAUT,CREATCTRL) VALUES (0,'Formulaire 82b individuel',CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,NULL,-1,2,2,730,2)
INSERT INTO dbo.TYPEDOCUMENT (TYPEDOCUMENTID,LIBELLE,DATECREATION,DATEMAJ,DATESYNCHRO,PORTEEID,OBLIGATOIRE,MODIFIABLE,VALIDITEPARDEFAUT,CREATCTRL) VALUES (-1,'Formulaire 82b société',CURRENT_TIMESTAMP,CURRENT_TIMESTAMP,NULL,-2,2,2,730,2);
GO

INSERT INTO NATURE (NATUREID,LIBELLE,ABREGE,TVISITE,INTERDIT,DEBUTINTERDIT,FININTERDIT,DATECREATION,DATEMAJ) VALUES ('-1','SOCIETE EXTERIEURE','','0','0',CURRENT_TIMESTAMP-1,CURRENT_TIMESTAMP+36000,CURRENT_TIMESTAMP,CURRENT_TIMESTAMP)
GO

INSERT INTO TYPEVISITE (TYPEVISITEID,TYPEVISITE,DATECREATION,DATEMAJ) VALUES (-2,'Tous',CURRENT_TIMESTAMP,CURRENT_TIMESTAMP);
GO

UPDATE dbo.SOCIETE SET PHONKEY=0 WHERE PHONKEY='' OR PHONKEY IS NULL
GO
UPDATE dbo.RESIDANTS SET PHONKEY=0 WHERE PHONKEY='' OR PHONKEY IS NULL
GO