CREATE TABLE dbo.OCONSIGNE_ODROIT (
  OCONSIGNEID INT NOT NULL,
  ODROITID INT NOT NULL
);
GO

CREATE TABLE dbo.OCONSIGNE_POSTE (
  OCONSIGNEID INT NOT NULL,
  POSTEID INT NOT NULL
);
GO

ALTER TABLE VISITES ADD PROFIL_CTRL_ID VARCHAR(500);
GO
ALTER TABLE VISITES ADD ALERTE VARCHAR(4000);
ALTER TABLE VISITES ADD LAST_ACTION VARCHAR(50);
ALTER TABLE VISITES ADD RES_OS VARCHAR(50);
ALTER TABLE VISITES ADD RES_FINAL VARCHAR(50);
ALTER TABLE VISITES ADD RES_MOTEUR1 VARCHAR(50);
ALTER TABLE VISITES ADD RES_MOTEUR2 VARCHAR(50);
ALTER TABLE VISITES ADD INFO VARCHAR(50);
GO
UPDATE VISITES SET LAST_ACTION=FREE6
UPDATE VISITES SET ALERTE=FREE9
UPDATE VISITES SET RES_FINAL=STATUTVISITE
GO

--DROP TABLE ETATS;

CREATE TABLE dbo.ETATS
(
ETATID		INTEGER	PRIMARY KEY,
LIBELLE		VARCHAR(100),
REQUETE_MSSQL		VARCHAR(4000),
REQUETE_ORACLE		VARCHAR(4000),
MODIFICATION	VARCHAR(1000),
MODIFICATION_OPERATEUR	VARCHAR(1000),
MODIFICATION_VALEUR	VARCHAR(1000),
DATECREATION	DATETIME NOT NULL,
DATEMAJ			DATETIME NOT NULL
);
GO

ALTER TABLE VISITES ALTER COLUMN PIECE VARCHAR(35);

GO
