CREATE TABLE dbo.TEMPSOC (
TMPID VARCHAR(14) NOT NULL,
TMPNOM  VARCHAR(35) NOT NULL,
TMPRANG INT,
TRAITE VARCHAR(1),
CONSTRAINT PK_TMPID PRIMARY KEY (TMPID)
);
GO

CREATE TABLE dbo.TEMPSOC2 (
TMP2ID VARCHAR(14) NOT NULL,
TMPNOM  VARCHAR(35) NOT NULL,
TMPRANG INT,
TRAITE VARCHAR(1),
CONSTRAINT PK_TMP2ID PRIMARY KEY (TMP2ID)
);
GO

CREATE INDEX TEMPSOC_TMPNOM ON TEMPSOC (TMPNOM);
CREATE INDEX TEMPSOC2_TMPNOM ON TEMPSOC2 (TMPNOM);
GO
CREATE TABLE dbo.DEDUP_DEDUP
( DEDUP1ID VARCHAR(14) NOT NULL,
  DEDUP2ID VARCHAR(14) NOT NULL,
  SIMIL_FLAG VARCHAR(1) DEFAULT(1),
  ENTITE VARCHAR(50),
  JW INT,
 CONSTRAINT PK_DEDUP_DEDUPID PRIMARY KEY (DEDUP1ID,DEDUP2ID)
  );
GO 

ALTER TABLE VISITES ALTER COLUMN PROFIL_CTRL VARCHAR(4000);
ALTER TABLE VISITES ALTER COLUMN PROFIL_CTRL2 VARCHAR(4000);
ALTER TABLE VISITES ALTER COLUMN PROFIL_CTRL_ID VARCHAR(4000);

ALTER TABLE XANNEXE ADD DATESYNCHRO DATETIME ;
GO

ALTER TABLE GRPSITE ADD DATESYNCHRO DATETIME ;
ALTER TABLE GRPSITE ALTER COLUMN GRPSITEID VARCHAR(14) NOT NULL;
ALTER TABLE GRPSITE ADD PRIMARY KEY (GRPSITEID);

ALTER TABLE GRPSITE_SITE ALTER COLUMN GRPSITEID VARCHAR(14) NOT NULL ;
ALTER TABLE GRPSITE_SITE ALTER COLUMN SITEID VARCHAR(14) NOT NULL ;
GO
ALTER TABLE GRPSITE_SITE ADD CONSTRAINT PK_GRPSITE_SITE PRIMARY KEY (GRPSITEID,SITEID) ;
GO

ALTER TABLE REGLE_ACTION ALTER COLUMN REGLEID INT NOT NULL  
GO
ALTER TABLE REGLE_ACTION ALTER COLUMN  ACTIONID INT NOT NULL 
GO
ALTER TABLE REGLE_ACTION ADD CONSTRAINT PK_REGLE_ACTION PRIMARY KEY (REGLEID,ACTIONID)  
GO

ALTER TABLE FORMULAIRE_OFICHIER ALTER COLUMN FORMULAIREID INT NOT NULL  
GO
ALTER TABLE FORMULAIRE_OFICHIER ALTER COLUMN  OFICHIERID INT NOT NULL 
GO
ALTER TABLE FORMULAIRE_OFICHIER ADD CONSTRAINT PK_FORMULAIRE_OFICHIERID PRIMARY KEY (FORMULAIREID,OFICHIERID)  
GO

ALTER TABLE FORMULAIRE_VISITE ALTER COLUMN FORMULAIREID INT NOT NULL  
GO
ALTER TABLE FORMULAIRE_VISITE ALTER COLUMN  VISITEID VARCHAR(14) NOT NULL 
GO
ALTER TABLE FORMULAIRE_VISITE ADD CONSTRAINT PK_FORMULAIRE_VISITEID PRIMARY KEY (FORMULAIREID,VISITEID)  
GO

ALTER TABLE INTERLOCUTEUR ADD COMPTEUR_I INTEGER DEFAULT(0)
GO
ALTER TABLE INTERLOCUTEUR ADD COMPTEUR_P INTEGER DEFAULT(0)
GO